/* -------------------------------------------------------------- GENERAL STUFF ---------------------------------------------------------- */

body{
	background:url(https://media.giphy.com/media/7Dk4apSbWKpZ6/giphy.gif) no-repeat center bottom fixed; 
}

.footer_wrapper{
    padding: 7px;
    background-color: rgba(0,0,0,0.35);
	cursor:pointer;
	color:#FFFFA5;
}