@import '../_vars.scss';
@import '../_mixins.sass';

/********************************* NAVBAR ***********************************/
#searchbar-form input {
  font-family: $sharetech;
}

.nav-link {
  padding: 5px;
  &:hover {
    color: $primary;
    @include box-shadow(0,-3px,0,$primary, inset);
    @include mobile {
      @include box-shadow(0,0,0,$black);
      align-self: flex-end;
    }
  }
}

/************************************* LOGIN DROPDOWN *************************/

#login-dropdown {
  background-color: $white;
  padding: 25px;
}

#remember-checkbox {
  vertical-align: middle;
}

#profile-button {
  width: 110px;
}

/************************************* PROFILE DROPDOWN *************************/

#profile-dropdown {
  background-color: $white;
  -moz-box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  position: absolute;
  top: 100%;
  width: 110px;
}

// .nav-item-special {
//   padding: 15px 10px 15px 10px;
// }

.logout {
  color: $primary !important;
}
