@import '../_vars.scss';
@import '../_mixins.sass';

/********************************* NAVBAR ***********************************/
#searchbar-form {
  width: 75%;
  @include mobile {
    width: 100%;
  }
  & > .control {
    width: 100%;
  }
  input {
    font-family: $shareTech;
    &:focus,
    &:active {

    }
  }
}

/************************************* LOGIN DROPDOWN *************************/

#login-dropdown {
  background-color: $white;
  padding: 25px;
}

#remember-checkbox {
  vertical-align: middle;
}

#profile-button {
  position: static;
  width: 110px;
  &.is-active {
    border-radius: 3px 3px 0px 0px;
  }
  @include mobile {
    display: none;
  }
}


/************************************* PROFILE DROPDOWN *************************/

#profile-dropdown {
  -moz-box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  background-color: $white;
  box-shadow: 0 4px 7px rgba(0,0,0, 0.1);
  position: absolute;
  right: 0;
  text-align: left;
  top: 46px;
  width: 200px;
}

.profile-dropdown-menu {
  padding: 5px 15px;
  border-radius: 0 0 3px 3px;
  li {
    box-sizing: border-box;
    &:not(:first-child) {
      border-top: 1px solid $border;
    &:last-child {
      a {
        color: $accent;
        font-weight: bold;
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
    a {
      width: 100%;
      display: inline-block;
      padding: 15px 0;
      box-sizing: border-box;
      &:hover,
      &:active,
      &:focus {
        outline: none;
        color: $primary;
      }
    }

  }
}
