@import 'vars';
@import 'mixins';

.listing-modal-content {
  background-color: $white;
  height: calc(100vh - 120px);
  overflow: auto;
  padding: 25px 25px 0;
  position: relative;
  width: 100%;
}

// Rental Summary Box
.rental-summary-section {
  padding: 25px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

// Fullcalendar custom styling
.fc-day-header {
  cursor: default;
  &.is-active {
    background-color: rgba(60,188,141,0.3);
    cursor: pointer;
  }
  &.is-disabled {
    background-color: $border;
  }
}

.fc-day {
  & > .temp-cell {
    background-color: rgba(60,188,141,0.3);
  }
}

.fc-content {
  text-align: center;
}

.fc-day-number {
  cursor: pointer;
}

.temp-cell {
  &:hover {
    background-color: rgba(60,188,141,0.3);
  }
}

.preview-dates {
  margin: 0 !important;
  white-space: nowrap;
}
