#decision-section {
  position: relative;
}

.tabs-box {
  @include box-shadow(0,8px,25px,$grey-light,0);
  max-width: 425px;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: center;
    padding: 5px;
    @include mobile-365px {
      flex-direction: column;
      text-align: center;
    }
    li {
      @include transition(all 0.25s ease);
      box-sizing: border-box;
      padding: 15px 0;
      min-width: 160px;
      &.is-active {
        @include box-shadow(0,5px,0,$primary,0);
        a {
          color: $primary;
        }
      }
      &:first-child {
        margin-right: 20px;
      }
      &:not(.is-active) {
        &:hover,
        &:focus {
          @include box-shadow(0,5px,0,$black-disabled,0);
          a {
            color: $black-disabled;
          }
        }
      }
      @include mobile {
        min-width: 130px;
      }
      @include mobile-365px {
        width: 150px;
        margin-right: auto !important;
        margin-left: auto;
        &:first-child {
          border-bottom: 1px solid $border;
          padding-bottom: 20px;
        }
      }
      a {
        font-weight: 500;
        text-transform: uppercase;
        padding: 15px;
        @include mobile {
          padding: 15px 0;
        }
        @include mobile-365px {
          width: 100%;
        }
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }
}
