.dom-trait {
  max-width: 300px;
  @include desktop {
    height: 188px;
  }
  @include tablet-only {
    height: 236px;
  }
  @include mobile {
    margin: auto;
  }
}

.hiw {
  @include desktop {
    height: 212px;
  }
  @include tablet-only {
    height: 272px;
  }
}

.dom-ben {
  @include desktop {
    height: 188px;
  }
  @include tablet-only {
    height: 244px;
  }
}

.options {
  @include desktop {
    height: 212px;
  }
  @include tablet-only {
    height: 248px;
  }
}

.slider-box {
  @include box-shadow(0,8px,20px,$grey-light,0);
  background-color: #fff;
  position: relative;
  padding: 10px 15px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & + .slider-box {
    margin-top: 20px;
  }
  &:hover {
    cursor: pointer;
    .slider-icon {
      background-color: $primary;
      color: $white !important;
    }
  }
  @include tablet-only {
    min-height: 212px;
  }
}

.slider-content {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 500;
  }
  .slider-icon {
    border: 2px solid $primary;
    border-radius: 100%;
    min-height: 50px !important;
    min-width: 50px !important;
    line-height: 46px !important;
    margin-right: 20px;
    &.is-active {
      color: $white !important;
      background-color: $primary;
    }
  }
}

.slider-hidden-content {
  display: none;
  margin-right: 25px;
}

.slider-icon {
  @include mobile-456px {
    display: none !important;
  }
}

.slider-arrow,
.slider-icon {
  &:hover {
    cursor: pointer;
  }
}

.flex-list {
  max-width: 420px;
  @include mobile {
    margin: auto;
  }
  li {
    display: flex;
    align-items: center;
    span {
      padding-right: 30px;
    }
  }
}
.image-stack {
  max-width: 440px;
  padding: 0;
  position: relative;
  @include tablet {
    margin-left: 40px;
  }
  @include mobile {
    max-width: 220px;
    margin: 0 auto;
  }
  img {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    @include box-shadow(2px,12px,20px,$grey-light,0);
    &:first-child {
      @include translate(40px,0);
      z-index: 5;
    }
    &:nth-child(2) {
      @include translate(-40px,0);
      z-index: 6;
    }
    &:last-child {
      position: relative;
      z-index: 7;
    }
  }
}
