<<<<<<< HEAD
/*<editor-fold>----------------------------PROXY IMAGE----------------------------*/

#proxy-image {
    max-height:100%;
    max-width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-right:50%;
    position:absolute;"
}

/*</editor-fold>*/

/*<editor-fold>----------------------------PROXY NO EDIT----------------------------*/

#dh-overlay {
    position:fixed;
    z-index:9999999999999;
    top:30px;
    right:20px;
}

#dh-button {
    padding: 10px 25px 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.18);
    color:#fff;
    background-color: rgba(60,189,141,0.85);
    font-family: "roboto",Helvetica,sans-serif;
    font-size:14px;
    text-decoration:none !important;
    cursor:pointer;
    transition:all 0.25s;
    position: relative;
}
#dh-button:hover{
    text-decoration:underline !important;
}

#dh-delete {
    position: relative;
    border-radius: 100%;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    float: right;
    margin-left: -24px;
    margin-top: -27px;
}

#dh-delete:hover::before,
#dh-delete:hover::after {
    background: white;
}

#dh-delete::before,
#dh-delete::after {
    background: rgba(0,0,0,0.5);
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 50%;
    transition: background 0.25s ease;
}
#dh-delete::before {
    transform: rotate(45deg);
}
#dh-delete::after {
    transform: rotate(-45deg);
}

/*</editor-fold>*/

=======
>>>>>>> 1a6a70b6cdbb64283b429ea8357a834c14a1ddb5
/*<editor-fold>----------------------------PROXY EDIT----------------------------*/

.dh-wrapper {
  font-family: Helvetica, sans-serif;
}
.dh-wrapper {
    bottom:80px;
    position:fixed;
    right:20px;
    z-index:9999999999999;
}
.dh-menu {
    background-color:#fff;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.18);
    display:flex;
    flex-direction:column;
    width:200px;
}
.dh-spacing {
    margin:0;
    padding:10px;
}
.dh-heading {
    background-color:#3cbc8d;
    color:#fff;
    padding:10px;
    border-radius:5px 5px 0 0;
    margin:0;
    font-size:18px;
    text-align: center;
}
.dh-status-info {
    border-bottom:1px solid #D3D3D3;
    color:#ff5722;
    margin-bottom:5px;
    font-size:15px;
}
.dh-rental-dates {
    padding:0;
    margin:5px 10px 5px 10px;
    font-size:15px;
    color:black;
}
.dh-rental-dates:last-child {
    margin-bottom:10px;
}

.dh-action-button {
    border-bottom:1px solid rgba(0,0,0,0.12);
    color:#3cbc8d;
    padding:10px 8px;
    text-decoration:none;
    transition:all 0.25s ease;
    cursor:pointer;
    font-size:15px;
}
.dh-action-button:hover {
    background-color:#3cbc8d;
    color:#fff !important;
    border-color:#3cbc8d;
    text-decoration:none;
}
.dh-action-button:visited {
    color:#3cbc8d;
}
.dh-action-button:last-child {
    border-radius:0 0 5px 5px;
}

.dh-action-input{
    line-height:1;
    height:25px;
    margin: 10px;
    padding: 0;
    font-size:15px;
}

/*</editor-fold>*/
