@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/media.sass';
@import '../bulma/components/tabs.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.company-logo {
  margin-bottom: 30px;
}

.domain-tooltip {
  position: absolute;
  top:40px;
  z-index:99;
}

.table-row.is-selected {
  background-color:#ffc;
}

.delete-modal-cloned-domain {
  word-break: break-all;
}

.media {
  @include transition(background-color 0.25s ease);
  border-radius: $radius-small;
  cursor: pointer;
  padding: 15px 10px;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
  &:hover,
  &:focus {
    background-color: #f9f9f9;
  }
}

.media-items {
  display: flex;
  margin-top: 5px;
  @include mobile {
    flex-direction: column;
  }
}

.media-item {
  display: flex;
  align-items: center;
  &:first-child {
    margin-right: 10px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  .icon {
    margin-right: 5px;
  }
}

.offer-popup {
  background-color: $white;
  border-radius: $radius-large;
  padding: 20px;
  width: 400px !important;
}

.offer-info {
  li {
    .icon {
      margin-right: 10px;
    }
    &:last-child {
      display: flex;
    }
  }
}

#offer-modal-message{
  max-height:100px;
  width:100%;
  white-space:pre-wrap;
}

.offer-msg {
  overflow-y: auto;
  max-height: 100px;
}

.box-checked {
    margin-left:2px;
}

.current-domain-name {
  word-break: break-all;
}

#design-tab-drop {
  position: relative;
}

#premium-only-notification {
  @include translate(-50%,50%);
  background-color: $white;
  border-radius: $radius-large;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 10%;
  @include mobile {
    width: 225px;
  }
}

// table stuff
// #filters {
//   @include mobile {
//     margin-top: 35px;
//   }
// }
//
// .filter-menu-toggle {
//   cursor: pointer;
//   &.hamburger {
//     height: 30px;
//     width: 30px;
//   }
// }

.verified-elem {
  position: relative;
  &.is-loading {
    @include transition(none);
    color: $black-secondary !important;
    pointer-events: none;
    &:after {
      @extend .loader;
      @include center(16px);
      left: 50px !important;
      position: absolute !important;
      border-color: transparent transparent $black-secondary $black-secondary !important
    }
  }
}

#filters {
  @include mobile {
    select {
      width: 68px;
    }
  }
}

#table-body {
  white-space: nowrap;
  overflow-y: auto;
}

.td-domain {
  overflow-x: hidden;
}

.is-unverified {
  td {
    color: $danger;
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .button,
  .select {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.blackscreen {
  position: absolute;
  height: calc(100% + 100px);
  width: calc(100% + 40px);
  top: -22px;
  left: -19px;
  background-color: $black-secondary;
  z-index: 5;
}

.checkbox-form {
  height: 24px;
  position: relative;
  width: 24px;
  label::before {
    top: 0 !important;
    left: 0 !important;
  }
  label {
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
}

.tip {
  display: block;
  margin: 5px 0;
  color: $text-light;
}

.has-line-height {
  line-height: 1.5;
}

// listing image
.on-img {
  top: 0;
  right: 0;
  position: absolute !important;
}

#example-logo {
  max-width:200px;
  max-height:125px;
}

#example-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
}

#select-all-drop {
  @include box-shadow(0,3px,15px,$border,0);
  background-color: $white;
  border-radius: 0 $radius-small $radius-small $radius-small;
  display: flex;
  flex-direction: column;
  top: 32px;
  a {
    padding: 6px 10px;
    &:hover {
      background-color: $lighter;
    }
  }
}

.upload-label {
  border-radius: 0 0 3px 3px !important;
}

.listing-img {
  width: 96px;
  height: auto;
}

.checkbox-col {
  width: 40px;
}

// category buttons
.category-control {
  display: flex;
  flex-wrap: wrap;
  .button {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.category-selector {
  margin-right: 10px;
  margin-bottom: 10px;
}

// file upload button
.drop-form-file {
  width: 100%;
}

.input-number {
  width: 100px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
	cursor: pointer;
  & > .fa {
    margin-right: 5px;
  }
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 3px;
}
