@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/progress.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/section.sass';

.progress {
  position: absolute;
  top: 0;
}

.loading-screen {
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding-top: 240px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 7;
}

.steps-menu-button {
  left: 10px;
  position: absolute;
  top: 20px;
  z-index: 6;
  @include widescreen {
    display: none;
  }
}

.step-tracker {
  font-size: 12px;
  line-height: 24px;
}

.onboarding-step-wrapper {
  will-change: transform;
  &.slide-out {
    @include keyframes(slideOut 400ms forwards);
    z-index: 4;
  }
  &.slide-in {
    @include keyframes(slideIn 400ms forwards);
    z-index: 5;
  }
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  left: 0;
  padding: 120px;
  position: absolute;
  top: 0;
  width: 100%;
  @include mobile {
    padding: 80px 20px;
  }
}

.step-content {
  & > .content {
    @include widescreen {
      max-width: 50%;
    }
  }
  & > form {
    @include widescreen {
      max-width: 50%;
    }
  }
}

.step-buttons {
  margin: 25px 0 25px auto;
  .button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.box-wrapper {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
}

a {
  &.box {
    @include transition(all 0.2s ease);
    &:hover {
      @include box-shadow(0,8px,20px,$border,6px);
    }
    &:active {
      @include box-shadow(0,4px,10px,$border,0);
      @include translate(0,2px);
    }
    @include tablet {
      min-width: 350px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @include tablet-only {
      min-width: inherit;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    @include mobile {
      min-width: inherit;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }
}

.image {
  &.is-logo {
    width: 140px;
  }
  &.is-onboard {
    width: 196px;
    margin-bottom: 20px;
  }
}

.heading {
  color: $grey;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.columns {
  margin-left: -20px;
}

//<editor-fold>-------------------------------Animations-------------------

@keyframes slideOut {
  0% {
    display: block;
    opacity: 1;
    @include translate(0,0);
  }
  100% {
    display: none;
    opacity: 0;
    @include translate(-500px,0);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    @include translate(500px,0);
  }
  100% {
    opacity: 1;
    @include translate(0,0);
  }
}

.steam {
  @include keyframes(coffee 2s ease-in-out infinite alternate);
}

.spike {
  @include keyframes(shake 2s ease-in-out infinite alternate);
}

.blast {
  @include keyframes(fire 1s ease-in-out infinite alternate);
}

@keyframes coffee {
  0% {
    @include translate(0,0);
  }
  100% {
    @include translate(0,5px);
  }
}

@keyframes shake {
  0% {
    @include scale(1.02);
  }
  20%, 100% {
    @include scale(1);
  }
}

@keyframes fire {
  0% {
    @include translate(0,0);
    opacity: 0;
  }
  100% {
    @include translate(0,2px);
    opacity: 1;
  }
}
//</editor-fold>

//<editor-fold>-------------------------------Profile Wrapper-------------------
.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.menu-info {
  padding: 15px 20px 40px;
  p {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.steps-menu {
  @include transition(transform 0.2s ease);
  @include box-shadow(2px,0,10px,$border,0);
  @include translate(-250px,0);
  background-color: $white;
  height: 100%;
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
  z-index: 100;
  &.is-active {
    @include translate(0,0);
  }
  @include widescreen {
    @include translate(0,0);
  }
}

.step-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  &:hover,
  &:focus {
    background-color: $pastel;
  }
  &.is-active {
    p {
      color: $primary;
    }
  }
}

.right-content {
  @include transition(transform 0.3s ease);
  @include translate(250px,0);
  background-color: $pastel;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: calc(100% - 250px);
  will-change: transform;
  @include laptop {
    @include translate(0,0);
    position: relative;
    width: 100%;
  }
}
//</editor-fold>----------------------------------------------------------------
