@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/tabs.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

//transactions modal
#transactions-details-modal .modal-content h3 {
  word-wrap:break-word;
}

.white-space-no-wrap {
  white-space:nowrap;
}

#loading-transactions-card {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 40%;
  margin: -20px;
  z-index: 999;
  background-color: white;
}

.text-line-through {
  text-decoration: line-through;
}

//images for registrar connect
.image {
  &.is-logo {
    width: 140px;
  }
}

//centered icons for mobile
.control.is-mobile {
  @include mobile {
    .button {
      .icon {
        &:first-child {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

//tooltip ? icon for table
.bubble-tooltip {
  display:inline-block;
  margin-right:5px;
}

.columns {
  margin-left:-20px;
  margin-right:-20px;
}

#settings-toolbar .tabs {
  overflow:visible;
  overflow-x:visible;
}

.earnings-divider {
  padding-top:10px;
  border-top:1px solid $border;
}

.has-border-right {
  border-right: 1px solid $border;
}

// form class in settings
.form {
  // stop ptr events on label
  .label {
    pointer-events: none;
  }
  .label-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label {
      display: inline;
    }
    .icon {
      margin-left: 2px;
    }
  }
}

.nothing-exists-row {
  padding:25px;
  img {
    width:100px;
  }
  p {
    margin-top:25px;
  }
}

// table
#referral-table, #payment-history-table, #transactions-table {
  thead,
  tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

th.has-text-right, td.has-text-right{
  text-align:right !important;
}

//transactions table
.transaction-header-sort{
  cursor:pointer;
}

#transactions-table-body {
  max-height:calc(100vh - 300px) !important;
}


.transactions-row-domain {
  overflow-x: hidden;
  white-space: nowrap;
}

#transactions-info {
  li {
    padding : 5px;
    .icon {
      margin-right: 10px;
    }
    &:last-child {
      display: flex;
    }
  }
}

.remove-margin-bottom-content {
  margin-bottom:0 !important;
}

.select {
  &.is-narrow {
    select {
      width: 105px;
    }
  }
}

.stripe-required-info {
  &.icon {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &.tag {
    margin-left: 10px;
  }
}
