@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/tabs.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.columns {
  margin-left:-20px;
  margin-right:-20px;
}

#settings-toolbar .tabs {
  overflow:visible;
  overflow-x:visible;
}

.earnings-divider {
  padding-top:10px;
  border-top:1px solid $border;
}

.has-border-right {
  border-right: 1px solid $border;
}

// form class in settings
.form {
  // stop ptr events on label
  .label {
    pointer-events: none;
  }
  .label-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label {
      display: inline;
    }
    .icon {
      margin-left: 2px;
    }
  }
}

.nothing-exists-row {
  padding:25px;
  img {
    width:100px;
  }
  p {
    margin-top:25px;
  }
}

.no-border-bottom {
  border-bottom-width: 0px !important;
  margin-bottom:0;
}

.remove-margin-bottom-content {
  margin-bottom:0 !important;
}

#transactions-info {
  li {
    .icon {
      margin-right: 10px;
    }
    &:last-child {
      display: flex;
    }
  }
}

.modal-content {
  background-color: $white;
  border-radius: $radius-large;
  padding: 20px;
  &.is-small {
    max-width: 400px;
  }
}

.select {
  &.is-narrow {
    select {
      width: 105px;
    }
  }
}

.stripe-required-info {
  &.icon {
    position: absolute;
    right: -15px;
    top: -6px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  &.tag {
    margin-left: 10px;
  }
}
