@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/level.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/alert.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.columns {
  margin-left:-20px;
  margin-right:-20px;
}

.heading {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.counter {
  margin-bottom: 10px;
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .button,
  .select {
    margin-right: 10px;
    margin-bottom: 8px;
  }
}

.traffic-chart-wrapper {
  position: relative;
}

.traffic-chart {
  width: 100%;
  height: 100%;
  position: relative;
}

.traffic-overlay {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  top: 0;
  width: 100%;
  height: 100%;
}

.traffic-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

.chart-tabs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 5px;
  text-align: center;
  &::before {
    @include transition(all 0.2s ease);
    content: "";
    height: 3px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
  }
  &.is-active {
    color: $primary;
    &::before {
      width: 100%;
      opacity: 1;
      background: $primary;
    }
  }
  &:hover {
    background-color: $pastel;
  }
  &:focus {
    outline: 0;
  }
}

.portfolio-table {
  a {
    display: block;
    padding: 10px;
    &:hover {
      background-color: $pastel;
    }
  }
}

.fac {
  display: flex;
  align-items: center;
  .icon,
  .tag {
    margin-right: 10px;
  }
  &.has-margin-bottom {
    margin-bottom: 10px;
  }
}
