@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/elements/alert.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.stat-columns {
  display: flex;
  @include laptop {
    display: block;
  }
}

//centered icons for mobile
.control.is-mobile {
  @include mobile {
    .button {
      .icon {
        &:first-child {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.stat-column-large {
  width: 75%;
  margin-right: 20px;
  .traffic-chart {
    min-height: 500px;
  }
  @include laptop {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  @include mobile {
    .traffic-chart {
      min-height: 350px;
    }
  }
}

.stat-column-small {
  width: 25%;
  @include laptop {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  @include mobile {
    display: block;
    .traffic-chart {
      height: 150px;
    }
  }
}

.chart-tabs {
  @include overflow-touch;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.heading {
  @include transition(color 0.2s ease);
  display: block;
  color: $grey;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
}

.portfolio-table {
  @include box-shadow(0,2px,8px,$border,0);
  background-color: $white;
  border-radius: $radius-large;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  a {
    padding: 10px 20px;
    flex-grow: 1;
    &:hover,
    &:focus {
      background-color: $pastel;
      .heading {
        color: $text;
      }
    }
  }
}


.traffic-chart-wrapper {
  position: relative;
}

.traffic-chart {
  width: 100%;
  position: relative;
}

.traffic-overlay {
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  top: 0;
  width: 100%;
  height: 100%;
}

.traffic-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

.stat-wrapper {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  &:focus,
  &:hover {
    outline: 0;
    border-color: $black-disabled;
  }
  &:not(:last-child) {
    margin-right: 20px;
  }
  &.is-active {
    border-color: $primary;
    .counter-link {
      p {
        font-weight: 700;
      }
    }
  }
}

.small-chart {
  @include box-shadow(0,2px,8px,$border,0);
  background-color: $white;
  border-radius: $radius-large;
  padding: 10px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @include laptop {
    width: 33%;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
  @include mobile {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
