@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/card.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.has-border-right {
  border-right: 1px solid $border;
}

// form class in settings
.form {
  // stop ptr events on label
  .label {
    pointer-events: none;
  }
  .label-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label {
      display: inline;
    }
    .icon {
      margin-left: 2px;
    }
  }
}

.tip {
  display: block;
  margin: 5px 0;
  color: $text-light;
}
