@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/level.sass';
@import '../bulma/components/card.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/section.sass';
@import '../profile_wrapper';

.columns {
  margin-left:-20px;
  margin-right:-20px;
}

.heading {
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top:10px;
  text-transform: uppercase;
}

.overview-tile-wrapper {
  &:hover {
    background-color:$grey-lighter;
  }
}

.counter {
  margin-bottom: 10px;
}

.card-header {
  &.is-primary {
    background-color: $primary;
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .button,
  .select {
    margin-right: 10px;
    margin-bottom: 8px;
  }
}

.tag {
  white-space: nowrap;
}

.traffic-chart-wrapper {
  position:relative;
}

.traffic-chart {
  width:100%;
  height:100%;
  position:relative;
}

.traffic-overlay {
  position:absolute;
  border:1px solid $grey-lighter;
  background-color:rgba(255,255,255,0.5);
  top:0;
  width:100%;
  height:100%;
}

.traffic-overlay-text {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-right:-50%;
}

.stat-wrapper {
  display:inline-block;
  padding:5px;
  cursor:pointer;
  text-align:center;
  width:49%;
  height:100px;
  margin-left:-3px;
  max-width:100px;
  &.is-active .heading{
    color:$primary;
  }
  &:hover{
    background-color:$grey-lighter;
  }
}
