<div id="previous-rentals-module" class="listing-module">
  <div class="content margin-bottom-25">
    <h2>Latest Rentals</h2>
  </div>
  <div id="previous-rentals-table">
      <a id="previous-rentals-clone" class="previous-rental is-hidden" tabindex="1" target="_blank" href="" title="Click to Preview">
        <div>
            <div class="previous-stats">
                <p class="is-bold previous-rental-duration"></p>
                <p class='previous-rental-views'></p>
            </div>
        </div>
      </a>
  </div>
</div>
