<section class="hero is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="card">
          <header class="card-header no-shadow is-white">
            <h3 class="card-header-title-index">
              Revenue
            </h3>
            <a class="card-header-icon is-active">
              <i class="fa fa-angle-down"></i>
            </a>
          </header>
          <div class="card-header-subtitle">
            <p class="is-blacklight">
              Generate continuous income
            </p>
          </div>
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="http://placehold.it/640x320" alt="">
            </figure>
          </div>
          <div class="card-content">
            <p>
              Get the most out of your assets. Listing a domain name
              for rent opens an entirely new revenue stream, allowing
              you to make money without having to relinquish ownership.
            </p>
          </div>
          <footer class="card-footer">
            <a class="button is-accent is-inverted">Learn More</a>
          </footer>
        </div>
        <div class="card">
          <header class="card-header no-shadow is-white">
            <h3 class="card-header-title-index">
              Schedule
            </h3>
            <a class="card-header-icon is-active">
              <i class="fa fa-angle-down"></i>
            </a>
          </header>
          <div class="card-header-subtitle">
            <p class="is-blacklight">
              Rentals work to your schedule
            </p>
          </div>
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="http://placehold.it/640x320" alt="">
            </figure>
          </div>
          <div class="card-content">
            <p>
              Regardless of whether you're a buyer or a seller,
              you can schedule rentals to the exact minute.
              Rentals have the upmost flexibility in order to fit
              your needs.
            </p>
          </div>
          <footer class="card-footer">
            <a class="button is-accent is-inverted">Learn More</a>
          </footer>
        </div>
        <div class="card">
          <header class="card-header no-shadow is-white">
            <h3 class="card-header-title-index">
              Protection
            </h3>
            <a class="card-header-icon is-active">
              <i class="fa fa-angle-down"></i>
            </a>
          </header>
          <div class="card-header-subtitle">
            <p class="is-blacklight">
              Legally binded contracts
            </p>
          </div>
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="http://placehold.it/640x320" alt="">
            </figure>
          </div>
          <div class="card-content">
            <p>
              All domains rented through DomaHub are protected
              by contract. Rentals are purchased for a specific
              time period at a fixed price. Buy-outs are available
              at a pre-negotiated price.
            </p>
          </div>
          <footer class="card-footer">
            <a class="button is-accent is-inverted">Learn More</a>
          </footer>
        </div>
        <div class="card">
          <header class="card-header no-shadow is-white">
            <h3 class="card-header-title-index">
              Advertisement
            </h3>
            <a class="card-header-icon is-active">
              <i class="fa fa-angle-down"></i>
            </a>
          </header>
          <div class="card-header-subtitle">
            <p class="is-blacklight">
              Free, hosted advertisements
            </p>
          </div>
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="http://placehold.it/640x320" alt="">
            </figure>
          </div>
          <div class="card-content">
            <p>
              DomaHub listings are designed to be full-page, custom advertisements.
              Our online tool helps you to create an attractive listing
              tailored to your preferences.
            </p>
          </div>
          <footer class="card-footer">
            <a class="button is-accent is-inverted">Learn More</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
