<section class="hero is-blacklight is-carousel">
  <div class="hero-body">
    <div class="container">
      <span class="icon is-large carousel-icon left">
        <i class="fa fa-angle-left"></i>
      </span>
        <div class="carousel-wrapper">
          <div class="carousel-control">
            <article class="carousel-item media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/images/lib/material/satisfied.svg">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    DomaHub has officially launched! Enjoy 10% off all rentals
                    from now until XX/XX/2016! Browse domain listings
                    <a class="is-underlined" href="/listings" title="Listings">here</a>.
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="carousel-control">
            <article class="carousel-item media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/images/lib/material/computer.svg">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    Want to connect with us? Feel free to
                    <a class="is-underlined" href="/contact" title="Contact Us">contact us</a>.
                    Also, come see what's happening at Domahub by visiting our
                    <a class="is-underlined" href="/blog" title="Blog">blog</a>.
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="carousel-control">
            <article class="carousel-item media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="/images/lib/material/heart.svg">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    If a domain name is not listed on DomaHub, simply use our
                    tool (located on every listing's page) to request it.
                    The DomaHub team will make sure that it gets listed.
                  </p>
                </div>
              </div>
            </article>

          </div>
        </div>
      <span class="icon is-large carousel-icon right">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
  </div>
</section>
