<div class="column hover-scale">
  <figure class="image is-64x64 margin-bottom-25">
    <img src="/images/lib/material/palette.svg" alt="Limitless creative opportunities">
  </figure>
  <div class="content">
    <h3 class="is-bold has-text-centered">Creative Opportunities</h3>
    <p>
      Need to launch a marketing campaign, create a sub-section of your website,
      or start an online portfolio? Why not rent a relevant domain?
    </p>
  </div>
</div>
<div class="column hover-scale">
  <figure class="image is-64x64 margin-bottom-25">
    <img src="/images/lib/material/money-o.svg" alt="Cheaper than buying">
  </figure>
  <div class="content">
    <h3 class="is-bold has-text-centered">Lower Costs</h3>
    <p>
      Valuable domain names are generally incredibly expensive to purchase.
      Renting them out for the exact time you need it is cheaper and cost-effective.
    </p>
  </div>
</div>
<div class="column hover-scale">
  <figure class="image is-64x64 margin-bottom-25">
    <img src="/images/lib/material/calendar.svg" alt="Completely flexible scheduling">
  </figure>
  <div class="content">
    <h3 class="is-bold has-text-centered">Flexible Scheduling</h3>
    <p>
      Domain rentals are always tailored to your schedule and preferences.
      You can rent by the hour, day, week, month, or even year.
    </p>
  </div>
</div>
<p class="control has-addons has-addons-centered margin-top-50">
<a class="button is-accent is-large" href="/renters" title="Examples of domain name rentals">
<span>Learn More</span>
<span class="icon">
<i class="fa fa-angle-right"></i>
</span>
</a>
</p>

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column margin-bottom-50">
        <div class="content">
          <h1 class="title is-bold is-2 has-text-centered">Why should I list my domain?</h1>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column hover-scale">
        <figure class="image is-64x64 margin-bottom-25">
          <img src="/images/lib/material/localatm.svg" alt="Generate steady revenue">
        </figure>
        <div class="content">
          <h2 class="is-bold has-text-centered">Steady Revenue</h2>
          <p>
            Don't let your domains rot away. Start generating continuous
            revenue by renting your domains out to other users.
          </p>
        </div>
      </div>
      <div class="column hover-scale">
        <figure class="image is-64x64 margin-bottom-25">
          <img src="/images/lib/material/exposure.svg" alt="Cheaper than buying">
        </figure>
        <div class="content">
          <h2 class="is-bold has-text-centered">Increased Exposure</h2>
          <p>
            Allowing users to use your domain for different purposes expands
            your reach, audience, and viewcount.
          </p>
        </div>
      </div>
      <div class="column hover-scale">
        <figure class="image is-64x64 margin-bottom-25">
          <img src="/images/lib/material/briefcase-o.svg" alt="Limitless creative opportunities">
        </figure>
        <div class="content">
          <h2 class="is-bold has-text-centered">Keep Your Assets</h2>
          <p>
            Your domains are important assets. You won't have to worry about
            losing them while renting them out. Cancel your listing when you
            need to.
          </p>
        </div>
      </div>
    </div>
    <p class="control has-addons has-addons-centered margin-top-50">
      <a class="button is-accent is-large" href="/sellers" title="Benefits of listing on DomaHub">
        <span>Learn More</span>
        <span class="icon">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </p>
  </div>
</section>
