<section id="decision-section" class="section is-medium-top">
    <div id="learn-more-wrapper" class='has-text-centered'>
      <p id="learn-more-text">Learn more...</p>
        <div class="learn-more-arrow">
            <a tabindex="0" href="#decision-section" id="learn-more-button" title="Learn More">
                <span class="icon is-medium is-white">
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
        </div>
    </div>
  <div class="container">
    <div class="tabs-box">
      <ul>
        <li id="have-domains-tab" class="is-active">
          <a tabindex="0" href="#owners" title="Domain Owners">I have domains</a>
        </li>
        <li id="want-domains-tab">
          <a tabindex="0" href="#renters" title="Domain Renters">I want domains</a>
        </li>
      </ul>
    </div>
  </div>
</section>
