<div class="columns">
  <div class="column">
    <div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
      <header class="card-header no-shadow is-white">
        <h3 class="is-bold card-header-title">
          <a tabindex="1" class="is-primary" href="https://www.slides.com" target="_blank" title="slides.com">
            Slides.com
          </a>
        </h3>
      </header>
      <div class="card-image">
        <figure class="image is-3by2">
          <a tabindex="1" href="https://www.slides.com" target="_blank" title="slides.com">
            <img src="/images/listing/listing-slides.PNG" alt="slides.com capture image" />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p>
            Make better slide presentations right on your browser with Slides.com.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
      <header class="card-header no-shadow is-white">
        <h3 class="is-bold card-header-title">
          <a tabindex="1" class="is-primary" href="https://www.kickresume.com" target="_blank" title="kickresume.com">
            Kickresume.com
          </a>
        </h3>
      </header>
      <div class="card-image">
        <figure class="image is-3by2">
          <a tabindex="1" href="https://www.kickresume.com" target="_blank" title="kickresume.com">
            <img src="/images/listing/listing-kickresume.jpg" alt="kickresume.com capture image" />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p>
            Create a resume, cover letter, or personal website in minutes with Kickresume.
          </p>
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="column">
    <div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
      <header class="card-header no-shadow is-white">
        <h3 class="is-bold card-header-title">
          <a tabindex="1" class="is-primary" href="https://www.openme.com" target="_blank" title="openme.com">Openme.com</a>
        </h3>
      </header>
      <div class="card-image">
        <figure class="image is-3by2">
          <a tabindex="1" href="https://www.openme.com" target="_blank" title="openme.com">
            <img src="/images/listing/listing-openme.PNG" alt="kickresume.com capture image" />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p>
            Send a free personalized eCard or greeting for any occasion on Openme.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card min-height is-fullwidth has-shadow-effect is-inline-block is-marginless">
      <header class="card-header no-shadow is-white">
        <h3 class="is-bold card-header-title">
          <a tabindex="1" class="is-primary" href="https://www.portfoliobox.net" target="_blank" title="openme.com">
            Portfoliobox.net</a>
        </h3>
      </header>
      <div class="card-image">
        <figure class="image is-3by2">
          <a tabindex="1" href="https://www.portfoliobox.net" target="_blank" title="portfoliobox.net">
            <img src="/images/listing/listing-portfolio-box.jpg" alt="portfoliobox.net capture image" />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <p>
            Build your own online portfolio and manage galleries, blogs, and more with Portfoliobox.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
