<section class="hero is-light is-carousel">
  <div class="hero-body">
    <div class="container">
        <div class="carousel-wrapper">
          <div class="carousel-control">
            <div class="carousel-item">
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <span class="tag is-info is-medium is-uppercase">News</span>
                  </div>
                  <div class="level-item">
                    <div class="content">
                      <p>
                        DomaHub is now in the beta phase.
                      </p>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="carousel-control">
            <div class="carousel-item">
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <span class="tag is-info is-medium is-uppercase">Learn</span>
                  </div>
                  <div class="level-item">
                    <div class="content">
                      <p>
                        <a href="/renters" class="primary-link">Learn more</a>
                         about the different ways to utilize a domain.
                      </p>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="carousel-control">
            <div class="carousel-item">
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <span class="tag is-info is-medium is-uppercase">Blog</span>
                  </div>
                  <div class="level-item">
                    <div class="content">
                      <p>
                        Read about our humble beginnings at our <a class="primary-link" href="https://medium.com/@domahub">blog</a>.
                      </p>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
