<!DOCTYPE html>
<html>

<head>
    <title>DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
    <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
    <%- include("templates/head_links"); %>
</head>

<body>

    <section style="height: 100vh" class="hero is-light is-large clear-nav">
        <div class="hero-body">
            <div class="container margin-bottom-25 has-text-centered">
                <h1 class="logo-text title-index primary-logo" title="Home" href="/">DomaHub</h1>
            </div>
            <div class="container has-text-centered">
                <p class="title">
                    Join the beta waiting list!
                </p>
                <form id="beta-form" action="/beta" method="post">
                    <p class="control has-addons has-addons-centered">
                        <input id="beta-form-email" class="input is-medium is-fullwidth" type="email" name="betaemail" placeholder="Enter your email"/>
                        <a id="beta-form-submit" class="button no-shadow is-primary is-medium">Submit</a>
                    </p>
                </form>
                <h2 id="beta-form-success" class="is-primary is-hidden">Success!</h2>
            </div>
        </div>
    </section>

    <%- include("templates/js_scripts"); %>
    <script src="/js/routes/main/main_beta_signup_logic.js" type="text/javascript"></script>

</body>
</html>
