<% if (!listing_info.premium || (listing_info.premium && listing_info.alexa_stats)) { %>
  <div id="alexa-stats-module" class="control">
    <div class="content">
      <p class="heading is-blacklight is-inline-block" data-balloon-length="medium"
       data-balloon="Rank is calculated using a combination of average daily visitors to this site and pageviews on this site over the past 3 months."
       data-balloon-pos="up">
        Global Rank
      </p>
      <p id="alexa-globalrank" class="regular-font">Loading...</p>
    </div>
    <div class="content">
      <p class="heading is-blacklight is-inline-block" data-balloon-length="medium"
      data-balloon="Estimated daily time on site (mm:ss) per visitor to the site." data-balloon-pos="up">
        Time on Site
      </p>
      <p id="alexa-timeonsite" class="regular-font">Loading...</p>
    </div>
    <div class="content">
      <p class="heading is-blacklight is-inline-block" data-balloon-length="medium"
       data-balloon="Estimated daily unique pageviews per visitor on the site." data-balloon-pos="up">
        Page Views
      </p>
      <p id="alexa-pageviews" class="regular-font">Loading...</p>
    </div>
    <div class="content">
      <p class="heading is-blacklight is-inline-block" data-balloon-length="medium"
      data-balloon="Percentage of visits to the site that consist of a single pageview." data-balloon-pos="up">
        Bounce Rate
      </p>
      <p id="alexa-bouncerate" class="regular-font">Loading...</p>
    </div>
  </div>
<% } %>
