<div class="content margin-top-10">
  <div class="level has-border">
    <p class="header">
      Global Rank
      <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Rank is calculated using a combination of average daily visitors to this site and pageviews on this site over the past 3 months."
       data-balloon-pos="up">
        <i class="fa fa-question-circle"></i>
      </span>
    </p>
    <p id="alexa-globalrank">Loading...</p>
  </div>
  <div class="level has-border">
    <p class="header">
      Time on Site
      <span class="icon is-small is-tooltip" data-balloon-length="medium"
      data-balloon="Estimated daily time on site (mm:ss) per visitor to the site." data-balloon-pos="up">
        <i class="fa fa-question-circle"></i>
      </span>
    </p>
    <p id="alexa-timeonsite">Loading...</p>
  </div>
  <div class="level has-border">
    <div class="level-left">
      <p class="header">
        Page Views
        <span class="icon is-small is-tooltip" data-balloon-length="medium"
         data-balloon="Estimated daily unique pageviews per visitor on the site." data-balloon-pos="up">
          <i class="fa fa-question-circle"></i>
        </span>
      </p>
    </div>
    <div class="level-right">
      <p id="alexa-pageviews">Loading...</p>
    </div>
  </div>
  <div class="level has-border">
    <div class="level-left">
      <p class="header">
        Bounce Rate
        <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="Percentage of visits to the site that consist of a single pageview."
        data-balloon-pos="up">
          <i class="fa fa-question-circle"></i>
        </span>
      </p>
    </div>
    <div class="level-right">
      <p id="alexa-bouncerate">Loading...</p>
    </div>
  </div>
  <p>
      <small>
      For more information, please visit <a title="Link to Alexa website"   class='is-accent' href="http://www.alexa.com/siteinfo/<%= listing_info.domain_name %>">Alexa.com</a>
      </small>
  </p>
</div>
