// Components

.hero-video
  +overlay
  overflow: hidden
  video
    left: 50%
    min-height: 100%
    min-width: 100%
    position: absolute
    top: 50%
    transform: translate3d(-50%, -50%, 0)
  // Modifiers
  &.is-transparent
    opacity: 0.3
  // Responsiveness
  +mobile
    display: none

.hero-buttons
  margin-top: 40px
  // Responsiveness
  +mobile
    & > .button
      flex-grow: 0.2
      &:not(:last-child)
        margin-bottom: 10px
    display: flex
    flex-direction: column
    align-items: flex-start
    &.left-aligned
      flex-direction: row
      justify-content: flex-start
      .button:not(:last-child)
        margin-right: 20px
        margin-bottom: 0
    &.right-aligned
      flex-direction: row
      justify-content: flex-end
      .button:not(:last-child)
        margin-left: 20px
        margin-bottom: 0
  +tablet
    display: flex
    flex-wrap: wrap
    .button
      margin-top: 10px
    .button:not(:last-child)
      margin-right: 20px
    &.left-aligned
      justify-content: flex-start
    &.right-aligned
      justify-content: flex-end

// Containers
.hero-head,
.hero-foot
  flex-shrink: 0

.hero-body
  flex-grow: 1
  padding: 40px 20px
  // Responsiveness
  +desktop
    padding-left: 0
    padding-right: 0

// Main container
.hero
  align-items: stretch
  background-color: $white
  display: flex
  flex-direction: column
  justify-content: space-between
  .nav
    background: none
    position: relative
  .tabs
    ul
      border-bottom: none
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
      .title
        color: $color-invert
        a,
        strong
          color: inherit
      .subtitle
        color: rgba($color-invert, 0.75)
        a,
        strong
          color: $color-invert
      .nav-menu
        +mobile
          background-color: $color
      a.nav-item,
      .nav-item a:not(.button)
        color: rgba($color-invert, 0.5)
        &:hover,
        &.is-active
          color: $color-invert
      .tabs
        a
          border-bottom: none
          color: $color-invert
          opacity: 0.75
          &:hover
            opacity: 1
        li
          border-bottom: none
          padding: 10px 0
          &:hover
            background-color: $color-invert
            border-color: $color-invert
            color: $color
          &.is-active a
            border-bottom: none
            opacity: 1
      // Modifiers
      &.gradient-left-right
        $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
        $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%)
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%)
      &.gradient-right-left
        $gradient-bottom-right: darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
        $gradient-top-left: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%)
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%)
      &.gradient-top-bottom
        $gradient-top: darken(saturate(adjust-hue($color, -10deg), 10%), 10%)
        $gradient-bottom: lighten(saturate(adjust-hue($color, 10deg), 10%), 10%)
        background-image: linear-gradient($gradient-top, $gradient-bottom)
      // Responsiveness
      +mobile
        .nav-toggle
          span
            background-color: $color-invert
          &:hover
            background-color: rgba($black, 0.1)
          &.is-active
            span
              background-color: $color-invert
        .nav-menu
          .nav-item
            border-top-color: rgba($color-invert, 0.2)
  // Sizes
  &.is-small
    +tablet
      .hero-body
        padding-bottom: 80px
        padding-top: 80px
  &.is-medium
    +tablet
      .hero-body
        padding-bottom: 180px
        padding-top: 180px
    +mobile
      .hero-body
        padding: 100px 20px
  &.is-large
    +tablet
      .hero-body
        padding-bottom: 250px
        padding-top: 250px
  &.is-fullheight
    min-height: 100vh
    .hero-body
      align-items: center
      display: flex
      & > .container
        flex-grow: 1
        flex-shrink: 1
