<style>
#dh-preview {
    padding:15px  !important;
    box-sizing:border-box  !important;
    border-radius:5px  !important;
    border:1px solid rgba(0,0,0,0.1) !important;
    box-shadow:0 10px 30px rgba(0,0,0,0.18) !important;
    color:#fff !important;
    background-color:rgba(60,189,141,1) !important;
    font-family:"roboto",Helvetica,sans-serif !important;
    font-size:14px !important;
    cursor:default !important;
    position:fixed !important;
    bottom:20px !important;
    left:20px !important;
    max-width:250px !important;
    line-height:normal !important;
    z-index:9999999999999 !important;
}
#dh-preview > span > a {
    color:#FFF !important;
}
#dh-input-wrapper{
    display:flex !important;
    justify-content:flex-start !important;
    position:relative !important;
    margin:10px 0px !important;
}
#dh-input {
    align-items:center !important;
    background-color:#fff !important;
    color:#000 !important;
    display:inline-flex !important;
    font-size:14px !important;
    height:32px !important;
    justify-content:flex-start !important;
    line-height:24px !important;
    padding:0 8px !important;
    position:relative !important;
    border:0px !important;
    border-radius:3px 0px 0px 3px !important;
    max-width:100% !important;
    width:calc(100% - 16px) !important;
    margin:0 !important;
}
#dh-input-copy{
    letter-spacing:1px !important;
    font-weight:700 !important;
    font-size:14px !important;
    height:42px !important;
    padding-left:21px !important;
    padding-right:21px !important;
    background-color:#3cbc8d !important;
    color:#fff !important;
    align-items:center !important;
    border:1px solid rgba(0,0,0,.38) !important;
    border-radius:0 3px 3px 0 !important;
    display:inline-flex !important;
    height:32px !important;
    line-height:24px !important;
    padding:0 8px !important;
    position:relative !important;
    transition:all .25s ease !important;
    justify-content:center !important;
    text-align:center !important;
    margin:0 -1px 0 0 !important;
    box-shadow:none !important;
    cursor:pointer !important;
    font-family:"roboto",Helvetica,sans-serif !important;
    text-decoration:none !important;
}
</style>
<div id="dh-preview">
    <span>
        This is just a preview of what the rental will look like. The URL below is a permanent link to this preview.</span>
    <div id="dh-input-wrapper">
        <input id="dh-input" placeholder="Rental preview link">
        <button id="dh-input-copy">Copy</button>
    </div>
    <span>If there is something wrong, please <a href="https://domahub.com/contact">let us know</a>.</span>
</div>
<script>
    console.log("DomaHub preview message loaded!");
    $(document).ready(function(){
        $("#dh-input").val("https://domahub.com/listing/" + doma_rental_info.domain_name + '/' + doma_rental_info.rental_id).on("click", function(){
            $(this).select();
        });
        $("#dh-input-copy").on("click", function(){
            $("#dh-input").select();
            document.execCommand("copy");
            $("#dh-input").blur();
        });
    });
</script>
