<div class="domahub-wrapper" style="display:none;">
    <div class="domahub-menu">
        <div class="domahub-heading-wrapper">
            <h3 class="domahub-heading">DomaHub Rentals</h3>
        </div>
        <a class="domahub-action-button" target="_blank" href="https://www.domahub.com/">What is this page?</a>
        <a id="domahub-listing-button" class="domahub-action-button" target="_blank">Rent yours now!</a>
    </div>
</div>
<script>
    console.log("DomaHub no edit menu loaded!");
</script>
