<style>
#dh-preview {
    padding:15px;
    box-sizing:border-box;
    border-radius:5px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow:0 10px 30px rgba(0,0,0,0.18);
    color:#fff;
    background-color:rgba(60,189,141,1);
    font-family:"roboto",Helvetica,sans-serif;
    font-size:14px;
    cursor:default;
    position:absolute;
    bottom:20px;
    left:20px;
    max-width:250px;
    z-index:9999999999999;
}
#dh-preview a {
    color:#FFF;
}
</style>
<div id="dh-preview">
    This is just a preview of what the rental will look like.
    </br></br>If there is something wrong, please <a href="https://domahub.com/contact">let us know</a>.
</div>
<script>
    console.log("DomaHub preview message loaded!");
</script>
