<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <script>
        var doma_rental_info = <%-JSON.stringify(doma_rental_info)%>;
    </script>
</head>
<body>
    <%- include("proxy-index.ejs"); %>
    <div style="font-size:20px;text-align:center;top:50%;left:50%;transform:translate(-50%,-50%);position:absolute;font-family:helvetica,sans-serif;">
        <h2>Something went wrong with this link!</h2>
        <p>If this continues, please change the rental address :)</p>
    </div>
    <% if (preview) { %>
        <%- include("proxy-edit.ejs"); %>
    <% } else { %>
        <%- include("proxy-noedit.ejs"); %>
    <% } %>
</body>
</html>
