<div class="dh-wrapper">
    <div class="dh-menu">
        <p class="dh-heading dh-spacing">Your Rental</p>
        <p class="dh-status-info dh-spacing">Currently Active</p>
        <input placeholder="Edit Address" class="dh-action-input"></input>
        <a id="dh-listing-button" class="dh-action-button">View Listing</a>
        <a href="https://www.domahub.com/contact" class="dh-action-button" target="_blank" rel="noopener">Something wrong?</a>
    </div>
</div>

<!-- <script>
    console.log("dh editing menu loaded!");
    $(document).ready(function(){
        $(".dh-action-input").on("keypress", function(e){
            if (e.keyCode == 13){
                change_address($(this));
            }
        }).val(doma_rental_info.address).on("focus", function(e){
            $(this).select();
        });

        //auto show menu if editing
        $("#dh-button").click();

        //rental times
        for (var x = 0 ; x < doma_rental_info.times.length; x++){
            var temp_start = moment(doma_rental_info.times[x].date).format("MMM D YYYY");
            var temp_end = moment(doma_rental_info.times[x].date).add(doma_rental_info.times[x].duration, "millisecond").format("MMM D YYYY");;
            $(".dh-info-wrapper").append("<p class='dh-rental-dates'>" + temp_start + " - " + temp_end + "</p>");
        }
    });

    //function to submit address change
    function change_address(elem){
        elem.off();
        $.ajax({
            url: "/listing/" + doma_rental_info.domain_name + "/" + doma_rental_info.rental_id + "/edit",
            method: "POST",
            data: {
                address: $('.dh-action-input').val()
            }
        }).done(function(data){
            elem.on("keypress", function(){
                if (e.keyCode == 13){
                    change_address(elem);
                }
            });
            console.log(data);
            if (data.state == "error"){
                $('.dh-action-input').val("");
            }
            else {
                location.replace("http://" + window.location.host + "/listing/" + doma_rental_info.domain_name + "/" + doma_rental_info.rental_id);
            }
        });
    }
</script> -->
