<div id="domahub-overlay" style="display:none;">
    <a id="domahub-button"target="_blank" rel="noopener">What is this website?</a>
    <span id="domahub-delete"></span>
</div>
<script>
    console.log("DomaHub no edit menu loaded!");
</script>
