<link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
<link href="https://domahub.com/css/proxy.css" rel="stylesheet">
<a id="domahub-button">D</a>
<script src="https://domahub.com/js/lib/moment.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    console.log("DomaHub menu loaded!");
    $(document).ready(function(){
        $("#domahub-button").on("click", function(e){
            $(".domahub-wrapper").slideToggle(300);
        });

        //set listing link
        $("#domahub-listing-button").attr("href", "https://www.domahub.com/listing/" + doma_rental_info.domain_name);
    });
</script>
