@import 'bulma/elements/hamburger.sass';

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

#current-view-name {
  padding-top:5px;
  display:inline-block;
  height:36px;
  @include mobile {
    margin-left: 45px;
  }
}

.left-menu {
  @include translate(-250px,0);
  width: 250px;
  &.is-active {
    @include translate(0,0);
    @include box-shadow(2px,0,10px,$border,0);
  }
  @include transition(width 0.3s ease, transform 0.2s ease);
  background-color: $white;
  height: 100%;
  z-index: 100;
  .menu-list {
    .menu-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    a {
      &.primary-theme {
        border-left: 3px solid transparent;
        border-radius: 0 20px 20px 0;
        margin-right: 10px;
        padding: 10px 0 10px 15px;
        .icon {
          color: $grey;
          font-size: 14px;
        }
        &:hover {
          background-color: $pastel;
        }
        &.is-active {
          border-color: $primary;
          background-color: $pastel;
          .icon {
            color: $primary;
          }
          .left-menu-tab {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }
  }
}

#left-menu-buttons {
  justify-content:space-around !important;
}

.left-menu-tab {
  color: $grey;
  font-size: 14px;
  display: block;
}

.menu-info {
  padding:10px 20px 0;
  p {
    color: $grey;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 20px;
    text-transform: uppercase;
  }
}

.username {
  word-break: break-all;
}

.right-content {
  background-color: $pastel;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  .tabs {
    min-height: 36px;
  }
}

.right-content-items {
  padding: 80px 60px 15px;
  height: 100%;
  @include mobile {
    padding: 15px;
  }
}

.menu-button {
  cursor:pointer;
  .icon {
    margin-top:4px;
    @include mobile {
      margin-left:4px;
    }
  }
  &.is-open.is-circle {
    @include mobile {
      border-radius:100%;
      background-color: $pastel;
      @include box-shadow(0,0,4px,$border,0);
      margin: 10px;
      padding: 5px;
      width: 42px;
      height: 42px;
    }
  }
}

.circle-logo {
  margin:auto;
  background-image: url("/images/dh-assets/circle-logo/dh-circle-logo-primary-225x225.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px !important;
  height: 32px !important;
}

.flat-logo {
  margin:auto;
  background-image: url("/images/dh-assets/flat-logo/dh-flat-logo-sprite.png");
  background-repeat: no-repeat;
  width: 131px !important;
  height: 32px !important;
}

.profile-nav {
  z-index:99;
  top:0;
  &.is-bar {
    position:fixed;
  }
}

.nav-item {
  display:inline-block;
  margin:0;
  vertical-align:middle;
  padding:15px;
}

.user-panel {
  @include mobile {
    display: flex;
  }
}

.hover-menu {
  background-color: $white;
  border-radius: $radius;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 11;
  &.is-active {
    display: block;
  }
}

.hover-menu-link {
  a {
    display: block;
    padding: 12px 8px;
    &:hover {
      background-color: $pastel;
    }
  }
}

.nav-item {
  &.is-toggle {
    padding: 10px 0;
  }
}

.user-button {
  padding: 0px 5px;
  position: relative;
}

.nav-button {
  border-radius: 100%;
  height: auto;
  padding: 5px;
  border-color: transparent;
  .icon {
    margin: 0 !important;
    font-size: 20px;
    color: $grey;
  }
  &:focus {
    outline: none;
  }
  &.is-active {
    @include box-shadow(0,0,4px,$border,0);
    outline: none;
    border: 1px solid $primary !important;
  }
}

.notification-counter {
  text-align:center;
  background-color: $danger;
  border-radius: 100%;
  color: $white;
  font-size: 10px;
  height: 16px;
  line-height: 18px;
  position: absolute;
  right: -7px;
  top: -4px;
  width: 16px;
}

#contact-form-menu {
  .control {
    padding: 0px 15px 15px;
  }
  textarea {
    height:150px;
    width: 235px;
    padding: 0px 15px 15px;
    font-size:14px;
    @include box-shadow(0,0,0,$border,0);
    border-radius: $radius $radius 0 0;
    border: none;
  }
}

#notification-dropdown-menu {
  padding:15px;
  padding-top:0;
  font-size:14px;
  .content {
    padding: 5px 12px;
  }
}

#other-links-menu {
  padding:15px;
  padding-top:0;
  font-size:14px;
}
