.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-menu {
  @include transition(all 0.2s ease);
  @include box-shadow(1px,0,5px,$border,1px);
  background-color: $white;
  height: 100%;
  min-width: 250px;
  width: 250px;
  position: fixed;
  z-index: 1;
  &.is-active {
    left: -20px;
  }
  .delete {
    position: absolute;
    right: 10px;
  }
  .menu-list {
    .menu-item {
      @include laptop {
        margin-top: 10px;
        &.has-icon {
          a {
            .icon {
              margin-right: 0;
            }
          }
        }
      }
    }
    a {
      &.primary-theme {
        border-right: 3px solid transparent;
        padding: 10px;
        @include laptop {
          padding: 10px 20px;
        }
        &:hover {
          background-color: $pastel;
        }
        &.is-active {
          background-color: rgba(60,188,141,0.15);
          border-color: $primary;
          .icon {
            color: $primary;
          }
          p,small {
            color: $primary;
            font-weight: 500;
          }
        }
        &.is-sublink {
          padding: 10px;
          small {
            margin-top: 0 !important;
          }
          @include laptop {
            padding: 10px 20px;
          }
        }
      }
    }
  }
  @include mobile {
    display: none;
    background-color: $white;
    left: -123%;
    position: absolute;
    min-width: 0;
    width: 0;
  }
  @include laptop {
    min-width: 70px;
    width: 70px;
  }
}

.menu-info {
  margin: 30px 20px;
  p {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

#collapse-submenu {
  @include laptop {
    margin: 0;
    padding-left: 0;
    border-left: none;
  }
}

.right-content {
  @include transition(left 0.2s ease);
  background-color: $pastel;
  height: 100%;
  left: 250px;
  overflow-x: hidden;
  position: absolute;
  width: calc(100% - 250px);
  .tabs {
    min-height: 36px;
  }
  @include laptop {
    left: 70px;
    width: calc(100% - 70px);
  }
  @include mobile {
    left: 0;
    position: relative;
    width: 100%;
  }
}

.right-content-items {
  padding: 20px 60px 20px;
  @include mobile {
    padding: 10px 20px 20px;
  }
}

.user-panel {
  @include mobile {
    display: flex;
  }
}

.nav {
  &.is-profile {
    padding: 20px 50px 0;
    position: relative;
    @include mobile {
      padding: 20px 20px 0;
    }
    .nav-toggle {
      width: 30px;
      height: 30px;
    }
  }
}

.nav-item {
  &.is-toggle {
    padding: 10px 0;
  }
}

.user-button {
  padding: 10px 5px;
  &:last-child {
    padding-left: 10px;
  }
}

.nav-button {
  border-radius: 100%;
  font-size: 22px;
  height: auto;
  padding: 5px;
  .icon {
    margin: 0 !important;
  }
  &:focus {
    @include box-shadow(0,0,4px,#5E9ED6,0);
    outline: none;
    border-color: $blue !important;
  }
}

.nav-drop {
  @include box-shadow(0,3px,15px,$border,2px);
  background-color: $white;
  border-radius: $radius;
  position: absolute;
  top: 100%;
  .menu-label {
    color: $primary;
    padding: 8px 5px;
  }
}

#notification-counter {
  background-color: $danger;
  border-radius: 100%;
  color: $white;
  font-size: 10px;
  height: 16px;
  line-height: 18px;
  position: absolute;
  right: -5px;
  top: -2px;
  width: 16px;
}

#contact-dropdown-menu {
  right: -87px;
  width: 350px;
  .control {
    padding: 8px;
  }
  textarea {
    border-radius: $radius $radius 0 0;
  }
  @include mobile {
    right: -97px;
  }
}

#notification-dropdown-menu {
  right: -41px;
  width: 250px;
  .content {
    padding: 5px 12px;
  }
  @include mobile {
    right: -52px;
  }
}

#user-dropdown-menu {
  right: 10px;
  width: 200px;
  @include mobile {
    right: 0;
  }
}

.menu-label {
  margin-top:0;
  margin-bottom:0;
}

.smile {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 36px;
}
