@import 'bulma/elements/hamburger.sass';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-menu {
  @include transition(width 0.3s ease, transform 0.2s ease);
  @include box-shadow(2px,0,10px,$border,0);
  background-color: $white;
  height: 100%;
  width: 250px;
  z-index: 100;
  .menu-list {
    .menu-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    a {
      &.primary-theme {
        border-left: 3px solid transparent;
        border-radius: 0 20px 20px 0;
        margin-right: 10px;
        padding: 10px 0 10px 15px;
        .icon {
          @include keyframes(fadeIn 1s forwards);
          color: $grey;
          font-size: 14px;
        }
        &:hover {
          background-color: $pastel;
        }
        &.is-active {
          border-color: $primary;
          background-color: $pastel;
          .icon {
            color: $primary;
          }
          .left-menu-tab {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }
  }
  @include mobile {
    @include translate(-70px,0);
  }
  @media screen and (max-width: 1650px) {
    width: 70px;
  }
}

.left-menu-tab {
  @include keyframes (fadeIn 1s forwards);
  color: $grey;
  display: none;
  font-size: 14px;
  @media screen and (min-width: 1651px) {
    display: block;
  }
}

.menu-info {
  padding: 15px 20px 40px 15px;
  p {
    @include keyframes(fadeIn 1s forwards);
    color: $grey;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.username {
  word-break: break-all;
  @media screen and (max-width: 1650px) {
    display: none;
  }
}

.right-content {
  @include transition(transform 0.3s ease);
  @include translate(250px,0);
  background-color: $pastel;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: calc(100% - 250px);
  .tabs {
    min-height: 36px;
  }
  @media screen and (max-width: 1650px) {
    @include translate(70px,0);
    width: calc(100% - 70px);
  }
  @include mobile {
    @include translate(0,0);
    width: 100%;
  }
}

.right-content-items {
  padding: 40px 60px;
  @include mobile {
    padding: 40px 20px;
  }
}

.circle-logo {
  background-image: url("/images/dh-assets/circle-logo/dh-circle-logo-primary-225x225.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
}

.profile-nav {
  @include box-shadow(0,3px,5px,$border,0);
  align-items: stretch;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
  @include mobile {
    padding: 0;
  }
}

.user-panel {
  @include mobile {
    display: flex;
  }
}

.hover-menu {
  @include box-shadow(3px,3px,12px,$border,0);
  background-color: $white;
  border-radius: $radius;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 11;
  &.is-active {
    display: block;
  }
}

.hover-menu-link {
  a {
    display: block;
    padding: 12px 8px;
    &:hover {
      background-color: $pastel;
    }
  }
}

.nav-item {
  &.is-toggle {
    padding: 10px 0;
  }
}

.user-button {
  padding: 10px 5px;
  position: relative;
}

.nav-button {
  border-radius: 100%;
  height: auto;
  padding: 5px;
  border-color: transparent;
  .icon {
    margin: 0 !important;
    font-size: 20px;
    color: $grey;
  }
  &:focus {
    @include box-shadow(0,0,4px,#5E9ED6,0);
    outline: none;
    border: 1px solid $blue !important;
  }
}

.nav-drop {
  @include box-shadow(3px,3px,12px,$border,0);
  background-color: $white;
  border-radius: 0 0 $radius $radius;
  position: absolute;
  top: 100%;
  z-index: 10;
  .menu-label {
    color: $primary;
    padding: 8px 10px;
  }
}

#notification-counter {
  background-color: $danger;
  border-radius: 100%;
  color: $white;
  font-size: 10px;
  height: 16px;
  line-height: 18px;
  position: absolute;
  right: -5px;
  top: -2px;
  width: 16px;
}

#announcement-dropdown-menu {
  right: -133px;
  width: 235px;
}

#contact-dropdown-menu {
  right: -87px;
  width: 350px;
  .control {
    padding: 8px;
  }
  textarea {
    @include box-shadow(0,0,0,$border,0);
    border-radius: $radius $radius 0 0;
    border: none;
  }
  @include mobile {
    right: -97px;
  }
}

#notification-dropdown-menu {
  right: -41px;
  width: 300px;
  .content {
    padding: 5px 12px;
  }
  @include mobile {
    right: -52px;
  }
}

#user-dropdown-menu {
  right: 10px;
  width: 200px;
  @include mobile {
    right: 0;
  }
}
