@import 'fonts_colors';

/********************************************************* BODY *********************************************************/
.landing {
  padding: 0;
}

#about_img {
  background-image: url('https://media.licdn.com/media//p/8/005/095/0e5/1e9d797.jpg');
  height: 500px;
}

#renter_faq {
  display: none;
}

#seller_faq {
  display: none;
}

#renter_tab {
  margin-right: 30px;
}

#faq_tabs {
  text-align: center;
  margin-bottom: 10px;
}

.faq_selection {
  box-sizing: border-box;
  color: $black-p;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  padding: 5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.faq_selection:hover {
  cursor: pointer;
}

.faq_selection.active {
  color: #FF8751;
  border: 1px solid #FF8751;
  font-weight: 400;
}

.faq_question {
  padding: 5px 5px 5px 0;
}

.faq_answer {
  margin-bottom: 10px;
}
