@import 'fonts_colors';

/****************** FORM ***************/
input[type="text"] {
  box-sizing: border-box;
  font: {
    color: $black-p;
    family: $roboto;
    size: 1.2rem;
    weight: 300;
  }
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input:focus {
  outline-color: $accent;
}

textarea {
  box-sizing: border-box;
  font: {
    color: $black-p;
    family: $roboto;
    size: 1.2rem;
    weight: 300;
  }
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

textarea:focus {
  outline-color: $accent;
}
/******************* MAIN *******************/

#main h2 {
  border-bottom: 1px solid $black-h;
}

#contact_form {
  margin-top: 30px;
  width: 100%;
}

#company_address {
  margin-top: 25px;
  padding: 20px;
  background-color: $gray-back;
}

.image_container {
  background-image: url('https://hd.unsplash.com/photo-1464245051818-30da1a636203');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  width: 100%;
}

.sm_icon {
  padding: 10px;
}

.sm_icon a {
  color: $black-h;
  font: {
    size: 1.3rem;
    weight: 300;
  }
}

#facebook_icon:hover {
  color: #3b5998;
}

#twitter_icon:hover {
  color: #00aced;
}

#linkedin_icon:hover {
  color: #0077B5;
}

#youtube_icon:hover {
  color: #cd201f;
}

.submit_button {
  float: right;
}
