@import 'vars';
@import 'mixins';

#background_image {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%);
  @include mobile {
    background-image: none !important;
    background-color: $grey-dark;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
  }
}

.listing-info {
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

.listing-info-wrapper {
  margin: 50px 0;
}

.listing-modal-content {
  background-color: $white;
  height: calc(100vh - 120px);
  overflow: auto;
  padding: 25px 25px 0;
  position: relative;
  width: 100%;
}

// Rental Summary Box
.rental-summary-section {
  padding: 25px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

// Fullcalendar custom styling
.fc-day-header {
  cursor: default;
  &.is-active {
    background-color: rgba(60,188,141,0.3);
    cursor: pointer;
  }
  &.is-disabled {
    background-color: $border;
  }
}

.fc-content {
  text-align: center;
}

.temp-cell {
  &:hover {
    background-color: rgba(60,188,141,0.3);
  }
}
