@import 'vars';
@import 'mixins';

.box {
  &.hover-effect {
    cursor: pointer;
    &:hover,
    &:focus {
      border-color: $black-secondary !important;
    }
  }
}

.step-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  span,
  a {
    margin-right: 10px;
  }
  &.has-border {
    border: 1px solid $border;
    border-radius: $radius;
  }
}

.provider-img {
  border-radius: $radius 0 0 $radius;
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 60px;
  width: 180px;
  min-width: 180px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  img {
    max-height: 48px;
    vertical-align: middle;
    width: 130px;
    margin: auto;
  }
}

.header {
  padding-bottom: 20px;
  border-bottom: 3px solid $border;
  cursor: pointer;
  &.is-disabled {
    @include unselectable;
    h2 {
      color: $black-disabled;
    }
  }
}

.img-wrapper {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
}

.card {
  &.is-checkout {
    width: 375px;
    .card-image {
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .card-footer {
      .button {
        border: 1px solid $black-disabled;
        &:hover,
        &:focus {
          border: 1px solid $black-secondary;
          background-color: transparent;
        }
      }
    }
  }
}

.control-flex {
  display: flex;
  justify-content: space-between;
  & + .control-flex {
    margin-top: 20px;
  }
}
