@import 'vars';
@import 'mixins';

.control-label {
  &.is-small {
    width: 40px;
  }
}

.control {
  & > .input {
    &.input-number {
      width: 100%;
    }
  }
}

.checkbox-wrapper {
  border: 2px solid $border;
  & > li {
    position: relative;
    &:not(:first-child) {
      border-top: 2px solid $border;
    }
  }
}

.box {
  li {
    padding-top: 10px;
    &:not(:first-child) {
      border-top: 1px solid $border;
    }
  }
}
