@import 'vars';
@import 'mixins';

#background_image {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%);
  @include mobile {
    background-image: none !important;
    background-color: $grey-dark;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
  }
}

.listing-info {
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

.listing-info-wrapper {
  padding: 50px 0 35px;
}

.listing-modal-content {
  padding: 25px;
  min-height: 850px;
  background-color: $white;
}
