@import 'vars';
@import 'mixins';

#top-wrapper {
  @include mobile {
    padding: 0 20px 40px;
  }
}

.circle-display {
  @include box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12));
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.bordered-display {
  border: 3px solid $primary;
  padding: 10px;
  border-radius: $radius;
}

#domain-display {
  color: $primary-light;
  padding: 0 12px;
}

#price-display {
  align-self: flex-end;
  background-color: $white;
  border-radius: $radius $radius 0 0;
  padding: 10px;
  width: 325px;
  @include mobile {
    align-self: center;
  }
}

#listing-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & > .content {
    align-self: center;
  }
  & > .card {
    align-self: flex-end;
  }
  @include mobile {
    padding-top: 70px;
  }
}

.listing-info {
  padding-bottom: 25px;
  border-bottom: 1px solid $border;
}

#checkout-card {
  margin-left: auto;
}

#description-card {
  margin-left: auto;
}
