@import 'vars';
@import 'mixins';

.listing-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  width: 100%;
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: 300px;
  }
}

#top-wrapper {
  @include mobile {
    padding: 0 20px 40px;
  }
  margin-bottom: 50px;
}

#domain-modules-column,
#domain-info-column,
#price-display-column {
  @include width-1215px-max {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

#price-display-column {
  @include width-1215px-max {
    margin-left: auto;
  }
}

#domain-display {
  color: $primary-light;
  padding: 0 12px;
}

#price-display {
  background-color: $white;
  border-radius: $radius $radius 0 0;
  padding: 10px;
  margin-left: auto;
  width: 325px;
  @include mobile {
    margin-right: auto;
  }
}

#unlisted-display {
  background-color: $white;
  border-radius: $radius $radius 0 0;
  padding: 10px;
  margin-left: auto;
  max-width: 325px;
  @include mobile {
    margin-right: auto;
  }
}

#trending-rental-image {
  background-image: url("");
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid $border;
  height: 250px;
  width: 100%;
}

#listing-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & > .content {
    align-self: center;
  }
  @include mobile {
    padding-top: 70px;
  }
}

.listing-info {
  padding-bottom: 25px;
  border-bottom: 1px solid $border;
}

.listing-module {
  padding: 25px 0;
}

.calendar-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .button {
    margin-bottom: 5px;
    margin-right: 5px;
    flex-grow: 1;
    &:last-child {
      margin-right: 0;
    }
  }
}

.img-wrapper {
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
}

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  .button {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  @include mobile {
    & > .tag {
      margin: 5px;
    }
  }
}

.flex-column-mobile {
  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.order-1-mobile {
  @include mobile {
    order: 1;
  }
}

.order-2-mobile {
  @include mobile {
    order: 2;
  }
}

#previous-listings-cards {
  display: flex;
  justify-content: space-around;
  .card {
    margin: 0;
    & + .card {
      margin-left: 15px;
    }
  }
}

#previous-listings-table {
  display: flex;
  flex-wrap: wrap;
  .previous-listing {
    border-radius: $radius;
    border: 1px solid $border;
    margin-bottom: 10px;
    padding: 20px;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover {
      border-color: $black-secondary;
    }
  }
  .previous-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

#checkout-card {
  margin-left: auto;
}

#description-card {
  margin-left: auto;
}
