@import 'vars';
@import 'mixins';

/*************************** REGISTER ***************************/
#message {
  margin: 10px 0 20px 0;
}

.logo-login {
  margin-bottom: 10px;
}

.control {
  &.has-icon {
    .input {
      &:focus + .fa-check {
        color: $success !important;
      }
    }
  }
}

.control {
  &.has-icon > .fa-warning {
    font-size: 21px !important;
    @include translate(-4px, 4px);
  }
}

.form {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 150px;
  width: 400px;
  &.include {
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
  }
  &.no-shadow {
    box-shadow: none;
    border: 1px solid $border
  }
  @include mobile {
    width: 90%;
    form {
      width: 100%;
    }
  }
}

.g-recaptcha > div {
  margin: auto;
  margin-bottom:15px;
  @include scale(1.19);
  @include mobile {
    @include scale(1);
  }
  @include mobile-360px {
    @include scale(0.85);
    margin-left: -25px;
  }
}

#accept, #resend, #home {
    display:none;
}
