@import 'vars';
@import 'mixins';

/*************************** REGISTER ***************************/

// signing up user, makes checks for good inputs
.control {
  &.has-icon {
    .input {
      &:focus + .fa-check {
        color: $primary !important;
      }
    }
  }
}

// fixes position of error icon for bad inputs
.control {
  &.has-icon > .fa-warning {
    font-size: 21px !important;
    @include translate(-4px, 4px);
  }
}

.account-form {
  @include box-shadow(0,3px,15px,$border,1px);
  background-color: #fff;
  border-radius: $radius;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 150px;
  width: 400px;
  @include mobile {
    width: 90%;
    form {
      width: 100%;
    }
  }
}

.g-recaptcha > div {
  margin: 15px auto;
}

#accept, #resend, #home {
    display:none;
}
