@import 'fonts_colors';
/*************************** REGISTER ***************************/
html {
  background-color: $gray-lightback;
}

#message {
  margin: 10px 0 20px 0;
}

.logo_login {
  margin-bottom: 10px;
}

.control {
  &.has-icon {
    .input {
      &:focus + .fa {
        color: #ed6c63 !important;
      }
    }
  }
}

.w3bbi_icon {
  box-sizing: border-box;
  color: #3CBC8D;
  font-family: 'Share Tech';
  font-size: 1.5em;
  font-weight: bold;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.w3bbi_icon:hover:not(.active) {
  color: #3CBC8D;
  cursor: pointer;
  opacity: 0.85;
}

.form {
  background-color: #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 80px;
  width: 400px;
}

.login_button {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
