@import 'vars';
@import 'mixins';
/******************** MISC*************************/
.right-arrow {
  &.active {
    @include translate(5px,0);
  }
}

/*********************** LANDING ************************/

#index-img {
  @include tablet {
    background-image: url('http://i.imgur.com/dG0Y78S.png');
  }
}

.title-p {
  width: 425px;
}

#beta-form-success {
  display: inline-flex;
  text-transform: uppercase;
}

/*********************** MAIN ************************/
