@import 'vars';
@import 'mixins';
/******************** MISC*************************/

.right-caret {
  color: #FF8751;
  @include transition(all 0.25s);
}

.right-caret.active {
  @include translate(5px,0);
}

/*********************** LANDING ************************/

#index-img {
  @include tablet {
    background-image: url('https://images.unsplash.com/photo-1417733403748-83bbc7c05140?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
  }
}

/*********************** MAIN ************************/
.step-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-box + .step-box {
  margin-top: 30px;
}

.step-text {
  margin-left: 10px;
  font-weight: 400;
}

.step-number {
  font-weight: 300;
  padding: 0 10px 10px 0;
  @include box-shadow(3px, 5px, 0, $primary);
}

.padding-left-10 {
  padding-left: 10px;
}

.main-link {
  font-size: 1.2rem;
}

#list-text {
  order: 2;
}

#list-img {
  order: 1;
}

#rent-text {
  order: 1;
}

#rent-img {
  order: 2;
}
