@import 'vars';
@import 'mixins';

.faq-section {
  padding-top: 70px;
}

.faq-question {
  font-weight: bold;
}

.faq-header {
  cursor: pointer;
  color: $primary;
  font-weight: bold;
  margin-bottom: 20px;
  &:hover {
    color: $primary-dark;
  }
}
