@import 'vars';
@import 'mixins';

.qa-wrapper {
  & + .qa-wrapper {
    margin-top: 25px;
  }
  p,
  a {
    font-size: $size-5;
    line-height: 1.4;
  }
  h3 + p {
    margin-top: 15px;
  }
}

.faq-section {
  & + .faq-section {
    margin-top: 40px;
  }
}

.faq-question {
  @include transition(all 0.25s ease);
  display: inline-flex;
  color: $text;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
}

.faq-header {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  &::before {
    background: $accent;
    @include transform(rotate(135deg));
    @include transition(all 0.25s ease);
    content: "";
    width: 2px;
    height: 18px;
    position: absolute;
    top: 6px;
    left: 13px;
  }
  &::after {
    background: $accent;
    @include transform(rotate(135deg));
    @include transition(all 0.25s ease);
    content: "";
    width: 18px;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 5px;
  }
  &.is-active {
    &::before {
      background: $primary;
      @include transform(rotate(90deg));
    }
    &::after {
      background: $primary;
      @include transform(rotate(90deg));
    }
  }
}
