@import 'vars';
@import 'mixins';

/*********************** LANDING ************************/

#index-img {
  @include tablet {
    background-image: url('/images/main/index_1.jpg');
  }
  @include mobile {
    background-color: $grey-dark;
  }
}

.title-p {
  font-size: $size-5;
  @include tablet {
    width: 550px;
    &.is-medium {
      width: 650px;
    }
  }
}

/*********************** MAIN ************************/
@-webkit-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#load1 {
  @include keyframes(opacity 1s);
}

#load2 {
  @include keyframes(opacity 2s);
}

#load3 {
  @include keyframes(opacity 3s);
}
