@import 'vars';
@import 'mixins';

/********************************************************* BODY *********************************************************/
#about-img {
  @include tablet {
    background-image: url('http://images.unsplash.com/photo-1470237340061-d75fe7c22197?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb');
  }
}

#renter-faq {
  display: none;
}

#seller-faq {
  display: none;
}

#renter-tab {
  margin-right: 30px;
}

#faq-tabs {
  text-align: center;
  margin-bottom: 10px;
}

.faq-selection {
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  padding: 5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.faq-selection:hover {
  cursor: pointer;
}

.faq-selection.active {
  color: #FF8751;
  border: 1px solid #FF8751;
  font-weight: 400;
}

.faq-question {
  padding: 5px 5px 5px 0;
}

.faq-answer {
  margin-bottom: 10px;
}
