@import 'vars';
@import 'mixins';

.qa-wrapper {
  & + .qa-wrapper {
    margin-top: -60px;
    padding-top: 75px;
  }
  p,
  a {
    line-height: 1.4;
  }
  h3 + p {
    margin-top: 15px;
  }
}

.faq-section {
  padding-top: 70px;
}

.faq-question {
  @include transition(all 0.25s ease);
  display: inline-flex;
  font-weight: bold;
  padding: 5px 0;
  position: relative;
}

.faq-header {
  position: relative;
  cursor: pointer;
  color: $primary;
  &:hover {
    color: $primary-dark;
  }
}
