@import 'bulma/bulma.sass';

/******************** FORMS/INPUT ******************/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/********************** UNIVERSAL ******************/
.logo-text {
  color: $primary !important;
  font: {
    family: 'Share Tech';
    size: 1.5rem;
    weight: bold;
  }
  &.is-large {
    font-size: 2.5rem;
  }
}

.is-fullheight {
  height: 100vh;
}

.clear-nav {
  padding-top: 60px;
}

.clear-nav-profile {
  padding-top: 68px;
}

.bottom-margin-25 {
  margin-bottom: 25px;
}

.landing-img {
  @include tablet {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  @include mobile {
    
  }
}

.img-wrapper {
  @include tablet {
    background-color: rgba(0,0,0,0.65);
    height: 100%;
    width: 100%;
  }
  @include mobile {

  }
}
/********************** LINEBREAK ******************/

#linebreak {
  border-bottom: 1px solid $grey-light;
  margin: 60px auto 60px auto;
  position: relative;
  width: 100%;
}

#linebreak2 {
  border-bottom: 1px solid $grey-light;
  position: relative;
  margin: 15px auto 25px auto;
  width: 100%;
}

#linebreak3 {
  border-bottom: 1px solid $grey-light;
  margin: 5px auto 5px auto;
  width: 50%;
}

/********************** MEDIA QUERIES****************/
@include mobile {

  .img-title {
    font-size: 2.7rem;
  }
  .img-subtitle {
    font-size: 1.2rem;
    text-align: left;
  }
  #landing-buttons {
    text-align: left;
  }
}
