/******************** RESET ****************/
// @import 'reset';
@import 'fonts_colors';
@import 'bulma/bulma.sass';

/******************** MISC ******************/


/******************** FORMS/INPUT ******************/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/********************** UNIVERSAL ******************/

body {
  font: {
    family: $roboto;
    size: 16px;
  }
  a {
    text-decoration: none;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  a:hover {
    cursor: pointer;
  }
}

html {
  background-color: #fff;
}

h1 {
  color: $black-h;
  font: {
    size: 2.5rem;
    weight: bold;
  }
  padding: 25px 0 25px 0;
}
h2 {
  color: $black-h;
  font: {
    size: 2rem;
    weight: 400;
  }
  padding: 25px 0 25px 0;
}
h3 {
  color: $black-h;
  display: inline-block;
  font-size: 1.2rem;
}
p {
  color: $black-p;
  line-height: 1.4;
  font: {
    size: 1.5rem;
    weight: 300;
  }
  text-align: justify;
  padding-bottom: 10px;
}

.orange_link {
  color: $accent;
  opacity: 0.9;
  &:hover {opacity:1.0;}
}

.white_link {
  color: $white;
  opacity: 0.9;
  &:hover {opacity:1.0;}
}

.black_link {
  color: $black-p;
  opacity: 0.9;
  &:hover {opacity:1.0;}
}

/********************** LINEBREAK ******************/

#linebreak {
  border-bottom: 1px solid $white-line;
  margin: 50px auto 50px auto;
  position: relative;
  width: 25%;
}

#linebreak3 {
  border-bottom: 1px solid $white-line;
  margin: 5px auto 5px auto;
  width: 50%;
}

/********************** BUTTONS *******************/

.submit_button {
  background-color: $primary;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.submit_button:focus {
  border: none;
  outline: none;
}

.submit_button:hover {
  cursor: pointer;
  opacity: 0.9;
}

#main_button {
  margin: 25px 0 25px 0;
  text-align: center;
}

#main_button a {
  display: inline-block;
  padding: 10px;
}

/********************** MAIN ****************/
#main {
  padding: 60px 0 60px 0;
  position: relative;
  min-height: 100%;
  width: 100%;
}

.section {
  background-color: #fff;
}

.image_wrapper {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image_text h1 {
  color: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0;
}
