@import 'vars';
@import 'mixins';

// profile card
.is-profile-card {
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 275px;
  }
}

// listing image delete button
.listing-img {
   .delete {
     border-radius: 0 $radius;
     position: absolute;
     right:0;
   }
}

// listing modules
.listing-module {
  padding: 10px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

// listing image size
.listing-img {
  margin: 0 auto;
  width: 250px;
  img {
    height: 250px;
    width: 250px;
  }
}

// card-footer-item form full width
.drop-form-file {
  width: 100%;
}

// listings and rentals page stuff
.verification-container {
  padding-left: 50px;
}

// category buttons
.category-selector {
  margin-right: 8px;
  margin-bottom: 8px
}

// table stuff
.table {
  @include tablet {
    min-width: 730px;
  }
  @include mobile {
    width: 100%;
  }
}

.account-form select {
  margin-right: 5px;
}

.td-status {
  width: 122px;
  padding-left: 10px !important;
}

.td-verify {
  padding-left: 10px !important;
}

.td-status-drop {
  padding-left: 1px !important;
}

.td-type {
  width: 80px;
}

.td-arrow {
  width: 10px;
}

.td-date {
  width: 160px;
}

.td-view {
  width: 80px;
}

.td-price-rate {
  white-space: nowrap;
  border-left: 1px solid $border;
  width: 75px;
  padding-right: 24px !important;
}

.td-price-rate-drop {
  padding-left: 8px !important;
  border-left: 1px solid $border;
  padding-right: 0 !important;
  width: 75px;
  min-width: 75px;
}

.td-price-type {
  width: 112px;
  padding-left: 10px !important;
}

.td-price-type-drop {
  padding-left: 1px !important;
  width: 112px;
}

.td-address {
  @include tablet {
    width: 275px;
    padding-left:0 !important
  }
  @include mobile {
    width: 150px;
  }
}

.td-edit {
  width: 80px;
  text-align:right;
}

.box-checked {
  margin-left: 2px;
}

.address-div-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include mobile {
    width: 150px;
  }
  @include tablet {
    width: 255px;
    margin-top: 1px;
    margin-left: 9px !important;
  }
}

.selected-row {
  background-color: $primary-lighter;
  &:hover {
    background-color: $primary-dark;
  }
}
