@import 'vars';
@import 'mixins';

// listing image delete button
.listing-img {
   .delete {
     border-radius: 0 $radius;
     position: absolute;
     right:0;
   }
}

// listings and rentals page stuff
.verification-container {
  padding-left: 50px;
}

// table stuff
.account-form select {
  margin-right: 5px;
}

.td-status {
  width: 122px;
}

.td-type {
  width: 77px;
}

.td-arrow {
  width: 10px;
}

.td-date {
  width: 160px;
}

.td-view {
  width: 10px;
}

.address-div-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 600px;
}
