@import 'vars';
@import 'mixins';
@import 'balloon';
@import 'bulma/sass/components/media.sass';

.media {
  @include transition(border 0.25s ease);
  border-radius: $radius-small;
  border: 1px solid transparent;
  padding: 10px;
  &:hover,
  &:focus {
    border-color: $border;
    cursor: pointer;
  }
}

.box-checked {
    margin-left:2px;
}

.foobar {
  display: flex;
  margin-top: 5px;
  @include mobile {
    flex-direction: column;
  }
}

.foo {
  display: flex;
  align-items: center;
  &:first-child {
    margin-right: 10px;
    @include mobile {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  .icon {
    margin-right: 5px;
  }
}

#filter-menu {
  @include mobile {
    @include transition(left 0.2s ease);
    @include box-shadow(0,3px,15px,$border,0);
    background-color: $white;
    height: calc(100% + 2px);
    width: 300px;
    left: -300%;
    position: absolute;
    z-index: 10;
  }
  &.is-active {
    left: -20px;
    top: 9px;
  }
  .delete {
    position: absolute;
    right: 10px;
  }
}

.filter-menu-toggle {
  cursor: pointer;
  &.hamburger {
    height: 30px;
    width: 30px;
  }
}

.black-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: $black-secondary;
}

.current-domain-name {
  word-break: break-all;
}

#table-body {
  border-radius: $radius;
  max-height: 420px;
  white-space: nowrap;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,.12);
}

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  .button,
  .select {
    flex-grow: 1;
    margin-bottom: 5px;
  }
  select {
    width: 100%;
  }
}

.table-row {
  align-items: center;
  border: 1px solid $border;
  border-width: 1px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  &:last-child {
    border-bottom-width: 0px;
  }
  p {
    word-break: break-all;
    margin-left: 30px;
  }
  &:hover {
    background-color: $grey-lighter;
    cursor: pointer;
  }
  &.is-active {
    background-color: $grey-dark;
    p {color: $white;}
  }
}

.first-row {
    border-top-width: 0px;
}

.checkbox-form {
  width: 24px;
  height: 24px;
  label::before {
    top: 0 !important;
    left: 0 !important;
  }
  label {
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
}

.tip {
  display: block;
  margin: 5px 0;
  color: $text-light;
}

// listing image
.on-img {
  top: 0;
  right: 0;
  position: absolute !important;
}

.listing-img {
  width: 96px;
  height: auto;
}

// listing modules
.listing-module {
  padding: 10px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

// category buttons
.category-control {
  display: flex;
  flex-wrap: wrap;
  .button {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.category-selector {
  margin-right: 10px;
  margin-bottom: 10px;
}

// file upload button
.drop-form-file {
  width: 100%;
}

.input-number {
  width: 100px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
	cursor: pointer;
  & > .fa {
    margin-right: 5px;
  }
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 3px;
}
