@import 'vars';
@import 'mixins';

// For messaging

#messenger_form {
  width: 100%;
  max-height: 650px;
  overflow-y: scroll;
}

#msg_receiver_input {
  @include box-shadow(0, 2px, 3px, rgba(17, 17, 17, 0.1), 0);
  border-radius: 0;
  border: none;
  color: $primary;
  padding: 15px 8px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  width: 100%;
}

#msg_text_input {
  margin-top: 10px;
}

.chat_wrapper {
  width: 100%;
}

.message_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  border-radius: 5px;
  word-wrap: break-word;
}

.chat_message {
  max-width: 350px;
  padding: 10px;
  border-radius: 5px;
  @include mobile {
    max-width: 150px;
  }
}

.sender_them {
  & > .chat_message {
    background-color: $grey-light;
    color: $text;
  }
}

.sender_me {
  & > .chat_message {
    background-color: $primary;
    color: $white;
  }
}

.chat_timestamp {
  color: $grey;
}

.account-form select {
  margin-right: 5px;
}

.td-status {
  width: 116px;
}

.td-arrow {
  width: 10px;
}

.td-date {
  width: 160px;
}

.td-view {
  width: 10px;
}
