@import 'vars';
@import 'mixins';

.panel-list a {
  @include transition(all 0s);
}

.quick_links a {
  display: block;
  margin: 10px;
}

.button_wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
}

.caption {
  font-size: 1.5rem;
}
