@import 'vars';
@import 'mixins';

// listing image
.listing-img {
   .delete {
     border-radius: 0 $radius;
     position: absolute;
     right:0;
   }
}

// listing modules
.listing-module {
  padding: 10px 0;
  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

// file upload button form full width
.drop-form-file {
  width: 100%;
}

// category buttons
.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.category-selector {
  margin-right: 10px;
  margin-bottom: 10px;
}

// misc
#linebreak {
  height: 100%;
  width: 1px;
  background-color: $border;
  margin: 0 auto;
  @include mobile {
    width: 100%;
    height: 1px;
    margin: auto 0;
  }
}
// file upload button
.input-number {
  width: 100px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
	cursor: pointer;
  & > .fa {
    margin-right: 5px;
  }
}

.input-file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 3px;
}

// table stuff
.table {
  @include tablet {
    min-width: 730px;
  }
  @include mobile {
    width: 100%;
  }
}

.row-disp {
  height: 48px;
}

.td-status {
  width: 122px;
  padding-left: 10px !important;
}

.td-verify {
  padding-left: 10px !important;
}

.td-status-drop {
  padding-left: 1px !important;
  width: 122px;
}

.td-type {
  width: 80px;
}

.td-arrow {
  width: 10px;
}

.td-date {
  width: 160px;
}

.td-buttons {
  width: 160px;
}

.td-price-rate {
  white-space: nowrap;
  border-left: 1px solid $border;
  width: 75px;
  text-align: right !important;
}

.td-price-type {
  width: 75px;
}

.td-address {
  @include tablet {
    width: 275px;
    padding-left:0 !important
  }
  @include mobile {
    width: 150px;
  }
}

.box-checked {
  margin-left: 2px;
}

.address-div-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @include mobile {
    width: 150px;
  }
  @include tablet {
    width: 255px;
    margin-top: 1px;
    margin-left: 9px !important;
  }
}

.selected-row {
  background-color: $primary-lighter;
  &:hover {
    background-color: $primary-dark;
  }
}
