.box
  @extend .block
  background-color: $white
  border-radius: $radius-large
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
  display: block
  padding: 20px
  &.no-shadow
    @include box-shadow(0,0,0,$black,0)
    border: 1px solid $border
  &.radius-right-only
    border-radius: 0 $radius-large $radius-large 0
  &.is-accent
    background-color: $accent

.box-flip
  @extend .block
  background-color: $white
  border-radius: $radius-large
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
  display: flex
  flex-direction: column
  min-height: 325px
  max-height: 325px
  padding: 20px

.box-footer
  display: flex
  justify-content: center
  flex-grow: 1
  & > .button
    align-self: flex-end

a.box
  width: 300px
  &:focus
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px $accent
  &:active
    box-shadow: inset 0 1px 2px rgba($black, 0.2), 0 0 0 1px $accent
