.box
  @extend .block
  +box-shadow(0,8px,20px,$grey-light,0)
  background-color: $white
  border-radius: $radius-large
  display: block
  padding: 20px
  &.no-shadow
    +box-shadow(0,0,0,$black,0)
    border: 1px solid $border
  &.radius-right-only
    border-radius: 0 $radius-large $radius-large 0
  &.no-border-radius
    border-radius: 0
  &.is-domain-listing
    +transition(all 0.25s ease)
    padding: 15px 20px 10px
    border: 1px solid $border
    &:not(:last-child)
      margin-bottom: 15px
    &:hover,
    &:active,
    &:focus
      cursor: pointer
      +box-shadow(0,5px,10px,$black-disabled,0)
