=button-small
  border-radius: $radius-small
  font-size: 14px
  height: 24px
  line-height: 13px
  padding-left: 6px
  padding-right: 6px
=button-medium
  font-size: 18px
  height: 40px
  padding-left: 14px
  padding-right: 14px
=button-large
  font-size: 22px
  height: 48px
  padding-left: 20px
  padding-right: 20px

.button
  @extend .unselectable
  +box-shadow(3px,3px,5px,$border,0)
  +control
  +transition(all 0.25s)
  justify-content: center
  text-align: center
  white-space: nowrap
  strong
    color: inherit
  small
    display: block
    font-size: $size-small
    line-height: 1
    margin-top: 5px
  .icon,
  .tag
    &:first-child
      margin-left: -2px
      margin-right: 4px
    &:last-child
      margin-left: 4px
      margin-right: -2px
  &:hover,
  &:focus
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2)
  &:hover,
  &:focus,
  &.is-active
    outline: none
    border-color: $control-hover
  &:active
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.14),0 2px 10px 0 rgba(0,0,0,.12),0 4px 5px -1px rgba(0,0,0,.2)
  // Modifiers
  &.no-shadow
    +box-shadow(0,0,0,$black,0)

  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      border-color: transparent
      color: $color-invert
      &:hover,
      &:focus,
      &.is-active
        background-color: darken($color, 10%)
        border-color: transparent
        color: $color-invert
      &:active
        border-color: transparent
      &.is-inverted
        background-color: $color-invert
        color: $color
        &:hover,
        &:active,
        &:focus
          background-color: darken($color-invert, 10%)
      &.is-loading
        &:after
          border-color: transparent transparent $color-invert $color-invert !important
      &.is-outlined
        background-color: transparent
        border-color: $color
        color: $color
        &:hover,
        &:active,
        &:focus,
        &.is-active
          background-color: $color
          border-color: $color
          color: $color-invert
        &.is-active
          +transition(all 0.25s ease)
      &.is-outlined-no-fill
        background-color: transparent
        border-color: $color
        color: $color
        &:hover,
        &:active,
        &:focus,
        &.is-active

        &.is-active
          +transition(all 0.25s ease)
      &.is-blank
        background-color: transparent
        border-color: transparent
        color: $color
        &:hover,
        &:active,
        &:focus
          border-color: $color

  // Sizes
  &.is-small
    +button-small
  &.is-medium
    +button-medium
  &.is-large
    +button-large
  // Modifiers
  &[disabled],
  &.is-disabled
    opacity: 0.5
  &.is-fullwidth
    display: flex
    width: 100%
  &.is-loading
    +transition(none)
    color: transparent !important
    pointer-events: none
    &:after
      @extend .loader
      +center(16px)
      position: absolute !important

// html5 button transition
button
  +transition(all 0.25s)
