.content
  @extend .block
  li + li
    margin-top: 0.25em
  // Block
  p
    color: $text
    line-height: 1.4
    font-size: 1.2rem
    font-weight: 300
    &:first-child
      margin-top: 10px
    &:not(:last-child)
      margin-bottom: 10px
  .is-accent
    color: $accent

.is-footer
  p
    color: $grey
    line-height: 1
    font-size: 1rem
    margin-top: 10px
  +mobile
    text-align: center


  blockquote,
  p,
  ol,
  ul
    &:not(:last-child)
      margin-bottom: 1em
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
  .is-accent
    color: $accent
    // color: $text-strong
    // font-weight: 400
    // line-height: 1.125
    // margin-bottom: 20px
  h1,
  h2,
  h3
    &:not(:first-child)
      // margin-top: 40px
  blockquote
    background-color: $background
    border-left: 5px solid $border
    padding: 1.5em
  h1

  h2

  h3

  h4

  h5

  h6

  ol
    list-style: decimal outside
    margin-left: 2em
    margin-right: 2em
    margin-top: 1em
  ul
    list-style: none
    margin-left: 2em
    margin-right: 2em
    margin-top: 1em
    ul
      list-style-type: circle
      margin-top: 0.5em
      ul
        list-style-type: square
  // Sizes
  &.is-medium
    font-size: $size-5
    code
      font-size: $size-6
  &.is-large
    font-size: $size-4
    code
      font-size: $size-5
