.notification
  @extend .block
  @include box-shadows(0 5px 15px 0 rgba(0,0,0,.14),0 5px 15px -2px rgba(0,0,0,.2),0 5px 15px 0 rgba(0,0,0,.12))
  +clearfix
  border-radius: $radius
  padding: 16px 20px
  position: relative
  &.is-popup
    +transition(top 0.5s ease, width 0s ease)
    +translate(-50%,0)
    box-sizing: border-box
    left: 50%
    position: fixed
    top: -100%
    width: 300px
    z-index: 100
    &.is-active
      top: 70px
      +mobile
        border-radius: 0
        top: 0
        width: 100%
  .delete
    border-radius: 0 $radius
    float: right
    margin: -16px -20px 0 20px
  .subtitle,
  .title
    color: inherit
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
