.notification
  @extend .block
  +clearfix
  background-color: $border
  border-radius: $radius
  padding: 16px 20px
  position: relative
  .delete
    border-radius: 0 $radius
    float: right
    margin: -16px -20px 0 20px
  .subtitle,
  .title
    color: inherit
  // Half-width for inside span text with centered text
  &.has-text-centered
    & > .half-width
      width: 75%
      margin: 0 auto
  // With button inside
  &.has-button
    span
      line-height: 32px
    .button
      margin-left: 60px

  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
