.table
  background-color: #fff
  color: $text
  margin-bottom: 20px
  width: 100%
  &.has-shadow
    +box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12))
  &.no-borders
    td,
    th
      border-bottom: none
  td
    padding: 8px 6px
  td,
  th
    vertical-align: middle
    border-bottom: 1px solid $border
    &.is-danger
      color: $danger
      font-weight: 400
    &.is-success
      color: $success
      font-weight: 400
      text-transform: uppercase
    &.row-drop-td
      padding: 0
      border: none
    & > .div-drop
      background-color: $white
      border-bottom: 1px solid $border
      padding: 10px
      cursor: auto

    // Modifiers
    &.is-icon
      padding: 5px
      text-align: center
      white-space: nowrap
      width: 1%
      .fa
        +fa(21px, 24px)
      &.is-link
        padding: 0
        & > a
          padding: 5px
    &.is-link
      padding: 0
      & > a
        display: block
        padding: 8px 10px
        &:hover
          background-color: $link
          color: $link-invert
    &.is-narrow
      white-space: nowrap
      width: 1%
  th
    border-width: 0 0 1px
    border: 1px solid $border
    color: $text
    font-weight: bold
    padding: 12px 6px
  thead
    border-bottom: 2px solid $border
    &.has-shadow
      border: none
      +box-shadow(0,2px,3px,$border,0)
    th
      border: none
      &:hover
        cursor: pointer
  tbody
    tr
      &:last-child
        td,
        th
          border-bottom-width: 0
      &:hover
        cursor: pointer
      &.is-active
        background-color: #efefef
      &.no-hover-effect
        &:hover
          background-color: transparent
          cursor: default
      // a little tab appears on the left side for hovering over tr
      &.row-disp
        &.verified-row
          &::after
            background: $primary
            position: absolute
            content: ""
            height: 0
            width: 0
          &:hover
            &::after
              background: $primary
              position: absolute
              content: ""
              height: 48px
              width: 4px
              left: 19px
              +mobile
                height: 36px
                left: 0
          // fix for dropdown on mobile
          &.is-expanded
            &:hover
              &::after
                +mobile
                  height: 48px

        &.unverified-row
          &::after
            background: $danger
            position: absolute
            content: ""
            height: 48px
            width: 4px
            left: 19px
            +mobile
              height: 43px
              left: 0

  tfoot
    td,
    th
      border-width: 2px 0 0
      color: $text-light
  // Modifiers
  &.is-bordered
    td,
    th
      border-width: 1px
    tr
      &:last-child
        td,
        th
          border-bottom-width: 1px
  &.is-narrow
    td,
    th
      padding: 5px 10px
      // Modifiers
      &.is-icon
        padding: 2px
        &.is-link
          padding: 0
          & > a
            padding: 2px
      &.is-link
        padding: 0
        & > a
          padding: 5px 10px
  &.is-striped
    tbody
      tr
        &:hover
          background-color: darken($background, 2%)
        &:nth-child(2n)
          background-color: $background
          &:hover
            background-color: darken($background, 2%)

.caption
  font-size: 1.5rem
  padding: 10px 0 10px 0
