<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
  <style>
    body {
      font-family:'Ubuntu';
    }
    .wrapper {
      align-items: flex-end;
      bottom: 20px;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 20px;
    }
    .action-button {
      background-color: #3cbc8d;
      border-radius: 3px;
      border: 1px solid #3cbc8d;
      color: #fff;
      margin-bottom: 20px;
      padding: 6px 8px;
      text-decoration: none;
      transition: all 0.25s ease;
    }
    .action-button:hover {
      background-color: #fff;
      color: #3cbc8d;
      border-color: #3cbc8d;
    }
    .domahub-button {
      background-color:#3cbc8d;
      border-radius:100%;
      box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 -2px 5px -3px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12);
      box-sizing: border-box;
      color: #fff;
      font-size: 24px;
      line-height: 18px;
      padding: 16px;
      height: 50px;
      width: 50px;
      text-decoration: none;
      transition: all 0.25s ease;
      z-index: 66;
    }
    .domahub-button:hover,
    .domahub-button:focus {
      background-color: #fff;
      color: #3cbc8d;
    }
  </style>
</head>
<body>

<div class="wrapper">
  <a class="action-button" href="">View Listing</a>
  <a class="action-button" href="">Add Time</a>
  <a class="action-button" href="">Delete Rental</a>
  <a class="domahub-button" href="https://www.domahub.com">
    D
  </a>
</div>

</body>
</html>
