<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Verify your DomaHub account!</title>
    <style type="text/css" >
      #bodyTable {
        font-family: Verdana, sans-serif;
      }
      #emailBody {
        padding: 20px;
      }
      #emailFooter {
        background-color:#eee;padding:20px 30px;
      }
      a {
        cursor:pointer;text-decoration:none;
      }
      a:hover {
        opacity:0.8;
      }
    </style>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="font-family:Verdana,sans-serif;background-color:#FFF;">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                                <tr>
                                    <td align="center" valign="top">
                                        <a href="https://www.domahub.com" style="border:0;margin:0;padding:0" rel="noreferrer" target="_blank" title="DomaHub">
                                          <img alt height="72" width="72" alt="Logo" style="border:0;margin:0;padding:0" src="https://domahub.com/images/dh-assets/circle-logo/dh-circle-logo-primary-500x500.png" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                  <td align="center" style="border:0;margin:0;padding-bottom:10px;font-size:24px;font-weight:700;line-height:2">
                                    Welcome to DomaHub!
                                  </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" id="emailBody">
                                <tr>
                                  <td align="center" valign="top" colspan="5" style="font-size:18px;padding-bottom:20px;">
                                    Hello <%= username %>,
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" colspan="5" style="line-height:1.5;padding-bottom:20px;">
                                    You're just one step away from creating awesome landing pages for your domains!
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" colspan="5" style="line-height:1.5;padding-bottom:20px;">
                                    Please click on the button below to verify your email address.
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top" colspan="5" style="line-height:1.5;padding:10px 0 30px;">
                                    <a style="padding:10px 20px;box-sizing:border-box;border-radius:5px;background-color:#3cbc8d;color:#fff;" href="https://domahub.com/verify/<%= token %>">Verify My Account</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top" colspan="5" style="line-height:1.5;padding-bottom:20px;">
                                    The above link will expire in one hour.
                                  </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter" style="background-color:#eee;padding:20px 30px;">
                                <tr>
                                    <td align="center" valign="top" style="line-height:1.5;">
                                        If the above link has expired, please go to the <a href="https://www.domahub.com/login">log in</a> page,
                                        and log in with your credentials. You will be able to resend the verification email.
                                    </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top" style="line-height:1.5;">
                                    Powered by <a href="https://www.domahub.com">DomaHub.com</a>. Have questions? <a href="https://www.domahub.com/contact">Contact us</a>!
                                  </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
