<!DOCTYPE html>
<html>
  <head>
    <title>w3bbi - Log In</title>
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
    <link rel="stylesheet" href="/css/signup.css" type="text/css" />
    <link rel="stylesheet" href="./font-awesome-4.6.3/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link href='https://fonts.googleapis.com/css?family=Share+Tech|Roboto+Condensed:400,300|Source+Sans+Pro:400,300' rel='stylesheet' type='text/css' />
  </head>

  <body>

    <div id="login_form">

      <!-- any messages from the server -->
      <!-- <div id="message">
        <% if (typeof message != "undefined") {%>
          <%= message %>
        <% } else {%>

        <% } %>
      </div> -->

      <form id="target" action="#" method="post">
      <fieldset class="w3bbi_icon">
        <a href="/">w3bbi</a>
      </fieldset>
      <fieldset class="credentials">
        <label class="email">Email</label>
        <input id="username" name="email" autofocus name="email" placeholder="Email" type="text" autocomplete="on">
        <label class="password">Password</label>
        <input id="password" name="password" placeholder="Password" type="password">
      </fieldset>
      <fieldset class="login_field">
        <button id="submit" value="Log In" type="submit">Log In</button>
      </fieldset>

<div id="linebreak"></div>

      <fieldset class="login_triggers">
        <div class="trigger_link">
          <p class="forgot">Forgot password?</p>
        </div>
        <div id="register_link" class="trigger_link">
          <p class="register">Register now</p>
        </div>
      </fieldset>
      </form>
    </div>

    <!-- <div id="register_form">

      any messages from the server
      <div id="message">
        <% if (typeof message != "undefined") {%>
          <%= message %>
        <% } else {%>

        <% } %>
      </div>

      <form id="target" action="/signup" method="post">
        <fieldset class="w3bbi_icon">
          <a href="/">w3bbi</a>
        </fieldset>
        <fieldset class="email_name">
          <input autofocus name="email" placeholder="Email" type="text" id="email_input">
          <input name="fullname" placeholder="Full Name" type="text" id="fullname_input">
        </fieldset>
        <fieldset class="password_check">
          <input name="password" placeholder="Password" type="password" id="pw_input">
          <input name="verify_pw" placeholder="Confirm password" type="password" id="verify_input">
        </fieldset>
        <fieldset class="login_field">
          <!-- <input id="submit" class="submit_button" type="submit" value="Create account"> -->
          <!-- <button id="submit" value="Create account" type="submit">Create account</button>
        </fieldset>

<div id="linebreak"></div>

        <fieldset class="login_triggers">
          <div class="trigger_link">
            <p id="login_link">Already have an account?</p>
          </div>
        </fieldset>

      </form>
    </div>  -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/routes/client_signup.js" type="text/javascript"></script>
  <script src="js/app.js"></script>

  </body>

</html>
