.menu-nav
  a
    display: block
    padding: 5px 10px

.menu-list
  a
    color: $text
    display: block
    padding: 8px 10px
    &:hover
      background-color: $pastel
    // Modifiers
    &.is-active
      background-color: $primary
      color: $primary-invert
      p
        color: $white
        font-weight: 700
  li
    ul
      margin: 10px 10px 10px 40px
      padding-left: 10px

.menu-item
  &.has-icon
    a
      display: flex
      align-items: center
      .icon
        margin-right: 15px

.menu-label
  color: $text
  font-size: $size-small
  font-weight: 700
  letter-spacing: 1px
  margin-bottom: 5px
  margin-top: 10px
  padding: 5px 0

.menu
  &.is-fixed
    position: fixed
