.modal-background
  +overlay
  +keyframes(fade-in 0.2s forwards)
  background-color: rgba($black, 0.8)

.modal-content
  +keyframes(pop 0.1s forwards)
  background-color: $white
  border-radius: $radius-large
  max-height: calc(100vh - 120px)
  padding: 20px
  position: relative
  width: 100%
  // Responsiveness
  &.is-small
    width: 400px
  &.is-login
    width: 400px

.modal-close
  @extend .unselectable
  +transition(all 0.2s ease)
  -moz-appearance: none
  -webkit-appearance: none
  background-color: $black-disabled
  border-radius: 290486px
  border: 2px solid $white
  cursor: pointer
  display: inline-block
  font-size: $size-normal
  height: 30px
  outline: none
  position: fixed
  right: 20px
  top: 20px
  vertical-align: top
  width: 30px
  &::before,
  &:after
    background-color: $white
    content: ""
    display: block
    left: 50%
    position: absolute
    top: 50%
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
    transform-origin: center center
  &::before
    height: 2px
    width: 50%
  &:after
    height: 50%
    width: 2px
  &:hover,
  &:focus,
  &:active
    background-color: $black-secondary

.modal
  +overlay
  align-items: center
  display: none
  justify-content: center
  overflow: hidden
  position: fixed
  z-index: 1986
  // Modifiers
  &.is-active
    display: flex

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes pop
  0%
    opacity: 0
    +scale(0.7)
  100%
    opacity: 1
