@import "../../checkbox"

.nav-toggle
  @extend .hamburger
  // Responsiveness
  +tablet
    display: none !important

.circle-logo
  background-image: url("/images/dh-assets/circle-logo/dh-circle-logo-primary-225x225.png")
  background-repeat: no-repeat
  background-size: cover
  width: 30px !important
  height: 30px !important
  &.is-white
    background-image: url("/images/dh-assets/circle-logo/dh-circle-logo-white.png")
    margin: 0 auto

.flat-logo
  background-image: url("/images/dh-assets/flat-logo/dh-flat-logo-sprite.png")
  background-repeat: no-repeat
  width: 131px !important
  height: 32px !important
  &.is-primary
    background-position: 0 0
  &.is-white
    background-position: 0 -32px

.nav-link
  padding: 5px
  &:hover,
  &:active,
  &:focus,
  &.is-active
    opacity: 0.7
  +mobile
    &:hover,
    &:focus
      +translate(6px,0)

.nav-item
  align-items: center
  display: flex
  justify-content: flex-end
  padding: 10px
  position: relative
  white-space: nowrap
  img
    max-height: 30px
  .button + .button
    margin-left: 10px

.nav-item a,
a.nav-item
  +mobile
    width: 100%

// Containers
.nav-menu
  // Responsiveness
  +mobile
    +box-shadow(0,3px,15px,$border,1px)
    background-color: $white
    display: none
    position: absolute
    right: 0
    top: 100%
    .nav-item
      padding: 10px
      width: 100%
    &.is-active
      display: flex
      flex-direction: column
      align-items: center

.nav-left
  align-items: stretch
  display: flex
  flex-basis: 1
  flex-grow: 0
  justify-content: flex-start
  overflow: hidden
  overflow-x: auto
  white-space: nowrap
  // +until($desktop)
  //   margin-left: 20px
  +mobile
    margin-left: 0

.nav-center
  align-items: stretch
  display: flex
  flex-basis: 0
  flex-grow: 1
  justify-content: flex-start

.nav-right
  // Responsiveness
  +tablet
    align-items: stretch
    display: flex
    flex-basis: 1
    flex-grow: 0
    justify-content: flex-end

// Main container
.nav
  +transition(box-shadow 0.25s)
  align-items: stretch
  background-color: transparent
  display: flex
  min-height: $nav-height
  padding: 0 20px
  position: fixed
  width: 100%
  z-index: 99
  &.is-white
    background-color: $white
  &.is-primary
    background-color: $primary
  & > .container
    align-items: stretch
    display: flex
    min-height: $nav-height
    width: 100%
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        +desktop
          padding-left: 0
    & > .nav-right
      & > .nav-item:nth-child(2):not(.is-tab)
        +mobile
          padding-right: 10px
  .container > &
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        padding-left: 0
    & > .nav-right
      & > .nav-item:last-child:not(.is-tab)
        padding-right: 0
  // Modifiers
  &.has-shadow
    +box-shadow(0,3px,5px,$border,0)
  &.is-fluid
    position: relative
    padding: 0
  // Responsiveness
  +mobile
    padding: 0
  +touch
    & > .container,
    .container > &
      & > .nav-left
        & > .nav-item.is-brand:first-child
          padding-left: 20px

// profile button styling
#profile-button
  width: 110px
  &.is-active
    border-radius: 3px 3px 0px 0px
  +mobile
    display: none

// login button
.login-modal
  width: auto

// modal login box
#login-dropdown
  background-color: $white
  padding: 20px
  border-radius: 3px

// profile dropdown menu
#profile-dropdown
  +box-shadow(-2px,9px,15px,$border,1px)
  +transition(all 0.3s ease-in-out)
  background-color: $white
  position: absolute
  right: 10px
  text-align: left
  top: 46px
  width: 200px


.profile-dropdown-menu
  border-radius: 0 0 3px 3px
  li
    box-sizing: border-box
    &:not(:first-child)
      border-top: 1px solid $border
    &:first-child
      padding-top: 14px
    &:last-child
      padding-bottom: 14px
      a
        font-weight: 500
  a
    width: 100%
    display: inline-block
    padding: 15px
    box-sizing: border-box
    span + span
      margin-left: 5px
    &:hover,
    &:active,
    &:focus
      background-color: $grey-lighter
