.tabs
  @extend .block
  @extend .unselectable
  +overflow-touch
  align-items: stretch
  display: flex
  font-size: $size-normal
  justify-content: space-between
  overflow: hidden
  overflow-x: auto
  white-space: nowrap
  a
    align-items: center
    color: $grey
    display: flex
    justify-content: center
    padding: 12px
    position: relative
    vertical-align: top
    &::before
      +transition(height 0.2s ease)
      content: ''
      background: $border
      border-radius: 3px
      position: absolute
      top: calc(100% - 1px)
      left: 0
      height: 0px
      width: 100%
    &:hover,
    &:focus
      outline: none
      &::before
        height: 3px
  li
    display: block
    &:not(:last-child)
      margin-right: 10px
    &.is-active
      a
        color: $text
        &::before
          background: $primary
          height: 3px
  ul
    align-items: center
    border-bottom: 1px solid $border
    display: flex
    flex-grow: 1
    flex-shrink: 0
    justify-content: flex-start
    +mobile-456px
      justify-content: space-around
    &.is-left
      padding-right: 10px
    &.is-center
      flex: none
      justify-content: center
      padding-left: 10px
      padding-right: 10px
    &.is-right
      justify-content: flex-end
      padding-left: 10px
  .icon
    &:first-child
      margin-right: 8px
    &:last-child
      margin-left: 8px
  // Alignment
  &.is-centered
    ul
      justify-content: center
  &.is-right
    ul
      justify-content: flex-end
  // Styles
  &.is-primary
    li
      &.is-active
        a
          border-bottom-color: $primary
  &.is-boxed
    ul
      border-bottom: none
      flex-shrink: 1
    a
      border: none
      padding: 8px 10px
      &:not(.button)
        opacity: 0.6
      &:hover,
      &:active,
      &:focus
        opacity: 1
        outline: none
    li
      &.is-active
        a
          color: $primary
          opacity: 1
  &.is-fullwidth
    li
      flex-grow: 1
  // Sizes
  &.is-small
    font-size: $size-small
    a
      padding: 2px 8px
    &.is-boxed
      a
        padding-bottom: 1px
        padding-top: 1px
  &.is-medium
    font-size: $size-medium
    &.is-boxed
      a
        padding-bottom: 9px
        padding-top: 9px
  &.is-large
    font-size: $size-large
    a
      padding: 14px 20px
    &.is-boxed
      a
        padding-bottom: 13px
        padding-top: 13px
