/*************************** FOOTER ***************************/

#footer {
  background-color: #2a2a2a;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  width: 100%;
}

.footer_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  padding-top: 2.0rem;
}

.footer_item {
  display: inline-block;
}

.footer_item a {
  margin: 10px;
  font-size: 0.9rem;
}

.company_text {
  color: #888888;
  font-size: 0.8rem;
  padding: 1.0rem 0 1.0rem 0;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .footer_item a {
    font-size: 0.7rem;
  }
}
