/*************************** FOOTER ***************************/

#footer {
  bottom:0;
  font-family: 'Roboto Condensed', sans-serif;
  height: 225px;
  left:0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

.footer_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  padding-top: 125px;
}

.footer_item {
  display: inline-block;
  padding: 10px;
}

.footer_item a {
  font-size: 0.9rem;
}

.company_text {
  background-color: #f8f8f9;
  border-radius: 10px;
  color: #2a2a2a;
  display: inline-block;
  padding: 10px;
  font-size: 0.8rem;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
  .footer_item a {
    font-size: 0.7rem;
  }
  .company_text {
    font-size: 0.6rem;
  }
}
