/*************************** FOOTER ***************************/

.footer-item {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.footer-item {
  font-size: 1rem;
}

.social-icon {
  color: #eee;
  -webkit-transition: none !important;
  transition-delay: none !important;
}

.icon {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#facebook-icon:hover {
  color: #3b5998; }

#twitter-icon:hover {
  color: #00aced; }

#linkedin-icon:hover {
  color: #0077B5; }

#youtube-icon:hover {
  color: #cd201f; }

.company-text {
  box-sizing: border-box;
  color: #eee !important;
  display: inline-block;
  font-size: 0.9rem !important;
}

@media screen and (max-width: 769px) {
  .footer-item {
    font-size: 0.8rem;
  }

  .company-text {
    font-size: 0.7rem;
  }
}
