/********************************* NAVBAR ***********************************/
#searchbar-form {
  width: 100%; }
  #searchbar-form > .control {
    width: 100%; }
  #searchbar-form input {
    font-family: "Share Tech", "Lucida Console", monospace;
    border: none;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 black 0;
    -moz-box-shadow: 0 0 0 black 0;
    box-shadow: 0 0 0 black 0;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.87);
    width: 100%; }

.nav-link {
  padding: 5px;
  color: rgba(0, 0, 0, 0.87); }
  .nav-link.is-white {
    color: white; }
  .nav-link:hover {
    color: #3cbc8d;
    -webkit-box-shadow: 0 -3px 0 #3cbc8d inset;
    -moz-box-shadow: 0 -3px 0 #3cbc8d inset;
    box-shadow: 0 -3px 0 #3cbc8d inset; }
    @media screen and (max-width: 768px) {
      .nav-link:hover {
        -webkit-box-shadow: 0 0 0 black 0;
        -moz-box-shadow: 0 0 0 black 0;
        box-shadow: 0 0 0 black 0;
        align-self: flex-end; } }
  .nav-link.is-active:hover {
    color: white;
    -webkit-box-shadow: 0 -3px 0 white inset;
    -moz-box-shadow: 0 -3px 0 white inset;
    box-shadow: 0 -3px 0 white inset; }

/************************************* LOGIN DROPDOWN *************************/
#login-dropdown {
  background-color: white;
  padding: 25px; }

#remember-checkbox {
  vertical-align: middle; }

#profile-button {
  width: 110px; }
  #profile-button.is-active {
    border-radius: 3px 3px 0px 0px; }

/************************************* PROFILE DROPDOWN *************************/
#profile-dropdown {
  background-color: white;
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 110px;
  top: 46px; }

.logout {
  color: #3cbc8d !important; }
