#linebreak2 {
  border-bottom: 1px solid #dddddd;
  position: relative;
  margin: 15px auto 25px auto;
  width: 100%;
}

/********************************* NAVBAR ***********************************/

#navbar {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 60px;
  margin: auto;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 1;
}

#navbar.past-landing {
  background-color: #2a2a2a;
}

#navbar.past-middle {
  background-color: rgba(0,0,0,0.65);
}

.w3bbi_icon a {
  box-sizing: border-box;
  color: #3CBC8D;
  font-family: 'Share Tech';
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 15px 0 15px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.w3bbi_icon a:hover:not(.active) {
  color: #3CBC8D;
  cursor: pointer;
  opacity: 0.85;
}

.search_icon {
  box-sizing: border-box;
  color: #2a2a2a;
  padding: 0 10px 0 10px;
}

.search_icon.past-landing {
  color: #eeeeee;
}

.search_icon.past-middle {
  color: #aaaaaa;
}

#searchbar {
  width: 25%;
  order: 1;
}

#searchbar input {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: #525255;
  font-family: 'Share Tech';
  font-size: 1.0em;
  outline: none;
  width: 100%;
}

#list {
  order: 2;
}

#rent {
  order: 3;
}

#login_modal {
  margin: 0 10px 0 10px;
  order: 4;
}

.nav-button {
  box-sizing: border-box;
  padding: 22px 12px 22px 12px;
  margin: 0 10px 0 10px;
}

.nav_link {
  color: #484848;
  padding: 5px;
}

.nav_link:hover {
  -moz-box-shadow: inset 0 -3px 0 #3CBC8D;
  -webkit-box-shadow: inset 0 -3px 0 #3CBC8D;
  box-shadow: inset 0 -3px 0 #3CBC8D;
  color: #3CBC8D !important;
  cursor: pointer;
}

/************************************* LOGIN DROPDOWN *************************/

#login_dropdown {
  background-color: #fff;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 25px;
  height: 350px;
}

#drop_login {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

#message {
  padding-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 769px) {

}
