/********************************* NAVBAR ***********************************/
.w3bbi-icon a {
  color: #3CBC8D;
  font-family: 'Share Tech';
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.9; }

.w3bbi-icon a:hover {
  color: #3CBC8D;
  opacity: 1.0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

#searchbar-form input {
  font-family: "Share Tech", "Lucida Console", monospace; }

.nav-link {
  padding: 5px; }

/************************************* LOGIN DROPDOWN *************************/
#login-dropdown {
  background-color: #fff;
  padding: 25px; }

#remember-checkbox {
  vertical-align: middle; }

/************************************* PROFILE DROPDOWN *************************/
#profile-dropdown {
  background-color: #fff;
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%; }

.nav-item-special {
  padding: 15px 10px 15px 10px; }

.logout {
  color: #3CBC8D !important; }

/************************************* CSS KEYFRAME TO SHAKE ELEMENT *************************/
  
.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
      transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
      transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
      transform: translate3d(3px, 0, 0);
  }
}
