<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - About Us</title>
  <link rel="stylesheet" type="text/css" href="/css/about.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <div id="main">
    <div class="container">
      <!-- <div class="image_container">
        <div class="image_wrapper">
          <div class="image_text">
            <h1>Changing the landscape</h1>
          </div>
        </div>
      </div> -->
    <div class="column-50 is-centered text-center">
      <h1>Who we are</h1>
    </div>
    <div id="about_sect" class="column-40 is-centered">
      <div class="container">
        <p>
          w3bbi is a platform for domain name rentals, connecting
          buyers and sellers in an organized, online marketplace.
          The traditional buy-and-sell domain name marketplace is expensive
          and inaccessible for many buyers. w3bbi replaces convention, providing
          a low-cost option for our renters as well as a new revenue stream for
          our sellers.
        </p>
        <!-- <p>
          Traditionally, domain names sit on some marketplace platform (often advertising
          extraordinary buy-out prices), until someday, somebody decides to buy it. In this
          model, the domain name does nothing for its owner until it is bought. On the other hand,
          w3bbi's rental platform allows owners to generate previously unattainable revenue by
          turning the domain name into a long-term asset.
        </p>
        <p>
          Today, domain names can get ridiculously expensive, thereby restricting
          access to the common buyer. To counter this, w3bbi provides inexpensive rental
          options for even the world's most coveted websites.
        </p> -->
      </div>
    </div>
    <div class="column-50 is-centered text-center">
      <h1>FAQ</h1>
    </div>
    <div id="faq_sect" class="column-40 is-centered">
      <div id="faq_tabs" class="container">
          <a id="renter_tab" class="faq_selection">Renters</a>
          <a id="seller_tab" class="faq_selection">Sellers</a>
      </div>
      <div id="renter_faq" class="container">
        <h3 class="faq_question">1. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>
        <h3 class="faq_question">2. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>

        <h3 class="faq_question">3. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>
        <h3 class="faq_question">4. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>
        <h3 class="faq_question">5. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>
        <h3 class="faq_question">6. Lorem ipsum dolor sit amet?</h3>
        <p class="faq_answer">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ullamcorper eros, tempor interdum libero. Maecenas sed ligula tortor.
          In vitae nibh enim. Aliquam non nulla id.
        </p>
      </div>
      <div id="seller_faq" class="container">
        <h3 class="faq_question">1. How much does a tortoise cost?</h3>
        <p class="faq_answer">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.        </p>
        <h3 class="faq_question">2. How much does a tortoise cost?</h3>
        <p class="faq_answer">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.        </p>
        <h3 class="faq_question">3. How much does a tortoise cost?</h3>
        <p class="faq_answer">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.        </p>
        <h3 class="faq_question">4. How much does a tortoise cost?</h3>
        <p class="faq_answer">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.        </p>
        <h3 class="faq_question">5. How much does a tortoise cost?</h3>
        <p class="faq_answer">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.        </p>
      </div>
      </div>
    </div>

  </div>
  <%- include("templates/footer"); %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/jquery/jquery.leanModal.min.js" type="text/javascript"></script>
  <script src="/js/routes/login_dropdown.js" type="text/javascript"></script>
  <script src="/js/routes/about_tabs.js" type="text/javascript"></script>
</body>

</html>
