<!DOCTYPE html>
<html>
  <head>
    <title>domahub - Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("templates/head_links"); %>
  </head>

  <body>

    <div id="login-form" class="form">
      <form id="target" action="/login" method="post">
        <div class="has-text-centered logo-login">
          <a class="w3bbi-icon" href="/">domahubub</a>
        </div>
        <div id="message" class="has-text-centered">
          <% if (typeof message != "undefined") {%>
            <%= message %>
          <% } else {%>
              Please log in below
          <% } %>
        </div>
        <label class="label">Email</label>
        <p class="control">
          <input id="email" name="email" class="input is-medium" type="email">
        </p>
        <label class="label">Password</label>
        <p class="control">
          <input id="password" name="password" class="input is-medium" type="password">
        </p>
        <p class="control">
          <button id="login-button" class="login-button button is-primary is-medium is-fullwidth">
            Log In
          </button>
        </p>
        <div class="control is-grouped">
          <p class="control is-expanded">
            <label class="checkbox">
              <input id="remember-checkbox" type="checkbox">
              Remember me
            </label>
          </p>
          <p class="control">
              <a class="forgot orange-link" href="/forgot">Forgot password?</a>
          </p>
        </div>

    <div id="linebreak2"></div>

      <p class="control">
        <p class="has-text-centered">
          Don't have an account?
        </p>
        <div class="has-text-centered">
          <a class="signup orange-link" href="/signup">Sign Up Now</a>
        </div>
      </p>
      </form>
    </div>

  <script src="/js/routes/login_logic.js" type="text/javascript"></script>

  </body>

</html>
