<!DOCTYPE html>
<html>
  <head>
    <title>w3bbi - Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("templates/head_links"); %>
  </head>

  <body>

    <div id="login_form" class="form">
      <form id="target" action="/login" method="post">
        <div class="has-text-centered logo_login">
          <a class="w3bbi_icon" href="/">w3bbi</a>
        </div>
        <div id="message" class="has-text-centered">
          <% if (typeof message != "undefined") {%>
            <%= message %>
          <% } else {%>
              Please log in below
          <% } %>
        </div>
        <p class="control has-icon">
          <input id="email" name="email" class="input is-medium" type="email" placeholder="Email">
          <i class="fa fa-envelope"></i>
        </p>
        <p class="control has-icon">
          <input id="password" name="password" class="input is-medium" type="password" placeholder="Password">
          <i class="fa fa-lock"></i>
        </p>
        <p class="control">
          <button id="login_button" class="login_button button is-primary is-medium is-fullwidth">
            Log In
          </button>
        </p>
        <div class="control is-grouped">
          <p class="control is-expanded">
            <label class="checkbox">
              <input type="checkbox">
              Remember me
            </label>
          </p>
          <p class="control">
              <a class="forgot orange_link" href="/forgot">Forgot password?</a>
          </p>
        </div>

    <div id="linebreak2"></div>

      <p class="control">
        <p class="has-text-centered">
          Don't have an account?
        </p>
        <div class="has-text-centered">
          <a class="signup orange_link" href="/signup">Sign Up Now</a>
        </div>
      </p>
      </form>
    </div>

  <script src="/js/routes/login_logic.js" type="text/javascript"></script>

  </body>

</html>
