<!DOCTYPE html>
<html>
  <head>
    <title>w3bbi - Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <%- include("templates/head_links"); %>
  </head>

  <body>

    <div id="login_form">

      <!-- any messages from the server -->
      <div id="message">
        <% if (typeof message != "undefined") {%>
          <%= message %>
        <% } else {%>

        <% } %>
      </div>

      <form id="target" action="/login" method="post">
      <fieldset class="w3bbi_login_icon">
        <a href="/">w3bbi</a>
      </fieldset>
      <fieldset class="credentials">
        <label class="email">Email</label>
        <input id="email_input" name="email" autofocus name="email" placeholder="Email" type="text" autocomplete="on">
        <label class="password">Password</label>
        <input id="pw_input" name="password" placeholder="Password" type="password">
      </fieldset>
      <fieldset class="login_field">
        <button id="submit" value="Log In" type="submit">Log In</button>
      </fieldset>

<div id="linebreak2"></div>

      <fieldset class="login_triggers">
        <div class="trigger_link">
          <a id="forgot_link" href="/forgot_password">Forgot password?</a>
        </div>
        <div class="trigger_link">
          <a id="register_link" href="/signup">Register now</a>
        </div>
      </fieldset>
      </form>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  </body>

</html>
