<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Renters</title>
  <link rel="stylesheet" type="text/css" href="/css/main_renters.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="hero is-primary gradient-right-left is-small clear-nav">
    <div class="hero-body">
      <div class="container">
        <div class="column has-text-right">
          <p class="title flavor-title is-normal">
            A domain isn't just a name, <br />
            it's your playground.
          </p>
          <h2 class="subtitle flavor-subtitle">
            Explore the possibilities with us
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">

        </div>
        <div class="column is-half">
          <div class="content has-text-right">
            <p>
              Let's face it. Getting the perfect domain name
              is impossible without paying up the wall for one.
              We're working hard to change that. But what are you
              going to do with all these affordable rental domains?
              Let us share some ideas!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/mail.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Send online cards and invitations</h3>
              <p class="is-blacklight">
                Give your next e-card or e-invitation a personalized
                domain name.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>

          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/showchart.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Create unique marketing opportunities</h3>
              <p class="is-blacklight">
                Rent a new domain name for your next marketing campaign,
                new product release, or big company announcement.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/business.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Start your new business</h3>
              <p class="is-blacklight">
                A domain rental is the perfect, inexpensive way
                to brand your new business. Buy-out prices are
                pre-negotiated so there's no need to worry down
                the road.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/redirect.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Redirect your favorite web content</h3>
              <p class="is-blacklight">
                You can redirect almost anything on the web - an image,
                a GIF, and even another webpage - to your domain name rental.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/briefcase.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Stand out professionally</h3>
              <p class="is-blacklight">
                Spice up your business presentations, slides, proposals,
                or even your personal resume with a unique domain name.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/drivetraffic.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3>Drive traffic to your site</h3>
              <p class="is-blacklight">
                Don't be held down by one name. Use multiple domain names
                to convey your brand identity by redirecting them to your main site.
              </p>
            </div>
            <div class="box-footer">
              <a class="button is-primary is-outlined">
                <span class="icon">
                  <i class="fa fa-angle-double-down"></i>
                </span>
                <span>See Example</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
