<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Careers</title>
  <link rel="stylesheet" type="text/css" href="/css/main_careers.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section id="careers-img" class="hero is-primary is-medium landing-img clear-nav">
    <div class="img-wrapper">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Every journey begins with one step
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered">
          <ul>
            <li id="-tab" class="tab is-active"><a>Our Culture</a></li>
            <li id="-tab" class="tab"><a>Current Openings</a></li>
            <li id="-tab" class="tab"><a>Benefits</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section class="section min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-3 has-text-centered">
          <div class="content">
            <h2>Careers</h2>
            <p>
              DomaHub is not currently hiring. <br />Please come back for
              possible opportunities in the near future!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
