<!DOCTYPE html>
<html>
  <head>
    <title>DomaHub - Sellers</title>
    <link rel="stylesheet" type="text/css" href="./css/main_sellers.css" />
    <%- include("templates/head_links"); %>
  </head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="hero is-accent gradient-left-right is-small clear-nav">
    <div class="hero-body">
      <div class="container">
        <div class="column">
          <p class="title flavor-title is-normal">
            Don't just let your domains sit, <br />
            let them work for you.
          </p>
          <h2 class="subtitle flavor-subtitle">
            Generate revenue by listing with us
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h2>How much could you make with DomaHub?</h2>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="label">Number of Domains</label>
                <p class="control">
                  <input class="input" type="number" placeholder="Enter a number"/>
                </p>
              </div>
              <div class="level-item">
                <label class="label">Time Period</label>
                <p class="control">
                  <span class="select">
                    <select>
                      <option value="720">Hourly</option>
                      <option value="30">Daily</option>
                      <option value="4">Weekly</option>
                      <option value="1">Monthly</option>
                      <option value=".0833">Yearly</option>
                    </select>
                  </span>
                </p>
              </div>
              <div class="level-item">
                <label class="label">Rate</label>
                <p class="control">
                  <input class="input" type="number" placeholder="Enter a number"/>
                </p>
              </div>
              <div class="level-item box is-accent has-text-centered">
                <div class="content">
                  <h2 class="is-white">&#36 0</h2>
                  <p class="is-white-light">
                    Per Month!
                  </p>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>

  </body>
</html>
