<!DOCTYPE html>
<html>

<head>
  <title>Terms of Service - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_tos.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="section is-medium clear-nav">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
          <aside class="menu">
            <p class="menu-label">
              Navigation
            </p>
            <ul class="menu-list">
              <li><a class="is-active" tabindex="8" href="#">Header 1</a></li>
              <li><a href="#" tabindex="9">Header 2</a></li>
              <li><a href="#" tabindex="10">Header 3</a></li>
              <li><a href="#" tabindex="11">Header 4</a></li>
              <li><a href="#" tabindex="12">Header 5</a></li>
              <li><a href="#" tabindex="13">Header 6</a></li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <div class="content">
            <h1 class="title is-3 is-normal">Terms of Service</h1>
            <p class="is-danger">
              Some kind of warning text regarding country of residence
              as it pertains to the following terms.
            </p>
          </div>
          <div class="content">
            <h2 class="title is-4 is-normal">1. Lorem</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="content">
            <h2 class="title is-4 is-normal">2. Ipsum</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="content">
            <h2 class="title is-4 is-normal">3. Dolor</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="content">
            <h2 class="title is-4 is-normal">4. Sit</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="content">
            <h2 class="title is-4 is-normal">5. Amet</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
