<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Contact Us</title>
  <link rel="stylesheet" type="text/css" href="/css/main_contact.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section id="about-img" class="hero is-primary is-medium landing-img clear-nav">
    <div class="hero-body flex-vert-center">
      <div class="container has-text-centered">
        <h1 class="img-title">
          Let us work with you
        </h1>
      </div>
    </div>
    <div class="hero-foot">
      <!-- <nav class="tabs is-medium is-centered">
        <ul>
          <li id="-tab" class="tab is-active"><a>Our Culture</a></li>
          <li id="-tab" class="tab"><a>Current Openings</a></li>
          <li id="-tab" class="tab"><a></a></li>
        </ul>
      </nav> -->
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-3 has-text-centered">
          <div class="content">
            <h1>Page Under Construction</h1>
            <h2>Contact Us</h2>
            <p>
              w3bbi currently does not have any contact information.
              Please have patience and understanding as we continue to build.
              We will update with an email address shortly!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
