<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Privacy Policy</title>
  <link rel="stylesheet" type="text/css" href="/css/main_privacy.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="section min-height clear-nav">
    <div class="container">
      <div class="columns">
        <div class="column clear-nav">
          PRIVACY
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
