<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Get Started</title>
  <link rel="stylesheet" type="text/css" href="/css/main_getstarted.css" />
  <%- include("templates/head_links"); %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
  <%# <script src="/js/survey.bootstrap.min.js"></script>%>
  <link href="/css/survey.css" type="text/css" rel="stylesheet" />
  <script src="/js/survey.min.js"></script>
  <script src="/js/routes/main_getstarted.js"></script>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <div id="main">

      <div id= "surveyContainer" ></div>

  </div>
  <%- include("templates/footer"); %>
</body>

</html>
