<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>
  <section id="index-img" class="hero is-large landing-img">
    <div class="img-wrapper">
      <div class="hero-head"></div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-white">
            Let domains work for you.
          </h1>
          <h2 class="subtitle is-white">
            List and rent domain names with DomaHub, the leading
            marketplace for domain name transactions.
          </h2>
          <div class="hero-buttons">
            <a class="button is-primary is-large">Get Started</a>
          </div>
        </div>
      </div>
      <div class="hero-foot"></div>
    </div>
  </section>

  <section class="hero is-carousel is-light">
    <div class="hero-body">
      <div class="container">
        <span class="icon is-large carousel-icon left">
          <i class="fa fa-angle-left"></i>
        </span>
          <div class="carousel-wrapper">
            <div class="carousel-control">
              <article class="carousel-item media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="/images/lib/emojione/1f913.svg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      DomaHub has officially launched! Enjoy 10% off all rentals
                      from now until XX/XX/2016! Browse domain listings
                      <a class="is-underlined" href="/listings" title="Listings">here</a>.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="carousel-control">
              <article class="carousel-item media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="/images/lib/emojione/1f4bb.svg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      Want to connect with us? Feel free to
                      <a class="is-underlined" href="/contact" title="Contact Us">contact us</a>.
                      Also, come see what's happening at Domahub by visiting our
                      <a class="is-underlined" href="/blog" title="Blog">blog</a>.
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="carousel-control">
              <article class="carousel-item media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="/images/lib/emojione/2764.svg">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      If a domain name is not listed on DomaHub, simply use our
                      tool (located on every listing's page) to request it.
                      The DomaHub team will make sure that it gets listed.
                    </p>
                  </div>
                </div>
              </article>

            </div>
          </div>
        <span class="icon is-large carousel-icon right">
          <i class="fa fa-angle-right"></i>
        </span>
      </div>
    </div>
  </section>

  <section class="hero is-medium">
      <div class="hero-head"></div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2 is-normal">
            The new-age marketplace
          </h1>
          <h2 class="subtitle is-4">
            DomaHub is a simple, accessible, and user-friendly platform
            for both domain name owners and potential renters.
          </h2>
        </div>
      </div>
      <div class="hero-foot"></div>
  </section>

  <section class="hero is-light is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column">
            Make the most of your assets.
          </div>
          <div class="column">
            Earn steady revenue.
          </div>
          <div class="column">
            Rent domain names for the short-term.
          </div>
          <div class="column">
            Advertise directly with us.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h2>Choose from millions of great domains</h2>
            <p>
              Use our online system to <a class="orange-link" href="/listings">browse</a>
              all domain name listings. Once you find a domain you like, rent it securely
              using Stripe&trade; payment.
            </p>
          </div>
          <a class="button is-large is-primary" href="/listings" title="Browse Listings">
            Browse Listings
          </a>
        </div>

        <div class="column">
          <figure class="image is-3by2">
            <img src="https://placehold.it/480x320" />
          </figure>
        </div>
      </div>

      <div id="linebreak"></div>

      <div class="columns">
        <div class="column">
          <figure class="image is-3by2">
            <img src="https://placehold.it/480x320" />
          </figure>
        </div>
        <div class="column">
          <div class="content">
            <h2>Start listing your domains immediately!</h2>
            <p>
              Listing a website is quick and easy. Just
              <a class="orange-link" href="/signup">sign up</a> for an account
              with us and follow the instructions on how to connect your domains.
            </p>
          </div>
          <a class="button is-large is-primary" href="/create" title="Create Listings">
            Create a Listing
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-primary is-small">
      <div class="hero-head"></div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2 is-normal">
            Join our newsletter!
          </h1>

            <p class="control has-addons has-addons-centered">
              <input class="input is-large is-fullwidth" type="email" placeholder="Enter your email!"/>
              <a class="button is-info is-large">Submit</a>
            </p>

        </div>
      </div>
      <div class="hero-foot"></div>
  </section>

    <%- include("templates/footer"); %>
    <script type="text/javascript" src="/js/lib/slick.min.js"></script>
    <script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
    <script src="/js/routes/main_index_logic.js" type="text/javascript"></script>
  </body>
</html>
