<!DOCTYPE html>
<html>
  <head>
    <title>DomaHub - Sellers</title>
    <link rel="stylesheet" type="text/css" href="./css/main_sellers.css" />
    <%- include("templates/head_links"); %>
  </head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="hero is-accent gradient-left-right is-small clear-nav">
    <div class="hero-body">
      <div class="container">
        <div class="column">
          <p class="title flavor-title is-normal">
            Don't just let your domains sit, <br />
            let them work for you.
          </p>
          <h2 class="subtitle flavor-subtitle">
            Generate revenue by listing with us
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <h2>How much could you make with DomaHub?</h2>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <label class="label">Number of Domains</label>
                <p class="control">
                  <input class="input" type="number" placeholder="Enter a number"/>
                </p>
              </div>
              <div class="level-item">
                <label class="label">Time Period</label>
                <p class="control">
                  <span class="select">
                    <select>
                      <option>Hourly</option>
                      <option>Daily</option>
                      <option>Weekly</option>
                      <option>Monthly</option>
                      <option>Yearly</option>
                    </select>
                  </span>
                </p>
              </div>
              <div class="level-item">
                <label class="label">Rate</label>
                <p class="control">
                  <input class="input" type="number" placeholder="Enter a number"/>
                </p>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">

            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>

  </body>
</html>
