<!DOCTYPE html>
<html>

<head>
  <title>domahub - Terms of Service</title>
  <link rel="stylesheet" type="text/css" href="/css/main_tos.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <div id="main">

    <div class="container">
      <div class="column-50 is-centered text-center">
        <h1>Terms of Service</h1>
      </div>
      <div class="column-40 is-centered text-center">
        <p>Work in Progress</p>
      </div>
    </div>

  </div>
  <%- include("templates/footer"); %>
</body>

</html>
