<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_getstartedtest.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="section flex-column-justify-center is-fullheight">
    <div class="container flex-justify-center">
      <div class="column">
        <div class="content bottom-margin-25 has-text-centered">
          <h1 class="is-accent">What can we help you with?</h1>
          <p>
            Please select one of the options below:
          </p>
        </div>
      </div>
    </div>
    <div class="container flex-justify-center">
      <div class="columns">
        <div class="column">
          <a class="box">
            <div class="content has-text-centered">
              <h2>I want to rent a domain</h2>
            </div>
          </a>
        </div>
        <div class="column">
          <a class="box">
            <div class="content has-text-centered">
              <h2>I want to list my domain(s)</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
