<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - About Us</title>
  <link rel="stylesheet" type="text/css" href="/css/main_about.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section id="about-img" class="hero is-primary is-medium clear-nav landing-img">
    <div class="img-wrapper">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-normal">
            From the heart of New York City
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered">
          <ul>
            <li class="tab is-active"><a href="/about">About Us</a></li>
            <li class="tab"><a href="/mission">Our Mission</a></li>
            <li class="tab"><a href="/press">Press</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-3 is-normal">
              Changing the traditional domain marketplace
            </h1>
            <h2 class="subtitle is-blacklight is-5">
              This is what we are all about.
            </h2>
            <p>
              Founded in 2016, DomaHub is a platform for domain name rentals.
              It's a marketplace designed for quick, fluid transactions powered
              by efficient, powerful features. Our listings are full-page
              advertisements that have no hidden costs and provide incredible
              flexibility as well as usability for both owners and renters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <p class="heading">Founded</p>
              <p class="title is-4">2016</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Headquarters</p>
              <p class="title is-4">NYC</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Domains Rented</p>
              <p class="title is-4">4 Million&#43</p>
            </div>
            <div class="level-item has-text-centered">
              <p class="heading">Active Users</p>
              <p class="title is-4">356,083</p>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section> -->

  <%- include("templates/footer"); %>

</body>

</html>
