<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_getstartedtest.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="section clear-nav">
    <div class="container">
      <div class="column is-half is-offset-3">
        <article class="message is-primary">
          <div class="message-body has-text-centered">
            <h1>What can we help you with?</h1>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content has-text-centered">
              <h2>I want to rent a domain</h2>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content has-text-centered">
              <h2>I want to list my domain(s)</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
