<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Renters</title>
  <link rel="stylesheet" type="text/css" href="/css/main_renters.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="hero is-primary is-bold is-small clear-nav">
    <div class="hero-body">
      <div class="container">
        <div class="column">
          <p class="title flavor-title is-normal">
            A domain isn't just a name, <br />
            it's your playground.
          </p>
          <h2 class="subtitle flavor-subtitle">
            Explore the possibilities with us
          </h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <p>
              Let's face it. Getting the perfect domain name
              is impossible without paying up the wall for one.
              We're working hard to change that. But what are you
              going to do with all these affordable rental domains?
              Let us share some ideas!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/mail.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Send online cards and invitations</h3>
            <p class="is-light">
              Give your next e-card or e-invitation a personalized
              domain name.
            </p>
            <a class="button is-accent is-inverted" href="">See example</a>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/redirect.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Redirect your favorite web content</h3>
            <p class="is-light">
              You can redirect almost anything on the web - an image,
              a something, and even another webpage - to your domain name rental.
            </p>
            <a class="button is-accent is-inverted" href="">See example</a>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/business.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Start your new business</h3>
            <p class="is-light">

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/mail.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Send online cards and invitations</h3>
            <p class="is-light">

            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/redirect.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Redirect your favorite web content</h3>
            <p class="is-light">

            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64">
            <img src="/images/lib/material/business.svg" />
          </figure>
          <div class="content has-text-centered">
            <h3>Start your new business</h3>
            <p class="is-light">

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer"); %>
</body>

</html>
