<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>
  <section class="hero is-large is-primary clear-nav">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title title-index is-normal">
          Domains working for you, on your schedule
        </h1>
        <h2 class="subtitle is-white-light">
          DomaHub is the one-stop marketplace for domain name rentals.
        </h2>
        <div class="hero-buttons">
          <a id="get-started" class="button is-primary is-inverted is-large" href='/getstarted'>Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-light is-carousel">
    <div class="hero-body">
      <div class="container">
          <div class="carousel-wrapper">
            <div class="carousel-control">
              <div class="carousel-item">
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <span class="tag is-primary is-medium">NEWS</span>
                    </div>
                    <div class="level-item">
                      <div class="content">
                        <p>
                          DomaHub has officially launched! Browse <a class="orange-link" href="/listings">listings</a> now!
                        </p>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="carousel-control">
              <div class="carousel-item">
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <span class="tag is-accent is-medium">PROMO</span>
                    </div>
                    <div class="level-item">
                      <div class="content">
                        <p>
                          Use promo code DOMA2016 at checkout for 5&#37 off!
                        </p>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="carousel-control">
              <div class="carousel-item">
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <span class="tag is-info is-medium">BLOG</span>
                    </div>
                    <div class="level-item">
                      <div class="content">
                        <p>
                          Read about our humble beginnings at our <a class="orange-link" href="https://medium.com/@domahub">blog</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>


  <section class="hero is-header">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-3 is-normal">
          A Brand New Marketplace
        </h1>
        <h2 class="subtitle is-5">
          DomaHub is simple, accessible, and user-friendly.
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <figure class="image is-64x64 bottom-margin-25">
            <img src="/images/lib/material/money-off.svg" alt="free">
          </figure>
          <div class="content has-text-centered">
            <h3>Completely Free</h3>
            <p class="is-light">
              Just <a class="orange-link" href="/signup">create an account</a> and start browsing or listing!
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 bottom-margin-25">
            <img src="/images/lib/material/calendar.svg" alt="calendar">
          </figure>
          <div class="content has-text-centered">
            <h3>Flexible Schedules</h3>
            <p class="is-light">
              Rentals are tailored to your preferences and needs.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 bottom-margin-25">
            <img src="/images/lib/material/payment.svg" alt="payment">
          </figure>
          <div class="content has-text-centered">
            <h3>Secure Payments</h3>
            <p class="is-light">
              All transactions are powered by
              <a href="https://www.stripe.com" target="_blank" rel="author" title="Stripe">
              <img src="/images/companies/stripe-blue.svg" class="stripe-logo" alt="stripe" width="48" height="24"/></a>
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="hero is-light is-header">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-3 is-normal">
          Getting started is easy
        </h1>
        <h2 class="subtitle is-5">
          Just follow these simple steps
        </h2>
      </div>
    </div>
  </section>

  <section class="section is-medium is-light">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <h3 class="heading">ONE</h3>
            <p class="title">
              Create a DomaHub <a class="orange-link" href="/signup">account</a>.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <h3 class="heading">TWO</h3>
            <p class="title">
              Authorize <a href="/authorizestripe" class="orange-link" target="_blank" title="Stripe"> Stripe</a> payments.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <h3 class="heading">THREE</h3>
            <p class="title">
              Browse <a class="orange-link" href="/listings">listings</a> or
              <a class="orange-link" href="/listing/create">create</a> one yourself.
            </p>
          </div>
        </div>
          <!-- <div class="content">
            <h3>
              1. Create a DomaHub <a class="orange-link" href="/signup">account</a>.
            </h3>
          </div>
          <div class="content">
            <h2>
              2. Authorize <a href="/authorizestripe" target="_blank" title="Stripe">
              <img src="/images/companies/stripe-blue.svg" class="stripe-logo" alt="stripe" width="48" height="24"/></a>
               payments.
            </h2>
          </div>
          <div class="content">
          <h2>
            3. Browse <a class="orange-link" href="/listings">listings</a> or
            <a class="orange-link" href="/listing/create">create</a> one yourself.
          </h2>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h2 class="title is-3">
          Sign up for our email promotions
        </h2>
        <p class="control has-addons has-addons-centered">
          <input class="input is-medium is-fullwidth" type="email" placeholder="Enter your email!"/>
          <a class="button is-primary is-medium">Submit</a>
        </p>
      </div>
    </div>
  </section>

    <%- include("templates/footer"); %>
    <script type="text/javascript" src="/js/lib/slick.min.js"></script>
    <script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
    <script src="/js/routes/main_index_logic.js" type="text/javascript"></script>
  </body>
</html>
