<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Get Started</title>
  <link rel="stylesheet" type="text/css" href="/css/main_getstarted.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <div id="main">

      <div>lol</div>

  </div>
  <%- include("templates/footer"); %>
</body>

</html>
