<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>

  <section class="landing">
    <div id="index-img" class="landing-img">
      <div class="flex-column-center img-wrapper">
        <div class="hero-body flex-vert-center">
          <div class="container ">
            <h1 class="img-title">
              Rent or list your domains
            </h1>
            <h2 class="img-subtitle has-text-centered">
              The world's only marketplace for domain rentals
            </h2>
            <div id="landing-buttons" class="container has-text-centered">
              <div id="landing-button">
                <a class="button is-primary is-large" title="Rent your domain" href="/getstarted">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container is-fluid">
    <div class="columns">
      <div id="rent-text" class="column is-one-third is-offset-2">
        <div class="content">
          <h2>Millions of rentals are available now</h2>
          <p>
            Browse through millions of listings. Find a
            schedule that works for you and follow our
            simple steps for ownership transferral. You will
            have access to your domain name in minutes.
            Start customizing right away.
          </p>
        </div>
        <div class="main-link">
          <a class="orange-link index-link" title="Listings" href="/buyers">List your website with domahub</a>
          <span class="icon">
            <i class="fa fa-angle-right right-arrow"></i>
          </span>
        </div>
      </div>
      <div id="rent-img" class="column is-half">
        <figure class="image is-2by1">
          <img src="">
        </figure>
      </div>
    </div>
  </div>
  </section>

  <section class="section is-medium">
    <div class="container is-fluid">
    <div class="columns">
      <div id="list-text" class="column is-one-third">
        <div class="content">
          <h2>Renting out your domain is simple</h2>
          <p>
            Listing a website takes seconds. Our online widget
            guides you through the entire process. Decide what
            availability works best for you, customize your price
            down to the exact hourly rate, and start making money
            immediately! Best of all?
            We don't take commission.
          </p>
        </div>
        <div class="main-link">
          <a class="orange-link index-link" title="Rent" href="/sellers">Browse website rentals</a>
          <span class="icon">
            <i class="fa fa-angle-right right-arrow"></i>
          </span>
        </div>
      </div>
      <div id="list-img" class="column is-half">
        <figure class="image is-2by1">
          <img src="">
        </figure>
      </div>
    </div>
    </div>
  </section>

  <%- include("templates/footer"); %>

    <script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
    <script src="/js/routes/right_caret_animate.js" type="text/javascript"></script>
  </body>
</html>
