<!DOCTYPE html>
<html>

<head>
  <title>w3bbi - Privacy Policy</title>
  <link rel="stylesheet" type="text/css" href="/css/privacy.css" />
  <%- include("templates/head_links"); %>
</head>

<body>

  <%- include("templates/navbar", {user: user}); %>
<section class="section poop">

  <table class="table is-bordered">
    <thead>
      <th style="width: 100px;">
        Numero
      </th>
      <th style="width: 100px;">
        Large Square
      </th>
      <th style="width: 200px;">
        128x128
      </th>
      <th style="width: 200px;">
        64x64
      </th>

    </thead>
        <tbody>
          <tr>
            <td><code>One</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo5_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo5_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo5_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Two</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo6_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo6_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo6_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Three</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo7_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo7_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo7_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Four</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo8_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo8_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo8_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Five</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo9_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo9_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo9_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Six</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo10_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo10_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo10_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Six</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo11_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo11_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo11_svg.svg">
              </figure>
            </td>
          </tr>
          <tr>
            <td><code>Six</code></td>
            <td>
              <figure class="image is-square">
                <img src="http://1qlee.com/svg/logo12_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-128x128">
                <img src="http://1qlee.com/svg/logo12_svg.svg">
              </figure>
            </td>
            <td>
              <figure class="image is-64x64">
                <img src="http://1qlee.com/svg/logo12_svg.svg">
              </figure>
            </td>
          </tr>
        </tbody>
      </table>

</section>

  <%- include("templates/footer"); %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/jquery/jquery.leanModal.min.js" type="text/javascript"></script>
  <script src="/js/routes/login_dropdown.js" type="text/javascript"></script>
</body>

</html>
