<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <%- include("../proxy-index.ejs"); %>
    <img id="proxy-image" style="top:50%;left:50%;transform:translate(-50%,-50%);margin-right:50%;position:absolute;" src="<%= image %>"/>
</body>
</html>
