<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
</head>
<body>
    <%- include("proxy-index.ejs"); %>
    <img id="proxy-image" style="top:50%;left:50%;transform:translate(-50%,-50%);margin-right:50%;position:absolute;" src="<%= image %>"/>
    <script>
        document.getElementById('proxy-image').ondragstart = function() { return false; };
    </script>
    <% if (typeof preview != "undefined") { %>
        <%- include("proxy-edit.ejs"); %>
    <% } %>
</body>
</html>
