<!DOCTYPE html>
<html>

<head>
    <title><%= domain_name %></title>
</head>

<body>

    <iframe src="<%= image %>"></iframe>

    <div id="proxy-overlay">
        hello world
    </div>

</body>
</html>
