<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub</title>
		<%- include("templates/head_links"); %>
	</head>

	<body>
		<iframe style="margin: 0; border: 0; width: 100%; height: 100%" src=<%= proxy %>></iframe>

        TEST SHIT

	</body>

</html>
