<link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
<style>
.domahub-wrapper>h1,h2,h3,a{
    font-family: "Ubuntu",helvetica,sans-serif;
}
.domahub-wrapper {
    align-items:flex-end;
    bottom:60px;
    display:flex;
    flex-direction:column;
    position:fixed;
    right:20px;
    z-index:9999999999999;
    text-align:right;
}
.domahub-menu {
    background-color:#fff;
    border-radius:5px;
    box-shadow:3px 3px 4px 0 rgba(0,0,0,.14),0 -2px 5px -3px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12);
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    width:200px;
}

.domahub-heading-wrapper {
    background-color:#3cbc8d;
    color:#fff;
    padding:10px;
    border-radius:5px 5px 0 0;
}
.domahub-heading {
    margin:0;
    font-size:18px;
}

.domahub-info-wrapper{
    border-bottom:1px solid #D3D3D3;
    font-family: helvetica,sans-serif;
}
.domahub-status-info {
    color:#ff5722;
    margin:10px;
    margin-bottom:5px;
    font-size:15px;
    font-weight:bold;
}
.domahub-rental-dates {
    margin:5px 10px 5px 10px;
    font-size:15px;
}
.domahub-rental-dates:last-child {
    margin-bottom:10px;
}

.domahub-action-button {
    border-bottom:1px solid rgba(0,0,0,0.12);
    color:#3cbc8d;
    padding:10px 8px;
    text-decoration:none;
    transition:all 0.25s ease;
    cursor:pointer;
}
.domahub-action-button:hover {
    background-color:#3cbc8d;
    color:#fff;
    border-color:#3cbc8d;
}
.domahub-action-button:last-child {
    border-radius:0 0 5px 5px;
}
</style>

<div class="domahub-wrapper">
    <div class="domahub-menu">
        <div class="domahub-heading-wrapper">
            <h3 class="domahub-heading">Edit Your Rental</h3>
        </div>
        <div class="domahub-info-wrapper">
            <p class="domahub-status-info">Currently Active</p>
            <p class="domahub-rental-dates">Nov 5 2016 - Dec 5 2016</p>
            <p class="domahub-rental-dates">Jan 5 2017 - Oct 5 2017</p>
        </div>

        <a class="domahub-action-button">Edit Address</a>
        <a class="domahub-action-button">Add Time</a>
        <a class="domahub-action-button">View Listing</a>
    </div>
</div>

<script>
</script>
