<link rel="icon" type="image/png" href="/images/favicon.ico" />
<style>
.domahub_overlay {
    font-family:helvetica,sans-serif;
    position:fixed;
    bottom:20px;
    right:20px;
    font-weight:bold;
    border:1px solid #3cbc8d;
    border-radius:3px;
    padding:5px;
    font-size:20px;
    z-index:99999999999;
}
.domahub_overlay:hover {
    background-color:#3cbc8d;
    color:#fff !important;
}
.domahub_overlay,.domahub_overlay:visited,.domahub_overlay:focus {
    text-decoration:none;
    color:#3cbc8d;
}
</style>
<a href="https://www.domahub.com" class="domahub_overlay">DomaHub.com</a>
