<link rel="icon" type="image/png" href="/images/favicon.ico" />
<style>
  .domahub_overlay {font-family:Helvetica,sans-serif;position:fixed;bottom:10px;right:20px;font-weight:bold;border:1px solid #3cbc8d;border-radius:3px;padding:5px;}
  .domahub_overlay:hover {background-color:#3cbc8d;}
  a,a:visited,a:focus {text-decoration: none;color:#3cbc8d;}
  a:hover {text-decoration:none;color:#fff;}
</style>
<a href="https://www.domahub.com" class="domahub_overlay">DomaHub.com</a>
