<!DOCTYPE html>
<html>
  <head>
    <title>w3bbi - Listing with w3bbi</title>
    <link rel="stylesheet" type="text/css" href="./css/sellers.css" />
    <%- include("templates/head_links"); %>
  </head>

  <body>

    <%- include("templates/navbar", {is_index: false}); %>
    <% if (is_index == false) { %>
      <style>.nav-button a {color: #484848;}</style>
    <% } %>

    <div id="main">
      <div class="header">
          <h1>Listing a website with w3bbi</h1>
      </div>

      <div class="main_sect">
        <div class="column-3" class="col_price">
          <h2>Price</h2>
          <div class="col_icon">
            <span class="fa fa-money fa-4x fa-fw"></span>
          </div>
          <p>
            You have full control over pricing. Price your rental based
            on hourly, weekly, monthly, or yearly rates.
          </p>
        </div>

        <div class="column-3" class="col_schedule">
          <h2>Schedule</h2>
          <div class="col_icon">
            <span class="fa fa-calendar fa-4x fa-fw"></span>
          </div>
          <p>
            Use our calendar tool to configure your website's availability
            down to the exact hour, if necessary.
          </p>
        </div>

        <div class="column-3" class="col_list">
          <h2>List!</h2>
          <div class="col_icon">
            <span class="fa fa-list-alt fa-4x fa-fw"></span>
          </div>
          <p>
            Confirm your settings and list! Your website is now being
            shopped by thousands of users!
          </p>
        </div>
      </div>

      <div id="main_button" class="solid-button">
        <a href="listings.html">List Now</a>
      </div>

  </div>

<div id="linebreak"></div>

<%- include("templates/footer"); %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.leanModal.min.js"></script>
    <script src="/js/routes/login_dropdown.js" type="text/javascript"></script>
  </body>
</html>
