<!DOCTYPE html>
<html>
	<head>
		<title>w3bbi - Sign Up</title>
		<link rel="stylesheet" href="/css/login_signup.css" type="text/css" />
		<%- include("templates/head_links"); %>
	</head>
<body>

	<div id="signup-form" class="form">

		<form id="target" action="/signup" method="post">
			<div class="has-text-centered logo-login">
				<a class="w3bbi-icon" href="/">w3bbi</a>
			</div>
			<div id="message" class="has-text-centered">
				<% if (typeof message != "undefined") {%>
					<%= message %>
				<% } else {%>
					Enter your information below
				<% } %>
			</div>
			<label class="label">Email</label>
			<p class="control has-icon has-icon-right">
				<input class="input is-medium" autofocus name="email" type="email" id="email-input">
				<i class="fa fa-check is-hidden is-success"></i>
				<i class="fa fa-warning is-hidden is-danger"></i>
			</p>
			<label class="label">Full Name</label>
			<p class="control has-icon has-icon-right">
				<input class="input is-medium" name="fullname" type="text" id="fullname-input">
				<i class="fa fa-check is-hidden is-success"></i>
				<i class="fa fa-warning is-hidden is-danger"></i>
			</p>
			<label class="label">Password</label>
			<p class="control has-icon has-icon-right">
				<input class="input is-medium" name="password" type="password" id="pw-input">
				<i class="fa fa-check is-hidden is-success"></i>
				<i class="fa fa-warning is-hidden is-danger"></i>
			</p>
			<label class="label">Confirm Password</label>
			<p class="control has-icon has-icon-right">
				<input class="input is-medium" name="verify-pw" type="password" id="verify-pw" autocomplete="off">
				<i class="fa fa-check is-hidden is-success"></i>
				<i class="fa fa-warning is-hidden is-danger"></i>
			</p>
			<p class="control">
				<button id="signup-login-button" class="login-button button is-primary is-medium is-fullwidth">
					Create Account
				</button>
			</p>

			<div id="linebreak2"></div>

			<p class="control">
				<p class="has-text-centered">
					Already have an account?
				</p>
				<p class="has-text-centered">
					<a class="orange-link" href="/login">Sign In Now</a>
				</p>
			</p>

		</form>
	</div>

	<script src="/js/routes/signup_logic.js" type="text/javascript"></script>

</body>

</html>
