<!-- page to sign up for new accounts -->

<!DOCTYPE html>

<html>

	<head>
		<title>w3bbi - Sign Up</title>
		<link rel="stylesheet" href="/css/signup.css" type="text/css" />
  	<%- include("templates/head_links"); %>
	</head>

	<body>

			<div id="signup_form">

				<!-- any messages from the server -->
				<div id="message">
					<% if (typeof message != "undefined") {%>
						<%= message %>
					<% } else {%>

					<% } %>
				</div>

				<form id="target" action="/signup" method="post">
					<div class="has-text-centered logo_login">
						<a class="w3bbi_icon" href="/">w3bbi</a>
					</div>
					<p class="control has-icon has-icon-right">
						<input class="input is-medium" autofocus name="email" placeholder="Email" type="text" id="email_input">
						<i class="fa fa-check"></i>
					</p>
					<p class="control has-icon has-icon-right">
						<input class="input is-medium" name="fullname" placeholder="Full Name" type="text" id="fullname_input">
						<i class="fa fa-check"></i>
					</p>
					<p class="control">
						<input class="input is-medium" name="password" placeholder="Password" type="password" id="pw_input">
					</p>
					<p class="control has-icon has-icon-right">
						<input class="input is-medium" name="verify_pw" placeholder="Confirm password" type="password" id="verify_input" autocomplete="off">
						<i class="fa fa-check"></i>
					</p>
					<p class="control">
						<button id="signup_login_button" class="button is-primary is-medium is-fullwidth">
	            Create Account
	          </button>
					</p>

<div id="linebreak2"></div>

					<p class="control">
						<p class="has-text-centered">
							Already have an account?
						</p>
						<p class="has-text-centered">
							<a class="orange_link" href="/login">Sign In Now</a>
						</p>
					</p>

				</form>
			</div>

	</body>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/js/routes/client_signup.js" type="text/javascript"></script>
</html>
