<!DOCTYPE html>
<html>
  <head>
    <title>DomaHub - Connect with Stripe</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("templates/head_links"); %>
  </head>

  <body>

    <div id="login-form" class="form">
      <form id="target" action="/login" method="post">
        <div class="has-text-centered logo-login">
          <a class="w3bbi-icon" href="/">DomaHub</a>
        </div>
        <div id="message" class="has-text-centered">
            You must connect your account with Stripe before you can create a new listing.
        </div>

        <div id="stripe">
            <a id="login-button" class="login-button button is-primary is-medium is-fullwidth" href="/authorizestripe">
              Connect with Stripe
            </a>
        </div>

      </form>
    </div>

  </body>

</html>
