<!DOCTYPE html>
<html>

<head>
  <title>DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
  <%- include("templates/head_links"); %>
</head>

<body>

  <section class="hero is-large clear-nav">
    <div class="hero-body">
      <div class="container bottom-margin-25 has-text-centered">
        <h1 class="logo-text is-3 primary-logo" title="Home" href="/">DomaHub</h1>
      </div>
      <div class="container has-text-centered">
        <h2 class="title">
          Join the beta waiting list!
        </h2>
        <p class="control has-addons has-addons-centered">
          <input class="input is-medium is-fullwidth" type="email" placeholder="Enter your email"/>
          <a class="button no-shadow is-primary is-medium">Submit</a>
        </p>
      </div>
    </div>
  </section>

  </body>
</html>
