<!DOCTYPE html>
<html>

<head>
  <title>DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
  <%- include("templates/head_links"); %>
</head>

<body>

  <section class="hero is-large is-primary clear-nav">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title title-index is-normal">
          Domains working for you, on your schedule
        </h1>
        <h2 class="subtitle is-white-light">
          DomaHub is the one-stop marketplace for domain name rentals.
        </h2>
        <div class="hero-buttons">
          <a id="get-started" class="button is-accent is-large" href='/getstarted'>Learn More</a>
          <a class="button is-primary is-inverted is-large" href='/signup'>Create Account</a>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
