<!DOCTYPE html>
<html>

<head>
  <title>DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.css"/>
  <%- include("templates/head_links"); %>
</head>

<body>

  <section style="height: 100vh" class="hero is-large is-primary clear-nav">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title title-index is-normal">
          Domahub
        </h1>
      </div>
    </div>
  </section>
  </body>
</html>
