/********************************************************* BODY *********************************************************/

#main_wrapper {
  display: flex;
  flex-direction: column;
  height: 1000px;
  margin-top: 60px;
}

#about_sect p {
  margin-bottom: 15px;
  text-align: left;
}

.p_wrapper {
  text-align: center;
  width: 100%;
}

.column-1 {
  align-self: center;
  margin-top: 25px;
  width: 40%;
}

#faq_sect {
  display: flex;
  flex-direction: column;
}

#renter_faq {
  display: none;
}

#seller_faq {
  display: none;
}

#renter_tab {
  margin-right: 30px;
}

.column-2-small {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  margin-bottom: 10px;
}

.column-2-large {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.faq_selection {
  box-sizing: border-box;
  color: #484848;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  padding: 5px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.faq_selection:hover {
  cursor: pointer;
}

.faq_selection.active {
  color: #FF8751;
  border: 1px solid #FF8751;
  font-weight: 400;
}

.faq_question {
  padding: 5px 5px 5px 0;
}

.faq_answer {
  margin-bottom: 10px;
}
