/****************** FORM ***************/
input[type="text"] {
  box-sizing: border-box;
  font-color: #555;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%; }

input:focus {
  outline-color: #FF8751; }

textarea {
  box-sizing: border-box;
  font-color: #555;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
  width: 100%; }

textarea:focus {
  outline-color: #FF8751; }

/******************* MAIN *******************/
#main{
    padding-top: 60px;
}

#main h2 {
  padding-top:0;
  border-bottom: 1px solid #333; }

#main_container{
  text-align:center;
}

#contact_form {
  margin: auto;
  max-width: 400px; }

#company_address {
  position:absolute;
  z-index:1;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  margin-right: -50%; }

#hq_green{
  color:#3CBC8D;
}

.company_address_white {
    color:#FFF;
}

#contact_us_wrapper{
    text-align:center;
    margin:25px;
}

#contact_us{
    padding-top: 0;
    display:inline-block;
    margin:auto;
}

.submit_button {
  width: 100%; }

.image_container {
  background-image: url("https://images.unsplash.com/photo-1437590552276-2e17e82b7b48?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  width: 100%; }

.sm_icon {
  padding: 10px; }

.sm_icon a {
  color: #333;
  font-size: 1.3rem;
  font-weight: 300; }

#facebook_icon:hover {
  color: #3b5998; }

#twitter_icon:hover {
  color: #00aced; }

#linkedin_icon:hover {
  color: #0077B5; }

#youtube_icon:hover {
  color: #cd201f; }
