
/******************** MISC*************************/

.right-arrow {
  color: #FF8751;
}

.icon.active {
  padding-left: 10px;
}

/*********************** LANDING ************************/

.landing {
  padding: 0;
}

.landing_img {
  background-image: url('https://hd.unsplash.com/photo-1448932223592-d1fc686e76ea');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  height: 700px;
  width: 100%;
}

.landing_wrapper {
  background-color: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
}

.landing_texts {
  top: 200px;
}

#landing_title {
  color: #eee;
  font-size: 3.5rem;
  font-family: 'Lato';
  font-weight: 400;
  padding: 0;
}

#landing_subtitle {
  color: #eee;
  padding: 0;
  font-size: 1.7rem;
}

#landing_buttons {
  margin-top: 50px;
}


/*********************** MAIN ************************/

.main_link {
  font-size: 1.3rem;
  /*padding: 10px 60px 0 60px;*/
}

.blob {
  background-color: #3CBC8D;
  margin-top: 30px;
}

#list_text {
  order: 1;
}

#list_img {
  order: 2;
}

#rent_text {
  order: 2;
}

#rent_img {
  order: 1;
}

/************************ MEDIA QUERIES ************************/
@media screen and (max-width: 769px) {

  #landing_title {
    font-size: 2rem;
  }

  #landing_subtitle {
    font-size: 1.2rem;
  }

  .landing_img {
    height: 400px;
  }

  .landing_texts {
    top: 120px;
  }

  .main_p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .main_link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1375px) {

  .landing_img {
    height: 600px;
  }
}
