#top_wrapper{
    padding-top:60px;
    height:100vh;
}

#forms_wrapper{
    position:absolute;
    left:50%;
    top:50%;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    max-width:400px;
    text-align:center;
}

.create_input{
    margin:5px;
}

#sing_submit{
    width:100%;
}

.price_input_text{
    display:inline-block;
    vertical-align:middle;
}

.price_input{
    display:inline-block;
    width:60px;
    vertical-align:middle;
}

#sing_description{
    min-height:100px;
}

#mult_toggle{
    text-decoration:underline;
    cursor:pointer;
}

#mult_form_wrapper, #mult_progress{
    display:none;
}
