body{
	overflow-x:hidden;
}

.green_text{
	color:#3CBC8D;
}

.page_wrapper{
	text-align:center;
	height:100vh;
	position:relative;
	overflow:hidden;
}

#image_wrapper{
	position: absolute;
	overflow: hidden;
	left: -10px;
	top: -10px;
	bottom: -10px;
	right: -10px;
	margin: -10px;
}

#background_image{
	object-fit:cover;
	object-position:bottom;
	-webkit-filter: blur(1px) grayscale(25%) brightness(50%);
	-moz-filter: blur(1px) grayscale(25%) brightness(50%);
	-o-filter: blur(1px) grayscale(25%) brightness(50%);
	-ms-filter: blur(1px) grayscale(25%) brightness(50%);
	filter: blur(1px) grayscale(25%) brightness(50%);
}

.info_wrapper{
	position:absolute;
	left:50%;
	top:50%;
	margin-right:-50%;
	transform:translate(-50%, -50%);
	max-width:400px;
	text-align:center;
}

#listing_info_wrapper{
	text-align:justify;
	word-break:break-word;
}

.listing_info_center{
	text-align:center;
}

.listing_info_text{
	margin:0;
	padding:0;
	display:inline-block;
}

.listing_info_text_white{
	color:#FFF;
}

#domain_owner{
	display:block;
	padding-bottom:10px;
	border-bottom: 1px #EDEDED solid;
}

#domain_description{
	font-size:1em;
	color:#D3D3D3;
	margin-top: 10px;
}

#pricing_wrapper{
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #EDEDED solid;
}

.listing_info_margin_top{
	margin-top:25px;
}

/*--------------------------------------------------------------------------------------*/

#calendar_container{
	height:500px;
}

#calendar_price_wrapper{
	padding-top:15px;
}

.info_wrapper_block{
	display:inline-block;
	vertical-align:middle;
}

#price {
	min-width:100px;
}

#price, .fc-left > h2{
	padding:0;
}

#calendar_top_wrapper{
	padding-top:60px;
}

.button{
	cursor:pointer;
}

.activeButton{
	color:black;
}

.fc-event:hover{
	cursor:pointer;
}

#calendar{
	padding:15px;
}

/*--------------------------------------------------------------------------------------*/

#address_wrapper{
	background-color:#222;
}

#faq_wrapper > *{
	color:#D3D3D3;
}

#address_form_wrapper:required:invalid, input:focus:invalid {
  border:1px solid red;
}

#address_form_input{
	width:auto;
    font-family: 'Share Tech';
}

/*--------------------------------------------------------------------------------------*/

#submitButton{
	background:#3CBC8D !important;
	background-image:none !important;
}

/*--------------------------------------------------------------------------------------*/

.rental_time{
	text-align:right;
}
