@media screen and (min-width: 769px) {
  #listing-random-img {
    background-image: url("https://source.unsplash.com/category/people"); } }

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .is-flex-wrap {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-start; } }
  .is-flex-wrap.jc-flexEnd {
    justify-content: flex-end; }
  .is-flex-wrap .button {
    margin: 0 0 10px 10px; }

#filter-dropdown-wrapper {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 20px; }
  @media screen and (max-width: 1160px) {
    #filter-dropdown-wrapper {
      position: absolute;
      left: -400px;
      -webkit-box-shadow: 2px 0 5px 0 black;
      -moz-box-shadow: 2px 0 5px 0 black;
      box-shadow: 2px 0 5px 0 black;
      z-index: 5; } }

#filter-dropdown {
  box-sizing: border-box;
  width: 300px; }
  #filter-dropdown > .control {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0; }

#table-wrapper {
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  z-index: 4; }
  @media screen and (max-width: 1160px) {
    #table-wrapper {
      padding-left: 0; } }

#listings-table {
  min-width: 700px; }
  #listings-table td {
    white-space: nowrap; }
  #listings-table .td-price {
    width: 110px; }
  #listings-table .td-categories {
    width: 150px; }
  #listings-table .td-domain {
    width: auto; }

.domain-name {
  word-break: break-all; }

input[type=range].primary-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0; }

input[type=range].primary-range:focus {
  outline: none; }

input[type=range].primary-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.8px rgba(60, 188, 141, 0.21), 0px 0px 2.5px rgba(76, 198, 153, 0.21);
  background: #3cbc8d;
  border-radius: 1.9px;
  border: 0px solid rgba(1, 1, 1, 0); }

input[type=range].primary-range::-webkit-slider-thumb {
  box-shadow: 12.7px 12.7px 0px transparent, 0px 0px 12.7px rgba(13, 13, 13, 0);
  border: 1.9px solid #3cbc8d;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px; }

input[type=range].primary-range:focus::-webkit-slider-runnable-track {
  background: #5fcca4; }

input[type=range].primary-range::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 2.8px rgba(60, 188, 141, 0.21), 0px 0px 2.5px rgba(76, 198, 153, 0.21);
  background: #3cbc8d;
  border-radius: 1.9px;
  border: 0px solid rgba(1, 1, 1, 0); }

input[type=range].primary-range::-moz-range-thumb {
  box-shadow: 12.7px 12.7px 0px transparent, 0px 0px 12.7px rgba(13, 13, 13, 0);
  border: 1.9px solid #3cbc8d;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer; }

input[type=range].primary-range::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].primary-range::-ms-fill-lower {
  background: #309570;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 3.8px;
  box-shadow: 2.5px 2.5px 2.8px rgba(60, 188, 141, 0.21), 0px 0px 2.5px rgba(76, 198, 153, 0.21); }

input[type=range].primary-range::-ms-fill-upper {
  background: #3cbc8d;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 3.8px;
  box-shadow: 2.5px 2.5px 2.8px rgba(60, 188, 141, 0.21), 0px 0px 2.5px rgba(76, 198, 153, 0.21); }

input[type=range].primary-range::-ms-thumb {
  box-shadow: 12.7px 12.7px 0px transparent, 0px 0px 12.7px rgba(13, 13, 13, 0);
  border: 1.9px solid #3cbc8d;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  height: 5px; }

input[type=range].primary-range:focus::-ms-fill-lower {
  background: #3cbc8d; }

input[type=range].primary-range:focus::-ms-fill-upper {
  background: #5fcca4; }
