#preview-img {
  background-image: url("https://source.unsplash.com/category/nature"); }

.control-label.is-small {
  width: 40px; }

.control > .input.input-number {
  width: 100%; }

.checkbox-wrapper {
  border: 2px solid rgba(0, 0, 0, 0.12); }
  .checkbox-wrapper > li {
    position: relative; }
    .checkbox-wrapper > li:not(:first-child) {
      border-top: 2px solid rgba(0, 0, 0, 0.12); }
