#top-wrapper {
  margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    #top-wrapper {
      padding: 0 20px 40px; } }

@media screen and (max-width: 1215px) {
  #domain-modules-column,
  #domain-info-column,
  #price-display-column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; } }

@media screen and (max-width: 1215px) {
  #price-display-column {
    margin-left: auto; } }

#domain-display {
  color: #62c9a3;
  padding: 0 12px; }

#price-display {
  background-color: white;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  margin-left: auto;
  width: 325px; }
  @media screen and (max-width: 768px) {
    #price-display {
      margin-right: auto; } }

#trending-rental-image {
  background-image: url("https://scstylecaster.files.wordpress.com/2016/08/tom-hiddleston.gif?w=1024&h=730");
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 250px;
  width: 100%; }

#listing-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  #listing-hero > .content {
    align-self: center; }
  @media screen and (max-width: 768px) {
    #listing-hero {
      padding-top: 70px; } }

.listing-info {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.listing-module {
  padding: 25px 0; }

.calendar-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .calendar-control .button {
    margin-bottom: 5px;
    margin-right: 5px;
    flex-grow: 1; }
    .calendar-control .button:last-child {
      margin-right: 0; }

.landing-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.img-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  .is-flex-wrap .button {
    margin-bottom: 8px;
    margin-right: 8px; }
  @media screen and (max-width: 768px) {
    .is-flex-wrap > .tag {
      margin: 5px; } }

@media screen and (max-width: 768px) {
  .flex-column-mobile {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .order-1-mobile {
    order: 1; } }

@media screen and (max-width: 768px) {
  .order-2-mobile {
    order: 2; } }

#previous-listings-cards {
  display: flex;
  justify-content: space-around; }
  #previous-listings-cards .card {
    margin: 0; }
    #previous-listings-cards .card + .card {
      margin-left: 15px; }

#previous-listings-table {
  display: flex;
  flex-wrap: wrap; }
  #previous-listings-table .previous-listing {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    padding: 20px; }
    #previous-listings-table .previous-listing:not(:last-child) {
      margin-right: 5px; }
    #previous-listings-table .previous-listing:hover {
      border-color: rgba(0, 0, 0, 0.66); }
  #previous-listings-table .previous-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

#checkout-card {
  margin-left: auto; }

#description-card {
  margin-left: auto; }
