.box.hover-effect {
  cursor: pointer; }
  .box.hover-effect:hover, .box.hover-effect:focus {
    border-color: rgba(0, 0, 0, 0.66) !important; }

.step-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0; }
  .step-box span,
  .step-box a {
    margin-right: 10px; }
  .step-box.has-border {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px; }

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left; }

.provider-img {
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 60px;
  width: 180px;
  min-width: 180px; }
  .provider-img img {
    vertical-align: middle;
    margin: auto; }

.provider-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  width: 180px; }
  .provider-card .content {
    padding: 10px; }
  .provider-card:not(:last-child) {
    margin-right: 10px; }

.header {
  padding-bottom: 10px;
  cursor: pointer; }
  .header.is-disabled {
    border-bottom: 3px solid rgba(0, 0, 0, 0.12); }
    .header.is-disabled h2 {
      color: rgba(0, 0, 0, 0.38);
      pointer-events: auto !important; }

.step-content {
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 40px;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.card.is-checkout {
  width: 375px; }
  .card.is-checkout .card-image {
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .card.is-checkout .card-footer .button {
    border: 1px solid rgba(0, 0, 0, 0.38); }
    .card.is-checkout .card-footer .button:hover, .card.is-checkout .card-footer .button:focus {
      border: 1px solid rgba(0, 0, 0, 0.66);
      background-color: transparent; }

.control-flex {
  display: flex;
  justify-content: space-between; }
  .control-flex + .control-flex {
    margin-top: 20px; }
