body{
	overflow-x:hidden;
}

.green_text{
	color:#3CBC8D;
}

.page_wrapper{
	text-align:center;
	height:100vh;
	position:relative;
	overflow:hidden;
}

#image_wrapper{
	position: absolute;
	overflow: hidden;
	left: -10px;
	top: -10px;
	bottom: -10px;
	right: -10px;
	margin: -10px;
}

#background_image{
	object-fit:cover;
	-webkit-filter: blur(5px) grayscale(25%) brightness(50%);
	-moz-filter: blur(5px) grayscale(25%) brightness(50%);
	-o-filter: blur(5px) grayscale(25%) brightness(50%);
	-ms-filter: blur(5px) grayscale(25%) brightness(50%);
	filter: blur(5px) grayscale(25%) brightness(50%);
	transform: scale(1.1);
}

.info_wrapper{
	position:absolute;
	left:50%;
	top:50%;
	margin-right:-50%;
	transform:translate(-50%, -50%);
	max-width:300px;
	text-align:center;
}

#listing_info_wrapper{
	text-align:justify;
}

#listing_info_title{
	text-align:center;
}

.listing_info_text{
	margin:0;
	padding:0;
	color:#FFF;
	display:inline-block;
}

#domain_owner{
	display:block;
}

#domain_description{
	font-size:1em;
	color:#D3D3D3;
	max-width:300px;
}

#pricing_wrapper{
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px #EDEDED solid;
	border-top: 1px #EDEDED solid;
}

#start_form_wrapper{
	margin-top:50px;
}

/*--------------------------------------------------------------------------------------*/

#calendar_container{
	height:500px;
}

.info_wrapper_block{
	display:inline-block;
	vertical-align:middle;
}

#price {
	min-width:100px;
}

#price, .fc-left > h2{
	padding:0;
}

#calendar_top_wrapper{
	padding-top:60px;
}

.button{
	cursor:pointer;
}

.fc-event:hover{
	cursor:pointer;
}

#calendar{
	padding:15px;
}

/*--------------------------------------------------------------------------------------*/

#ip_wrapper{
	background-color:#222;
}

#faq_wrapper > *{
	color:#D3D3D3;
}

#ip_form_wrapper:required:invalid, input:focus:invalid {
  border:1px solid red;
}

#ip_form_input{
	width:auto;
}

/*--------------------------------------------------------------------------------------*/

#submitButton{
	background:#3CBC8D !important;
	background-image:none !important;
}
