.domain-listing {
  -moz-transition: box-shadow 0.25s ease;
  -o-transition: box-shadow 0.25s ease;
  -webkit-transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 5px; }
  .domain-listing:not(:last-child) {
    margin-bottom: 15px; }
  .domain-listing:hover, .domain-listing:focus {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12); }

.domain-price {
  margin-top: 0;
  margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .domain-price {
      min-width: 100px;
      text-align: right; } }

#load-button {
  width: 30%; }
  @media screen and (max-width: 768px) {
    #load-button {
      width: 100%; } }
