#background_image {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%); }
  @media screen and (max-width: 768px) {
    #background_image {
      background-image: none !important;
      height: 0;
      background-color: transparent; } }

.listing-info:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.listing-info-wrapper + .listing-info-wrapper {
  margin-top: 50px; }
