#background_image {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%); }
  @media screen and (max-width: 768px) {
    #background_image {
      background-image: none !important;
      height: 0;
      background-color: transparent; } }
