button[data-balloon] {
  overflow: visible; }

[data-balloon] {
  position: relative; }

[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

[data-balloon]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px; }

[data-balloon]:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px; }

[data-balloon]:hover:before,
[data-balloon][data-balloon-visible]:before,
[data-balloon]:hover:after,
[data-balloon][data-balloon-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon].font-awesome:after {
  font-family: FontAwesome; }

[data-balloon][data-balloon-break]:after {
  white-space: pre; }

[data-balloon-pos="down"]:before,
[data-balloon-pos="down"]:after {
  bottom: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px); }

[data-balloon-pos="down"]:after {
  margin-top: 11px; }

[data-balloon-pos="down"]:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  margin-top: 5px;
  margin-bottom: 0; }

[data-balloon-pos="down"]:hover:before,
[data-balloon-pos="down"][data-balloon-visible]:before,
[data-balloon-pos="down"]:hover:after,
[data-balloon-pos="down"][data-balloon-visible]:after {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

[data-balloon-pos="left"]:before,
[data-balloon-pos="left"]:after {
  bottom: auto;
  left: auto;
  right: 100%;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
  -ms-transform: translate(10px, -50%);
  transform: translate(10px, -50%); }

[data-balloon-pos="left"]:after {
  margin-right: 11px; }

[data-balloon-pos="left"]:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-right: 5px;
  margin-bottom: 0; }

[data-balloon-pos="left"]:hover:before,
[data-balloon-pos="left"][data-balloon-visible]:before,
[data-balloon-pos="left"]:hover:after,
[data-balloon-pos="left"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-pos="right"]:before,
[data-balloon-pos="right"]:after {
  bottom: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%); }

[data-balloon-pos="right"]:after {
  margin-left: 11px; }

[data-balloon-pos="right"]:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
  background-size: 100% auto;
  height: 18px;
  width: 6px;
  margin-bottom: 0;
  margin-left: 5px; }

[data-balloon-pos="right"]:hover:before,
[data-balloon-pos="right"][data-balloon-visible]:before,
[data-balloon-pos="right"]:hover:after,
[data-balloon-pos="right"][data-balloon-visible]:after {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

[data-balloon-length]:after {
  white-space: normal; }

[data-balloon-length="small"]:after {
  width: 80px; }

[data-balloon-length="medium"]:after {
  width: 150px; }

[data-balloon-length="large"]:after {
  width: 260px; }

[data-balloon-length="xlarge"]:after {
  width: 90vw; }

@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px; } }

[data-balloon-length="fit"]:after {
  width: 100%; }

#step-1 {
  left: 20px !important; }

#step-4 {
  left: 105px !important; }

#compare-msg {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 10;
  width: 400px; }
  @media screen and (max-width: 768px) {
    #compare-msg {
      bottom: -20px;
      width: 100%;
      right: 0; } }

.master.right {
  flex-direction: row; }

.master.left {
  flex-direction: row-reverse; }

.master.center {
  flex-direction: column;
  align-items: center; }

.module {
  min-height: 460px; }

#compare-model {
  width: 100%;
  height: 100%;
  display: flex; }

#compare-preview {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-attachment: fixed;
  background-color: #fff;
  min-height: 100vh;
  left: 0;
  padding: 80px 20px;
  width: 100%;
  min-height: 100vh; }
  #compare-preview.is-active {
    -moz-transform: translate(500px, 0);
    -o-transform: translate(500px, 0);
    -ms-transform: translate(500px, 0);
    -webkit-transform: translate(500px, 0);
      -webkit-transform-transform: translate(500px, 0);
    width: calc(100% - 500px); }
    @media screen and (max-width: 768px) {
      #compare-preview.is-active {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
          -webkit-transform-transform: translate(0, 0);
        width: 100%; } }
    @media screen and (min-width: 768px) and (max-width: 1305px) {
      #compare-preview.is-active {
        -moz-transform: translate(300px, 0);
        -o-transform: translate(300px, 0);
        -ms-transform: translate(300px, 0);
        -webkit-transform: translate(300px, 0);
          -webkit-transform-transform: translate(300px, 0);
        width: calc(100% - 300px); } }
    @media screen and (min-width: 769px) and (max-width: 979px) {
      #compare-preview.is-active .master.right {
        flex-direction: column; } }

#compare-menu {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
    -webkit-transform-transform: translate(-100%, 0);
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 500px;
  z-index: 200; }
  #compare-menu.is-active {
    height: 100vh;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
      -webkit-transform-transform: translate(0, 0); }
  @media screen and (max-width: 456px) {
    #compare-menu {
      width: 100%; } }
  @media screen and (min-width: 456px) and (max-width: 1305px) {
    #compare-menu {
      width: 300px; } }

#design-tab.tour-step-backdrop {
  background-color: #3cbc8d;
  border-radius: 6px 6px 0px 0px; }
  #design-tab.tour-step-backdrop a {
    color: white; }

#rent-now-button.tour-step-backdrop a {
  border-radius: 6px 6px 0px 0px;
  background-color: #3cbc8d;
  color: white; }
  #rent-now-button.tour-step-backdrop a:hover {
    background-color: #309570;
    border-color: transparent;
    color: #fff; }

#compare-buttons {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 100%;
  background-color: white; }
  @media screen and (max-width: 1305px) {
    #compare-buttons .control.is-spaced {
      flex-direction: column-reverse;
      align-items: flex-start; }
      #compare-buttons .control.is-spaced .control-right {
        margin-bottom: 10px; } }

#compare-content {
  overflow-y: auto;
  height: calc(100vh - 74px); }
  #compare-content .footer {
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin-top: 20px;
    padding: 20px 0 !important; }
  @media screen and (max-width: 456px) {
    #compare-content {
      height: calc(100vh - 114px); } }
  @media screen and (min-width: 456px) and (max-width: 1305px) {
    #compare-content {
      height: calc(100vh - 116px); } }

.logo {
  display: inline-flex;
  padding: 5px 8px;
  border: 1px solid #3cbc8d; }
  .logo:hover, .logo:focus {
    border-color: white; }
    .logo:hover .flat-logo, .logo:focus .flat-logo {
      background-position: 0 -32px; }
  .logo .flat-logo {
    -moz-transition: background-position 0.2s ease;
    -o-transition: background-position 0.2s ease;
    -webkit-transition: background-position 0.2s ease;
    transition: background-position 0.2s ease; }
    .logo .flat-logo:focus {
      outline: none; }

.checkbox-form {
  width: 24px;
  height: 24px; }
  .checkbox-form label::before {
    top: 0 !important;
    left: 0 !important; }
  .checkbox-form label {
    padding: 0 !important;
    width: 100%;
    height: 100%; }

#custom_logo {
  border-radius: 10px;
  height: 45px;
  object-fit: cover;
  width: 45px; }

.description-wrapper {
  max-width: 500px; }

#description-text {
  word-break: break-word;
  white-space: pre-wrap; }

#domain-display h1 {
  font-size: 48px;
  word-break: break-all; }
  @media screen and (max-width: 768px) {
    #domain-display h1 {
      font-size: 40px; } }
  @media screen and (max-width: 456px) {
    #domain-display h1 {
      font-size: 28px; } }

@media screen and (min-width: 980px) {
  #domain-display .control {
    width: 100%; } }

@media screen and (min-width: 769px) and (max-width: 979px) {
  #domain-display .control {
    width: 250px; } }

@media screen and (max-width: 768px) {
  #domain-display .control {
    width: 250px; } }

#domain-display .control input {
  width: 100%; }

.tip {
  display: block;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.66); }

.input-tooltip {
  background-color: #444;
  border-radius: 0 5px 5px 5px;
  bottom: -30px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  left: 2px;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  width: 142px; }
  @media screen and (max-width: 456px) {
    .input-tooltip {
      font-size: 14px; } }
  .input-tooltip.is-active {
    background-color: #EF5350;
    width: 225px; }
    .input-tooltip.is-active::before {
      border-bottom-color: #EF5350;
      border-left-color: #EF5350; }
  .input-tooltip::before, .input-tooltip::after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 5px solid transparent; }
  .input-tooltip::before {
    border-bottom-color: #444;
    border-left-color: #444;
    top: -10px;
    left: 0; }

#typed-slash {
  border: none;
  color: #ff5722;
  font-size: 48px;
  margin-right: auto;
  position: relative;
  vertical-align: baseline !important;
  width: auto;
  background: transparent; }
  @media screen and (max-width: 768px) {
    #typed-slash {
      font-size: 40px; } }
  @media screen and (max-width: 456px) {
    #typed-slash {
      font-size: 28px; } }
  #typed-slash:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.66); }
  #typed-slash.is-active {
    outline: none;
    cursor: auto;
    border-color: rgba(0, 0, 0, 0.88); }
    #typed-slash.is-active::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: transparent; }
    #typed-slash.is-active::-moz-placeholder {
      /* Firefox 19+ */
      color: transparent; }
    #typed-slash.is-active:-ms-input-placeholder {
      /* IE 10+ */
      color: transparent; }
    #typed-slash.is-active:-moz-placeholder {
      /* Firefox 18- */
      color: transparent; }

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  .is-flex-wrap .tag, .is-flex-wrap .button {
    margin-bottom: 10px;
    margin-right: 10px; }

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-wrapper .button:first-child {
    margin-right: 10px; }
  @media screen and (max-width: 425px) {
    .button-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .button-wrapper .button:first-child {
        margin-right: 0;
        margin-bottom: 10px; } }

#ticker-module {
  padding: 0;
  background: #FFF;
  height: 410px; }

#ticker-wrapper {
  display: block;
  height: 100%;
  overflow-y: scroll;
  width: 100%; }

#show-menu-wrapper {
  position: fixed;
  padding: 20px;
  margin-bottom: 0;
  z-index: 99; }
  #show-menu-wrapper.is-dimmed {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); }

.ticker-row {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.ticker-icon-color {
  border-right: 2px solid rgba(0, 0, 0, 0.12);
  margin-right: 10px;
  min-width: 30px; }

.ticker-icon {
  margin-top: 4px;
  vertical-align: baseline !important; }

#traffic-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  top: 10px;
  z-index: 99; }

.traffic-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%; }
