/*************************** REGISTER ***************************/
#message {
  margin: 10px 0 20px 0; }

.logo-login {
  margin-bottom: 10px; }

.control.has-icon .input:focus + .fa-check {
  color: #97cd76 !important; }

.control.has-icon > .fa-warning {
  font-size: 21px !important;
  -moz-transform: translate(-4px, 4px);
  -o-transform: translate(-4px, 4px);
  -ms-transform: translate(-4px, 4px);
  -webkit-transform: translate(-4px, 4px);
    -webkit-transform-transform: translate(-4px, 4px); }

.w3bbi-icon {
  box-sizing: border-box;
  color: #3CBC8D;
  font-family: "Share Tech", "Lucida Console", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.w3bbi-icon:hover:not(.active) {
  color: #3CBC8D;
  cursor: pointer;
  opacity: 0.85; }

.form {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 9px -1px #aeb1b5;
  -moz-box-shadow: 0 1px 9px -1px #aeb1b5;
  box-shadow: 0 1px 9px -1px #aeb1b5;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 400px; }

.login-button {
  transition: all 0.25s;
  -webkit-transition: all 0.25s; }

.g-recaptcha > div {
  margin: auto;
  margin-bottom: 15px;
  -moz-transform: scale(1.19);
  -o-transform: scale(1.19);
  -ms-transform: scale(1.19);
  -webkit-transform: scale(1.19);
    -webkit-transform-transform: scale(1.19); }

#accept, #resend, #home {
  display: none; }
