/*************************** REGISTER ***************************/
.control.has-icon .input:focus + .fa-check {
  color: #81c784 !important; }

.control.has-icon > .fa-warning {
  font-size: 21px !important;
  -moz-transform: translate(-4px, 4px);
  -o-transform: translate(-4px, 4px);
  -ms-transform: translate(-4px, 4px);
  -webkit-transform: translate(-4px, 4px);
    -webkit-transform-transform: translate(-4px, 4px); }

.account-form {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  left: 0;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 150px;
  width: 400px; }
  @media screen and (max-width: 768px) {
    .account-form {
      width: 90%; }
      .account-form form {
        width: 100%; } }

.g-recaptcha > div {
  margin: auto;
  margin-bottom: 15px;
  -moz-transform: scale(1.19);
  -o-transform: scale(1.19);
  -ms-transform: scale(1.19);
  -webkit-transform: scale(1.19);
    -webkit-transform-transform: scale(1.19); }
  @media screen and (max-width: 768px) {
    .g-recaptcha > div {
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
        -webkit-transform-transform: scale(1); } }
  @media screen and (max-width: 360px) {
    .g-recaptcha > div {
      -moz-transform: scale(0.85);
      -o-transform: scale(0.85);
      -ms-transform: scale(0.85);
      -webkit-transform: scale(0.85);
        -webkit-transform-transform: scale(0.85);
      margin-left: -25px; } }

#accept, #resend, #home {
  display: none; }
