#features-hero {
  background-image: linear-gradient(#3cbc8d, #62c9a3); }

#hero-image {
  width: 256px;
  margin: 0 auto 25px; }

#product-img {
  position: relative; }
  #product-img img {
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in; }
  #product-img .button {
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    z-index: 9; }
  #product-img:hover img {
    opacity: 0.3; }
  #product-img:hover .button {
    opacity: 1; }

.coffee {
  -webkit-animation: steam 3s infinite;
  -moz-animation: steam 3s infinite;
  -o-animation: steam 3s infinite;
  animation: steam 3s infinite; }

@keyframes steam {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }

.line {
  position: relative; }
  .line::before {
    content: "";
    position: absolute;
    height: calc(100% - 35px);
    left: 50%;
    top: 60px;
    width: 1px;
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px; }
  .line::after {
    content: "";
    position: absolute;
    height: 1px;
    top: calc(50% + 35px);
    left: calc(50% - 40px);
    width: 40px;
    background: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px; }
  .line.right::after {
    left: 50%; }

.hiw-num {
  align-items: center;
  background-color: #3cbc8d;
  border-radius: 100%;
  color: white;
  display: flex;
  font-weight: 700;
  height: 35px;
  font-size: 18px;
  justify-content: center;
  margin: 0 auto;
  width: 35px; }
  @media screen and (max-width: 768px) {
    .hiw-num {
      margin: 0 0 10px; } }

.flex-align-center {
  display: flex;
  align-items: center;
  margin: 10px 0; }
  .flex-align-center .icon {
    margin-right: 10px; }
    .flex-align-center .icon.fix {
      margin-left: 2px; }

.feature {
  align-items: flex-start;
  display: flex; }
  .feature:not(:last-child) {
    margin-bottom: 20px; }
  .feature .icon {
    margin-right: 15px; }
  .feature .content p:not(:last-child) {
    margin-bottom: 0; }

.price-card {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 3px; }
  .price-card .card-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 15px 20px; }
  .price-card:hover {
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -webkit-transform: translate(0, -5px);
      -webkit-transform-transform: translate(0, -5px); }

.blurb {
  -webkit-animation: fadeIn 300ms forwards;
  -moz-animation: fadeIn 300ms forwards;
  -o-animation: fadeIn 300ms forwards;
  animation: fadeIn 300ms forwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slick-slide {
  padding: 5px 20px 20px; }
  .slick-slide:focus {
    outline: none !important; }

.slick-prev {
  left: -10px !important; }
  .slick-prev:before {
    color: #3cbc8d !important; }

.slick-next {
  right: -10px !important; }
  .slick-next:before {
    color: #3cbc8d !important; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  color: #8ad6ba; }

.slick-dots li button:before {
  font-size: 10px !important; }

.slick-dots li.slick-active button:before {
  color: #3cbc8d !important; }
