/******************** MISC*************************/
.right-arrow.active {
  -moz-transform: translate(5px, 0);
  -o-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  -webkit-transform: translate(5px, 0);
    -webkit-transform-transform: translate(5px, 0); }

/*********************** LANDING ************************/
@media screen and (min-width: 769px) {
  #index-img {
    background-image: url("https://images.unsplash.com/photo-1435527173128-983b87201f4d?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb"); } }

@media screen and (min-width: 769px) {
  .title-p {
    width: 425px; }
    .title-p.is-medium {
      width: 650px; } }

#beta-form-email {
  font-family: "sharetech", "Lucida Console", monospace;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 black 0;
  -moz-box-shadow: 0 0 0 black 0;
  box-shadow: 0 0 0 black 0;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  color: white; }
  #beta-form-email:focus, #beta-form-email:active {
    -webkit-box-shadow: 0 -2px 0 white inset;
    -moz-box-shadow: 0 -2px 0 white inset;
    box-shadow: 0 -2px 0 white inset; }

#beta-form-success {
  display: inline-flex;
  text-transform: uppercase; }

/*********************** MAIN ************************/
