/*********************** LANDING ************************/
@media screen and (min-width: 769px) {
  #index-img {
    background-image: url("/images/main/index_1.jpg"); } }

@media screen and (max-width: 768px) {
  #index-img {
    background-color: #444; } }

.title-p {
  font-size: 18px; }
  @media screen and (min-width: 769px) {
    .title-p {
      width: 550px; }
      .title-p.is-medium {
        width: 650px; } }

/*********************** MAIN ************************/
@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#load1 {
  -webkit-animation: opacity 1s;
  -moz-animation: opacity 1s;
  -o-animation: opacity 1s;
  animation: opacity 1s; }

#load2 {
  -webkit-animation: opacity 2s;
  -moz-animation: opacity 2s;
  -o-animation: opacity 2s;
  animation: opacity 2s; }

#load3 {
  -webkit-animation: opacity 3s;
  -moz-animation: opacity 3s;
  -o-animation: opacity 3s;
  animation: opacity 3s; }
