.qa-wrapper + .qa-wrapper {
  margin-top: -60px;
  padding-top: 75px; }

.qa-wrapper p,
.qa-wrapper a {
  line-height: 1.4; }

.qa-wrapper h3 + p {
  margin-top: 15px; }

.faq-section {
  padding-top: 70px; }

.faq-question {
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: inline-flex;
  font-weight: bold;
  padding: 5px 0;
  position: relative; }

.faq-header {
  position: relative;
  cursor: pointer;
  color: #3cbc8d; }
  .faq-header:hover {
    color: #309670; }
