/*********************** LANDING ************************/
@media screen and (min-width: 769px) {
  #index-img {
    background-color: #212121; } }

@media screen and (max-width: 768px) {
  #index-img {
    background-color: #212121; } }

.slider-box {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block; }

.slider-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  text-transform: capitalize; }
  .slider-item span + span {
    margin-left: 10px; }
  .slider-item:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .slider-item:hover {
    background-color: #efefef;
    cursor: pointer; }
  .slider-item.is-active {
    background-color: #efefef; }
  .slider-item .slider-content {
    display: flex;
    align-items: center; }

.slider-item-dropdown {
  display: none;
  padding: 10px 20px; }
  .slider-item-dropdown.is-active {
    display: block; }

.checklist-item {
  display: inline-flex;
  align-items: center; }
  .checklist-item span + span {
    margin-left: 5px; }
  .checklist-item + .coocoo {
    margin-left: 10px; }

.has-style-underline {
  position: relative; }
  .has-style-underline::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100px;
    background: rgba(0, 0, 0, 0.9);
    bottom: -20px;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
      -webkit-transform-transform: translate(-50%, -50%); }
