@media screen and (min-width: 769px) {
  #sellers-img {
    background-image: url("/images/main/sellers_1.jpg");
    background-position: bottom; } }

@media screen and (max-width: 768px) {
  #sellers-img {
    background-color: #444; } }
