/*************************** GLOBAL ***************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/*************************** MISC ***************************/
.webbi_text {
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
}

.construction {
  background-color: #3CBC8D;
  color: #ffffff;
  font-family: 'Roboto Condensed';
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 60px;
}

.foobar {
  background-color: #2a2a2a;
  height: 60px;
  padding-top: 60px;
}

/*************************** LINEBREAK ***************************/

#linebreak {
  border-bottom: 1px solid #dddddd;
  margin: 4em auto 4em auto;
  width: 25%;
}

#linebreak3 {
  border-bottom: 1px solid #dddddd;
  margin: 5px auto 5px auto;
  width: 50%;
}
/*************************** BUTTONS ***************************/

.clear-button a {
  border-radius: 3px;
  border: 1px solid #eeeeee;
  color: #eeeeee;
  font-family: 'Roboto Condensed';
  font-size: 0.9em;
  font-weight: 400;
  transition: background-color: 0.25s;
  -webkit-transition: background-color 0.25s;
}

.clear-button a:hover:not(.active) {
  background-color: #FF8751;
  border: 1px solid #FF8751;
  color: #ffffff;
  cursor: pointer;
}

.solid-button a {
  background-color: #3CBC8D;
  border-radius: 3px;
  color: #efefef;
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  font-weight: 400;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
}

.solid-button a:hover:not(.active) {
  background-color: #FF8751;
  color: #ffffff;
  cursor: pointer;
}

.submit_button {
  background-color: #3CBC8D;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.0em;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.submit_button:focus {
  border: none;
  outline: none;
}

.submit_button:hover {
  background-color: #FF8751;
  cursor: pointer;
}

#main_button {
  margin: 2.0em 0 2.0em 0;
  text-align: center;
}

#main_button a {
  display: inline-block;
  padding: 10px;
}

/*************************** NAVBAR ***************************/


/*************************** FOOTER ***************************/

#footer {
  background-color: #2a2a2a;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.footer_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  padding-top: 2.0em;
}

.footer_item {
  display: inline-block;
}

.footer_item a {
  color: #efefef;
  margin: 10px;
  font-size: 0.9em;
  text-decoration: none;
}

.footer_item a:hover {
  color: #FF8751;
  cursor: pointer;
}

.company_text {
  color: #888888;
  font-size: 0.8em;
  margin-bottom: 1.0em;
  margin-top: 1.0em;
}
