/******************** RESET ****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

/******************** MISC ******************/
.webbi_text {
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold; }

.construction {
  background-color: #3CBC8D;
  color: #FF8751;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 60px; }

/******************** FORMS/INPUT ******************/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

/********************** UNIVERSAL ******************/
body {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 16px; }
  body a {
    text-decoration: none; }
  body a:hover {
    color: #FF8751;
    cursor: pointer; }

html {
  height: 100%;
  box-sizing: border-box; }

h1 {
  color: #333;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 25px 0 25px 0; }

h2 {
  color: #333;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 25px 0 25px 0; }

h3 {
  color: #333;
  display: inline-block;
  font-size: 1.2rem; }

p {
  color: #555;
  line-height: 1.4;
  font-size: 1.3rem;
  font-weight: 300; }

.orange_link {
  color: #FF8751;
  opacity: 0.9; }
  .orange_link:hover {
    opacity: 1.0; }

.white_link {
  color: #eeeeee; }

/********************** LINEBREAK ******************/
#linebreak {
  border-bottom: 1px solid #dddddd;
  margin: 50px auto 50px auto;
  position: relative;
  width: 25%; }

#linebreak3 {
  border-bottom: 1px solid #dddddd;
  margin: 5px auto 5px auto;
  width: 50%; }

/********************** BUTTONS *******************/
.clear-button a {
  border-radius: 5px;
  border: 2px solid #3CBC8D;
  color: #3CBC8D;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s; }

.clear-button a:hover:not(.active) {
  background-color: #3CBC8D;
  border: 2px solid #3CBC8D;
  color: #eeeeee;
  cursor: pointer;
  opacity: 0.9; }

.solid-button a {
  background-color: #3CBC8D;
  border-radius: 3px;
  color: #eeeeee;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s; }

.solid-button a:hover:not(.active) {
  color: #fff;
  cursor: pointer;
  opacity: 0.9; }

.submit_button {
  background-color: #3CBC8D;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s; }

.submit_button:focus {
  border: none;
  outline: none; }

.submit_button:hover {
  cursor: pointer;
  opacity: 0.9; }

#main_button {
  margin: 25px 0 25px 0;
  text-align: center; }

#main_button a {
  display: inline-block;
  padding: 10px; }

/********************** MAIN ****************/
#main {
  padding: 60px 0 225px 0;
  position: relative;
  min-height: 100%;
  width: 100%; }

.image_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.image_text h1 {
  color: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0; }

/******************** CONTAINERS/COLUMNS/STYLE-CLASSES ****************/
.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.column-25 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 25%; }

.column-33 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 15px;
  width: 33%; }

.column-40 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 40%; }

.column-50 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%; }

.column-75 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 75%; }

.is-centered {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.flex-row-center {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 840px) {
  html, body {
    font-size: 14px; } }

@media only screen and (min-device-width: 300px) and (max-device-width: 600px) {
  body, html {
    font-size: 16px; }
  #list_text {
    width: 100%; }
  #list_img {
    width: 75%; }
  #rent_text {
    width: 100%; }
  #rent_img {
    width: 75%; }
  .info-header {
    width: 100%; }
  .info-header h1 {
    font-size: 1.6rem; }
  .info-paragraph {
    width: 75%; }
  .flavor_text {
    margin: auto;
    width: 75%; }
  .eye_text h1 {
    font-size: 2.1rem; }
  .flavor_text p {
    font-size: 1rem; } }
