/******************** RESET ****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

/******************** FONTS ****************/
/******************** COLORS ****************/
/******************** MISC ******************/
.webbi_text {
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold; }

.construction {
  background-color: #3CBC8D;
  color: #FF8751;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 60px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

/********************** LINKS ******************/
body a {
  text-decoration: none; }

body a:hover {
  color: #FF8751;
  cursor: pointer; }

.orange_link {
  color: #FF8751;
  opacity: 0.9; }
  .orange_link:hover {
    opacity: 1.0; }

.white_link {
  color: #eeeeee; }

/********************** LINEBREAK ******************/
#linebreak {
  border-bottom: 1px solid #dddddd;
  margin: 50px auto 50px auto;
  position: relative;
  width: 25%; }

#linebreak3 {
  border-bottom: 1px solid #dddddd;
  margin: 5px auto 5px auto;
  width: 50%; }

/********************** BUTTONS *******************/
.clear-button a {
  border-radius: 3px;
  border: 1px solid #eeeeee;
  color: #eeeeee;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s; }

.clear-button a:hover:not(.active) {
  background-color: #FF8751;
  border: 1px solid #FF8751;
  color: #fff;
  cursor: pointer; }

.solid-button a {
  background-color: #3CBC8D;
  border-radius: 3px;
  color: #eeeeee;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s; }

.solid-button a:hover:not(.active) {
  background-color: #FF8751;
  color: #fff;
  cursor: pointer; }

.submit_button {
  background-color: #3CBC8D;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.0em;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s; }

.submit_button:focus {
  border: none;
  outline: none; }

.submit_button:hover {
  background-color: #FF8751;
  cursor: pointer; }

#main_button {
  margin: 2.0em 0 2.0em 0;
  text-align: center; }

#main_button a {
  display: inline-block;
  padding: 10px; }

/********************** MAIN ****************/
#main {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 60px 0 60px 0;
  position: relative;
  width: 100%; }

#main h1 {
  color: #333333;
  display: inline-block;
  font-size: 2.6em;
  font-weight: 300;
  padding: 15px; }

#main h2 {
  color: #333333;
  display: inline-block;
  font-size: 1.5em;
  padding: 15px; }

#main h3 {
  color: #333333;
  display: inline-block;
  font-size: 1.2em; }

#main p {
  color: #484848;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 300; }

/******************** CONTAINERS/COLUMNS/STYLE-CLASSES ****************/
.container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.column-25 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 25%; }

.column-33 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 33%; }

.column-40 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 40%; }

.column-50 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 50%; }

.column-75 {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 75%; }

.is-centered {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center; }
