.listing-img .delete {
  border-radius: 0 3px;
  position: absolute;
  right: 0; }

#messenger_form {
  width: 100%;
  max-height: 650px; }

.chat-box-header {
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .chat-box-header {
      flex-direction: column; } }

.chat-box-header-item {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .chat-box-header-item:not(:first-child) {
      margin-top: 10px; } }

#msg_receiver_input {
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.9);
  padding: 15px 8px;
  width: 100%; }
  #msg_receiver_input:focus {
    -webkit-box-shadow: inset 0 -2px 0 0 #3cbc8d;
    -moz-box-shadow: inset 0 -2px 0 0 #3cbc8d;
    box-shadow: inset 0 -2px 0 0 #3cbc8d; }

#msg-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; }

#msg_text_input {
  min-width: auto;
  max-width: auto;
  border-radius: 3px 3px 0 0; }
  @media screen and (max-width: 768px) {
    #msg_text_input {
      min-height: 75px;
      max-height: 75px; } }

#msg-text-footer {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

#convo-loading {
  padding: 35px;
  position: relative;
  margin: 150px auto 0 auto; }
  @media screen and (max-width: 768px) {
    #convo-loading {
      margin: 100px auto 0 auto; } }

.msg-text-footer-item {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  padding: 5px 10px; }
  .msg-text-footer-item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .msg-text-footer-item > .checkbox {
    margin: 0 5px; }

#chat_wrapper {
  overflow-y: scroll;
  min-height: 400px;
  max-height: 400px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    #chat_wrapper {
      min-height: 300px;
      max-height: 300px; } }

#load-more {
  margin-bottom: 10px; }

#resend-icon {
  color: #EF5350;
  vertical-align: middle; }
  #resend-icon:hover {
    cursor: pointer; }

.message_wrapper {
  width: 100%;
  padding: 1px 1px 1px 0;
  word-wrap: break-word; }

.chat_message {
  display: inline-block;
  max-width: 75%;
  border-radius: 10px;
  padding: 10px; }
  @media screen and (max-width: 768px) {
    .chat_message {
      max-width: 150px; } }

.sender_them > .chat_message {
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.9); }
  .sender_them > .chat_message.is-disabled {
    background-color: #f5f5f5; }

.sender_them.message_top > .chat_message {
  border-radius: 10px 10px 10px 0; }

.sender_them.message_middle > .chat_message {
  border-radius: 0 10px 10px 0; }

.sender_them.message_bottom > .chat_message {
  border-radius: 0 10px 10px 10px; }

.sender_me {
  text-align: right; }
  .sender_me > .chat_message {
    background-color: #3cbc8d;
    color: white; }
    .sender_me > .chat_message.is-disabled {
      background-color: #8ad6ba; }
  .sender_me.message_top > .chat_message {
    border-radius: 10px 10px 0 10px; }
  .sender_me.message_middle > .chat_message {
    border-radius: 10px 0 0 10px; }
  .sender_me.message_bottom > .chat_message {
    border-radius: 10px 0 10px 10px; }

.chat_timestamp {
  color: #9e9e9e;
  display: inline-block;
  padding: 8px;
  vertical-align: bottom; }

.account-form select {
  margin-right: 5px; }

.td-status {
  width: 122px; }

.td-type {
  width: 77px; }

.td-arrow {
  width: 10px; }

.td-date {
  width: 160px; }

.td-view {
  width: 10px; }
