@media screen and (min-width: 769px) {
  .is-profile-card {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .is-profile-card {
    width: 275px; } }

.listing-img .delete {
  border-radius: 0 3px;
  position: absolute;
  right: 0; }

.verification-container {
  padding-left: 50px; }

@media screen and (min-width: 769px) {
  .table {
    min-width: 730px; } }

@media screen and (max-width: 768px) {
  .table {
    min-width: 705px; } }

.account-form select {
  margin-right: 5px; }

.td-status {
  width: 122px; }

.td-type {
  width: 77px; }

.td-arrow {
  width: 10px; }

.td-date {
  width: 160px; }

.td-view {
  width: 80px; }

.td-price-rate {
  white-space: nowrap;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  width: 75px; }

.td-price-type {
  width: 60px; }

@media screen and (min-width: 769px) {
  .td-address {
    width: 275px; } }

@media screen and (max-width: 768px) {
  .td-address {
    width: 150px; } }

.address-div-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .address-div-wrapper {
      width: 150px; } }
  @media screen and (min-width: 769px) {
    .address-div-wrapper {
      width: 275px; } }
