@media screen and (min-width: 769px) {
  .is-profile-card {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .is-profile-card {
    width: 275px; } }

.drop-form-file {
  width: 100%; }

.listing-img .delete {
  border-radius: 0 3px;
  position: absolute;
  right: 0; }

.verification-container {
  padding-left: 50px; }

@media screen and (min-width: 769px) {
  .table {
    min-width: 730px; } }

@media screen and (max-width: 768px) {
  .table {
    width: 100%; } }

.account-form select {
  margin-right: 5px; }

.td-status {
  width: 122px; }

.td-status-drop {
  padding-left: 1px !important; }

.td-type {
  width: 80px; }

.td-arrow {
  width: 10px; }

.td-date {
  width: 160px; }

.td-view {
  width: 80px; }

.td-price-rate {
  white-space: nowrap;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  width: 75px; }

.td-price-rate-drop {
  padding-left: 8px !important;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 0 !important;
  width: 75px;
  min-width: 75px; }

.td-price-type {
  width: 112px; }

.td-price-type-drop {
  padding-left: 1px !important;
  width: 112px; }

@media screen and (min-width: 769px) {
  .td-address {
    width: 275px;
    padding-left: 0 !important; } }

@media screen and (max-width: 768px) {
  .td-address {
    width: 150px; } }

.td-edit {
  width: 80px;
  text-align: right; }

.box-checked {
  margin-left: 2px; }

.address-div-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .address-div-wrapper {
      width: 150px; } }
  @media screen and (min-width: 769px) {
    .address-div-wrapper {
      width: 255px;
      margin-top: 1px;
      margin-left: 9px !important; } }

.selected-row {
  background-color: #8ad6ba; }
  .selected-row:hover {
    background-color: #309670; }

.unverified-row::after {
  background: #EF5350;
  position: absolute;
  content: "";
  height: 44px;
  width: 4px;
  left: 19px; }
  @media screen and (max-width: 768px) {
    .unverified-row::after {
      height: 43px;
      left: 0; } }
