.panel-list a {
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -webkit-transition: all 0s;
  transition: all 0s; }

.card-footer-item {
  -moz-transition: all 0s;
  -o-transition: all 0s;
  -webkit-transition: all 0s;
  transition: all 0s; }

.quick-links a {
  display: block;
  margin: 10px; }
