/*<editor-fold>----------------------------PROXY IMAGE----------------------------*/

#proxy-image {
    max-height:100%;
    max-width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-right:50%;
    position:absolute;"
}

/*</editor-fold>*/

/*<editor-fold>----------------------------PROXY NO EDIT----------------------------*/

#domahub-overlay {
    position:fixed;
    z-index:9999999999999;
    top:30px;
    right:20px;
}

#domahub-button {
    padding: 10px 25px 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 10px 30px rgba(0,0,0,0.18);
    color:#fff;
    background-color: rgba(60,189,141,0.85);
    font-family: "roboto",Helvetica,sans-serif;
    font-size:14px;
    text-decoration:none !important;
    cursor:pointer;
    transition:all 0.25s;
    position: relative;
}
#domahub-button:hover{
    text-decoration:underline !important;
}

#domahub-delete {
    position: relative;
    border-radius: 100%;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    float: right;
    margin-left: -24px;
    margin-top: -27px;
}

#domahub-delete:hover::before,
#domahub-delete:hover::after {
    background: white;
}

#domahub-delete::before,
#domahub-delete::after {
    background: rgba(0,0,0,0.5);
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -25%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 50%;
    transition: background 0.25s ease;
}
#domahub-delete::before {
    transform: rotate(45deg);
}
#domahub-delete::after {
    transform: rotate(-45deg);
}

/*</editor-fold>*/

/*<editor-fold>----------------------------PROXY EDIT----------------------------*/

.domahub-wrapper h1,.domahub-wrapper h2,.domahub-wrapper h3,.domahub-wrapper a{
}
.domahub-wrapper {
    align-items:flex-end;
    bottom:80px;
    display:flex;
    flex-direction:column;
    position:fixed;
    right:20px;
    z-index:9999999999999;
    text-align:right;
    line-height:1;
}
.domahub-menu {
    background-color:#fff;
    border-radius:5px;
    box-shadow:3px 3px 4px 0 rgba(0,0,0,.14),0 -2px 5px -3px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12);
    display:flex;
    flex-direction:column;
    width:200px;
}

.domahub-heading-wrapper {
    background-color:#3cbc8d;
    color:#fff;
    padding:10px;
    border-radius:5px 5px 0 0;
}
.domahub-heading {
    margin:0;
    font-size:18px;
    text-align: center;
}

.domahub-info-wrapper{
    border-bottom:1px solid #D3D3D3;
    font-family: "roboto", Helvetica,sans-serif;
}
.domahub-status-info {
    color:#ff5722;
    padding:0;
    margin:10px;
    margin-bottom:5px;
    font-size:15px;
}
.domahub-rental-dates {
    padding:0;
    margin:5px 10px 5px 10px;
    font-size:15px;
    color:black;
}
.domahub-rental-dates:last-child {
    margin-bottom:10px;
}

.domahub-action-button {
    border-bottom:1px solid rgba(0,0,0,0.12);
    color:#3cbc8d;
    padding:10px 8px;
    text-decoration:none;
    transition:all 0.25s ease;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
}
.domahub-action-button:hover {
    background-color:#3cbc8d;
    color:#fff !important;
    border-color:#3cbc8d;
    text-decoration:none;
}
.domahub-action-button:visited {
    color:#3cbc8d;
}
.domahub-action-button:last-child {
    border-radius:0 0 5px 5px;
}

.domahub-action-input{
    margin:5px;
    line-height:1;
    height:25px;
    padding:0;
    font-size:15px;
}

/*</editor-fold>*/
