.w3bbi_wrapper{
	position:fixed;
	left:0;
	color:#FFF;
	text-wrap:none;
	z-index:1;
	background-color:rgba(0,0,0,0.3);
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
    border-bottom-right-radius: 5px;
	white-space: nowrap;
}

#w3bbi_wrapper{
	display:none;
	top:0;
	padding:15px;
	text-align:left
}

#w3bbi_hider{
	top:30px;
	padding:7px;
	cursor:pointer;
	border-top: 1px solid #fff;
	border-top-right-radius: 5px;
}

#w3bbi_hider:hover{background-color:rgba(0,0,0,0.5);}

#w3bbi_wrapper ::selection {background: #222 /* WebKit/Blink Browsers */}
#w3bbi_wrapper ::-moz-selection {background: #222; /* Gecko Browsers */}
#w3bbi_wrapper a {color:#D3D3D3;}

.button{
	display:inline-block;
	cursor:pointer;
	padding:5px;
	color:#FFF !important;
	background-color: rgba(0,0,0,0);
	outline:none;
	border: 1px solid #fff;
	text-decoration: none;
	vertical-align:top;
}

.button:hover{
	border: 1px solid #D3D3D3;
}

.form_submit {
	height:30px !important;
}

.edit_rental_details{
	display:inline-block;
}

.w3bbi_content_wrapper{
	padding: 15px 0 15px 0;
}

.border_white{
	border-bottom: 1px solid #fff;
}

#listing_table{
	border:1px solid #FFF;
}

#listing_table tr, th, td{
	padding:5px;
}

/* --------------------------------------------------- EDITING RENTAL */

#edit_now_details{
	display:none;
}

.edit_input{
	outline:none;
	border:0;
	margin:0;
	padding:5px 5px 5px 2.5px;
	width: calc(100% - 7.5px);
}

#rental_preview{
	height:100vh;
	width:100vw;
}

.highlight{
	border:1px dashed #FFF !important;
	cursor:pointer;
	min-height:16px;
	min-width:100px;
	animation: border-pulsate 2s infinite;
}

@keyframes border-pulsate {
    0%   { border-color: rgba(255, 255, 255, 1); }
    25%  { border-color: rgba(255, 255, 255, .8); }
    50%  { border-color: rgba(255, 255, 255, .6); }
    75%  { border-color: rgba(255, 255, 255, .8); }
    100% { border-color: rgba(255, 255, 255, 1); }
}