body {
  background-color: #eeeeee;
}

#linebreak2 {
  border-bottom: 1px solid #dddddd;
  margin: 5px auto 5px auto;
  width: 100%;
}

/*************************** REGISTER ***************************/

#message {
  color: red;
  font-family: 'Share Tech';
  text-align: center;
  text-transform: uppercase;
}

.w3bbi_login_icon {
  display: inline-block;
  font-family: 'Share Tech';
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0 15px 0;
  text-align: center;
}

.w3bbi_login_icon:hover:not(.active) {
  cursor: pointer;
  opacity: 0.9;
}

.w3bbi_login_icon a {
  color: #3CBC8D;
  font-weight: bold;
}

#register_form {
  background-color: #fff;
  -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  color: #525255;
  font-family: 'Roboto Condensed';
  height: 400px;
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 80px;
  width: 400px;
}

#register_form fieldset {
  border: none;
  box-sizing: border-box;
  width: 100%;
}

#register_form input[type="text"] {
  box-sizing: border-box;
  font-size: 1.0em;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}

#register_form input[type="password"] {
  box-sizing: border-box;
  font-size: 1.0em;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}

#register_form input[type="text"]:focus, input[type="password"]:focus {
  outline-color: #FF8751;
}

.login_field {
  margin: 15px 0 15px 0;
}

#submit {
  background-color: #3CBC8D;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.0em;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  width: 100%;
}

#submit {
  border: none;
  outline: none;
}

#submit:hover {
  background-color: #FF8751;
  cursor: pointer;
}

.trigger_link {
  display: block;
  padding: 5px 0 5px 0;
}

.login_triggers {
  padding: 15px 0 15px 0;
}

.login_triggers a {
  color: #FF8751;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
}

.login_triggers a:hover:not(.active) {
  cursor: pointer;
  font-weight: 400;
}
