/********************************************************* GLOBAL STUFF *********************************************************/

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hover_opacity{
	opacity:1 !important;
}

body, h1, h2, h3, h4, p, a{
	margin:0;
	border:0;
	padding:0;
}

body{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100vh;
}

.body_wrapper{
	text-align:center;
}

table{
    border-collapse: collapse;
}

th{
	text-align:left;
}
