<!DOCTYPE html>
<html>
  <head>
    <title>Log in - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>

    <div class="content has-text-centered clear-nav">
      <div class="has-text-centered logo-login">
        <a class="logo-text is-primary primary-logo large-logo" href="/">DomaHub</a>
      </div>
        <% if (typeof message != "undefined") {%>
            <p id="message" class="is-bold"><%= message %></p>
        <% } %>
    </div>
    <div id="login-form" class="form">
      <form id="target" action="/login" method="post">
        <label class="label">Email</label>
        <p class="control">
          <input id="email" autofocus name="email" class="input is-medium" type="email" value="" spellcheck="false">
        </p>
        <label class="label">Password</label>
        <p class="control">
          <input id="password" name="password" class="input is-medium" type="password" value="">
        </p>
        <p class="control">
          <button id="login-button" class="login-button button is-primary is-medium is-fullwidth">
            Log In
          </button>
        </p>
        <div class="control is-grouped">
          <p class="control is-expanded">
            <label class="checkbox">
              <input id="remember-checkbox" type="checkbox">
              Remember me
            </label>
          </p>
          <p class="control">
              <a class="forgot is-accent" href="/forgot">Forgot password?</a>
          </p>
        </div>

      <%# <p class="control">
        <p class="has-text-centered">
          Don't have an account?
        </p>
        <div class="has-text-centered">
          <a class="signup is-accent" href="/signup">Sign Up Now</a>
        </div>
      </p>%>
      </form>
    </div>

  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/account/account_login_logic.js" type="text/javascript"></script>

  </body>

</html>
