<!DOCTYPE html>
<html>
<head>
  <title>Verify My Account - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <div class="content has-text-centered clear-nav">
    <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/"></a>
  </div>

  <div id="login-form" class="account-form">
    <form id="target" method="post">
      <div id="message" class="content has-text-centered">
        <p>
          <% if (typeof message != "undefined") {%>
            <%= message %>
          <% } else {%>
              Click below to verify the email address on your DomaHub account!
          <% } %>
        </p>
      </div>
      <div id="form_to_hide">
        <p class="control">
          <button id="verify-button" class="login-button button is-stylish is-primary is-medium is-fullwidth">
            <div class="icon is-small">
              <i class="fal fa-check-circle"></i>
            </div>
            <span>Verify your account</span>
          </button>
        </p>
      </div>
      <div id="accept">
        <a href="/login" id="login-button" class="login-button button is-primary is-stylish is-fullwidth">
          <div class="icon is-small">
            <i class="fal fa-sign-in"></i>
          </div>
          <span>Go to Log In</span>
        </a>
      </div>
      <div id="contact-us-wrapper" class='is-hidden'>
        <a id="contact-us-button" href="/contact" tabindex="0" class="button is-primary is-stylish is-medium is-fullwidth">
          <div class="icon">
            <i class="fal fa-comment" aria-hidden="true"></i>
          </div>
          <span>Contact Us</span>
        </a>
      </div>
    </form>
  </div>

  <script src="/js/routes/account/account_verify_email_logic.js" type="text/javascript"></script>

</body>

</html>
