<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>
    <%- include("../templates/google_tag_manager"); %>
    <div class="content has-text-centered clear-nav">
      <h2>
        <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/">
          <div class='is-inline-block flat-logo is-primary'></div>
        </a>
      </h2>
    </div>
    <div class="content has-text-centered">
      <p id="message">
        <% if (typeof message != "undefined") {%>
          <%= message %>
        <% } else { %>
          Please enter a new password!
        <% }%>
      </p>
    </div>

    <div id="login-form" class="account-form">
      <form id="target" action="/reset" method="post">
      <div id="form_to_hide">
        <label class="label">Password</label>
        <p class="control has-icon has-icon-right">
          <input required class="input is-medium" name="password" type="password" id="pw-input">
          <i class="far fa-check is-hidden is-primary"></i>
          <i class="far fa-times is-hidden is-danger"></i>
        </p>
        <label class="label">Confirm Password</label>
        <p class="control has-icon has-icon-right">
          <input required class="input is-medium" name="verify-pw" type="password" id="verify-pw" autocomplete="new-password">
          <i class="far fa-check is-hidden is-primary"></i>
          <i class="far fa-times is-hidden is-danger"></i>
        </p>
        <p class="control">
          <button id="reset-button" class="is-stylish login-button button is-primary is-medium is-fullwidth">
            <div class="icon"><i class="far fa-unlock-alt"></i></div>
            <span>Reset password</span>
          </button>
        </p>

        <div class="control has-text-centered">
          <small>
            Remember your password?
          </small>
          <small class="is-block">
            <a class="signup is-primary" href="/login">Log in now</a>
          </small>
        </div>
      </div>

      <div id="accept">
        <a href="/login" id="login-button" class="login-button button is-primary is-stylish is-fullwidth">
          <div class="icon is-small">
            <i class="far fa-sign-in"></i>
          </div>
          <span>Go to Log In</span>
        </a>
      </div>

      </form>
    </div>

    <script src="/js/routes/account/account_pw_reset_logic.js" type="text/javascript"></script>

  </body>

</html>
