<!DOCTYPE html>
<html>
  <head>
    <title>Verify My Account - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>
    <div class="content has-text-centered clear-nav">
      <h2>
        <a class='is-inline-block flat-logo is-primary' tabindex="0" title="Home" href="/">
            <div class='is-inline-block flat-logo is-primary'></div>
        </a>
      </h2>
    </div>
    <div class="content has-text-centered">
      <% if (typeof message != "undefined") {%>
        <p id="message"><%= message %></p>
      <% } %>
    </div>

    <div id="login-form" class="account-form">
      <form id="target" method="post">
        <div id="message" class="content has-text-centered">
          <p>
            <% if (typeof message != "undefined") {%>
              <%= message %>
            <% } else {%>
              This account has not been verified yet! Please click below to send an email to verify your account!
            <% } %>
          </p>
      </div>

      <div id="form_to_hide">
        <p class="control">
          <button id="sendverify-button" class="is-stylish login-button button is-primary is-medium is-fullwidth">
            <div class="icon is-small">
              <i class="far fa-check-circle"></i>
            </div>
            <span>Send verification email</span>
          </button>
        </p>
      </div>

      <div id="accept">
        <a href="/login" id="login-button" class="login-button button is-primary is-stylish is-fullwidth">
          <div class="icon is-small">
            <i class="far fa-sign-in"></i>
          </div>
          <span>Go to Log In</span>
        </a>
      </div>

      </form>
    </div>

    <script src="/js/routes/account/account_verify_request_logic.js" type="text/javascript"></script>

  </body>

</html>
