<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>

    <div class="content has-text-centered clear-nav">
      <div class="has-text-centered logo-login">
        <a class="logo-text primary-logo large-logo" href="/">DomaHub</a>
      </div>
      <p id="message" class="">
        <% if (typeof message != "undefined") {%>
          <%= message %>
        <% } else {%>
            Enter your email to reset your password
        <% } %>
      </p>
    </div>

    <div id="login-form" class="form">
      <form id="target" action="/forgot" method="post" autocomplete="off">

      <div id="form_to_hide">
          <label class="label">Email</label>
          <p class="control">
              <input id="email" name="email" class="input is-medium" type="email" autcomplete="new-password" spellcheck="false">
          </p>
          <p class="control">
              <button id="login-button" class="login-button button is-primary is-medium is-fullwidth">
                  Change your password
              </button>
          </p>

          <p class="control">
              <p class="has-text-centered">
                  Remember your password?
              </p>
              <div class="has-text-centered">
                  <a class="signup is-accent" href="/login">Log In Now</a>
              </div>
          </p>
      </div>

      <div id="accept">
          <a id="login-button" class="login-button button is-primary is-medium is-fullwidth" href="/">
            Go Back Home
          </a>
      </div>

      </form>
    </div>
    
  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/account/account_pw_forgot_logic.js" type="text/javascript"></script>

  </body>

</html>
