<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>

      <div class="content has-text-centered clear-nav">
        <h2 class="margin-bottom-5 has-text-centered">
            <a class='is-inline-block flat-logo is-primary' tabindex="1" title="Home" href="/">
                <div class='is-inline-block flat-logo is-primary'></div>
            </a>
        </h2>
          <% if (typeof message != "undefined") {%>
              <p id="message" class="has-text-centered margin-top-0 margin-bottom-15"><%= message %></p>
          <% } else { %>
              <p id="message" class="has-text-centered margin-top-0 margin-bottom-15">Please enter a new password!</p>
          <% }%>
      </div>

    <div id="login-form" class="account-form">
      <form id="target" action="/reset" method="post">
      <div id="form_to_hide">
          <label class="label">Password</label>
          <p class="control has-icon has-icon-right">
              <input class="input is-medium" name="password" type="password" id="pw-input">
              <i class="fa fa-check is-hidden is-success"></i>
              <i class="fa fa-times is-hidden is-danger"></i>
          </p>
          <label class="label">Confirm Password</label>
          <p class="control has-icon has-icon-right">
              <input class="input is-medium" name="verify-pw" type="password" id="verify-pw" autocomplete="new-password">
              <i class="fa fa-check is-hidden is-success"></i>
              <i class="fa fa-times is-hidden is-danger"></i>
          </p>
          <p class="control">
              <button id="login-button" class="login-button button is-primary is-medium is-fullwidth">
                  Change your password
              </button>
          </p>

          <p class="control">
              <p class="has-text-centered">
                  Remember your password?
              </p>
              <div class="has-text-centered">
                  <a class="signup is-accent" href="/login">Log In Now</a>
              </div>
          </p>
      </div>

      <div id="accept">
          <a id="login-button" class="login-button button is-primary is-medium is-fullwidth" href="/login">
              Log in
          </a>
      </div>

      </form>
    </div>

  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/account/account_pw_reset_logic.js" type="text/javascript"></script>

  </body>

</html>
