<!DOCTYPE html>
<html>
  <head>
    <title>Connect with Stripe - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/login_signup.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>

    <div id="login-form" class="form">
      <form id="target" action="/login" method="post">
        <div class="has-text-centered logo-login">
          <a class="logo-text primary-logo" href="/">DomaHub</a>
        </div>
        <div id="message" class="has-text-centered">
            You must connect your DomaHub account with Stripe in order to accept payments.
        </div>

        <div id="stripe">
            <a id="login-button" class="login-button button is-primary is-medium is-fullwidth" href="/authorizestripe">
              Connect with Stripe
            </a>
        </div>

      </form>
    </div>
    
  <%- include("../templates/js_scripts"); %>
  </body>

</html>
