<!DOCTYPE html>
<html>
  <head>
    <title>Verify My Account - DomaHub</title>
    <link rel="stylesheet" type="text/css" href="/css/min/login_signup.min.css" />
    <%- include("../templates/head_links"); %>
  </head>

  <body>
    <div class="content has-text-centered clear-nav">
      <a class='is-inline-block flat-logo is-primary' tabindex="1" title="Home" href="/">
          <div class='is-inline-block flat-logo is-primary'></div>
      </a>
      <div id="message" class="content has-text-centered">
        <p>
          <% if (typeof message != "undefined") {%>
            <%= message %>
          <% } else {%>
              Click below to verify your account!
          <% } %>
        </p>
      </div>
    </div>

    <div id="login-form" class="account-form">
      <form id="target" method="post">
        <div id="form_to_hide">
          <p class="control">
            <button id="login-button" class="login-button button is-primary is-stylish is-fullwidth">
                Verify your account
            </button>
          </p>
        </div>
        <div id="accept">
            <a id="login-button" class="login-button button is-primary is-stylish is-fullwidth" href="/login">
                Log in
            </a>
        </div>
      </form>
    </div>

  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/account/account_verify_email_logic.js" type="text/javascript"></script>

  </body>

</html>
