.box
  @extend .block
  +box-shadow(0,8px,20px,rgba(0,0,0,0.07),2px)
  background-color: $white
  border-radius: $radius-large
  display: block
  padding: 20px
  &.no-shadow
    +box-shadow(0,0,0,$black,0)
    border: 1px solid $border
  &.has-tabs
    border-radius: 0 0 $radius-large $radius-large
  &.no-border-radius
    border-radius: 0
  &.no-border
    border: none !important
  &.is-small
    max-width: 300px
  &.is-medium
    max-width: 500px
  &.is-centered
    margin-left: auto
    margin-right: auto

.box-footer
  border-top: 1px solid $border
  display: flex
  padding-top: 20px
  &.has-items-right
    justify-content: flex-end
