.box
  @extend .block
  +box-shadow(0,8px,20px,$border,2px)
  background-color: $white
  border-radius: $radius-large
  display: block
  padding: 20px
  &.no-shadow
    +box-shadow(0,0,0,$black,0)
    border: 1px solid $border
  &.has-tabs
    border-radius: 0 0 $radius-large $radius-large
  &.no-border-radius
    border-radius: 0
  &.no-border
    border: none !important
  &.has-footer
    padding: 0
  &.is-small
    max-width: 300px
  &.is-medium
    max-width: 500px
  &.is-centered
    margin-left: auto
    margin-right: auto

.box-content
  padding: 20px

.box-footer
  .button
    border-radius: 0 0 $radius-large $radius-large
    width: 100%
