=button-small
  font-size: 12px
  height: 26px
  padding-left: 6px
  padding-right: 6px
=button-medium
  font-size: 18px
  height: 44px
  padding-left: 14px
  padding-right: 14px
=button-large
  font-size: 22px
  height: 48px
  padding-left: 20px
  padding-right: 20px

.button
  @extend .unselectable
  +box-shadow(0,1px,3px,$border,0)
  +control
  cursor: pointer
  justify-content: center
  text-align: center
  white-space: nowrap
  strong
    color: inherit
  small
    display: block
    font-size: $size-small
    line-height: 1
    margin-top: 5px
  .icon
    margin-top: -2px
    &:first-child
      margin-left: -3px
      margin-right: 3px
    &:last-child
      margin-left: 3px
      margin-right: -3px
    & + span
      margin-left: 3px
      margin-right: -3px
  &:active
    +box-shadow(0,1px,1px,$border,0)
  &:hover
    +box-shadow(0,2px,12px,$border,0)
    border-color: $black-disabled
  &:focus
    border-color: $info
  // Modifiers
  &.no-shadow
    +box-shadow(0,0,0,$black,0)
  &.is-icon
    .icon
      margin-left: 0 !important
      margin-right: 0 !important
  &.is-circle
    border-radius: 25px
    height: 40px
    &.is-small
      height: 30px

  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      border-color: transparent
      color: $color-invert
      &:hover,
      &:focus,
      &.is-active
        background-color: darken($color, 5%)
        border-color: transparent
        color: $color-invert
      &:active
        border-color: transparent
      &.is-transparent
        background-color: transparent
        color: $color
        &:hover,
        &:active,
        &:focus
          background-color: $lighter
      &.is-inverted
        background-color: $color-invert
        color: $color
        &:hover,
        &:active,
        &:focus
          background-color: darken($color-invert, 5%)
      &.is-loading
        &:after
          border-color: transparent transparent $light $light !important
      &.is-outlined
        background-color: $color-invert
        border-color: $color
        color: $color
        &:hover,
        &:active,
        &:focus
          background-color: darken($color-invert, 5%)

  // Sizes
  &.is-small
    +button-small
  &.is-medium
    +button-medium
  &.is-large
    +button-large
  &.is-stylish
    font-weight: 700
    font-size: 14px
    height: 44px
    padding-left: 14px
    padding-right: 14px
    +mobile-456px
      height: 36px
    &.is-small
      font-size: 12px
      height: 36px
      padding-left: 10px
      padding-right: 10px
    &.is-large
      font-size: 16px
      height: 48px
      padding-left: 20px
      padding-right: 20px
      +mobile-456px
        font-size: 12px
        height: 38px
        padding-left: 14px
        padding-right: 14px
  // Modifiers
  &[disabled],
  &.is-disabled
    opacity: 0.7
    background-color: $border
  &.is-fullwidth
    display: flex
    width: 100%
  &.is-fullwidth-mobile
    +mobile-456px
      display: flex
      width: 100%
  &.is-loading
    +transition(none)
    color: transparent !important
    pointer-events: none
    &:after
      @extend .loader
      +center(16px)
      position: absolute !important

button
  +transition(all 0.25s ease)

.loader
  animation: spin-around 500ms infinite linear
  border: 2px solid $light
  border-radius: 290486px
  border-right-color: transparent
  border-top-color: transparent
  content: ""
  display: block
  height: 16px
  position: relative
  width: 16px
