.content
  @extend .block
  & + .content
    margin-top: 20px
  p
    line-height: 1.5
    word-break: normal
  // List elements
  li
    &.has-icon
      span + span
        margin-left: 5px
      line-height: 24px
      &.is-small
        line-height: 16px
      &.is-medium
        line-height: 32px
      &.is-large
        line-height: 48px
    +mobile-456px
      font-size: $size-7

  blockquote,
  p,
  ol,
  ul
    &:not(:last-child)
      margin-bottom: 10px

  blockquote
    background-color: $background
    border-left: 5px solid $border
    padding: 1.5em

  ol
    list-style: decimal outside
    margin: 5px 15px
  ul
    list-style: none
    &.is-spaced
      display: flex
      flex-wrap: wrap
      +touch
        justify-content: center
      li
        &:not(:last-child)
          margin-right: 10px
        & + li
          margin-top: 0
    &.has-disc
      list-style-type: disc
      padding-left: 20px
      li
        line-height: 1.5
        margin: 5px 0
    ul
      list-style-type: circle
      margin-top: 0.5em
      ul
        list-style-type: square
