=form-control
  +control
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      border-color: $color
      &:hover,
      &:focus
        border-color: darken($color, 6%)

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0 100px white inset
  box-shadow: 0 0 0px 100px white inset

.form
  margin: 10px 0

.input
  +form-control
  +transition(all 0.2s ease)
  border: 1px solid $border
  border-radius: $radius
  max-width: 100%
  width: 100%
  &:hover
    border-color: $black-disabled
  &:focus
    +box-shadow(0,2px,4px,$border,0)
    outline: 0
    border-color: $info
  // Sizes
  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-stylish
    font-size: 12px
    font-weight: 700
    max-width: 200px
    &.is-medium
      font-size: 16px
      max-width: none
      &:focus
        max-width: none
    &:focus
      max-width: 400px
  &.has-shadow
    +box-shadow(0,1px,3px,$border,0)
  &.no-border
    border: none
  &.is-narrow
    width: auto
  &.is-transparent
    background-color: transparent
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

.textarea
  @extend .input
  border-radius: $radius
  border: 1px solid $border
  display: block
  line-height: 1.5
  max-height: 600px
  min-height: 120px
  padding: 10px
  width: 100%
  resize: none

%control-with-element
  cursor: pointer
  display: inline-block
  line-height: 16px
  position: relative
  &.is-disabled
    color: $text-disabled
    pointer-events: none
    input
      pointer-events: none

.checkbox
  @extend %control-with-element

.radio
  @extend %control-with-element
  & + .radio
    margin-left: 10px

.select
  +transition(all 0.2s ease)
  border-radius: $radius-small
  display: inline-block
  height: 32px
  position: relative
  vertical-align: top
  select
    +transition(all 0.2s ease)
    +form-control
    cursor: pointer
    display: block
    padding-right: 36px
    &:hover
      border-color: $black-disabled
    &:focus
      outline: 0
      border-color: #007bff
    &::-ms-expand
      display: none
  &::-ms-expand
    display: none
  &.has-shadow
    +box-shadow(0,5px,5px,$border,0)
  &.is-transparent
    background-color: transparent
    select
      background-color: transparent
  &.no-borders
    select
      border: none
  &.is-fullwidth
    width: 100%
    select
      width: 100%
  &.is-disabled
    select
      background-color: $grey-light
      color: $text-disabled
      border-color: $grey-light
      opacity: 0.7
  &:after
    +arrow($black-primary)
    margin-top: -3px
    right: 16px
    top: 50%
  &:active,
  &:focus
    border-color: $black-disabled
  // Sizes
  &.is-stylish
    select
      font-size: 12px
      font-weight: 700
    option
      font-size: 16px
      text-transform: capitalize
  &.is-small
    height: 26px
    select
      +control-small
      padding-right: 28px
  &.is-medium
    height: 40px
    select
      +control-medium
      padding-right: 44px
  &.is-large
    height: 48px
    select
      +control-large
      padding-right: 52px

.label
  color: $text
  display: block
  &:not(:last-child)
    margin-bottom: 5px
  &.is-small
    font-size: $size-small
  &.is-medium
    font-size: $size-medium
  &.is-large
    font-size: $size-large

// control containers
.control
  position: relative
  text-align: left
  &:not(:last-child)
    margin-bottom: 25px
  // Modifiers
  &.has-text-centered
    text-align: center
  &.has-addons
    display: flex
    justify-content: flex-start
    .button,
    .input,
    .select
      border-radius: 0
      margin-right: -1px
      &.is-icon
        margin-right: 0
      &:hover
        z-index: 2
      &:active,
      &:focus
        z-index: 3
      &:first-child
        border-radius: $radius 0 0 $radius
        select
          border-radius: $radius 0 0 $radius
      &:last-child
        border-radius: 0 $radius $radius 0
        select
          border-radius: 0 $radius $radius 0
      &.is-expanded
        flex-grow: 1
    &.has-addons-centered
      justify-content: center
    &.has-addons-right
      justify-content: flex-end
    &.has-addons-fullwidth
      .button,
      .input,
      .select
        flex-grow: 1
  &.is-spaced
    display: flex
    justify-content: space-between
    align-items: center
    .control-left
      margin-right: 10px
      margin-bottom: 0
    .control-left,
    .control-right
      &.is-flex
        display: flex
        justify-content: flex-start
        align-items: center
        .image + p
          margin-top: 0
          margin-left: 20px
        .control-item
          &.is-tooltip
            margin-left: 5px
          &:not(:last-child)
            margin-right: 10px
    &.is-aligned-start
      align-items: flex-start
    &.is-mobile
      +mobile
        align-items: flex-start
        flex-direction: column
        justify-content: flex-start
        .control-left
          margin-bottom: 10px
          margin-right: 0
  &.has-items-center
    display: flex
    align-items: center
  &.has-icon
    & > .icon
      color: $text-disabled
      font-size: 16px
      pointer-events: none
      position: absolute
      top: 6px
      z-index: 4
      &.is-danger
        color: $danger
      &.is-success
        color: $primary
    .input,
    .select
      &.is-small + .icon
        font-size: 10.5px
        top: 2px
      &.is-medium + .icon
        font-size: 20px
        top: 10px
      &.is-large + .icon
        font-size: 21px
        top: 12px
    &:not(.has-icon-right)
      & > .icon
        left: 4px
      .input
        padding-left: 32px
        &.is-small
          padding-left: 24px
          & + .icon
            left: 0
        &.is-medium
          padding-left: 40px
          & + .icon
            left: 8px
        &.is-large
          padding-left: 48px
          & + .icon
            left: 12px
      .select
        select
          padding-left: 32px
        &.is-small
          select
            padding-left: 24px
          & + .icon
            left: 0
        &.is-medium
          select
            padding-left: 40px
          & + .icon
            left: 8px
        &.is-large
          select
            padding-left: 48px
          & + .icon
            left: 12px
    &.has-icon-right
      & > .icon
        right: 8px
        top: 8px
      .input
        padding-right: 32px
        &.is-small
          padding-right: 24px
          & + .icon
            right: 0
        &.is-medium
          padding-right: 40px
          & + .icon
            right: 8px
        &.is-large
          padding-right: 48px
          & + .icon
            right: 12px
      .select
        select
          padding-right: 32px
        &.is-small
          select
            padding-right: 24px
          & + .icon
            left: 0
        &.is-medium
          select
            padding-right: 40px
          & + .icon
            left: 8px
        &.is-large
          select
            padding-right: 48px
          & + .icon
            left: 12px
  &.is-grouped
    display: flex
    justify-content: flex-start
    & > .control
      &:not(:last-child)
        margin-bottom: 0
        margin-right: 10px
      &.is-expanded
        flex-grow: 1
  &.is-grouped-center
    display: flex
    justify-content: center
  &.is-grouped-right
    display: flex
    justify-content: flex-end
  &.is-horizontal
    +tablet
      display: flex
      justify-content: flex-end
      & > .control
        display: flex
        flex-grow: 5
  &.is-loading
    &:after
      @extend .loader
      position: absolute !important
      right: 8px
      top: 8px
