.icon
  align-items: center
  display: inline-flex
  justify-content: center
  height: 1.5rem
  width: 1.5rem
  .fa
    font-size: 21px
    height: 1.5rem
    width: 1.5rem
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      color: $color
      &.is-circle
        border: 2px solid $color
        background: $color
        border-radius: 100%
        color: $color-invert
        width: 32px
        height: 32px
        // Sizes
        &.is-medium
          width: 45px
          height: 45px
          margin-bottom: 20px
          .fa
            font-size: 22px
            height: 24px
            width: 28px
  // Sizes
  &.is-small
    height: 1rem
    width: 1rem
    .fa
      font-size: 14px
      height: 1rem
      width: 1rem
  &.is-medium
    height: 2rem
    width: 2rem
    .fa
      font-size: 28px
      height: 2rem
      width: 2rem
  &.is-large
    height: 3rem
    width: 3rem
    .fa
      font-size: 42px
      height: 3rem
      width: 3rem
  // Modifiers
  &.is-active
    color: $primary
  &.is-disabled
    color: $black-disabled
  &.is-tooltip
    color: #767676
    cursor: pointer !important
