.notification
  @extend .block
  +box-shadow(1px,8px,20px,$border,3px)
  +clearfix
  border-radius: $radius
  padding: 16px 20px
  position: relative
  .delete
    border-radius: 0 $radius
    float: right
    margin: -16px -20px 0 20px
  .subtitle,
  .title
    color: inherit
  p
    line-height: 1.5
  &.has-border
    border: 1px solid $border
  &.no-shadow
    @include box-shadows(0 0 0 0 $white,0 0 0 0 $white,0 0 0 0 $white)
  &.is-popup
    +keyframes(effect .1s forwards)
    left: 0
    right: 0
    margin: auto
    box-sizing: border-box
    position: fixed
    top: 40px
    width: 350px
    z-index: 999999
    &.is-active
      +mobile
        border-radius: 0
        top: 0
        width: 100%
  // animate
  @keyframes effect
    0%
      opacity: 0
      +scale(0.7)
    100%
      opacity: 1
  @keyframes flash
    0%
      opacity: 0.5
    100%
      opacity: 1
  // Sizes
  &.is-small
    width: 500px
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
      &.has-icon
        display: flex
        justify-content: flex-start
        padding: 0
        .icon-box
          align-items: center
          background-color: darken($color, 10%)
          border-radius: $radius 0 0 $radius
          display: flex
          padding: 20px
          .icon
            +keyframes(flash 1s infinite alternate)
        .content
          padding: 20px
