.table
  background-color: #fff
  border-collapse: separate
  border-radius: $radius
  border-spacing: 0px
  border: 1px solid $border
  box-shadow: none
  margin-bottom: 20px
  width: 100%
  &.is-fixed
    table-layout: fixed
  &.is-narrow
    width: auto
  &.no-borders
    td,
    th
      border-bottom: none
  &.is-transparent-head
    background-color: transparent
    border: none
    thead
      background-color: transparent
      th
        border-bottom: none
    tbody
      background-color: #fff
  td,
  th
    text-align: left
    vertical-align: middle
    // Modifiers
    &.is-narrow
      white-space: nowrap
      width: 1%
    +mobile-456px
      font-size: 14px
  th
    border-bottom: none
    font-size: $size-7
    font-weight: 500
    padding: 15px 12px
    &.is-400
      font-weight: 400
  td
    border-bottom: 1px solid $border
    padding: 15px 12px
    a
      word-break: break-all
    &.is-danger
      color: $danger
    &.is-primary
      color: $primary
  thead
    th
      border-bottom: 1px solid $border
    &.has-hover-effect
      th
        &:hover
          cursor: pointer
  tbody
    tr
      &:hover
        cursor: pointer
      &.is-active
        background-color: #efefef
      &.no-hover-effect
        &:hover
          cursor: auto
  // Modifiers
  &.has-shadow
    border: none
    tbody
      +box-shadow(1px,1px,1px,$border,0)
    thead
      background-color: #e5ecf1
  &.is-bordered
    td,
    th
      border-width: 1px
    tr
      &:last-child
        td
          border-bottom-width: 0
  &.is-striped
    tbody
      tr
        &:hover
          background-color: darken($background, 2%)
        &:nth-child(2n)
          background-color: $background
          &:hover
            background-color: darken($background, 2%)

.caption
  font-size: 1.5rem
  padding: 10px 0 10px 0
