.table
  background-color: #fff
  border-collapse: separate
  border-radius: $radius
  border-spacing: 0px
  border: 1px solid $border
  box-shadow: none
  width: 100%
  td,
  th
    text-align: left
    vertical-align: middle
    // Modifiers
    &.is-narrow
      white-space: nowrap
      width: 1%
    +mobile-456px
      font-size: 14px
  th
    border-bottom: none
    color: $grey
    font-size: 11px
    font-weight: 700
    letter-spacing: 1px
    padding: 15px 12px
    text-transform: uppercase
  td
    border-bottom: 1px solid $border
    font-size: $size-7
    padding: 20px 12px
    a
      word-break: break-all
    &.is-danger
      color: $danger
    &.is-primary
      color: $primary
  thead
    th
      border-bottom: 1px solid $border
    &.no-border-bottom
      th
        border-bottom: none
    &.has-hover-effect
      th
        &:hover
          cursor: pointer
    &.is-pastel
      background-color: $pastel
  tbody
    tr
      &:last-child
        td
          border-bottom: none
      &:hover
        cursor: pointer
      &.is-active
        background-color: #efefef
      &.has-hover-effect
        &:hover
          background-color: rgba(60,188,141,0.06)
      &.no-hover-effect
        &:hover
          cursor: auto
  // Modifiers
  &.is-fixed
    table-layout: fixed
  &.is-narrow
    width: auto
  &.has-shadow
    tbody
      +box-shadow(0,2px,4px,$border,0)
  &.no-borders
    border: none
  &.is-striped
    tbody
      tr
        &:hover
          background-color: darken($background, 2%)
        &:nth-child(2n)
          background-color: $background
          &:hover
            background-color: darken($background, 2%)

.caption
  font-size: 1.5rem
  padding: 10px 0 10px 0
