.tag
  align-items: center
  background-color: $background
  border-radius: 290486px
  color: $text
  display: inline-flex
  font-size: 12px
  font-weight: 400
  height: 24px
  justify-content: center
  line-height: 16px
  padding-left: 10px
  padding-right: 10px
  vertical-align: top
  white-space: nowrap
  .delete
    margin-left: 4px
    margin-right: -6px
  &:not(.is-large)
    .delete
      @extend .delete.is-small
  // Modifiers
  &.is-uppercase
    text-transform: uppercase
  &.is-bordered
    border: 1px solid $black-secondary
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      border-color: $color
      color: $color-invert
  // Sizes
  &.is-dot
    height: 12px
    width: 12px
    padding-left: 6px
    padding-right: 6px
  &.is-small
    height: 18px
    vertical-align: middle
    padding-left: 6px
    padding-right: 6px
  &.is-medium
    font-size: $size-normal
    height: 32px
    padding-left: 14px
    padding-right: 14px
  &.is-large
    font-size: $size-5
    height: 40px
    line-height: 24px
    padding-left: 18px
    padding-right: 18px
    .delete
      margin-left: 4px
      margin-right: -8px
