.tag
  align-items: center
  background-color: $background
  border-radius: 290486px
  color: $text
  display: inline-flex
  font-size: 12px
  font-weight: 400
  height: 24px
  justify-content: center
  line-height: 16px
  padding-left: 10px
  padding-right: 10px
  vertical-align: top
  white-space: nowrap
  span + span
    margin-left: 2px
  .delete
    margin-left: 4px
    margin-right: -6px
  &:not(.is-large)
    .delete
      @extend .delete.is-small
  // Modifiers
  &.is-bordered
    border: 1px solid $black-secondary
  &.is-stylish
    text-transform: uppercase
    letter-spacing: 1px
    &.is-medium
      font-size: 12px
  &.has-shadow
    +box-shadow(0,2px,6px,$border,1px)
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      border-color: $color
      color: $color-invert
      &.is-outlined
        background-color: $color-invert
        border: 1px solid $color
        color: $color


  // Sizes
  &.is-dot
    height: 9px
    width: 9px
    padding-left: 3px
    padding-right: 3px
  &.is-small
    font-size: 11px
    height: 20px
    vertical-align: middle
  &.is-medium
    font-size: $size-normal
    height: 32px
    padding-left: 14px
    padding-right: 14px
  &.is-large
    font-size: $size-5
    height: 40px
    line-height: 24px
    padding-left: 18px
    padding-right: 18px
    .delete
      margin-left: 4px
      margin-right: -8px
