<html>
<body>
<script>
  var analyzed_data = <% if(typeof analyzed_data != "undefined"){ %><%-JSON.stringify(analyzed_data)%><% }else{ %>""<% } %>;
</script>
<style>
  .inline {
    display:inline-block;
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid black;
    vertical-align:top;
  }
  table {
    text-align:left;
    border-collapse: collapse;
  }
  tr:hover {
    background-color:#F1F1F1;
  }
  td {
    padding:5px;
    border:1px solid lightgray;
  }
  td.checkavail{
    height:29px;
  }
  th {
    border:1px solid black;
    padding:5px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/lib/moment.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){

  for (var x in analyzed_data){
    var temp_header = x;
    var temp_table = $("<table></table>");

    //create header
    var temp_header_row = $("<tr></tr>");
    temp_header_row.append("<th>#</th>");
    for (var t in analyzed_data[x][0]){
      temp_header_row.append("<th data-table='" + x + "' data-property=" + t + "'>" + t + "</th>");
    }
    temp_table.append(temp_header_row);
    temp_header += " - " + analyzed_data[x].length + " total";

    //create rows
    for (var y = 0 ; y < analyzed_data[x].length ; y++){
      var temp_row = $("<tr></tr>");
      temp_row.append("<td>" + (y + 1) + "</td>");

      //create TD
      for (var z in analyzed_data[x][y]){
        temp_row.append("<td>" + ((analyzed_data[x][y][z]) ? analyzed_data[x][y][z] : "-") + "</td>");
      }

      temp_table.append(temp_row);
    }

    $("body").append("<h1>" + temp_header + "</h1>").append(temp_table);
  }
});
</script>
</body>
</html>
