<html>

	<head>
		<title>Marketplace</title>
		<link rel="stylesheet" href="/css/min/marketplace.min.css" type="text/css" />
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" />
		<script async type="text/javascript" src="https://use.fontawesome.com/b36602cf54.js"></script>
		<script type="application/ld+json">
		  {
		    "@context": "http://schema.org",
		    "@type": "WebSite",
		    "name": "DomaHub",
		    "url": "https://www.domahub.com"
		  }
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	</head>

	<body>

    <section class="hero is-primary is-small gradient-left-right">

      <div class="hero-head">
        <nav class="nav">
          <div class="nav-left">
						<a class="nav-item">
							<figure class="image is-32x32">
								<img src="/images/dh-assets/circle-logo/dh-circle-logo-white.png" />
							</figure>
						</a>
          </div>
          <div class="nav-center">

          </div>
          <div class="nav-right nav-menu">
            <a class="nav-item">
              contactme@internet.com
            </a>
            <a class="nav-item">
              212-503-6773
            </a>
            <span class="nav-item">
              <a class="button is-primary is-inverted is-stylish is-small">
								<span class="icon"><i class="fa fa-shopping-cart"></i></span>
                <span>Checkout</span>
              </a>
            </span>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container">
          <div class="content has-text-centered">
            <h1 class="title">Hot Fresh Domains</h1>
						<p class="subtitle is-4">
							Made by hand every day - quality guaranteed!
						</p>
          </div>
        </div>
      </div>

    </section>

    <section class="section is-small" style="background-color:#f2f5f7;">
      <div class="container">
				<div class="control has-addons" style="max-width:500px;margin-left:auto;margin-right:auto;">
					<input class="input is-medium" type="text" placeholder="Search domains..."/>
					<input class="input is-medium" type="text" value=".com" style="max-width:100px;color:#3cbc8d"/>
					<button class="button is-primary is-medium">
						<span>Submit</span>
					</button>
				</div>
				<div class="control is-spaced is-mobile">
					<div class="control-left">
						<p>
							Showing 20 of 243 domains
						</p>
					</div>
					<div class="control-right">
						<div class="select no-borders">
							<select>
								<option>All Categories</option>
								<option>Automotive</option>
								<option>Start-Up</option>
								<option>Medical</option>
								<option>Marijuana</option>
							</select>
						</div>
						<div class="select no-borders">
							<select>
								<option>A to Z</option>
								<option>Z to A</option>
								<option>$: Descending</option>
								<option>$: Ascending</option>
							</select>
						</div>
						<button class="button is-icon">
							<span class="icon">
								<i class="fa fa-angle-left"></i>
							</span>
						</button>
						<button class="button is-icon">
							<span class="icon">
								<i class="fa fa-angle-right"></i>
							</span>
						</button>
					</div>
				</div>
      </div>
    </section>

		<section class="section is-small" style="background-color:#f2f5f7;min-height:800px;">
			<div class="container">
				<table class="table is-transparent-head">
					<thead>
						<tr>
							<th colspan="1"></th>
							<th colspan="2">Domain Name</th>
							<th colspan="1">BIN</th>
							<th colspan="1">Min. Offer</th>
							<th colspan="1">Rent</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-row no-hover-effect">
							<td colspan="1" class="img-col">
								<figure class="image is-48x48 left-aligned">
									<img src="/images/lib/ggface.png" alt="Domain Logo"/>
								</figure>
							</td>
							<td colspan="2" class="domain-col">
								<p>
									ggface.com
								</p>
							</td>
							<td colspan="1" class="bin-col">
								<div class="control-item">
									<span class="tag is-success is-dot"></span>
									<p>
										$1,500
									</p>
								</div>
							</td>
							<td colspan="1" class="min-col">
								<div class="control-item">
									<span class="tag is-warning is-dot"></span>
									<p>
										$250
									</p>
								</div>
							</td>
							<td colspan="1" class="rent-col"></td>
							<td colspan="1" class="misc-col">
								<button class="button no-shadow is-icon is-transparent is-black misc-button">
									<span class="icon"><i class="fa fa-ellipsis-h"></i></span>
								</button>
								<div class="misc-options is-hidden">
									<ul>
										<li><i class="fa fa-facebook"></i></li>
										<li><i class="fa fa-search"></i></li>
										<li><i class="fa fa-adjust"></i></li>
										<li><i class="fa fa-bell"></i></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr class="table-row no-hover-effect">
							<td colspan="1" class="img-col">
								<figure class="image is-48x48 left-aligned">
									<img src="/images/lib/sign.png" alt="Domain Logo"/>
								</figure>
							</td>
							<td colspan="2" class="domain-col">
								<p>
									signup.online
								</p>
							</td>
							<td colspan="1" class="bin-col">
								<div class="control-item">
									<span class="tag is-success is-dot"></span>
									<p>
										$2,500
									</p>
								</div>
							</td>
							<td colspan="1" class="min-col">
								<div class="control-item">
									<span class="tag is-danger is-dot"></span>
									<p>
										--
									</p>
								</div>
							</td>
							<td colspan="1" class="rent-col">
								<div class="control-item">
									<span class="tag is-info is-dot"></span>
									<p>
										$250 / mo
									</p>
								</div>
							</td>
							<td colspan="1" class="misc-col">
								<button class="button no-shadow is-icon is-transparent is-black misc-button">
									<span class="icon"><i class="fa fa-ellipsis-h"></i></span>
								</button>
								<div class="misc-options is-hidden">
									<ul>
										<li><i class="fa fa-facebook"></i></li>
										<li><i class="fa fa-search"></i></li>
										<li><i class="fa fa-adjust"></i></li>
										<li><i class="fa fa-bell"></i></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<footer class="footer is-dark">
			<div class="container">
				<div class="footer-bar">
					<div class="bar-left">
						<a tabindex="0" class="circle-logo footer-item is-white" href="/" title="Home"></a>
		        <p class="footer-item is-white">
		          <i class="fa fa-copyright"></i>
							Hot Fresh Domains
		        </p>
					</div>
					<div class="bar-right">

					</div>
				</div>
			</div>
		</footer>

		<script src="/js/dev/marketplace.js" type="text/javascript"></script>
  </body>

  </html>
