<div id="announcement-modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content is-small">
      <div class="content has-text-centered">
        <h2 class="is-bold">New Changes</h2>
        <p>
          DomaHub 1.03
        </p>
      </div>
      <div class="content">
        <div class="fac has-margin-bottom">
          <span class="tag is-primary" style="margin-right:5px;">NEW</span>
          <h3>
            Introducing the Hub
          </h3>
        </div>
        <p>
          With the Hub, you can create a marketplace on your domain that showcases your entire portfolio.
        </p>
        <ul class="has-disc">
          <li>
            Unlimited domains
          </li>
          <li>
            SSL Secured
          </li>
          <li>
            Logos for each domain
          </li>
        </ul>
      </div>
      <div class="control is-expanded">
        <a href="/profile/mylistings" tabindex="0" class="button is-fullwidth is-primary is-stylish">
          <span>Create Your Hub Now</span>
          <div class="icon is-small"><i class="far fa-long-arrow-right"></i></div>
        </a>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
