<div id="announcement-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
      <div class="card">
        <div class="card-header">
          <h3 class="is-bold">
            <span class="tag is-primary" style="margin-right:5px;">NEW</span>
            Introducing the Hub!
          </h3>
        </div>
        <div class="card-content">
          <div class="content">
            <p>
              With the Hub, you can create a marketplace on your domain that showcases your entire portfolio.
            </p>
            <a class="is-underlined is-primary" href="https://medium.com/@domahub/introducing-domain-hubs-635eccb2202f">Read more about it on our blog.</a>
          </div>
          <figure class="image">
            <img src="https://cdn-images-1.medium.com/max/600/1*AHVztM8TXgncxafvXZRi2Q.png" alt="DomaHub Marketplace"/>
          </figure>
        </div>
        <div class="card-footer has-text-centered">
          <div class="control">
            <a href="/profile/mylistings" tabindex="0" class="button is-fullwidth is-primary is-stylish">
              <span>Create Your Hub Now</span>
              <div class="icon is-small"><i class="fal fa-long-arrow-right"></i></div>
            </a>
          </div>
        </div>
      </div>
  </div>
  <button class="modal-close"></button>
</div>
