<div class="profile-nav">
  <ul class="hover-menu">
    <li class="hover-menu-link">
      <a tabindex="0" title="Dashboard" href="/profile/dashboard">Dashboard</a>
    </li>
    <li class="hover-menu-link">
      <a tabindex="0" title="Listings" href="/profile/mylistings">My Listings</a>
    </li>
    <li class="hover-menu-link">
      <a tabindex="0" title="Create Listing" href="/listings/create">Create Listing</a>
    </li>
    <li class="hover-menu-link">
      <a tabindex="0" title="View Offers" href="/profile/mylistings?tab=offers">View Offers</a>
    </li>
    <li class="hover-menu-link">
      <a tabindex="0" title="Settings" href="/profile/settings">Settings</a>
    </li>
  </ul>
</div>
