@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

.landing {
  background-color: #3cbc8d;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%233ca77f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  overflow: hidden;
  position: relative;
  width: 100%;
}

.feature {
  .icon {
    margin-bottom: 10px;
  }
}

.flex-align {
  display: flex;
  justify-content: flex-start;
  .content {
    margin-left: 20px;
  }
}

.hiw {
  background-color: #f6f9fc;
background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dfe6ec' fill-opacity='0.4'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hiw-step {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.hiw-num {
  color: $white;
  font-size: 12px;
  background-color: $dark;
  height: 24px;
  width: 24px;
  border-radius: 25px;
  text-align: center;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  right: -10px;
  top: -10px;
}

.header {
  margin-bottom: 50px;
}

.control {
  &.is-spaced {
    .control-left {
      margin-right: 20px;
    }
  }
}

.line {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  &.is-1 {
    margin-right: auto;
    border-right: 3px dashed $border;
    border-top: 3px dashed $border;
  }
  &.is-2 {
    margin: 0 auto;
    border-right: 3px dashed $border;
  }
  &.is-3 {
    margin-right: auto;
    border-right: 3px dashed $border;
    border-bottom: 3px dashed $border;
  }
}
