@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/level.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/alert.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

.flex-align-center {
  display: flex;
  align-items: center;
  margin: 10px 0;
  .icon {
    margin-right: 10px;
    &.fix {
      margin-left: 2px;
    }
  }
}

.feature {
  @include keyframes(fadeIn 500ms forwards);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1}
}

#features-subtitle {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.level {
  margin-top: 50px;
}

.blurb {
  margin-top: 50px;
  @include mobile {
    margin-top: 20px;
  }
}

.feature-tab {
  @include transition(background-color 0.25s ease);
  cursor: pointer;
  padding: 12px;
  &.is-active,
  &:hover,
  &:focus {
    background-color: $pastel;
  }
  @include mobile {
    .image {
      height: 40px;
      width: 40px;
    }
  }
}

.feature-video {
  width: 100%;
  max-height:400px;
}
