@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/alert.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/switch.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

#landing {
  @include transition(all 0.2s ease);
  height: 1060px;
  overflow: hidden;
  padding-top: 120px;
  position: relative;
  width: 100%;
  .subtitle {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .image {
    height: 500px;
    margin-top: 50px;
    max-width: 800px;
    img {
      border-radius: 15px;
    }
  }
  &::before {
    @include skew(0,-6);
    content:"";
    background-image: linear-gradient(135deg, $primary-darker 25%, $primary-light 100%);
    position: absolute;
    top: -300px;
    left: -100%;
    width: 300%;
    height: 90%;
  }
  @media screen and (max-height: 800px) {
    height: 600px;
    &::before {
      top: -200px;
      left: -110%;
    }
  }
}

#tryit-form {
  margin-left: auto;
  margin-right: auto;
}

#learn-more-arrow {
  @include keyframes(bob 750ms linear alternate infinite);
}

@keyframes bob {
  0% {@include translate(0,0);}
  100% {@include translate(3px,0);}
}

#features-section {
  position: relative;
  overflow: hidden;
  padding-top: 250px;
  &::before {
    @include skew(0,-6);
    content:"";
    position: absolute;
    top: 75px;
    background: $pastel;
    left: -85%;
    width: 300%;
    height: 120%;
  }
  .card {
    padding: 20px 0;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &.is-aligned-left {
    justify-content: flex-start;
  }
  .button {
    &:first-child {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 527px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      &:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.price-card-wrapper {
  margin: auto;
  width: 400px;
  @include mobile {
    width: 100%;
  }
}

.price-card {
  @include transition(translate 0.25s ease);
  position: relative;
  .card-title {
    border-bottom: 1px solid $border;
    padding: 15px 20px;
  }
  .card-footer {
    padding: 0;
  }
}

.features-table {
  @include box-shadow(0,2px,4px,$border,0);
  display: flex;
  position: absolute;
  top: 200px;
  left: -180px;
  background-color: $pastel;
  @media screen and (max-width: 1215px) {
    display: none;
  }
}

.list-table {
  width: 100%;
  li {
    border-bottom: 1px solid $border;
    height: 51px;
    padding: 12px 20px;
    text-align: center;
    @media screen and (max-width: 1215px) {
      height: auto;
    }
  }
}

.feature {
  @include transition(all 0.25s ease);
  position: relative;
  padding: 40px 20px;
  border-left: 5px solid;
  &:hover {
    @include box-shadow(0,10px,30px,$border,4px);
  }
  &:active,
  &:focus {
    @include box-shadow(0,2px,4px,$border,0);
  }
  &.is-primary {
    border-color: $primary;
  }
  &.is-accent {
    border-color: $yellow;
  }
  &.is-blue {
    border-color: $info;
  }
  &.is-red {
    border-color: $red;
  }
  .control {
    &.is-spaced {
      .control-left {
        margin-right: 20px;
      }
    }
  }
  .icon {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.heading {
  display: none;
  color: $black-secondary;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  @media screen and (max-width: 1215px) {
    display: block;
  }
}

#premium-price-month {
  display: inline-block;
  position: relative;
  &::before {
    @include rotate(45);
    background: transparent;
    content: '';
    width: 5px;
    position: absolute;
    top: 0;
    right: -10px;
    height: 5px;
  }
  &.is-active {
    color: $black-disabled;
    &::before {
      @include transition(all 0.2s ease);
      background: $black-disabled;
      height: 100%;
      right: 14px;
    }
  }
}
