@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/card.sass';
@import '../bulma/elements/alert.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/switch.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

#features-hero {
  background-image: linear-gradient($primary, $primary-light);
}

#hero-image {
  width: 150px;
}

#product-img {
  position: relative;
  img {
    @include transition(opacity 0.2s ease-in);
  }
  .button {
    @include transition(opacity 0.2s ease-in);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    z-index: 9;
  }
  &:hover {
    img {
      opacity: 0.3;
    }
    .button {
      opacity: 1;
    }
  }
}

.coffee {
  @include keyframes(steam 3s infinite);
}

@keyframes steam {
  0%    {transform: translateY(0);}
  50%   {transform: translateY(-5px);}
  100%   {transform: translateY(0);}
}

.line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: calc(100% - 35px);
    left: 50%;
    top: 60px;
    width: 1px;
    background: $border;
    border: 1px solid $border;
    border-radius: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    top: calc(50% + 35px);
    left: calc(50% - 40px);
    width: 40px;
    background: $border;
    border: 1px solid $border;
    border-radius: 10px;
  }
  &.right {
    &::after {
      left: 51%;
    }
  }
}

.hiw-num {
  align-items: center;
  background-color: $primary;
  border-radius: 100%;
  color: $white;
  display: flex;
  font-weight: 500;
  height: 35px;
  font-size: 18px;
  justify-content: center;
  margin: 0 auto;
  width: 35px;
  @include mobile {
    margin: 0 auto 10px;
  }
}

.flex-align-center {
  display: flex;
  align-items: center;
  margin: 10px 0;
  .icon {
    margin-right: 10px;
    &.fix {
      margin-left: 2px;
    }
  }
}

.feature {
  align-items: flex-start;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  .icon {
    margin-right:15px;
  }
  .content {
    p {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

.feature-video {
  width: 100%;
  max-height:400px;
}

.price-card-wrapper {
  margin: auto;
  width: 680px;
  position: relative;
  @include mobile {
    width: 100%;
  }
}

.price-card {
  @include transition(translate 0.25s ease);
  border-radius: $radius;
  display: inline-block;
  &:first-child {
    border-radius: $radius 0 0 0;
    margin-bottom: 0;
    @include mobile {
      margin-bottom: 40px;
    }
  }
  &:last-child {
    border-radius: 0 $radius $radius 0;
  }
  .card-title {
    border-bottom: 1px solid $border;
    padding: 15px 20px;
  }
  .card-footer {
    padding: 0;
  }
  &:hover {
    @include translate(0,-5px);
  }
  @include mobile {
    display: block;
    width: 85%;
  }
  @include mobile-456px {
    width: 100%;
  }
}

.heading {
  display: none;
  color: $black-disabled;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  @media screen and (max-width: 1215px) {
    display: block;
  }
}

#premium-price-month {
  display: inline-block;
  position: relative;
  &::before {
    @include rotate(45);
    background: transparent;
    content: '';
    width: 5px;
    position: absolute;
    top: 0;
    right: -10px;
    height: 5px;
  }
  &.is-active {
    color: $black-disabled;
    &::before {
      @include transition(all 0.2s ease);
      background: $black-disabled;
      height: 100%;
      right: 14px;
    }
  }
}

#premium-price-annual {

}

.features-table {
  @include box-shadow(0,2px,4px,$border,0);
  display: flex;
  position: absolute;
  top: 461px;
  left: 76px;
  background-color: $pastel;
  @media screen and (max-width: 1215px) {
    display: none;
  }
}

.list-table {
  width: 100%;
  li {
    border-bottom: 1px solid $border;
    height: 51px;
    padding: 12px 20px;
    text-align: center;
    @media screen and (max-width: 1215px) {
      height: auto;
    }
  }
}

.blurb {
  @include keyframes(fadeIn 300ms forwards);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1}
}

//slick
.slick-slide {
  padding: 5px 20px 20px;
  &:focus {
    outline: none !important;
  }
}

.slick-prev {
  left: -10px !important;
  &::before {
    color: $primary !important;
  }
}

.slick-next {
  right: -10px !important;
  &::before {
    color: $primary !important;
  }
}

.slick-dots {
  li {
    button {
      &:hover, &:focus {
        &::before {
          color: $primary-lighter;
        }
      }
      &::before {
        font-size: 10px !important;
      }
    }
    &.slick-active {
      button {
        &::before {
          color: $primary !important;
        }
      }
    }
  }
}
