@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

.faq-section {
  padding-top: 70px;
}

.faq-question {
  font-weight: 500;
}

.faq-header {
  @include transition(all 0.25s ease);
  color: $primary;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  &::before {
    @include transition(all 0.25s ease);
    content: "";
    position: absolute;;
    height: 100%;
    width: 0;
    background: $primary;
    left: 0;
    bottom: 0;
  }
  &.is-active {
    position: relative;
    padding-left: 15px;
    &::before {
      width: 5px;
    }
  }
  &:hover {
    color: $primary-lighter;
  }
}
