@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

.faq-section {
  padding: 70px 0;
  border-top: 1px solid $border;
}

.faq-question {
  font-size: 16px;
  font-weight: 700;
}

.faq-header {
  @include transition(all 0.25s ease);
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
  &::before {
    @include transition(all 0.25s ease);
    @include translate(-50%,0);
    content: "";
    position: absolute;;
    height: 0;
    width: 30px;
    background: $primary;
    left: 50%;
    bottom: 0;
  }
  &.is-active {
    position: relative;
    padding-bottom: 10px;
    &::before {
      height: 3px;
    }
  }
  &:hover {
    color: $primary-lighter;
  }
}
