<link rel="stylesheet" href="/css/lib/intlTelInput.css" type="text/css">
<script src="/js/jquery/intlTelInput.min.js" type="text/javascript"></script>

<div id="buy-module" class="box is-medium is-centered module post-buy-module">
  <div class="description-text">
    <form id="buy-now-form" autocomplete="off" method="post" action="/listing/<%= listing_info.domain_name %>/contact" >
      <div class="control has-icon">
        <input id="contact_name" placeholder="John Smith" required class="contact-input input" name="contact_name" type="text">
        <label class="error_message label" for="contact_name">Name</label>
        <div class="icon">
          <i class="far fa-user-alt"></i>
        </div>
      </div>
      <div class="control has-icon">
        <input id="contact_email" placeholder="john@smith.com" required class="contact-input input" name="contact_email" type="email">
        <label class="error_message label" for="contact_email">Email Address</label>
        <div class="icon">
          <i class="far fa-envelope"></i>
        </div>
      </div>
      <div class="control has-icon">
        <input id="contact_phone" required class="contact-input input phone-number" name="contact_phone" type="tel">
        <label class="error_message label" for="contact_phone">Phone</label>
      </div>
      <div class="control has-icon">
        <input id="contact_offer" required class="contact-input input" name="contact_offer" type="number" placeholder="<%= (listing_info.min_price == 0) ? "" : listing_info.min_price %>" min="<%= (listing_info.min_price == 0) ? "" : listing_info.min_price %>">
        <label class="error_message label" for="contact_offer">Offer in USD<span id="min-price"></span></label>
        <div class="icon">
          <i class="far fa-usd-circle"></i>
        </div>
      </div>
      <div class="control">
        <textarea id="contact_message" required class="contact-input textarea" name="contact_message" placeholder="Hey! I'm interested in buying <%= listing_info.domain_name %>. Let's chat."></textarea>
      </div>

      <div class="control-wrapper">
        <button id="buy-now-submit" name="offer" type="submit" class="contact-input button is-primary is-stylish">
          <div class="icon is-small">
            <i class="far fa-check-circle"></i>
          </div>
          <span>Send offer</span>
        </button>

        <% if (listing_info.buy_price > 0) { %>
          <button id="buy-now-button" name="buy" type="submit" class='is-accent button is-stylish contact-input'>
            <div class="icon is-small"><i class="far fa-shopping-cart"></i></div>
            <span id="buy-button-text">Buy Now</span>
          </button>
        <% } %>
      </div>

      <%# <div class="content">
        <p id="why-somuch" class="is-info"
        data-balloon="By providing all of your contact information, you increase the likelihood of your purchase. Nobody likes responding to fake accounts or bots!"
        data-balloon-length="large" data-balloon-pos="down">
          Do I need to give all this information?
        </p>
      </div>%>

    </form>
  </div>
</div>
