<div id="calendar-module" class="top-module post-rent-module is-hidden">
  <p class="margin-bottom-10">
    You can rent any subpage on this domain to display any web content you desire. Try out the domain name before you buy at a fraction of the price!
  </p>
  <p class="margin-bottom-10">
    <a href="/faq" class="is-accent">
      How does renting this domain work?
    </a>
  </p>
  <div class='is-bold'>
    <span id="total-price" class='margin-right-5 is-hidden'>Total: </span>
    <span id="orig-price" class='margin-right-5 is-linethrough is-hidden'></span>
    <span id="actual-price">Total - $0</span>
  </div>
  <p id="calendar-regular-message" class='is-hidden'>
    Select your desired date and time:
  </p>
  <p id="calendar-error-message" class='is-danger is-hidden'></p>
  <p id="calendar-loading-message">Now loading dates</p>
  <input id="calendar" class="input margin-bottom-10 margin-top-10 is-disabled" placeholder="Anytime"></input>
  <a id="checkout-button" tabindex="0" class="is-disabled button no-shadow is-primary is-stylish">
    Checkout
  </a>
</div>
