<div id="calendar-module" class="box is-medium is-centered module post-rent-module is-hidden">
  <div class="content">
    <p>
      You can rent any subpage on this domain to display any web content you desire. Try out the domain name before you buy at a fraction of the price!
    </p>
    <p>
      Click on the domain name to edit the subpage and use the calendar below to select the desired dates.
    </p>
    <p>
      <a href="https://domahub.com/faq#renting" class="is-underlined">
        How does renting this domain work?
      </a>
    </p>
    <div class='is-bold'>
      <span class='total-price is-hidden'>Total - </span>
      <span id="orig-price" class='is-linethrough is-hidden'></span>
      <span class="actual-price">Total - $0</span>
    </div>
    <p id="calendar-regular-message" class='is-hidden'>
      Select your desired dates:
    </p>
    <p id="calendar-error-message" class='is-danger is-hidden'></p>
    <div id="calendar-loading-message">
      <div class="icon is-small"><i class="far fa-spin fa-sync-alt"></i></div>
      <span>Now loading dates</span>
    </div>
    <input id="calendar" class="input is-disabled" placeholder="Anytime">
    <a id="checkout-button" tabindex="0" class="is-disabled button is-primary is-stylish">
      <div class="icon is-small"><i class="far fa-shopping-cart"></i></div>
      <span>Checkout<span class="total-price is-hidden"> - </span><span class="actual-price"></span></span>
    </a>
  </div>
</div>
