<div id="calendar-module" class="box is-medium module post-rent-module is-hidden">
  <div class="content">
    <p>
      You can rent this domain and use it to display any web content like another website, an image, a video, etc.
    </p>
    <p>
      Additionally, you may rent out a subpage of this domain by typing something into the input next to the domain name above.
    </p>
    <p>
      Once you're ready, click on the input below to select your rental dates!
    </p>
    <p>
      <a href="https://domahub.com/faq#renting" class="is-underlined">
        How does renting this domain work?
      </a>
    </p>
  </div>
  <div class="content">
    <h3 class='is-bold'>
      <span class='total-price is-hidden'>Total - </span>
      <span id="orig-price" class='is-linethrough is-hidden'></span>
      <span class="actual-price">Total - $0</span>
    </h3>
    <p id="calendar-regular-message" class='is-hidden'>
      Select your desired dates:
    </p>
    <p id="calendar-error-message" class='is-danger is-hidden'></p>
  </div>
  <div id="calendar-loading-message" class="control">
    <div class="icon is-small"><i class="far fa-spin fa-sync-alt"></i></div>
    <span>Now loading dates</span>
  </div>
  <div class="control">
    <input id="calendar" class="input is-disabled" placeholder="Anytime">
    <a id="checkout-button" tabindex="0" class="is-disabled button is-primary is-stylish">
      <div class="icon is-small"><i class="far fa-shopping-cart"></i></div>
      <span>Checkout<span class="total-price is-hidden"> - </span><span class="actual-price"></span></span>
    </a>
  </div>
</div>
