<div id="start-card-content" class='checkout-card-content is-hidden-desktop'>
    <div class="content">
        <p>
            Click the button below to see available rental dates.
        </p>
    </div>
    <a id="start-card-button" tabindex="1" class="button no-shadow is-primary is-fullwidth is-stylish">Rent Now</a>
</div>

<div id="calendar-card-content" class="is-hidden-mobile checkout-card-content">
    <p id="calendar-error-message" class='is-danger is-hidden'></p>
    <p id="calendar-regular-message">
        Select your desired date and time:
    </p>
    <input id="calendar" class="input margin-bottom-10" placeholder="Anytime"></input>

    <a id="checkout-button" tabindex="1" class="is-disabled button no-shadow is-fullwidth is-primary is-stylish is-small">Checkout</a>
</div>
