<div id="calendar-module" class="checkout-card-content is-hidden">
  <p id="calendar-error-message" class='is-danger is-hidden'></p>
    <p id="calendar-regular-message">
        Select your desired date and time:
    </p>
    <input id="calendar" class="input margin-bottom-10" placeholder="Anytime"></input>

    <a id="checkout-button" tabindex="1" class="is-disabled button no-shadow is-fullwidth is-primary is-stylish">Submit</a>
</div>
