<script type="text/javascript">
var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
var fonts = <% if(typeof fonts != "undefined"){ %><%-JSON.stringify(fonts)%><% }else{ %>""<% } %>;
</script>
<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
<link rel="stylesheet" href="/css/lib/bootstrap-tour-standalone.min.css" type="text/css" />
<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/js/lib/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_compare_logic.js" type="text/javascript"></script>
<script src="/js/themes.js" type="text/javascript"></script>

<div id="compare-msg" class="notification is-white">
  <span class="delete"></span>
  <div class="content">
    <p>
      This demo is a preview of what your domain's landing page could look like. Any data on this page is purely for demonstration purposes only.
    </p>
    <a tabindex="0" class="is-primary is-underlined" href="/landing-pages">Click here to learn more</a>!
  </div>
  <div class="control-wrapper">
    <a href="/signup" class="button is-small is-primary is-stylish">
      <span class="icon is-small">
        <i class="fal fa-user-circle"></i>
      </span>
      <span>Sign me up</span>
    </a>
    <a class="button is-small is-stylish is-primary is-outlined restart-tutorial-button">
      <span class="icon is-small">
        <i class="fal fa-sync-alt"></i>
      </span>
      <span>Restart Tutorial</span>
    </a>
  </div>
</div>

<div id="show-menu-wrapper" class="control">
  <button id="show-menu-button" class="button is-small is-stylish">
    <span class="icon is-small">
      <i class="fal fa-bars"></i>
    </span>
    <span>Show Menu</span>
  </button>
</div>

<div id="compare-menu">

  <!-- EDIT LISTING DETAIL TABS BUTTONS  -->
  <div id="compare-buttons">
    <div class="control is-spaced">
      <div class="tabs is-primary control-left">
        <ul>
          <li id="info-edit-tab" class="compare-tab is-active">
            <a tabindex="0">Information</a>
          </li>
          <li id="design-tab" class="compare-tab">
            <a tabindex="0">Design</a>
          </li>
        </ul>
      </div>
      <div class="control-right">
        <button id="hide-menu-button" class="button is-small is-stylish" tabindex="0" title="Hide Menu">
          <span class="icon is-small"><i class="fal fa-long-arrow-left"></i></span>
          <span>Hide Menu</span>
        </button>
      </div>
    </div>
  </div>

  <!-- EDIT LISTING DETAILS  -->
  <div id="compare-content" class="box no-shadow no-border no-border-radius">
    <div id="info-box" class="compare-box">

      <%# INFO %>
      <div id="compare-description-control" class="control">
        <label class="label" for="description">
          <span>Listing Description</span>
          <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="A well written description can help customers understand the value and potential of your domain name. Remember to use correct spelling and grammar to show your professionalism!" data-balloon-pos="down">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <textarea id="description" class="description-input textarea " tabindex="0" placeholder="A great description will help users understand the full potential of this domain."></textarea>
      </div>
      <div id="compare-description-footer-control" class="control">
        <label class="label" for="description_footer">
          <span>Listing Footer Description</span>
          <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="An optional description (up to 75 characters) to be displayed in the footer of your landing page. An ideal location for a slogan, phrase, or trademark." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <input id="description-footer" class="description-footer-input input theme-changeable-input" tabindex="0" placeholder="The greatest domains in the industry."></textarea>
      </div>

      <%# PRICING %>
      <div class="control">
        <label class="label" for="min-price-input">Minimum Purchase Price</label>
        <input id="min-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The minimum offer / price you will consider.</small>
      </div>
      <div class="control">
        <label class="label" for="buy-price-input">Buy It Now Price</label>
        <input id="buy-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The price you are willing to immediately sell the domain for.</small>
        <small class="tip"><a target="_blank" rel="noopener" href="/faq#selling" class="is-primary is-underlined">What are the advantages of buying immediately?</a></small>
      </div>

      <div id="allow-rentals-control" class="control is-spaced">
        <div class="control-left">
          <label class="label" for="rentable-input">Allow Rentals</label>
          <small class="tip">Allows verified users to rent usage of this domain for short amounts of time.</small>
          <small class="tip"><a target="_blank" rel="noopener" href="/faq#renting" class="is-primary is-underlined">Why should I rent my domain out?</a></small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="rentable-input" data-name="rentable" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="rentable-input"></label>
          </form>
        </div>
      </div>
      <div class="control">
        <label class="label" for="price-rate-input">Rental Price</label>
        <small class="tip">Price per unit of time for the domain rental.</small>
        <div class="control has-addons">
          <input id="price-rate-input" placeholder="" type="number" min="1" step="1" class="padding-top-0 input ">
          <span class="select price-type-span">
            <div class="drop-form">
              <select tabindex="0" id="price-type-input" class="">
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="day">Day</option>
              </select>
            </div>
          </span>
        </div>
      </div>
    </div>

    <%# DESIGN %>
    <div id="design-box" class="is-hidden compare-box">
      <div id="theme-control" class="control">
        <label class="label" for="random-button">Theme</label>
        <div class="control is-grouped">
          <div class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="theme-input" class=""></select>
            </span>
            <div class="icon">
              <i class="fal fa-image"></i>
            </div>
          </div>
          <div class="control">
            <a id="random-theme-button" class="button is-small is-stylish is-outlined">
              <span class="icon is-small">
                <i class="fal fa-random"></i>
              </span>
              <span>Random Theme</span>
            </a>
          </div>
        </div>
      </div>
      <div class="control">
        <label class="label" for="color-scheme">
          <span>Color Scheme</span>
          <span class="icon is-small is-tooltip " data-balloon-length="medium" data-balloon="The three main colors of your landing page." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control">
          <input id="primary-color-input" placeholder="#3CBC8D" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
        <div class="control">
          <input id="secondary-color-input" placeholder="#FF5722" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
        <div class="control">
          <input id="tertiary-color-input" placeholder="#2196F3" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Font Styling</span>
          <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="You can choose both the color and the font-family." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control is-grouped">
          <div class="control">
            <input id="font-color-input" placeholder="#000000" type="text" class="padding-top-0 input theme-changeable-input">
          </div>
          <div class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="font-name-input" class="theme-changeable-input">
                <%# make all the fonts %>
                <% for (var x = 0; x < fonts.length; x++){ %>
                  <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                <% } %>
              </select>
            </span>
            <div class="icon">
              <i class="fal fa-font"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Background Image URL</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Dimensions can be whatever you wish, but keep in mind your customers will have different resolutions. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control has-addons">
          <input id="background-image-input" type="text" class="input theme-changeable-input">
          <button id="background-image-refresh" class='is-disabled is-outlined button is-icon no-shadow'>
            <span class="icon is-small">
              <i class="fal fa-sync-alt"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Background Color</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The background image takes precedence over the background color. The background color will appear through any transparent layers in the background image." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control">
          <input id="background-color-input" type="text" class="input theme-changeable-input">
        </div>
      </div>
      <div class="control">
        <label class="label" for="color-scheme">
          <span>Footer Styling</span>
          <span class="icon is-small is-tooltip " data-balloon-length="medium" data-balloon="The color of the footer background color and the color of the footer text." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control">
          <input id="footer-background-color-input" placeholder="#f2f5f7" type="text" class="input theme-changeable-input">
        </div>
        <div class="control">
          <input id="footer-color-input" placeholder="#00000" type="text" class="input theme-changeable-input">
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Logo Image URL</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The logo will be utilized for email communications and branding. The ideal dimensions are 45 x 45 pixels. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
            <i class="fal fa-question-circle"></i>
          </span>
        </label>
        <div class="control has-addons">
          <input id="logo-image-input" type="text" class="input theme-changeable-input">
          <button id="logo-image-refresh" class='is-disabled is-outlined button is-icon no-shadow'>
            <span class="icon is-small">
              <i class="fal fa-sync-alt"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Registrar Name</span>
          </label>
          <small class="tip">Displays the name of this domain name's registrar.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="show-registrar-input" data-name="show_registrar" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="show-registrar-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Registration Date</span>
          </label>
          <small class="tip">Displays the original registration date of <span class="this-domain">this domain</span>.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="show-registration-date-input" data-name="show_registration_date" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="show-registration-date-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced no-margin">
        <div class="control">
          <label class="label">
            <span>Show Appraisal Sites</span>
          </label>
          <small class="tip">Displays links to various domain appraisal sites.</small>
        </div>
      </div>
      <div class="control">
        <div class="control is-spaced appraisal-checkboxes">
          <div class="control-left">
            <label class="label">
              <span>GoDaddy</span>
            </label>
          </div>
          <div class="control-right">
            <form class="checkbox-form">
              <input id="show-godaddy-appraisal-input" data-name="show_godaddy_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
              <label for="show-godaddy-appraisal-input" class="premium-input"></label>
            </form>
          </div>
        </div>
        <div class="control is-spaced appraisal-checkboxes">
          <div class="control-left">
            <label class="label">
              <span>Domain Index</span>
            </label>
          </div>
          <div class="control-right">
            <form class="checkbox-form">
              <input id="show-domainindex-appraisal-input" data-name="show_domainindex_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
              <label for="show-domainindex-appraisal-input" class="premium-input"></label>
            </form>
          </div>
        </div>
        <div class="control is-spaced appraisal-checkboxes">
          <div class="control-left">
            <label class="label">
              <span>Free Valuator</span>
            </label>
          </div>
          <div class="control-right">
            <form class="checkbox-form">
              <input id="show-freevaluator-appraisal-input" data-name="show_freevaluator_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
              <label for="show-freevaluator-appraisal-input" class="premium-input"></label>
            </form>
          </div>
        </div>
        <div class="control is-spaced appraisal-checkboxes">
          <div class="control-left">
            <label class="label">
              <span>EstiBot</span>
            </label>
          </div>
          <div class="control-right">
            <form class="checkbox-form">
              <input id="show-estibot-appraisal-input" data-name="show_estibot_appraisal" type="checkbox" class="checkbox-input premium-input changeable-input" tabindex="0" />
              <label for="show-estibot-appraisal-input" class="premium-input"></label>
            </form>
          </div>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Social Media Sharing Buttons</span>
          </label>
          <small class="tip">Displays buttons to share the listing on various social media sites.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="show-social-sharing-input" data-name="show_social_sharing" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="show-social-sharing-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="placeholder-input">
            Placeholder Text
            <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The placeholder text is a light-hearted way of letting your users know what information to put in what form." data-balloon-pos="up">
              <i class="fal fa-question-circle"></i>
            </div>
          </label>
          <small class="tip">Enables the movie-quote placeholder text on the listing page contact form.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="placeholder-input" data-name="show_placeholder" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="placeholder-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Traffic Graph</span>
          </label>
          <small class="tip">Displays a graph of the listing traffic.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="traffic-graph-input" data-name="show_traffic_graph" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="traffic-graph-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Alexa Statistics</span>
          </label>
          <small class="tip">Displays <a class="is-primary is-underlined" id="alexa_link">Alexa</a> traffic statistics.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="alexa-stats-input" data-name="show_alexa_stats" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="alexa-stats-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">Show History Ticker</label>
          <small class="tip">Displays a table of recent activity - useful if you have rentals enabled.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="show-history-ticker-input" data-name="show_history_ticker" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="show-history-ticker-input" class="premium-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label">
            <span>Show Other Listings</span>
            <div class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="There will be nothing to display if you do not have any active or unsold listings." data-balloon-pos="up">
              <i class="fal fa-question-circle"></i>
            </div>
          </label>
          <small class="tip">Displays a list of other <span class="is-bold">active</span> listings you own on DomaHub.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="domain-list-input" data-name="show_domain_list" type="checkbox" class="checkbox-input" tabindex="0" />
            <label for="domain-list-input" class="premium-input"></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
