<script type="text/javascript">
var compare = <% if(typeof compare != "undefined"){ %><%-JSON.stringify(compare)%><% }else{ %>""<% } %>;
var fonts = <% if(typeof fonts != "undefined"){ %><%-JSON.stringify(fonts)%><% }else{ %>""<% } %>;
</script>
<link rel="stylesheet" href="/css/lib/jquery.minicolors.css" type="text/css" />
<link rel="stylesheet" href="/css/lib/bootstrap-tour-standalone.min.css" type="text/css" />
<script src="/js/jquery/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/js/lib/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
<script src="/js/routes/listings/listing_compare_logic.js" type="text/javascript"></script>
<script src="/js/themes.js" type="text/javascript"></script>

<div id="compare-msg" class="notification is-white">
  <span class="delete"></span>
  <div class="content">
    <p>
      This demo is a preview of what your domain's sales page could look like. Any data on this page is purely for demonstration purposes only.
    </p>
    <a tabindex="0" class="is-primary" href="/features">Click here to learn more</a>!
  </div>
  <div class="control-wrapper">
    <a href="/signup" class="button is-small is-primary is-stylish">
      <span class="icon is-small">
        <i class="far fa-user-circle"></i>
      </span>
      <span>Sign me up</span>
    </a>
    <a class="button is-small is-stylish is-primary is-outlined restart-tutorial-button">
      <span class="icon is-small">
        <i class="far fa-sync-alt"></i>
      </span>
      <span>Restart Tutorial</span>
    </a>
  </div>
</div>

<div id="show-menu-wrapper" class="control">
  <button id="show-menu-button" class="button is-small is-stylish">
    <span class="icon is-small">
      <i class="far fa-bars"></i>
    </span>
    <span>Show Menu</span>
  </button>
</div>

<div id="compare-menu">

  <!-- EDIT LISTING DETAIL TABS BUTTONS  -->
  <div id="compare-buttons">
    <div class="control is-spaced">
      <div class="tabs is-primary control-left">
        <ul>
          <li id="info-edit-tab" class="compare-tab is-active">
            <a tabindex="0">Information</a>
          </li>
          <li id="design-tab" class="compare-tab">
            <a tabindex="0">Design</a>
          </li>
        </ul>
      </div>
      <div class="control-right">
        <button id="hide-menu-button" class="button is-small is-stylish" tabindex="0" title="Hide Menu">
          <span class="icon is-small"><i class="far fa-long-arrow-left"></i></span>
          <span>Hide Menu</span>
        </button>
      </div>
    </div>
  </div>

  <!-- EDIT LISTING DETAILS  -->
  <div id="compare-content" class="box no-shadow no-border no-border-radius">
    <div id="info-box" class="compare-box">

      <%# INFO %>
      <div id="compare-description-control" class="control">
        <label class="label" for="description">
          <span>Listing Description</span>
          <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="A well written description can help customers understand the value and potential of your domain name. Remember to use correct spelling and grammar to show your professionalism!" data-balloon-pos="down">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <textarea id="description" class="description-input textarea " tabindex="0" placeholder="A great description will help users understand the full potential of this domain."></textarea>
      </div>
      <div id="compare-description-footer-control" class="control">
        <label class="label" for="description_footer">
          <span>Listing Footer Description</span>
          <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="large" data-balloon="An optional description (up to 75 characters) to be displayed in the footer of your sales page. An ideal location for a slogan, phrase, or trademark." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <input id="description-footer" class="description-footer-input input theme-changeable-input" tabindex="0" placeholder="The greatest domains in the industry."></textarea>
      </div>

      <%# PRICING %>
      <div class="control">
        <label class="label" for="min-price-input">Minimum Purchase Price</label>
        <input id="min-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The minimum offer / price you will consider.</small>
      </div>
      <div class="control">
        <label class="label" for="buy-price-input">Buy It Now Price</label>
        <input id="buy-price-input" type="number" min="1" step="1" class="input">
        <small class="tip">The price you are willing to immediately sell the domain for.</small>
        <small class="tip"><a target="_blank" rel="noopener" href="/faq#selling" class="is-primary">What are the advantages of buying immediately?</a></small>
      </div>

      <div id="allow-rentals-control" class="control is-spaced">
        <div class="control-left">
          <label class="label" for="calendar-input">Allow Rentals</label>
          <small class="tip">Allows verified users to rent usage of this domain for short amounts of time.</small>
          <small class="tip"><a target="_blank" rel="noopener" href="/faq#renting" class="is-primary">Why should I rent my domain out?</a></small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="calendar-input" type="checkbox" class="module-input checkbox-input " tabindex="0" />
            <label for="calendar-input"></label>
          </form>
        </div>
      </div>
      <div class="control">
        <label class="label" for="price-rate-input">Rental Price</label>
        <small class="tip">Price per unit of time for the domain rental.</small>
        <div class="control has-addons">
          <input id="price-rate-input" placeholder="" type="number" min="1" step="1" class="padding-top-0 input ">
          <span class="select price-type-span">
            <div class="drop-form">
              <select tabindex="0" id="price-type-input" class="">
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="day">Day</option>
              </select>
            </div>
          </span>
        </div>
      </div>
    </div>

    <%# DESIGN %>
    <div id="design-box" class="is-hidden compare-box">
      <div id="theme-control" class="control">
        <label class="label" for="random-button">Theme</label>
        <div class="control is-grouped">
          <div class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="theme-input" class=""></select>
            </span>
            <div class="icon">
              <i class="far fa-image"></i>
            </div>
          </div>
          <div class="control">
            <a id="random-theme-button" class="button is-small is-stylish is-primary is-outlined">
              <span class="icon is-small">
                <i class="far fa-random"></i>
              </span>
              <span>Random Theme</span>
            </a>
          </div>
        </div>
      </div>
      <div class="control">
        <label class="label" for="color-scheme">
          <span>Color Scheme</span>
          <span class="icon is-small is-tooltip " data-balloon-length="medium" data-balloon="The three main colors of your landing page." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <div class="control">
          <input id="primary-color-input" placeholder="#3CBC8D" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
        <div class="control">
          <input id="secondary-color-input" placeholder="#FF5722" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
        <div class="control">
          <input id="tertiary-color-input" placeholder="#2196F3" type="text" class="padding-top-0 input theme-changeable-input">
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Font Styling</span>
          <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="You can choose both the color and the font-family." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <div class="control is-grouped">
          <div class="control">
            <input id="font-color-input" placeholder="#000000" type="text" class="padding-top-0 input theme-changeable-input">
          </div>
          <div class="control has-icon">
            <span class="select is-fullwidth">
              <select tabindex="0" id="font-name-input" class="theme-changeable-input">
                <%# make all the categories %>
                <% for (var x = 0; x < fonts.length; x++){ %>
                  <option value="<%= fonts[x] %>"><%= fonts[x] %></option>
                <% } %>
              </select>
            </span>
            <div class="icon">
              <i class="far fa-font"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Background Image URL</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="Dimensions can be whatever you wish, but keep in mind your customers will have different resolutions. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <div class="control has-addons">
          <input id="background-image-input" type="text" class="input theme-changeable-input">
          <button id="background-image-refresh" class='is-disabled is-outlined button is-icon no-shadow'>
            <span class="icon is-small">
              <i class="far fa-sync-alt"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Background Color</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The background image takes precedence over the background color. The background color will appear through any transparent layers in the background image." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <div class="control">
          <input id="background-color-input" type="text" class="input theme-changeable-input">
        </div>
      </div>
      <div class="control">
        <label class="label">
          <span>Logo Image URL</span>
          <span class="icon is-small is-tooltip" data-balloon-length="large" data-balloon="The logo will be utilized for email communications and branding. The ideal dimensions are 45 x 45 pixels. Uploaded images cannot be larger than 1MB." data-balloon-pos="up">
            <i class="far fa-question-circle"></i>
          </span>
        </label>
        <div class="control has-addons">
          <input id="logo-image-input" type="text" class="input theme-changeable-input">
          <button id="logo-image-refresh" class='is-disabled is-outlined button is-icon no-shadow'>
            <span class="icon is-small">
              <i class="far fa-sync-alt"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="info-module-input">Information Tab</label>
          <small class="tip">Displays more detailed information about the domain and other related information.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="info-module-input" data-target="info" type="checkbox" class="toggle-input checkbox-input" tabindex="0" />
            <label for="info-module-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced info-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Domain Owner</span>
            <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays a small sentence showing your username and when this listing was created.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="domain-owner-input" data-target="domain-owner" type="checkbox" class="toggle-input checkbox-input" tabindex="0" />
            <label for="domain-owner-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced info-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Domain Age</span>
            <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="Info module must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays a small sentence showing when this domain was first registered. Info module must be enabled.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="domain-age-input" data-target="domain-age" type="checkbox" class="toggle-input checkbox-input" tabindex="0" />
            <label for="domain-age-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced info-module-child child-module">
        <div class="control-left">
          <label class="label" for="domainlist-input">
            <span>Show Other Listings</span>
            <span class="icon is-small is-tooltip v-align-bottom" data-balloon-length="medium" data-balloon="Info module must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays a list of other listings you own on DomaHub.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="domainlist-input" data-target="domainlist" type="checkbox" class="module-input checkbox-input" tabindex="0" />
            <label for="domainlist-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced info-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Appraisal Sites</span>
            <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays links to various domain appraisal sites.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="domain-appraisal-input" data-target="domain-appraisal" type="checkbox" class="toggle-input checkbox-input" tabindex="0" />
            <label for="domain-appraisal-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced info-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Social Media Sharing Buttons</span>
            <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The information tab must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays buttons to share the domain listing on various social media sites.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="social-sharing-input" data-target="social-sharing" type="checkbox" class="toggle-input checkbox-input" tabindex="0" />
            <label for="social-sharing-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="traffic-module-input">Traffic Tab</label>
          <small class="tip">Displays detailed traffic information about this listing.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="traffic-module-input" type="checkbox" class="module-input checkbox-input" tabindex="0" />
            <label for="traffic-module-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced traffic-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Traffic Graph</span>
            <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The traffic tab must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays a graph of the listing traffic.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="traffic-graph-input" data-target="traffic-chart" type="checkbox" class="toggle-input checkbox-input premium-input" tabindex="0" />
            <label for="traffic-graph-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced traffic-module-child child-module">
        <div class="control-left">
          <label class="label">
            <span>Alexa Statistics</span>
            <span class="icon is-small is-tooltip" data-balloon-length="medium" data-balloon="The traffic tab must be enabled for this setting to take effect." data-balloon-pos="up">
              <i class="far fa-question-circle"></i>
            </span>
          </label>
          <small class="tip">Displays <a class="is-primary" id="alexa_link">Alexa</a> traffic statistics.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="alexa-stats-input" data-target="alexa-stats" type="checkbox" class="toggle-input checkbox-input premium-input" tabindex="0" />
            <label for="alexa-stats-input"></label>
          </form>
        </div>
      </div>
      <div class="control is-spaced">
        <div class="control-left">
          <label class="label" for="ticker-module-input">History Tab</label>
          <small class="tip">Displays recent activity on your listing - useful if you have rentals enabled.</small>
        </div>
        <div class="control-right">
          <form class="checkbox-form">
            <input id="ticker-module-input" type="checkbox" class="module-input checkbox-input " tabindex="0" />
            <label for="ticker-module-input"></label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
