<div id="desc-avail-module" class="level">
  <div class="level-item content">
    <small class="heading is-accent">Seller's Notes</small>
    <p id="description-text" class="regular-font"><%= listing_info.description %></p>
  </div>
</div>
