<div id="desc-avail-module" class="content margin-top-50">
    <div class="description-text">
        <% if (listing_info.description) { %>
            <p class="regular-font"><%- listing_info.description %></p>
        <% } else { %>
            <p>The greatest possible domain name you can ask for. Buy it now and start your next venture today!</p>
        <% } %>
    </div>
</div>
