<div class="listing-module">
    <div class="content">
        <h2 class="is-bold">Do you own this domain?</h2>
        <p>
            Sign up below to list your domain with us!
        </p>
    </div>
    <div class="content">
        <form class="beta-form">
            <div class="control is-grouped">
                <p class="control is-expanded has-icon">
                  <input tabindex="1" class="input is-expanded is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
                  <i class="fa fa-envelope"></i>
                </p>
                <p class="control">
                    <a tabindex="1" class="beta-submit button is-primary is-stylish">Sign Up</a>
                </p>
            </div>
        </form>
        <div class="beta-form-success is-hidden">
            <div class="notification has-text-centered is-white">
                <h3 class="is-primary is-bold">Success! You have been put on the waiting list.</h3>
            </div>
        </div>
    </div>
</div>
