<% if (listing_info.domain_list) { %>
  <div id="domainlist-module" class="box is-medium is-centered is-hidden module">
    <div id="otherowner-domains" class="content">
      <p>More Domains</p>
      <ul id="otherowner-domain-table">
        <a tabindex="0" id="otherowner-domain-clone" class="other-domain is-hidden">
          <li class="control is-spaced">
            <span class="otherowner-domain-name control-left"></span>
            <span class="tag is-primary control-right otherowner-domain-price"></span>
          </li>
        </a>
      </ul>
    </div>
  </div>
<% } %>
