<div id="otherowner-domains" class="is-hidden content listing-info">
    <h3 class='is-bold' id="otherowner-domains-title"></h3>
    <ul id="otherowner-domain-table">
        <li id="otherowner-domain-clone">
            <a class="otherowner-domain-name is-accent"></a>
            <span class="is-pulled-right otherowner-domain-price"></span>
        </li>
    </ul>
</div>
