<div class="content listing-info">
    <% if (listing_info.owner_id) { %>
        <h3 class="is-bold margin-bottom-15">Owner&#39;s Notes</h3>
    <% } %>
    <p><%- listing_info.description %></p>
</div>
