<div id="example-rentals-module" class="is-hidden content listing-module padding-bottom-0">
  <h2 class="margin-bottom-10">
      How are people using this website?
      <span class="icon is-small" data-balloon-length="medium" data-balloon="Users who have used this website URL to display their personal content." data-balloon-pos="up">
        <i class="fa fa-question-circle"></i>
      </span>
  </h2>
  <ul id="ticker-wrapper">
      <div id='ticker-clone' class='ticker-row is-hidden'>
          <span class='is-bold ticker-user'></span><span class='ticker-type'></span><span class='ticker-reach'></span><span class='ticker-time'></span>.
      </div>
  </ul>
</div>
