<div id="example-rentals-module" class="is-hidden content listing-module padding-bottom-0">
  <h2 class="margin-bottom-10">How are people using this domain?</h2>
  <ul id="ticker-wrapper" class='has-disc'>
      <li id='ticker-clone' class='is-hidden'>
          <span class='is-info ticker-user'></span><span class='ticker-type'></span><span class='ticker-reach'></span><span class='ticker-time'></span>
      </li>
      <li id="ticker-end">
          How will you use it? Rent it now!
      </li>
  </ul>
</div>
