<div id="similar-domains" class="is-hidden listing-module">
  <div class="content margin-bottom-25">
    <h2 id="similar-domains-title">Other Listings</h2>
  </div>
  <div id="similar-domain-table" class="columns">
    <div id="similar-domain-clone" class="is-hidden column is-4">
      <div class="similar-domain-box">
        <h3>
          <a class="similar-domain-name is-accent"></a>
        </h3>
        <p class="similar-domain-price is-bold"></p>
        <p class="similar-domain-available">Now available!</p>
      </div>
    </div>
  </div>
</div>
