<div class="box">
  <figure class="image is-64x64">
    <!-- Emoji icon provided free by EmojiOne -->
    <img src="/images/lib/money.png" />
  </figure>
  <div class="content has-text-centered margin-top-20">
    <h2>This domain has been sold!</h2>
    <p>
      It is currently in the process of being transferred to its new owner.
    </p>
  </div>
</div>
