<div class="box is-medium is-centered">
  <figure class="image is-64x64">
    <img src="/images/lib/money-coin.svg" />
  </figure>
  <div class="content has-text-centered">
    <h2>This domain has been sold!</h2>
    <p>
      It is currently being transferred to its new owner.
    </p>
  </div>
</div>
