<%# TABS %>
<div class="margin-top-75 tabs has-shadow is-medium">
  <ul>

    <% if ((listing_info.premium && listing_info.info_module) || !listing_info.premium || listing_info.unlisted){ %>
      <li id="info-tab" data-position="0" class="tab module-tab">
        <a>
          <span class="is-hidden-mobile icon is-small"><i class="fa fa-info-circle"></i></span>
          <span>Information</span>
        </a>
      </li>
    <% } %>

    <% if ((listing_info.premium && listing_info.traffic_module) || !listing_info.premium || listing_info.unlisted){ %>
      <li id="traffic-tab" data-position="1" class='tab module-tab'>
        <a>
          <span class="is-hidden-mobile icon is-small"><i class="fa fa-line-chart"></i></span>
          <span>Traffic</span>
        </a>
      </li>
    <% } %>

    <% if ((listing_info.premium && listing_info.history_module) || !listing_info.premium || listing_info.unlisted){ %>
      <li id="ticker-tab" data-position="2" class="tab module-tab">
        <a>
          <span class="is-hidden-mobile icon is-small"><i class="fa fa-history"></i></span>
          <span>History</span>
        </a>
      </li>
    <% } %>

  </ul>
</div>
