<div id="ticker-module" class="is-hidden box is-medium is-centered is-paddingless module">
  <li id='ticker-clone' class='ticker-row ticker-rental is-hidden'>
    <div class='ticker-icon-color icon'><i class="far ticker-icon"></i></div>
    <div class="ticker-text">
      <p class='is-bold ticker-user is-inline'></p>
      <p class='ticker-type is-inline'></p>
      <p class='ticker-reach is-inline'></p>
      <p class='ticker-time is-inline'></p>
    </div>
  </li>
  <li id="ticker-loadmore" class='ticker-row is-hidden'>
    <a id="ticker-loadmore-message" class="is-info is-underlined ticker-text">Click here to load more</a>
  </li>
  <ul id="ticker-wrapper">
    <li id="ticker-views" class='ticker-row is-hidden'>
      <div class='ticker-icon-color icon is-dark'><i class="far fa-users ticker-icon"></i></div>
      <div class="ticker-text">
        <p>
          <span id="views-total" class="is-inline">0</span>
          <span id="views-plural"></span> viewed the various rented websites that used this domain in the past
          <span id="views-time">day</span>.
          <a href="https://domahub.com/faq#renting" class="is-info is-underlined">What does this mean?</a>
        </p>
      </div>
    </li>
    <li id="ticker-updated" class='ticker-row is-hidden'>
      <div class='ticker-icon-color icon is-purple'><i class="far fa-star ticker-icon"></i></div>
      <div class="ticker-text">
        <p id="ticker-updated-date"></p>
      </div>
    </li>
    <li id="ticker-created" class='ticker-row is-hidden'>
      <div class='ticker-icon-color icon is-danger'><i class="far fa-heart ticker-icon"></i></div>
      <div class="ticker-text">
        <p id="ticker-created-date"></p>
      </div>
    </li>
    <li id="ticker-registered" class='ticker-row is-hidden'>
      <div class='ticker-icon-color icon is-danger'><i class="far fa-thumbs-up ticker-icon"></i></div>
      <div class="ticker-text">
        <p id="ticker-registered-date"></p>
      </div>
    </li>
    <li id="ticker-loading" class='ticker-row'>
      <div class='icon is-small margin-right-5'><i class="far fa-spin fa-sync"></i></div>
      <span>Now loading recent rental history</span>
    </li>
  </ul>
</div>
