<div id="ticker-module" class="box has-tabs is-hidden module margin-bottom-0">
  <li id='ticker-clone' class='ticker-row ticker-rental is-hidden'>
      <span class='ticker-icon-color'><i class="margin-right-10 fa ticker-icon"></i></span>
      <div class="ticker-text">
        <p class='is-bold ticker-user is-inline'></p>
        <p class='ticker-type is-inline'></p><!--
    --><p class='ticker-reach is-inline'></p>
        <p class='ticker-time is-inline'></p>.
      </div>
  </li>
  <li id="ticker-loadmore" class='ticker-row is-hidden'>
      <a id="ticker-loadmore-message" class="is-accent ticker-text">Click here to load more</a>
  </li>
  <ul id="ticker-wrapper" class='padding-top-0 padding-bottom-0'>
      <li id="ticker-views" class='ticker-row is-hidden'>
          <span class='ticker-icon-color is-dark'><i class="margin-right-10 fa fa-users ticker-icon"></i></span>
          <div class="ticker-text">
            <p>
              <span id="views-total" class="is-inline">0</span>
              people have viewed this page or its subpages in the past
              <span id="views-time">day</span>.
            </p>
          </div>
      </li>
      <li id="ticker-updated" class='ticker-row is-hidden'>
          <span class='ticker-icon-color is-purple'><i class="margin-right-10 fa fa-star-o ticker-icon"></i></span>
          <div class="ticker-text">
            <p id="ticker-updated-date"></p>
          </div>
      </li>
      <li id="ticker-created" class='ticker-row is-hidden'>
          <span class='ticker-icon-color is-danger'><i class="margin-right-10 fa fa-heart-o ticker-icon"></i></span>
          <div class="ticker-text">
            <p id="ticker-created-date"></p>
          </div>
      </li>
      <li id="ticker-registered" class='ticker-row is-hidden'>
          <span class='ticker-icon-color is-dark'><i class="margin-right-10 fa fa-globe ticker-icon"></i></span>
          <div class="ticker-text">
            <p id="ticker-registered-date"></p>
          </div>
      </li>
      <li id="ticker-loading" class='ticker-row'>Now loading recent history</li>
  </ul>
</div>
