<div id="ticker-module" class="module">
  <li id='ticker-clone' class='ticker-row is-hidden'>
      <div class='ticker-icon-color'><i class="margin-right-10 fa ticker-icon"></i></div>
      <div class="ticker-text">
        <p class='is-bold ticker-user is-inline'></p>
        <p class='ticker-type is-inline'></p>
        <p class='ticker-reach is-inline'></p>
        <p class='ticker-time is-inline'></p>.
      </div>
  </li>
  <ul id="ticker-wrapper" class='padding-top-0 padding-bottom-0'></ul>
</div>
