<div id="ticker-module" class="is-hidden content">
  <li id='ticker-clone' class='ticker-row is-hidden'>
      <p>
          <span class='ticker-icon-color'><i style="margin-bottom:4px;vertical-align:middle;" class="margin-right-10 fa ticker-icon"></i></span><span class='is-bold ticker-user'></span><span class='ticker-type'></span><span class='ticker-reach'></span><span class='ticker-time'></span>.
      </p>
  </li>
  <ul id="ticker-wrapper"></ul>
</div>
