<% if ((listing_info.premium && listing_info.traffic_module) || !listing_info.premium){ %>

  <script src="/js/lib/chart.min.js" type="text/javascript"></script>
  <script src="/js/lib/randomColor.js" type="text/javascript"></script>
  <div id="traffic-module" class="box has-tabs is-hidden module">
    <div class="columns">

      <% if (!listing_info.premium || (listing_info.premium && listing_info.traffic_graph)) { %>
        <div class="column is-8-desktop is-12-tablet-only is-relative">
          <canvas id="traffic-chart"></canvas>
          <div id="traffic-overlay" class="content">
            <p id="traffic-overlay-text" class='traffic-overlay-text is-hidden is-bold'>
                There is not enough data!
            </p>
            <div id="traffic-overlay-load" class='traffic-overlay-text has-text-centered'>
              <p class='icon is-medium'><i class="fa fa-spin fa-refresh"></i></p>
              <p>Now loading traffic information.</p>
            </div>
          </div>
        </div>
      <% } %>

      <% if (!listing_info.premium || (listing_info.premium && listing_info.traffic_graph)) { %>
        <div class="column is-4-desktop is-12-tablet-only">
      <% } else { %>
        <div class="column">
      <% } %>

        <%# ALEXA MODULE %>
        <%- include("traffic/alexa_module.ejs", {
          listing_info : listing_info
        }); %>

        <% if (!listing_info.premium || (listing_info.premium && listing_info.traffic_graph)) { %>
          <div class="content">
            <p>
              <% if (listing_info.unlisted) { %>
                These are people who have searched for this domain name on DomaHub. You can capture this traffic in addition to any natural traffic your domain is currently receiving the moment you sign up with DomaHub!
              <% } else { %>
                These are people who are typing the address directly into their browser. You can capture this traffic instantly the moment you start utilizing this domain!
              <% } %>
            </p>
          </div>
        <% } %>

      </div>
    </div>
  </div>

<% } %>
