<script src="/js/lib/chart.min.js" type="text/javascript"></script>
<script src="/js/lib/randomColor.js" type="text/javascript"></script>
<div id="traffic-module" class="is-hidden no-border-radius module">
    <canvas id="traffic-chart"></canvas>
</div>
