<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
<div id="unavailable-module" class="top-module">
    <div class="content description-text">
        <p>
         This website is currently unavailable. If you would like domain to be listed on DomaHub, please
         click the button below and we will do our best to make it happen!
        </p>
    </div>
    <div class="control">
        <button class="button is-stylish is-primary">
            <span class="icon is-small"><i class="fa fa-rocket"></i></span>
            <span>Request Domain</span>
        </button>
    </div>
</div>
<script src="/js/routes/listings/listing_unavailable_logic.js" type="text/javascript"></script>
