<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
<div id="unavailable-module" class="box is-medium is-centered">
  <div class="content">
    <p>This domain is currently unavailable for purchase/rent.</p>
    <p>
      If you think something is wrong, please <a class="is-primary" href="/contact">let us know</a>.
    </p>
  </div>
</div>
<script src="/js/routes/listings/listing_unavailable_logic.js" type="text/javascript"></script>
