<%# IS THE LISTED LISTED OR UNLISTED WITH DOMAHUB %>
<% if (listing_info.unlisted) { %>
    <div id="unavailable-module" class="top-module">
<% } else { %>
    <div id="unavailable-module" class="top-module is-hidden">
<% } %>
    <div class="content description-text">
        <p>
            &#x2639; Bummer! This website is currently unavailable. If you really, really, really want it, press the button below and maybe it will become magically available.
        </p>
    </div>
    <div class="control">
        <a id="unavail-button" class="button is-stylish is-accent v-align-middle">
            Magic button!
        </a>
    </div>
</div>
<script src="/js/routes/listings/listing_unavailable_logic.js" type="text/javascript"></script>
