<div class="post-description-module content is-hidden">
    <div class="content description-text">
        <p>
            Bummer! Unfortunately this website is currently unavailable. If you really really REALLY want it, press the button below and maybe--just MAYBE--it will become magically available.
        </p>
    </div>
    <div class="control">
        <button id="unavail-button" class="button is-stylish is-accent v-align-middle" type="button">
            Magic button
        </button>
    </div>
</div>
