#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: 40px 0

.widget-title
  background-color: color-link
  box-shadow: 1px 2px 3px #ddd
  color: #fff
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500

.widget
  color: #fff
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-widget-border
  border-top: none
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
