@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/modal.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/components/menu.sass';
@import '../bulma/components/level.sass';
@import '../bulma/components/tabs.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/box.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';

.min-height {
  min-height: calc(100vh - 110px) !important;
}

.child-module {
  border-left: 1px solid $grey;
  padding-left: 20px;
  &.is-disabled {
    opacity:0.25;
  }
}

// tutorial
#step-1 {
  left: 20px !important;
}

#step-4 {
  left: 105px !important;
}

#compare-msg {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 10;
  width: 400px;
  @include mobile {
    bottom: -20px;
    width: 100%;
    right: 0;
  }
}

// Compare Model Stuff
.master {
  &.right {
    flex-direction: row;
  }
  &.left {
    flex-direction: row-reverse;
  }
  &.center {
    flex-direction: column;
    align-items: center;
  }
}

.module {
  min-height: 460px;
  margin-bottom: 0 !important;
}

#compare-model {
  width: 100%;
  height: 100%;
  display: flex;
}

#dh-footer {
  @include transition(all 0.2s ease);
  &.is-active {
    @include translate(500px,0);
    width: calc(100% - 500px);
    @include mobile {
      @include translate(0,0);
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1305px) {
      @include translate(300px,0);
      width: calc(100% - 300px);
    }
    @include tablet-only {
      .master {
        &.right {
          flex-direction: column;
        }
      }
    }
  }
}

#page-contents {
  @include transition(all 0.2s ease);
  background-attachment: fixed;
  background-color: #fff;
  min-height: 100vh;
  left: 0;
  padding: 80px 20px;
  width: 100%;
  min-height: 100vh;
  &.is-active {
    @include translate(500px,0);
    width: calc(100% - 500px);
    @include mobile {
      @include translate(0,0);
      width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1305px) {
      @include translate(300px,0);
      width: calc(100% - 300px);
    }
    @include tablet-only {
      .master {
        &.right {
          flex-direction: column;
        }
      }
    }
  }
}

#compare-menu {
  @include transition(all 0.2s);
  @include translate(-100%,0);
  @include box-shadow(0,3px,15px,$border,0);
  background-color: $white;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 500px;
  z-index: 200;
  &.is-active {
    @include translate(0,0);
  }
  @include mobile-456px {
    width: 100%;
  }
  @media screen and (min-width: 456px) and (max-width: 1305px) {
    width: 300px;
  }
}

#design-tab.tour-step-backdrop {
  background-color: $primary;
  border-radius:6px 6px 0px 0px;
  a {
    color: $white;
  }
}

#rent-now-button.tour-step-backdrop {
  a {
    border-radius: 6px 6px 0px 0px;
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: #309570;
      border-color: transparent;
      color: #fff;
    }
  }
}

#compare-buttons {
  border-bottom:1px solid $border;
  padding: 20px;
  width:100%;
  background-color: $white;
  .control {
    &.is-spaced {
      @media screen and (min-width: 457px) and (max-width: 1305px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        .control-right {
          margin-bottom: 10px;
        }
      }
      @include mobile-456px {
        flex-direction: row;
      }
      @media screen and (max-width: 320px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        .control-right {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#compare-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 74px);
  .footer {
    background-color: $white;
    border-top: 1px solid $border;
    margin-top: 20px;
    padding: 20px 0 !important;
  }
  @include mobile-456px {
    height: calc(100vh - 95px);
  }
  @media screen and (min-width: 456px) and (max-width: 1305px) {
    height: calc(100vh - 116px);
  }
}

.logo {
  display: inline-flex;
  padding: 5px 8px;
  border: 1px solid $primary;
  &:hover,
  &:focus {
    border-color: $white;
    .flat-logo {
      background-position: 0 -32px;
    }
  }
  .flat-logo {
    @include transition (background-position 0.2s ease);
    &:focus {
      outline: none;
    }
  }
}

.checkbox-form {
  width: 24px;
  height: 24px;
  label::before {
    top: 0 !important;
    left: 0 !important;
  }
  label {
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
}

.phone-number {
  padding-left: 52px !important;
}

#calendar {
  margin-bottom: 10px;
}

#custom_logo {
  border-radius: 10px;
  height: 45px;
  object-fit:cover;
  width: 45px;
}

.description-wrapper {
  max-width: 500px;
}

#description-text {
  word-break: break-word;
  white-space: pre-wrap;
}

#modules-wrapper {
  margin-top: 125px;
  &.is-active {
    @include tablet-only {
      .columns {
        flex-direction: column;
      }
    }
  }
}

#desc-avail-module {
  margin-top: 50px;
}

#domain-display {
  margin-top: 15px;
  h1 {
    font-size: $size-1;
    word-break: break-all;
    @include mobile {
      font-size: 40px;
    }
    @include mobile-456px {
      font-size: 28px;
    }
  }
  .control {
    @include desktop {
      width: 100%;
    }
    @include tablet-only {
      width: 250px;
    }
    @include mobile {
      width: 250px;
    }
    input {
      width: 100%;
    }
  }
}

.tip {
  display: block;
  margin: 5px 0;
  color: $text-light;
}

.input-tooltip {
  background-color: $grey-dark;
  border-radius: 0 $radius-large $radius-large $radius-large;
  bottom: -30px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  font-size: $size-6;
  left: 2px;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  width: 142px;
  @include mobile-456px {
    font-size: $size-7
  }
  &.is-active {
    background-color: $danger;
    width: 225px;
    &::before {
      border-bottom-color: $danger;
      border-left-color: $danger;
    }
  }
  &::before,
  &::after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 5px solid transparent;
  }
  &::before {
    border-bottom-color: $grey-dark;
    border-left-color: $grey-dark;
    top: -10px;
    left: 0;
  }
}

#typed-slash {
  border: none;
  color: $accent;
  font-size: $size-1;
  margin-right: auto;
  position: relative;
  vertical-align: baseline !important;
  width: auto;
  background:transparent;
  @include mobile {
    font-size: 40px;
  }
  @include mobile-456px {
    font-size: 28px;
  }
  &:hover {
    cursor: pointer;
    border-color: $black-secondary;
  }
  &.is-active {
    outline: none;
    cursor: auto;
    border-color: $black-primary;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: transparent;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: transparent;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: transparent;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: transparent;
    }
  }
}

.is-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  .tag, .button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.control-wrapper {
  display: flex;
  flex-wrap: wrap;
  .tag,
  .button {
    margin-bottom: 5px;
    &:first-child {
      margin-right: 10px;
    }
  }
  @include mobile-456px {
    flex-direction: column;
    .tag,
    .button {
      flex-grow: 1;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

#ticker-module {
  padding:0;
  background:#FFF;
  height:410px;
}

#ticker-wrapper {
  display: block;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

#show-menu-wrapper {
  position: fixed;
  padding: 20px;
  margin-bottom: 0;
  z-index: 99;
  &.is-dimmed {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
  }
}

.ticker-row {
  align-items: center;
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $border;
}

.ticker-icon-color {
  border-right: 2px solid $border;
  margin-right: 10px;
  min-width: 30px;
}

.ticker-icon {
  margin-top: 4px;
  vertical-align: baseline !important;
}

#traffic-module {
  .columns {
    @include tablet-only {
      flex-direction: column;
    }
  }
}

#traffic-overlay {
  position:absolute;
  background-color:rgba(255,255,255,0.5);
  display:block;
  top:20px;
  z-index:99;
}

.traffic-overlay-text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin-right:-50%;
}
