@import '../balloon';
@import '../bulma/utilities/utilities.sass';
@import '../bulma/base/base.sass';
@import '../bulma/components/card.sass';
@import '../bulma/components/grid.sass';
@import '../bulma/components/nav.sass';
@import '../bulma/elements/button.sass';
@import '../bulma/elements/content.sass';
@import '../bulma/elements/delete.sass';
@import '../bulma/elements/form.sass';
@import '../bulma/elements/hamburger.sass';
@import '../bulma/elements/icon.sass';
@import '../bulma/elements/image.sass';
@import '../bulma/elements/notification.sass';
@import '../bulma/elements/table.sass';
@import '../bulma/elements/tag.sass';
@import '../bulma/elements/title.sass';
@import '../bulma/layout/footer.sass';
@import '../bulma/layout/section.sass';
@import '../bulma/layout/hero.sass';

.domain-table {
  background-color: #fff;
}

.table-row {
  @include transition(all 0.2s ease);
  background-color: #fff;
  padding: 15px;
  &:hover {
    @include box-shadow(1px,1px,20px,$border,0);
    @include scale(1.02);
  }
}

.sort-header {
  cursor:pointer;
}

.nothing-exists-row {
  padding:25px;
  min-height:200px;
  img {
    width:100px;
  }
  p {
    margin-top:25px;
  }
}

.control-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .tag + p {
    margin-left: 10px;
  }
}

.img-col,
.misc-col {
  width: 50px;
}

.bin-col,
.min-col,
.rent-col {
  width: 200px;
}

.misc-col {
  position: relative;
}

.misc-options {
  @include box-shadow(2px,2px,6px,$border,0);
  background-color: $white;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: -32px;
  z-index: 10;
  &::before {
    @include rotate(45);
    @include box-shadow(2px,2px,3px,$border,0);
    content: '';
    background: $white;
    bottom: -5px;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid $white;
    border-bottom: 5px solid $white;
    right: 16px;
    width: 0;
    z-index: 9;
  }
  ul {
    display: flex;
    li {
      padding: 10px;
      .icon {
        color: #000;
        opacity: 0.75;
      }
      &:hover {
        cursor: pointer;
        .icon {
          opacity: 1;
        }
      }
    }
  }
}

.price-tag {
  position: absolute;
  top: -28px;
  background-color: $white;
  padding: 5px;
  right: 10px;
  border-radius: $radius $radius 0 0;
}
