.footer
  background-color: $grey-dark
  padding: 80px 0
  +mobile
    .columns
      & > .column
        text-align: center

// .linebreak
//   position: relative
//   margin: 0 auto 50px auto
//   width: 25%
//   height: 2px
//   background-color: $border

.footer-list
  display: flex
  flex-direction: column
  text-align: right
  text-decoration: none
  +mobile
    flex-direction: row
    justify-content: center
    align-items: center

.footer-header
  color: $primary
  font-weight: 400
  margin-bottom: 10px
  +mobile
    margin-bottom: 0
    display: none

.footer-item
  color: $white-secondary
  &:not(:first-child)
    margin-top: 10px
  +mobile
    margin-top: 0
    &:not(:last-child)
      margin-right: 15px
  a
    color: $white-secondary
    &:hover
      color: $white

.social-icon
  +transition(all 0s)

#facebook-icon
  &:hover
    color: #3b5998

#twitter-icon
  &:hover
    color: #00aced

#linkedin-icon
  &:hover
    color: #0077B5

#youtube-icon
  &:hover
    color: #cd201f
