.footer
  background-color: $grey-darker
  overflow: hidden

.footer-body
  padding: 40px 0
  +mobile
    padding: 40px 20px
  +mobile-456px
    padding: 20px

.footer-list
  display: flex
  align-items: center
  text-decoration: none
  justify-content: flex-start
  +mobile-456px
    flex-direction: column
    align-items: flex-start

.footer-item
  &:not(:first-child)
    margin-left: 20px
    +mobile-456px
      margin-left: 0
  +mobile-456px
    margin-top: 10px
  a
    padding: 5px 0
    color: $white-primary
    &:hover,
    &:focus
      color: $white-disabled

.footer-bar
  border-top: 1px solid $border
  padding: 40px 0
  +mobile
    padding: 30px 20px

.footer-bar-content
  display: flex
  align-items: center
  justify-content: space-between

.footer-bar-item
  font-size: $size-7
  margin: 0
  padding: 0
  box-sizing: border-box
  &:not(:first-child)
    margin-left: 25px

.footer-bar-right
  +tablet
    text-align: right
  .footer-bar-item
    color: $white-primary
    &:hover,
    &:focus
      color: $white-disabled


.social-icon
  &:not(:first-child)
    margin-left: 20px
  & > .icon
    color: $white
    &:hover
      color: $white-disabled
  +mobile-456px
    display: none

//
// #facebook-icon
//   & > .icon
//     &:hover
//       color: #3b5998
//
// #twitter-icon
//   & > .icon
//     &:hover
//       color: #00aced
//
// #linkedin-icon
//   & > .icon
//     &:hover
//       color: #0077B5
//
// #youtube-icon
//   & > .icon
//     &:hover
//       color: #cd201f
