.footer
  background-color: $blue-darker
  overflow: hidden
  padding: 40px 0
  +mobile
    padding: 40px 20px

.footer-form
  margin: 25px auto
  max-width: 500px

.footer-list
  display: flex
  align-items: center
  text-decoration: none
  justify-content: center
  +mobile-456px
    flex-wrap: wrap

.footer-item
  margin-left: 20px
  +mobile-456px
    margin-top: 10px
  a
    padding: 5px 0
    color: $white-primary
    &:hover,
    &:focus
      color: $primary

.footer-bar
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 40px
  +mobile
    padding: 30px 20px
    flex-direction: column
    justify-content: flex-start

.footer-bar-content
  display: flex
  align-items: center
  justify-content: space-between

.footer-bar-item
  font-size: $size-8
  margin: 0
  padding: 0
  box-sizing: border-box
  &:not(:first-child)
    margin-left: 25px

.footer-bar-right
  +tablet
    text-align: right
  .footer-bar-item
    color: $white-primary
    &:hover,
    &:focus
      color: $primary


.social-icon
  &:not(:first-child)
    margin-left: 20px
  & > .icon
    color: $white
    font-size: $size-8
    &:hover
      color: $primary
  +mobile-456px
    display: none
