.section
  background-color: $white
  padding: 40px 20px
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
  &.is-full
    padding: 60px 0
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
  // Responsiveness
  +desktop
    // Sizes
  &.is-medium
    +desktop
      padding: 120px 20px
    +mobile
      padding: 60px 20px
  &.is-large
    +desktop
      padding: 240px 20px
    +mobile
      padding: 80px 20px
