.section
  background-color: $white
  padding: 40px 20px
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
  // Responsiveness
  +desktop
  // Sizes
  &.is-small
    padding: 20px
  &.is-medium
    +tablet
      padding: 120px 20px
    +mobile
      padding: 90px 20px
    &-top
      padding: 120px 20px 0
  &.is-large
    +desktop
      padding: 200px 20px
    +tablet-only
      padding: 150px 20px
    +mobile
      padding: 80px 20px
