.section
  background-color: $white
  padding: 40px 20px
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
  // Responsiveness
  +desktop
    // Sizes
  &.is-small
    padding: 40px 20px
  &.is-medium
    +desktop
      padding: 130px 20px
    +tablet
      padding: 90px 20px
    +mobile
      padding: 60px 20px
    &-top
      +desktop
        padding: 120px 20px 0
      +mobile
        padding: 60px 20px
  &.is-large
    +desktop
      padding: 200px 20px
    +tablet-only
      padding: 150px 20px
    +mobile
      padding: 80px 20px
  &.listing-section
    +tablet
      height: 600px
    +mobile
      height: 500px
  &.gs-section
    height: 60vh
    padding: 200px 20px 0
    +mobile
      height: auto
      padding-top: 50px
    &-small
      height: 40vh
      padding-bottom: 20px
      +mobile
        height: auto
  &.is-fullheight
    height: 100vh
    +desktop
      padding: 200px 20px
    +tablet-only
      padding: 150px 20px
    +mobile
      padding: 80px 20px
      height: 100%
