<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
          <a class="logo-text primary-logo" title="Home" href="/">DomaHub</a>
          <p class="footer-item">
              &#169; 2016 | DomaHub.com
          </p>
      </div>
      <div class="column is-one-quarter">
        <ul class="footer-list">
          <li class="footer-header">Company</li>
          <li class="footer-item"><a href="/about" title="About Us">About Us</a></li>
          <li class="footer-item"><a href="/mission" title="Our Mission">Our Mission</a></li>
          <li class="footer-item"><a href="/press" title="Press">Press</a></li>
          <li class="footer-item"><a href="https://medium.com/@domahub" title="Blog">Blog</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="footer-list">
          <li class="footer-header">Resources</li>
          <li class="footer-item"><a href="/tos" title="Terms of Service">Terms of Service</a></li>
          <li class="footer-item"><a href="/privacy" title="Privacy Policy">Privacy Policy</a></li>
          <li class="footer-item"><a href="/security" title="Security">Security</a></li>
          <li class="footer-item"><a href="/faq" title="FAQs">FAQ</a></li>
        </ul>
      </div>
      <div class="column is-one-quarter">
        <ul class="footer-list">
          <li class="footer-header">Get in Touch</li>
          <li class="footer-item"><a href="/careers" title="Careers">Careers</a></li>
          <li class="footer-item"><a href="/contact" title="Contact Us">Contact Us</a></li>
          <li class="footer-item"><a class="is-underlined" href="mailto:support@domahub.com" title="Send us an email!">support@domahub.com</a></li>
          <li class="footer-item"></li>
        </ul>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-quarter">

      </div>
      <div class="column is-one-quarter">

      </div>
      <div class="column is-one-quarter">

      </div>
      <div class="column is-one-quarter">
        <div class="footer-list">
          <div class="footer-item">
            <a id="facebook-icon" class="social-icon" title="Facebook" href="/">
              <span class="icon is-medium">
                <i class="fa fa-facebook"></i>
              </span>
            </a>
            <a id="twitter-icon" class="social-icon" title="Twitter" href="/">
              <span class="icon is-medium">
                <i class="fa fa-twitter"></i>
              </span>
            </a>
            <a id="linkedin-icon" class="social-icon" title="LinkedIn" href="/">
              <span class="icon is-medium">
                <i class="fa fa-linkedin"></i>
              </span>
            </a>
            <a id="youtube-icon" class="social-icon" title="YouTube" href="/">
              <span class="icon is-medium">
                <i class="fa fa-youtube"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
