<link rel="stylesheet" type="text/css" href="/css/includes/footer.css" />

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <span class="icon is-medium">
        <i class="w3bbi_circle_icon"><img src="http://www.1qlee.com/svg/logo15_svg.svg" /></i>
      </span>
    </div>
    <div class="content has-text-centered">
      <p class="company_text">
        &#169; 2016 | w3bbi.com
      </p>
    </div>
    <div class="content has-text-centered">
      <a title="About" class="white_link footer_item" href="/about">About Us</a>
      <a title="Terms of Service" class="white_link footer_item" href="/tos">Terms of Service</a>
      <a title="Privacy Policy" class="white_link footer_item" href="/privacy">Privacy Policy</a>
      <a title="Careers" class="white_link footer_item" href="/careers">Careers</a>
      <a title="Contact" class="white_link footer_item" href="/contact">Contact</a>
    </div>
    <div class="content has-text-centered">
      <a id="facebook_icon" class="social_icon" title="Facebook">
        <span class="icon">
          <i class="fa fa-facebook-square"></i>
        </span>
      </a>
      <a id="twitter_icon" class="social_icon" title="Twitter">
        <span class="icon">
          <i class="fa fa-twitter-square"></i>
        </span>
      </a>
      <a id="linkedin_icon" class="social_icon" title="LinkedIn">
        <span class="icon">
          <i class="fa fa-linkedin-square"></i>
        </span>
      </a>
      <a id="youtube_icon" class="social_icon" title="YouTube">
        <span class="icon">
          <i class="fa fa-youtube-square"></i>
        </span>
      </a>
    </div>
  </div>
</footer>
