<footer class="footer has-border-top">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-3">
        <div class="content">
          <a id="facebook-icon" class="social-icon" title="Facebook" href="https://www.facebook.com/domahub">
            <div class="icon is-small">
              <i class="fal fa-facebook-f"></i>
            </div>
          </a>
          <a id="twitter-icon" class="social-icon" title="Twitter" href="https://twitter.com/domahub">
            <div class="icon is-small">
              <i class="fal fa-twitter"></i>
            </div>
          </a>
          <a id="linkedin-icon" class="social-icon" title="LinkedIn" href="https://www.linkedin.com/company/domahub">
            <div class="icon is-small">
              <i class="fal fa-linkedin-in"></i>
            </div>
          </a>
        </div>
        <div class="content is-flex is-centered is-mobile">
          <a class="footer-item" tabindex="0" href="/" title="Home">
            <div class="circle-logo"></div>
          </a>
          <p class="footer-item">
            <i class="fal fa-copyright"></i> DomaHub, Inc.
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <ul class="is-vertical">
            <li>
              <p class="is-bold">
                Product
              </p>
            </li>
            <li>
              <a>Pricing</a>
            </li>
            <li>
              <a>Landing Pages</a>
            </li>
            <li>
              <a>Domain Hub</a>
            </li>
            <li>
              <a>Domain Management</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <ul class="is-vertical">
            <li>
              <p class="is-bold">
                Company
              </p>
            </li>
            <li>
              <a>Contact</a>
            </li>
            <li>
              <a>Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <ul class="is-vertical">
            <li>
              <p class="is-bold">
                Resources
              </p>
            </li>
            <li>
              <a>FAQ</a>
            </li>
            <li>
              <a>Terms of Service</a>
            </li>
            <li>
              <a>Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="bar-left">

      </div>
      <ul class="bar-right">
        <li class="footer-item">
          <a tabindex="0" href="/contact" title="Contact Us">Contact</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" href="/faq" title="FAQs">FAQ</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" href="https://medium.com/domahub" title="Blog">Blog</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" class="footer-item" href="/terms" title="Terms of Service">Terms</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" class="footer-item" href="/privacy" title="Privacy Policy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
