<footer class="footer">
  <div class="container margin-bottom-25">
    <div class="footer-body">
      <div class="footer-list-row margin-bottom-25">
        <a id="facebook-icon" class="social-icon" title="Facebook" href="https://www.facebook.com/domahub">
          <span class="icon">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a id="twitter-icon" class="social-icon" title="Twitter" href="https://twitter.com/domahub">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a id="linkedin-icon" class="social-icon" title="LinkedIn" href="https://www.linkedin.com/company/domahub">
          <span class="icon">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>
        <%# <a id="youtube-icon" class="social-icon" title="YouTube" href="https://www.youtube.com/channel/UCROjs2sorLto3rOOHbAuXLg">
          <span class="icon">
            <i class="fa fa-youtube"></i>
          </span>
        </a>%>
      </div>
      <ul class="footer-list-row">
        <li class="footer-item"><a href="/about" title="About Us">About</a></li>
        <li class="footer-item"><a href="/press" title="Press">Press</a></li>
        <li class="footer-item"><a href="https://medium.com/@domahub" title="Blog">Blog</a></li>
        <li class="footer-item"><a href="/faq" title="FAQs">FAQ</a></li>
        <li class="footer-item"><a href="/careers" title="Careers">Careers</a></li>
        <li class="footer-item"><a href="/contact" title="Contact Us">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bar">
    <div class="container">
      <div class="footer-bar-content">
        <p class="is-primary footer-bar-item">
          &#169;2016 DomaHub.com
        </p>
        <a class="white-link footer-bar-item">
          Terms
        </a>
        <a class="white-link footer-bar-item">
          Privacy
        </a>
      </div>
    </div>
  </div>
</footer>
