<footer class="footer">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <a tabindex="0" class="circle-logo footer-item" href="/" title="Home"></a>
        <p class="footer-item">
          <i class="fa fa-copyright v-align-bottom"></i> DomaHub, Inc.
        </p>
        <a id="facebook-icon" class="social-icon" title="Facebook" href="https://www.facebook.com/domahub">
          <span class="icon is-small is-white">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a id="twitter-icon" class="social-icon" title="Twitter" href="https://twitter.com/domahub">
          <span class="icon is-small is-white">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a id="linkedin-icon" class="social-icon" title="LinkedIn" href="https://www.linkedin.com/company/domahub">
          <span class="icon is-small is-white">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>
      </div>
      <ul class="bar-right">
        <li class="footer-item">
          <a tabindex="0" href="/contact" title="Contact Us">Contact</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" href="/faq" title="FAQs">FAQ</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" href="https://medium.com/@domahub" title="Blog">Blog</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" class="footer-item" href="/terms" title="Terms of Service">Terms</a>
        </li>
        <li class="footer-item">
          <a tabindex="0" class="footer-item" href="/privacy" title="Privacy Policy">Privacy</a>
        </li>
        <li class="footer-item">
          <a href="https://www.emojione.com" rel="noopener" target="_blank" title="Icons from Emojione">
            <img class="v-align-middle" height="16" width="16" alt="Icons from Emojione" src="/images/lib/smile.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
