<footer class="footer">
  <!-- <div class="container margin-bottom-25">
    <div class="footer-body">
      <ul class="footer-list-row">
        <li class="footer-item"><a href="/about" title="About Us">About</a></li>
        <li class="footer-item"><a href="/press" title="Press">Press</a></li>
        <li class="footer-item"><a href="https://medium.com/@domahub" title="Blog">Blog</a></li>
        <li class="footer-item"><a href="/faq" title="FAQs">FAQ</a></li>
        <li class="footer-item"><a href="/careers" title="Careers">Careers</a></li>
        <li class="footer-item"><a href="/contact" title="Contact Us">Contact Us</a></li>
      </ul>
    </div>
  </div> -->
    <div class="container">


      <div class="columns footer-body">
        <div class="column">
          <ul class="footer-list">
            <li class="footer-item"><a href="/about" title="About Us">About</a></li>
            <li class="footer-item"><a href="/press" title="Press">Press</a></li>
            <li class="footer-item"><a href="https://medium.com/@domahub" title="Blog">Blog</a></li>
            <li class="footer-item"><a href="/faq" title="FAQs">FAQ</a></li>
            <li class="footer-item"><a href="/careers" title="Careers">Careers</a></li>
            <li class="footer-item"><a href="/contact" title="Contact Us">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="columns footer-bar">
        <div class="column is-half">
          <p class="footer-bar-item is-primary">
            © 2016 DomaHub.com
          </p>
        </div>
        <div class="column is-half footer-bar-right">
          <a class="footer-bar-item" href="/terms">
            Terms of Service
          </a>
          <a class="footer-bar-item">
            Privacy Policy
          </a>
          <a id="facebook-icon" class="social-icon footer-bar-item" title="Facebook" href="https://www.facebook.com/domahub">
            <span class="icon is-small is-white">
              <i class="fa fa-facebook"></i>
            </span>
          </a>
          <a id="twitter-icon" class="social-icon footer-bar-item" title="Twitter" href="https://twitter.com/domahub">
            <span class="icon is-small is-white">
              <i class="fa fa-twitter"></i>
            </span>
          </a>
          <a id="linkedin-icon" class="social-icon footer-bar-item" title="LinkedIn" href="https://www.linkedin.com/company/domahub">
            <span class="icon is-small is-white">
              <i class="fa fa-linkedin"></i>
            </span>
          </a>
          <%# <a id="youtube-icon" class="social-icon footer-bar-item" title="YouTube" href="https://www.youtube.com/channel/UCROjs2sorLto3rOOHbAuXLg">
            <span class="icon is-small">
              <i class="fa fa-youtube"></i>
            </span>
          </a>%>
        </div>
      </div>
    </div>
</footer>
