<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/b36602cf54.js"></script>
<script>
    (function($){
        var $span = $('<span class="fa" style="display:none"></span>').appendTo('body');
        if ($span.css('fontFamily') !== 'FontAwesome' ) {
            // Fallback Link
            $('head').append('<link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">');
        }
        $span.remove();
    })(jQuery);
</script>
<script src="/js/cookie_logic.js" type="text/javascript"></script>
<script src="/js/navbar_logic.js" type="text/javascript"></script>
<script src="/js/routes/account/account_login_logic.js" type="text/javascript"></script>
