<link rel="stylesheet" type="text/css" href="/css/includes/navbar.css" />

<nav id="navbar" class="nav is-transparent">
  <div class="container">
    <div class="nav-left">
      <div class="nav-item">
        <a class="logo-text primary-logo-light" tabindex="1" title="Home" href="/">DomaHub</a>
      </div>
    </div>
    <div class="nav-center">
      <form id="searchbar-form" class="nav-item is-transparent" novalidate>
        <p class="control has-icon">
          <input id="domain-name" tabindex="2" class="input" type="url" placeholder="Search domains" name="domain-name" autocomplete="off">
          <i class="fa fa-search"></i>
        </p>
      </form>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <div class="nav-item">
        <a class="nav-link white-link" tabindex="3" title="Browse Listings" href="/listings">Browse</a>
      </div>
      <div class="nav-item">
        <a class="nav-link white-link" tabindex="4" title="Create Listing" href="/listing/create">Sell</a>
      </div>

<%# navbar checks for a user variable, if it doesnt exist, then display the login button %>
<% if (!user) { %>
    <div class="nav-item">
      <a id="signup" tabindex="5" class="nav-link white-link" title="Sign Up" href="/signup">Sign Up</a>
    </div>
    <div class="nav-item">
      <a id="login-modal" tabindex="6" class="button is-primary modal-button" title="Log In" data-object="#modal-login">Log In</a>
    </div>
    <div id="modal-login" class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content">
            <div id="login-dropdown">
              <div id="message" class="has-text-centered margin-bottom-25">Please log in below</div>
              <form id="navbar_form" action="/login" method="post">
                <p class="control has-icon">
                  <input id="email" autofocus class="input is-medium" name="email" type="email" placeholder="Email" spellcheck="false">
                  <i class="fa fa-envelope"></i>
                </p>
                <p class="control has-icon">
                  <input id="password" class="input is-medium" name="password" type="password" placeholder="Password">
                  <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                  <button id="drop-login-button" class="button is-primary is-medium is-fullwidth">
                    Log In
                  </button>
                </p>
                <div class="control is-grouped">
                  <p class="control is-expanded">
                    <label class="checkbox">
                      <input id="remember-checkbox" type="checkbox">
                      Remember me
                    </label>
                  </p>
                  <p class="control">
                      <a class="forgot orange-link" href="/forgot">Forgot password?</a>
                  </p>
                </div>

              <p class="control">
                <p class="has-text-centered">
                  Don&#39;t have an account?
                </p>
                <div class="has-text-centered">
                  <a class="signup orange-link" href="/signup">Sign Up Now</a>
                </div>
              </p>
              </form>
            </div>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>

<!-- or else display the user profile as logged in -->
<% } else { %>
    <div class="nav-item">
      <a id="profile-button" tabindex="6" class="button is-primary is-outlined" title="Profile">
        <span><%= (user.username.length > 6) ? user.username.slice(0,6) + "..." : user.username %></span>
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
      <aside id="profile-dropdown" class="menu is-hidden">
        <p class="menu-label">
          Profile
        </p>
        <ul class="menu-list">
          <li><a href="/profile">Dashboard</a></li>
          <li><a href="/profile/inbox">Inbox</a></li>
        </ul>
        <p class="menu-label">
          Domains
        </p>
        <ul class="menu-list">
          <li><a href="/profile/mylistings">My Listings</a></li>
          <li><a href="/profile/myrentals">My Rentals</a></li>
          <li><a href="/listing/create">Create Listing</a></li>
        </ul>
        <p class="menu-label">
          Account
        </p>
        <ul class="menu-list">
          <li><a href="/profile/settings">Settings</a></li>
          <li><a class="logout" href="/logout">Log Out</a></li>
        </ul>
      </aside>
    </div>
  </div>
<% } %>

</div>
</nav>
