<nav id="navbar" class="nav is-transparent">
  <div class="container">
    <div class="nav-left">
      <div class="nav-item">
        <a id="nav-logo" class="flat-logo is-white is-hidden-mobile" tabindex="1" title="Home" href="/">
        </a>
        <a class="circle-logo is-white is-hidden-tablet" tabindex="1" title="Home" href="/"></a>
      </div>
    </div>
    <div class="nav-center">
      <%# <form id="searchbar-form" class="nav-item searchbar" novalidate>
        <p class="control has-icon">
          <input id="domain-name" tabindex="1" class="input" type="text" placeholder="Search domains" name="domain-name" autocomplete="off">
          <i class="fa fa-search"></i>
        </p>
      </form>%>
    </div>
    <span class="nav-toggle is-white" tabindex="1">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu is-black">
      <%# <div class="nav-item">
        <a class="nav-link is-white" tabindex="1" title="Browse Listings" href="/listings">Browse Listings</a>
      </div>%>

<%# navbar checks for a user variable, if it doesnt exist, then display the login button %>
<% if (!user) { %>
    <%# <div class="nav-item">
      <a id="signup" tabindex="1" class="nav-link is-white" title="Sign Up" href="/signup">Sign Up</a>
    </div> %>
    <div class="nav-item">
      <a id="login-modal" tabindex="1" class="button is-white is-stylish is-small modal-button" title="Log In" data-object="#modal-login">Log In</a>
    </div>
    <div id="modal-login" class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content login-box">
          <div id="login-dropdown" class="padding-25">
            <h2 class="margin-bottom-10 has-text-centered">
              <a class='is-inline-block flat-logo is-primary' tabindex="1" title="Home" href="/"></a>
            </h2>

            <% if (typeof message != "undefined") {%>
              <p id="message" class="has-text-centered margin-top-0 margin-bottom-15"><%= message %></p>
            <% } %>
              <form id="navbar_form" action="/login" method="post">
                <p class="control has-icon">
                  <input id="email" autofocus class="input is-medium" name="email" type="email" placeholder="Email" spellcheck="false">
                  <i class="fa fa-envelope"></i>
                </p>
                <p class="control has-icon">
                  <input id="password" class="input is-medium" name="password" type="password" placeholder="Password">
                  <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                  <button id="drop-login-button" class="button is-primary is-stylish is-fullwidth">
                    Log In
                  </button>
                </p>
                <div class="control is-grouped">
                  <p class="control is-expanded">
                    <label class="checkbox">
                      <input id="remember-checkbox" type="checkbox">
                      Remember me
                    </label>
                  </p>
                  <p class="control">
                      <a class="forgot is-accent" href="/forgot">Forgot password?</a>
                  </p>
                </div>

              <%# <p class="control">
                <p class="has-text-centered">
                  Don&#146;t have an account?
                </p>
                <div class="has-text-centered">
                  <a class="signup is-accent" href="/signup">Sign Up Now</a>
                </div>
              </p> %>
              </form>
            </div>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>

<!-- or else display the user profile as logged in -->
<% } else { %>
    <div class="nav-item">
      <a class="nav-link is-white" tabindex="1" title="Create Listing" href="/listings/create">Create Listings</a>
    </div>
    <div class="nav-item">
      <a id="profile-button" tabindex="1" class="button is-white is-stylish is-small" title="Profile">
        <span><%= (user.username.length > 6) ? user.username.slice(0,6) + "..." : user.username %></span>
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
      <a tabindex="1" class="nav-link is-white is-hidden-tablet" href="/profile/mylistings" title="My Listings">
        My Listings
      </a>
      <div id="profile-dropdown" class="is-hidden is-hidden-mobile">
        <ul class="profile-dropdown-menu">
          <li><a tabindex="1" href="/profile/mylistings">
            <span class="icon is-small">
              <i class="fa fa-tasks"></i>
            </span>
            <span>My Listings</span>
          </a></li>
          <li><a tabindex="1" href="/profile/myrentals">
            <span class="icon is-small">
              <i class="fa fa-window-maximize"></i>
            </span>
            <span>My Rentals</span>
          </a></li>
          <li><a tabindex="1" href="/profile/settings">
            <span class="icon is-small">
              <i class="fa fa-cog"></i>
            </span>
            <span>Account Settings</span>
          </a></li>
          <li><a tabindex="1" href="/logout">
            <span class="icon is-small">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Log Out</span>
          </a></li>
        </ul>
      </div>
    </div>
    <div class="nav-item is-hidden-tablet">
      <a tabindex="1" class="nav-link is-white is-hidden-tablet" href="/profile/myrentals" title="My Rentals">
        My Rentals
      </a>
    </div>
    <div class="nav-item is-hidden-tablet">
      <a tabindex="1" class="nav-link is-white is-hidden-tablet" href="/profile/settings" title="Account Settings">
        Account Settings
      </a>
    </div>
    <div class="nav-item is-hidden-tablet">
      <a tabindex="1" class="nav-link is-white is-hidden-tablet" href="/logout" title="Log Out">
        Log Out
      </a>
    </div>
  </div>
<% } %>

</div>
</nav>
