<link rel="stylesheet" type="text/css" href="/css/includes/navbar.css" />
<script src="/js/cookie.js" type="text/javascript"></script>

<nav id="navbar">
  <div class="w3bbi_icon">
    <a title="Home" href="/">w3bbi</a>
  </div>
  <div class="search_icon" class="border-left">
    <span class="fa fa-search fa-lg"></span>
  </div>
  <div id="searchbar">
    <form id="searchbar_form" novalidate>
      <input id="domain_name" type="url" placeholder="Search websites" name="domain_name" autocomplete="off">
    </form>
  </div>
  <div id="list" class="nav-button">
    <a class="nav_link" title="Sellers" href="/sellers">List</a>
  </div>
  <div id="rent" class="nav-button">
    <a class="nav_link" title="Renters" href="/buyers">Rent</a>
  </div>

<%# navbar checks for a user variable, if it doesnt exist, then display the login button %>
<% if (!user) { %>
  <a id="login_modal" class="button is-primary modal-button" data-object="#modal_login">Log In</a>

  <div id="modal_login" class="modal">
    <div class="modal-background"></div>
    <div class="modal-container">
      <div class="modal-content">
        <%# navbar checks for a user variable, if it doesnt exist, then display the login modal stuff %>
        <% if (!user) { %>
          <div id="login_dropdown">
            <div id="message">Please log in below!</div>
            <form id="target" action="/login" method="post">
              <p class="control has-icon">
                <input class="input is-medium" type="email" placeholder="Email">
                <i class="fa fa-envelope"></i>
              </p>
              <p class="control has-icon">
                <input class="input is-medium" type="password" placeholder="Password">
                <i class="fa fa-lock"></i>
              </p>
              <p class="control">
                <button id="drop_login_button" class="button is-primary is-medium is-fullwidth">
                  Log In
                </button>
              </p>
              <div class="control is-grouped">
                <p class="control is-expanded">
                  <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                  </label>
                </p>
                <p class="control">
                    <a class="forgot orange_link" href="/forgot">Forgot password?</a>
                </p>
              </div>

          <div id="linebreak2"></div>

            <p class="control">
              <p class="has-text-centered">
                Don't have an account?
              </p>
              <div class="has-text-centered">
                <a class="signup  orange_link" href="/signup">Sign Up Now</a>
              </div>
            </p>
            </form>
          </div>
        <% } %>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>

<%# or else display the logout button %>
<% } else { %>
  <div id="login">
    <a class="button is-primary" href="/logout">Log Out</a>
  </div>
<% } %>

</nav>

<script src="/js/routes/login_dropdown.js" type="text/javascript"></script>
<script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
<script src="/js/routes/navbar.js" type="text/javascript"></script>
