<link rel="stylesheet" type="text/css" href="/css/includes/navbar.css" />

<nav id="navbar" class="nav has-shadow">
  <div class="nav-left">
    <div class="w3bbi-icon nav-item">
      <a title="Home" href="/">domahub</a>
    </div>
  </div>
  <div class="nav-center">

  </div>
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="nav-right nav-menu">
    <form id="searchbar-form" class="nav-item" novalidate>
      <p class="control has-icon">
        <input id="domain-name" class="input" type="url" placeholder="Search websites" name="domain-name" autocomplete="off">
        <i class="fa fa-search"></i>
      </p>
    </form>
    <div class="nav-item">
      <a class="nav-link" title="Renters" href="/buyers">Rent</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" title="Sellers" href="/sellers">List</a>
    </div>

<%# navbar checks for a user variable, if it doesnt exist, then display the login button %>
<% if (!user) { %>
    <div class="nav-item">
      <a id="signup" class="nav-link" title="Sign Up" href="/signup">Sign Up</a>
    </div>
    <div class="nav-item">
      <a id="login-modal" class="button is-primary is-outlined modal-button" title="Log In" data-object="#modal-login">Log In</a>
    </div>
    <div id="modal-login" class="modal">
      <div class="modal-background"></div>
      <div class="modal-container">
        <div class="modal-content">
            <div id="login-dropdown">
              <div id="message" class="has-text-centered bottom-margin-25">Please log in below</div>
              <form id="target" action="/login" method="post">
                <p class="control has-icon">
                  <input id="email" class="input is-medium" name="email" type="email" placeholder="Email">
                  <i class="fa fa-envelope"></i>
                </p>
                <p class="control has-icon">
                  <input id="password" class="input is-medium" name="password" type="password" placeholder="Password">
                  <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                  <button id="drop-login-button" class="button is-primary is-medium is-fullwidth">
                    Log In
                  </button>
                </p>
                <div class="control is-grouped">
                  <p class="control is-expanded">
                    <label class="checkbox">
                      <input id="remember-checkbox" type="checkbox">
                      Remember me
                    </label>
                  </p>
                  <p class="control">
                      <a class="forgot orange-link" href="/forgot">Forgot password?</a>
                  </p>
                </div>

            <div id="linebreak2"></div>

              <p class="control">
                <p class="has-text-centered">
                  Don&#39;t have an account?
                </p>
                <div class="has-text-centered">
                  <a class="signup orange-link" href="/signup">Sign Up Now</a>
                </div>
              </p>
              </form>
            </div>
        </div>
      </div>
      <button class="modal-close"></button>
    </div>

<!-- or else display the user profile as logged in -->
<% } else { %>
  <div class="nav-item-special">
    <a id="profile-button" class="button is-outlined is-primary">
      <span><%= (user.fullname.length > 6) ? user.fullname.slice(0,6) + "..." : user.fullname %></span>
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
    <aside id="profile-dropdown" class="menu is-hidden">
      <p class="menu-label">
        Profile
      </p>
      <ul class="menu-list">
        <li><a href="/profile">Dashboard</a></li>
        <li><a href="/profile/inbox">Inbox</a></li>
      </ul>
      <p class="menu-label">
        Domains
      </p>
      <ul class="menu-list">
        <li><a href="/profile/mylistings">My Listings</a></li>
        <li><a href="/profile/myrentals">My Rentals</a></li>
      </ul>
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li><a href="/profile/settings">Settings</a></li>
        <li><a class="logout" href="/logout">Log Out</a></li>
      </ul>
    </aside>
  </div>
<% } %>


</div>
</nav>

<!-- all logic for navbar, including modal, profile, search -->
<script src="/js/routes/navbar_logic.js" type="text/javascript"></script>
<script src="/js/routes/login_logic.js" type="text/javascript"></script>
<script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
