<link rel="stylesheet" type="text/css" href="/css/includes/navbar.css" />
<script src="/js/cookie.js" type="text/javascript"></script>

<div id="navbar">
  <div class="w3bbi_icon">
    <a title="Home" href="/">w3bbi</a>
  </div>
  <div class="search_icon" class="border-left">
    <span class="fa fa-search fa-lg"></span>
  </div>
  <div id="searchbar">
    <form>
      <input type="text" placeholder="Search websites" name="q" maxlength="255" autocomplete="off">
    </form>
  </div>
  <div id="list" class="nav-button">
    <a class="nav_link" title="Sellers" href="/sellers">List</a>
  </div>
  <div id="rent" class="nav-button">
    <a class="nav_link" title="Renters" href="/buyers">Rent</a>
  </div>

<%# navbar checks for a user variable, if it doesnt exist, then display the login button %>
<% if (!user) { %>
  <div id="login">
    <a id="login_modal" class="button is-primary" href="#login_dropdown">Log In</a>
  </div>

<%# or else display the logout button %>
<% } else { %>
  <div id="login">
    <a class="button is-primary" href="/logout">Log Out</a>
  </div>
<% } %>

</div>

<%# navbar checks for a user variable, if it doesnt exist, then display the login modal stuff %>
<% if (!user) { %>
    <div id="login_dropdown">
      <div id="message">Please log in below!</div>
      <form id="target" action="/login" method="post">
      <fieldset class="credentials">
        <div class="input_group">
          <span class="fa fa-envelope-o fa-fw"></span>
          <input id="username" name="email" autofocus name="email" placeholder="Email" type="text" autocomplete="on">
        </div>
        <div class="input_group">
          <span class="fa fa-key fa-fw"></span>
          <input id="password" name="password" placeholder="Password" type="password" autocomplete="off">
        </div>
      </fieldset>
      <fieldset class="dropdown_login_field">
        <button id="submit" value="Log In" type="submit">Log In</button>
      </fieldset>

    <div id="linebreak2"></div>

      <fieldset class="dropdown_login_triggers">
        <div class="dropdown_trigger_link">
          <a class="forgot" href="/forgot">Forgot password?</a>
        </div>
        <div id="register_link" class="dropdown_trigger_link">
          <a class="register" href="/signup">Register now</a>
        </div>
      </fieldset>
      </form>
    </div>

<% } %>


<script src="js/jquery/jquery.leanModal.min.js" type="text/javascript"></script>
<script src="/js/routes/login_dropdown.js" type="text/javascript"></script>
<script src="/js/routes/navbar_scroll.js" type="text/javascript"></script>
<script src="/js/routes/client_index.js" type="text/javascript"></script>
