<div id="registrar-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content is-small">
      <div class="content">
        <p>
          Read our <a id="registrar-guide-link" href="" target="_blank" class="is-primary is-underlined">step-by-step guide</a> on how to get the below information.
        </p>
      </div>
      <form id="registrar-form" autocomplete="off" class="control">
        <input id="registrar-name-input" type="hidden" name="registrar_name" />
        <div class="control registrar-wrapper">
          <label class="label" for="api_key-input">
            <span id="registrar-api-key-label">API Key</span>
            <a id="api-key-link" target="_blank" class="is-primary is-pulled-right is-underlined">Get your key</a>
          </label>
          <input required id="registrar-api-key-input" name="api_key" class="input modal-input" name="api-key-input" type="text">
        </div>
        <div class="control registrar-wrapper">
          <label id="registrar-password-label" class="label" for="password-input">Password</label>
          <input required id="registrar-password-input" name="password" class="input modal-input" name="password-input" type="text">
        </div>
        <div class="control registrar-wrapper">
          <label id="registrar-username-label" class="label" for="username-input">Username</label>
          <input required id="registrar-username-input" name="username" class="input modal-input" name="username-input" type="text">
        </div>
      </form>
      <div class="control is-grouped is-grouped-center">
        <div class="control">
          <button form="registrar-form" type="submit" id="registrar-submit" tabindex="0" class='toolbar-submit-button button is-primary is-stylish is-small'>
            <span class="icon is-small"><i class="far fa-check-circle"></i></span>
            <span>Save Registrar</span>
          </button>
        </div>
        <div class="control">
          <a tabindex="0" class='button is-inverted is-danger is-stylish is-small cancel-modal is-stylish is-small'>
            <span class="icon is-small"><i class="far fa-ban"></i></span>
            <span>Cancel</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
<script src="/js/routes/profile/registrar_logic.js" type="text/javascript"></script>
