<div id="other-rental-module" class="listing-module">
    <% for (var x = 0; x < listing_info.rentals.length; x++){ %>
        <div class="other-rental">
            <h3 class='padding-5'>imsorryimdumb.com/test</h3>
        </div>
    <% } %>
</div>
