<div id="popular-rental-card" class="listing-module">
    <div class="content margin-bottom-10">
        <h2 class="cis-bold">
            Trending Rental
            <span class="icon is-small" data-balloon-length="medium" data-balloon="This is the rental with the most views ever." data-balloon-pos="up">
                <i class="fa fa-question-circle"></i>
            </span>
        </h2>
    </div>
    <div class="card-image">
        <figure class="image">
            <img id="popular-rental-img">
        </figure>
    </div>
    <div class="card-content">
        <nav class="level">
            <div class="level-left">
                <p id="popular-rental-duration" class="is-bold"></p>
            </div>
            <div class="level-right">
                <p id="popular-rental-views"></p>
            </div>
        </nav>
        <a class="button no-shadow is-primary is-stylish" target="_blank" id="popular-rental-preview" href="">
            View
        </a>
    </div>
</div>
