<nav class="nav is-hidden-tablet is-white">
  <div class="nav-left">
    <div class="nav-item">
      <a id="nav-logo" class="flat-logo is-primary is-hidden-mobile" tabindex="0" title="Home" href="/">
      </a>
      <a class="circle-logo is-hidden-tablet" tabindex="0" title="Home" href="/"></a>
    </div>
  </div>
  <div class="nav-center">

  </div>
  <span class="nav-toggle is-black" tabindex="0">
    <span></span>
    <span></span>
    <span></span>
  </span>
  <div class="nav-right nav-menu">
    <div class="nav-item">
      <a tabindex="0" class="nav-link" title="Dashboard" href="/profile/dashboard">Dashboard</a>
    </div>
    <div class="nav-item">
      <a tabindex="0" class="nav-link" title="Listings" href="/profile/mylistings">My Listings</a>
    </div>
    <div class="nav-item">
      <a tabindex="0" class="nav-link" title="Settings" href="/profile/settings">Settings</a>
    </div>
    <div class="nav-item">
      <a tabindex="0" class="nav-link" title="Log Out" href="/logout">Log Out</a>
    </div>
  </div>
</nav>
