<div id="transactions" class="card is-fullwidth is-hidden" >
    <header class="card-header">
        <p class="card-header-title">
            Transactions
        </p>
    </header>
    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Dates</th>
                    <th>Domain</th>
                    <th>Renter</th>
                    <th>Rate</th>
                    <th>Received</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>$3075.38</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>01/13/16 - 09/13/16</td>
                    <td>www.domainterest.com</td>
                    <td><a href="">Ted Montague</a></td>
                    <td>$25 M</td>
                    <td>$206.85</td>
                </tr>
                <tr>
                    <td>09/10/16 - 09/13/16</td>
                    <td>www.domains.com</td>
                    <td><a href="">Fred Kirkland</a></td>
                    <td>$1 D</td>
                    <td>$2.20</td>
                </tr>
                <tr>
                    <td>09/13/10 - Today</td>
                    <td>www.dominus.com</td>
                    <td><a href="">Dominic Selzer</a></td>
                    <td>$500 Y</td>
                    <td>$2866.33</td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination">
            <a class="button">Previous</a>
            <a class="button">Next page</a>
            <ul>
                <li>
                    <a class="button">1</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a class="button">45</a>
                </li>
                <li>
                    <a class="button is-primary">46</a>
                </li>
                <li>
                    <a class="button">47</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a class="button">86</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="pending" class="card is-fullwidth is-hidden" >
    <header class="card-header">
        <p class="card-header-title">
            History
        </p>
    </header>
    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Date Initiated</th>
                    <th>Domain</th>
                    <th>Renter</th>
                    <th>Status</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
                <tr>
                    <td>01/13/16</td>
                    <td>www.domainterest.com</td>
                    <td><a href="">Ted Montague</a></td>
                    <td class="is-success">Paid</td>
                    <td><a class="button" href="">
                        <span class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>Message</span></a>
                    </td>
                </tr>
                <tr>
                    <td>09/10/16</td>
                    <td>www.domains.com</td>
                    <td><a href="">Fred Kirkland</a></td>
                    <td class="is-danger">Not Paid</td>
                    <td><a class="button" href="">
                        <span class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>Message</span></a>
                    </td>
                </tr>
                <tr>
                    <td>09/13/10</td>
                    <td>www.dominus.com</td>
                    <td><a href="">Dominic Selzer</a></td>
                    <td class="is-success">Paid</td>
                    <td><a class="button" href="">
                        <span class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>Message</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination">
            <a class="button">Previous</a>
            <a class="button">Next page</a>
            <ul>
                <li>
                    <a class="button">1</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a class="button">45</a>
                </li>
                <li>
                    <a class="button is-primary">46</a>
                </li>
                <li>
                    <a class="button">47</a>
                </li>
                <li>
                    <span>...</span>
                </li>
                <li>
                    <a class="button">86</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
