<div id="domain-selector" class="is-hidden columns">
  <div class="column">
    <div id="filter-menu">
      <!-- FITER MENU -->
      <div class="content">
        <h2>My Listings</h2>
      </div>
      <div class="button-wrapper control">
        <button id="selector-select-button" class="button is-stylish is-transparent is-small" tabindex="0" title="Select">
          <form id="select-all" class="checkbox-form v-align-middle">
            <input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select All" />
            <label for="select-button"></label>
          </form>
          <span class="icon v-align-middle"><i class="fa fa-angle-down"></i></span>
        </button>
        <button id="selector-edit-button" class="selector-verified-button button is-stylish is-hidden is-transparent is-small" tabindex="0" title="Edit Details">
          <span class="icon is-small is-primary">
            <i class="fa fa-pencil-square-o"></i>
          </span>
          <span>Edit Details</span>
        </button>
        <button id="selector-offers-button" class="selector-verified-button button is-stylish is-hidden is-transparent is-small" tabindex="0" title="View Offers">
          <span class="icon is-small">
            <i class="fa fa-money"></i>
          </span>
          <span>View Offers</span>
        </button>
        <button id="selector-stat-button" class="selector-verified-button button is-stylish is-hidden is-transparent is-small" tabindex="0" title="View Statistics">
          <span class="icon is-small">
            <i class="fa fa-bar-chart"></i>
          </span>
          <span>View Statistics</span>
        </button>
        <button id="selector-verify-button" class="selector-unverified-button button is-stylish is-hidden is-transparent is-small" tabindex="0" title="Verify Ownership">
          <span class="icon is-small">
            <i class="fa fa-check-circle-o"></i>
          </span>
          <span>Verify Ownership</span>
        </button>
        <button id="selector-delete-button" class="selector-button button is-stylish is-hidden is-transparent is-small" tabindex="0" title="Delete Listing(s)">
          <span class="icon is-small is-danger">
            <i class="fa fa-trash"></i>
          </span>
          <span id="multi-delete-text">Delete</span>
        </button>
        <a class="button is-stylish is-transparent is-small" title="Create New Listings" tabindex="0" href="/listings/create">
          <span class="icon is-small">
            <i class="fa fa-plus"></i>
          </span>
          <span>Create New Listings</span>
        </a>
      </div>
      <div id="filters" class="control">
        <div class="control is-grouped">
          <div class="control has-icon">
            <span class="select">
              <select id="filter-select" tabindex="0">
                <option selected value="id">View All</option>
                <option value="unverified">Unverified</option>
                <option value="status">Active (Verified)</option>
                <option value="inactive">Inactive (Verified)</option>
                <option value="rented">Rented Now</option>
                <option value="accepted">Accepted An Offer</option>
                <option value="deposited">Sold (Not Transferred)</option>
                <option value="">Sold (Transferred)</option>
              </select>
            </span>
            <i class="fa fa-filter"></i>
          </div>
          <div class="control has-icon">
            <span class="select">
              <select id="sort-select" tabindex="0">
                <option selected value="id-asc">Date Created (Oldest)</option>
                <option value="id-desc">Date Created (Newest)</option>
                <option value="domain_name-asc">Domain Name (A - Z)</option>
                <option value="domain_name-desc">Domain Name (Z - A)</option>
                <option value="min_price-asc">Min. Price (Low - High)</option>
                <option value="min_price-desc">Min. Price (High - Low)</option>
              </select>
            </span>
            <i class="fa fa-sort"></i>
          </div>
          <div class="control has-icon">
            <i class="fa fa-search"></i>
            <input id="domain-search" tabindex="0" class="input is-expanded" type="text" placeholder="Search" />
          </div>
        </div>
      </div>

      <!-- DOMAINS TABLE -->
      <table class="table is-bordered">
        <thead class="has-hover-effect">
          <tr>
            <th></th>
            <th>Domain Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Min. Offer</th>
            <th>BIN</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <tr id="loading-tab">
            <td colspan="6" class="has-text-centered padding-top-25 padding-bottom-25">
              <p>
                <span class="icon is-small margin-right-5"><i class="v-align-middle fa fa-spin fa-refresh"></i></span>
                <span class="v-align-middle">Now loading listings...</span>
              </p>
            </td>
          </tr>
          <tr id="no-domains-row" class="is-hidden">
            <td colspan="6">
              <p class="control">
                You have no listings. Let's go make some!
              </p>
              <a class="button is-stylish is-primary" href="/listings/create">
                <span class="icon is-small">
                  <i class="fa fa-plus"></i>
                </span>
                <span>Create Listings</span>
              </a>
            </td>
          </tr>
          <tr id="no-listings-row" class="padding-15 clone-row has-text-centered is-hidden">
            <td colspan="6">
              <span class="icon is-small"><i class="fa fa-frown-o"></i></span>
              <span>There are no matching listings!</span>
            </td>
          </tr>
          <tr id="verified-clone-row" class="clone-row table-row is-hidden">
            <td>
              <form class="checkbox-form">
                <input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
                <label for="select-button"></label>
              </form>
            </td>
            <td class="td-domain"></td>
            <td class="td-status"></td>
            <td class="td-date"></td>
            <td class="td-min"></td>
            <td class="td-bin"></td>
          </tr>
          <tr id="unverified-clone-row" class="clone-row table-row is-unverified is-hidden">
            <td>
              <form class="checkbox-form">
                <input class="select-button" data-selected="false" type="checkbox" tabindex="0" title="Select" />
                <label for="select-button"></label>
              </form>
            </td>
            <td>
              <span class="td-domain"></span>
              <span class="icon is-danger is-small is-inline">
                <i class="fa fa-exclamation-circle"></i>
              </span>
            </td>
            <td class="td-status"></td>
            <td class="td-date"></td>
            <td class="td-min"></td>
            <td class="td-bin"></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div id="delete-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content offer-popup">
      <div class="margin-bottom-10 has-text-centered">
        <p class="is-bold">Are you sure you want to delete the following <span id="delete-modal-count"></span> listing<span id="delete-modal-plural">s</span>?</p>
      </div>
      <div id="delete-modal-domains" class="margin-bottom-0">
        <li id="delete-modal-domain-name-clone" class="is-hidden"></li>
      </div>
      <div class="control margin-top-20 is-grouped is-grouped-center">
        <p class="control">
          <a id="delete-confirmed" tabindex="0" class='button margin-right-25 is-danger is-outlined is-stylish is-small'>
            <span class="icon is-small"><i class="fa fa-trash"></i></span>
            <span>Delete them</span>
          </a>
        </p>
        <p class="control">
          <a id="delete-nevermind" tabindex="0" class='button is-stylish is-small'>
            <span class="icon is-small"><i class="fa fa-times"></i></span>
            <span>Nevermind</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
