<script type="text/javascript">
  var user = <% if(typeof user != "undefined"){ %><%-JSON.stringify(user)%><% }else{ %>""<% } %>;
</script>
<script src="/js/routes/profile/profile_navbar_logic.js" type="text/javascript"></script>

<div class="profile-nav is-bar">
  <div class="menu-button is-open nav-item" title="Open Menu">
    <div class="icon is-relative">
      <span class="notification-counter is-hidden"></span>
      <i class="fal fa-bars"></i>
    </div>
  </div>
  <a class="is-inline is-hidden-mobile flat-logo nav-item" title="Home" href="/"></a>
</div>

<div class="left-menu is-relative">
  <div class="profile-nav">
    <div class="menu-button nav-item" title="Close Menu">
      <div class="icon">
        <i class="fal fa-times"></i>
      </div>
    </div>
    <a class="is-inline flat-logo nav-item" title="Home" href="/"></a>
  </div>
  <div class="menu-info">
    <div class="has-text-centered">
      <p class="username"><%= user.username %></p>
    </div>
    <div id="left-menu-buttons" class="control is-grouped">
      <div class="user-button" title="Main Links">
        <button tabindex="0" class="button nav-button is-active no-shadow" data-menu="main-links-menu">
          <div class="icon">
            <i class="fal fa-list-ul"></i>
          </div>
        </button>
      </div>
      <div class="user-button" title="Send feedback">
        <button tabindex="0" id="contact-button" class="button nav-button no-shadow" data-menu="contact-form-menu">
          <div class="icon">
            <i class="fal fa-comments"></i>
          </div>
        </button>
      </div>
      <div class="user-button" title="Check Your Notifications">
        <button tabindex="0" id="notification-dropdown-button" class="button nav-button no-shadow" data-menu="notification-dropdown-menu">
          <span class="notification-counter is-hidden"></span>
          <div class="icon">
            <i class="fal fa-bell"></i>
          </div>
        </button>
      </div>
      <div class="user-button" title="Other Links">
        <button tabindex="0" id="user-dropdown-button" class="button nav-button no-shadow" data-menu="other-links-menu">
          <div class="icon">
            <i class="fal fa-question"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div id="main-links-menu" class="menu">
    <ul class="menu-list">
      <li class="menu-item has-icon">
        <a id="dashboard-left-tab" href="/profile/dashboard" class="left-tab primary-theme">
          <div class="icon" data-balloon="Dashboard" data-balloon-pos="right"><i class="fal fa-window-maximize"></i></div>
          <p class="left-menu-tab">Dashboard</p>
        </a>
      </li>
      <li class="menu-item has-icon">
        <a id="mylistings-left-tab" href="/profile/mylistings" class="left-tab primary-theme">
          <div class="icon" data-balloon="My Listings" data-balloon-pos="right"><i class="fal fa-list-alt"></i></div>
          <p class="left-menu-tab">My Listings</p>
        </a>
      </li>
      <% if (user.listings.length > 0 ){ %>
      <li class="menu-item has-icon">
        <a id="offers-left-tab" href="/profile/mylistings?tab=offers" class="left-tab primary-theme">
          <div class="icon" data-balloon="My Offers" data-balloon-pos="right"><i class="fal fa-shopping-basket"></i></div>
          <p class="left-menu-tab">My Offers</p>
        </a>
      </li>
      <% } %>
      <li class="menu-item has-icon">
        <a id="create-left-tab"  href="/listings/create" class="left-tab primary-theme">
          <div class="icon" data-balloon="Create Listings" data-balloon-pos="right"><i class="fal fa-plus-circle"></i></div>
          <p class="left-menu-tab">Create Listings</p>
        </a>
      </li>
      <li class="menu-item has-icon">
        <a id="transactions-left-tab" href="/profile/transactions" class="left-tab primary-theme">
          <div class="icon" data-balloon="Account Settings" data-balloon-pos="right"><i class="fal fa-list-ol"></i></div>
          <p class="left-menu-tab">Transactions</p>
        </a>
      </li>
      <li class="menu-item has-icon">
        <a id="settings-left-tab" href="/profile/settings" class="left-tab primary-theme">
          <div class="icon" data-balloon="Account Settings" data-balloon-pos="right"><i class="fal fa-cogs"></i></div>
          <p class="left-menu-tab">Account Settings</p>
        </a>
      </li>
      <li class="menu-item has-icon">
        <a id="nav-premium-link" title="Upgrade to a Premium Account" href="/profile/settings#premium" class="left-tab primary-theme is-hidden">
          <div class="icon" data-balloon="Upgrade To Premium" data-balloon-pos="right"><i class="fal fa-trophy-alt"></i></div>
          <p class="left-menu-tab">Upgrade To Premium</p>
        </a>
      </li>
      <% if (!user.id || !user || user.username == "DomaHubDemo" || user.onboarding_step == 12) { %>
        <li class="menu-item has-icon">
          <a id="restart-tour-button" title="Restart DomaHub Tutorial" class="left-tab primary-theme">
            <div class="icon"><i class="fal fa-sync"></i></div>
            <p class="left-menu-tab">Restart Tutorial</p>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
  <div id="contact-form-menu" class="menu is-hidden">
    <form id="contact-form">
      <textarea id="contact_message" required class="textarea no-shadow" placeholder="Send us your questions, comments, or any feedback and we will try our best to help you!"></textarea>
      <div class="control">
        <button id="contact-submit-button" class="button no-shadow is-stylish is-small is-fullwidth is-primary" type="submit" form="contact-form">
          <div class="icon is-small">
            <i class="fal fa-check-circle"></i>
          </div>
          <span id="contact-submit-text">Send Message</span>
        </button>
      </div>
    </form>
  </div>
  <div id="notification-dropdown-menu" class="menu is-hidden">
    <p class="menu-label">
      Notifications
      <span id="notification-number" class="is-pulled-right"></span>
    </p>
    <ul id="notification-tray" class="menu-list"></ul>
  </div>
  <div id="other-links-menu" class="menu is-hidden">
    <p class="menu-label">Support</p>
    <ul class="menu-list">
      <li><a href="https://medium.com/domahub/tagged/domahub-support" title="Documentation">Documentation</a></li>
      <li><a href="/faq" title="FAQ">Frequently Asked Questions</a></li>
      <li><a href="/features#pricing" title="Pricing">Pricing Information</a></li>
      <li><a href="/blog" title="Medium Blog">Company Blog</a></li>
    </ul>
    <p class="menu-label">Account</p>
    <ul class="menu-list">
      <% if (process.env.NODE_ENV == "dev" || (user.email == "won2blee@gmail.com" && user.id == 1)) { %>
        <li><a href="/admin" title="Admin">Admin Panel</a></li>
      <% } %>
      <li><a href="/logout" title="Log Out">Log Out</a></li>
    </ul>
  </div>
</div>

<%- include("../templates/notifications.ejs"); %>

<% if (!user.id || !user || user.username == "DomaHubDemo" || user.onboarding_step == 12) { %>
  <link rel="stylesheet" href="/css/lib/bootstrap-tour-standalone.min.css" type="text/css" />
  <script src="/js/lib/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
  <script src="/js/routes/profile/profile_demo_logic.js" type="text/javascript"></script>
<% } %>
