<div class="control has-icon">
  <span class="select">
    <select id="filter-select" tabindex="0">
      <option selected value="id">View All</option>
      <option value="unverified">Unverified</option>
      <option value="status">Active (Verified)</option>
      <option value="inactive">Inactive (Verified)</option>
      <option value="rented">Rented Now</option>
      <option value="accepted">Accepted An Offer</option>
      <option value="deposited">Sold (Not Transferred)</option>
      <option value="">Sold (Transferred)</option>
    </select>
  </span>
  <i class="fa fa-filter"></i>
</div>
<div class="control has-icon">
  <span class="select">
    <select id="sort-select" tabindex="0">
      <option selected value="id-asc">Date Created (Oldest)</option>
      <option value="id-desc">Date Created (Newest)</option>
      <option value="domain_name-asc">Domain Name (A - Z)</option>
      <option value="domain_name-desc">Domain Name (Z - A)</option>
      <option value="min_price-asc">Min. Price (Low - High)</option>
      <option value="min_price-desc">Min. Price (High - Low)</option>
    </select>
  </span>
  <i class="fa fa-sort"></i>
</div>
