<!DOCTYPE html>
<html>

<head>
  <title>DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>
  <section id="index-img" class="section is-large landing-img">
    <div class="container">
      <div class="columns">
        <div class="column is-6-desktop is-offset-3-desktop is-8-tablet is-offset-2-tablet">
          <div class="content">
            <h1 class="title is-1 is-white margin-bottom-25">
              An online marketplace for <span class="bam">renting domain names.</span>
            </h1>
            <h2 class="subtitle is-5 is-white">
              DomaHub provides domain name rentals at low, affordable prices and flexible time slots.
            </h2>
          </div>
          <div class="content margin-top-50">
            <p class="is-white">
              We are currently in a closed beta as we continue to test and tweak some of our
              features. You can sign up for the beta by entering your email address below.
            </p>
          </div>
          <form id="beta-form" action="/beta" method="post">
            <div class="control is-grouped">
              <p class="control is-expanded">
                <input tabindex="1" id="beta-form-email" class="input is-expanded is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
              </p>
              <p class="control">
                <a tabindex="1" id="beta-form-submit" class="button is-primary is-medium" href="#mailingsubmitted">Sign Up</a>
              </p>
            </div>
          </form>
          <div id="beta-form-success" class="is-hidden">
            <div class="notification has-text-centered is-primary">
              <h3 class="is-white is-bold">Success!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-50">
          <div class="content">
            <p class="is-grey is-bold heading is">
              DOMAIN OWNERS
            </p>
          </div>
          <div class="content">
            <h1 class="title is-bold is-2 has-text-centered has-style-underline">Don't let your domains rot away.</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="is-bold">Create a listing and start generating revenue!</h2>
            <p>
              List your domains on DomaHub and allow other users to rent it out.
              This way your unused domains don't just sit there - they help someone
              out while putting money in your pocket!
            </p>
          </div>
          <div class="content">
            <p class="is-bold">Flexible Listing Types</p>
            <p>
              Create a Premium listing for $5/mo and we won't take any commission
              from your sales. At all. You keep everything you earn.
            </p>
            <p>
              Can't afford it? Create a Basic listing for free and we'll only take
              15% commission on rentals.
            </p>
            <a tabindex="1" href="/sellers#basicvpremium" class="orange-link">
              Learn more about Basic and Premium Listings
              <span class="icon is-small">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="column is-5 is-offset-2">
          <div class="content margin-bottom-15">
            <h2 class="has-text-centered is-bold">DomaHub Benefits</h2>
            <p class="has-text-centered">
              Click on each slider below to learn more.
            </p>
          </div>
          <div class="slider-box">
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-gears"></i>
                </span>
                <span>Custom pricing options</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
                <span>Flexible rental scheduling</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-window-maximize"></i>
                </span>
                <span>Featured listings showcase</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-credit-card"></i>
                </span>
                <span>Quick, secure payments</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/palette.svg" alt="Limitless creative opportunities">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">Creative Opportunities</h3>
            <p>
              Need to launch a marketing campaign, create a sub-section of your website,
              or start an online portfolio? Why not rent a relevant domain?
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/money-o.svg" alt="Cheaper than buying">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">Lower Costs</h3>
            <p>
              Valuable domain names are generally incredibly expensive to purchase.
              Renting them out for the exact time you need it is cheaper and cost-effective.
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/calendar.svg" alt="Completely flexible scheduling">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">Flexible Scheduling</h3>
            <p>
              Domain rentals are always tailored to your schedule and preferences.
              You can rent by the hour, day, week, month, or even year.
            </p>
          </div>
        </div> -->
      </div>
      <!-- <p class="control has-addons has-addons-centered margin-top-50">
        <a class="button is-accent is-large" href="/renters" title="Examples of domain name rentals">
          <span>Learn More</span>
          <span class="icon">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </p> -->
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-50">
          <div class="content">
            <h1 class="title is-bold is-2 has-text-centered">Why should I list my domain?</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/localatm.svg" alt="Generate steady revenue">
          </figure>
          <div class="content">
            <h2 class="is-bold has-text-centered">Steady Revenue</h2>
            <p>
              Don't let your domains rot away. Start generating continuous
              revenue by renting your domains out to other users.
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/exposure.svg" alt="Cheaper than buying">
          </figure>
          <div class="content">
            <h2 class="is-bold has-text-centered">Increased Exposure</h2>
            <p>
              Allowing users to use your domain for different purposes expands
              your reach, audience, and viewcount.
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/briefcase-o.svg" alt="Limitless creative opportunities">
          </figure>
          <div class="content">
            <h2 class="is-bold has-text-centered">Keep Your Assets</h2>
            <p>
              Your domains are important assets. You won't have to worry about
              losing them while renting them out. Cancel your listing when you
              need to.
            </p>
          </div>
        </div>
      </div>
      <p class="control has-addons has-addons-centered margin-top-50">
        <a class="button is-accent is-large" href="/sellers" title="Benefits of listing on DomaHub">
          <span>Learn More</span>
          <span class="icon">
            <i class="fa fa-angle-right"></i>
          </span>
        </a>
      </p>
    </div>
  </section>

  <!-- <section class="hero is-small is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="content has-text-centered">
              <h2 class="title is-2 is-bold">
                We are currently in closed beta.
              </h2>
              <h3 class="is-white">
                If you would like to participate, please sign up below.
              </h3>
            </div>
            <form id="beta-form" action="/beta" method="post">
              <p class="control has-addons has-addons-centered">
                <input id="beta-form-email" class="input is-expanded" type="email" name="betaemail" placeholder="Enter your email"/>
                <a id="beta-form-submit" class="button is-accent" href="#mailingsubmitted">Sign Up</a>
              </p>
            </form>
            <div id="beta-form-success" class="is-hidden">
              <div class="notification has-text-centered is-white">
                Success!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/routes/main/main_beta_signup_logic.js" type="text/javascript"></script>
  </body>
</html>
