<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_general.min.css" />
  <%- include("../templates/head_links"); %>
</head>
<body>
  <%- include("../templates/navbar", {user: user}); %>
  <%- include("../templates/notifications.ejs"); %>

  <section class="section is-medium is-primary">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content has-text-centered">
            <figure class="image is-128x128">
              <img src="/images/lib/inipagi/idea.svg" alt="Contact Us Guy" />
            </figure>
            <h1 class="title is-2 is-white">Contact Us</h1>
            <p class="subtitle is-4 is-white">
              Use the form below to get in touch with our team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-small">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form id="contact-form" class="box" autocomplete="off" style="margin-top:-105px;">
            <label class="error_message label" for="contact_name">Name</label>
            <div class="control has-icon">
              <input id="contact_name" required class="input" name="contact_name" type="text">
              <div class="icon">
                <i class="fal fa-user-alt"></i>
              </div>
            </div>
            <label class="error_message label" for="contact_email">Email Address</label>
            <div class="control has-icon">
              <input id="contact_email" required class="input" name="contact_email" type="email">
              <div class="icon">
                <i class="fal fa-envelope"></i>
              </div>
            </div>
            <label class="error_message label" for="contact_message">Message</label>
            <div class="control">
              <textarea id="contact_message" required class="textarea" name="contact_message"></textarea>
            </div>
            <div class='control'>
              <button id="submit-button" type="submit" class="button has-icon is-primary is-stylish is-fullwidth">
                <div class="icon is-small">
                  <i class="fal fa-check-circle"></i>
                </div>
                <span>Send Message</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include("../templates/footer"); %>
  <script src="/js/routes/main/main_contact_logic.js" type="text/javascript"></script>
  <script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
</body>
</html>
