<!DOCTYPE html>
<html>

<head>
  <title>Terms of Service - DomaHub</title>
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium clear-nav">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title">DomaHub Terms of Service</h1>
            <h2 class="subtitle is-5 is-blacklight is-bold">
              Last Updated: February 28, 2017
            </h2>
          </div>
          <div class="content">
            <p>
              The following represents the Terms of Service (also called the "Terms"),
              a contract between you and DomaHub. The Terms govern your use of DomaHub's
              website, services, content, and everything else in between (our "Services").
            </p>
            <p>
              You must agree to the Terms if you wish to use DomaHub and its Services. If you
              disagree to any part of the following Terms, you cannot use DomaHub.
            </p>
            <p>
              DomaHub is an online platform through which domain owners may create listings
              for their domains which other users may rent out for various durations. You
              understand and agree that DomaHub is not a party to any agreements entered into
              between owners and renters, nor is DomaHub a domain name broker, agent or insurer.
              DomaHub has no control over the conduct of the users, owners, and renters on our
              application and Services and therefore disclaims all liability in this regard
              to the maximum extent permitted by law.
            </p>
            <p>
              If you create a listing on DomaHub, you understand and agree that your relationship
              with us is limited to being a user and not an employee, contractor, agent, joint
              venturer, or partner of DomaHub for any reason, and that you act exclusively on
              your own behalf and for your own benefit - not on the behalf or benefit of DomaHub.
              You understand and agree to not do anything to create a false impression that you
              are endorsed by, partnering with, or acting on behalf of or for the benefit of
              DomaHub, including by inappropriately using any DomaHub intellectual property.
            </p>
            <p>
              By using our Services, you acknowledge and agree that you have read and understand
              the Terms and how they govern your usage of DomaHub's application.
            </p>
            <p>
              DomaHub can change the Terms at any given time. We will notify all DomaHub
              users before the Terms are changed and also provide a record of all previous
              versions of the Terms. If you continue to use DomaHub and its Services after
              the new Terms have taken effect, you are agreeing to the new Terms.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Privacy</h2>
            <p>
              Read our <a href="/privacy" class="is-accent">Privacy Policy</a> to understand
              how we handle the data and information you provide to us when you use DomaHub and
              its Services. By agreeing to our Terms you also consent to the collection and use
              of this information - as described in the Privacy Policy - by DomaHub.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Eligibility</h2>
            <p>
              You must be at least 18 years or older to use DomaHub and its Services. By accessing
              or using our site, you represent and warrant that you are at least 18 years old.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">How DomaHub Works</h2>
            <p>
              DomaHub and its Services can be used to facilitate the listing and renting of domains.
              Anyone can view a domain listing on DomaHub. A user may checkout a rental as a guest, but
              will be unable to access specific DomaHub controls and features without first registering
              a DomaHub account.
            </p>
            <p>
              That being said, DomaHub is strictly a platform or marketplace for the listing and renting
              of domains. DomaHub is not an owner or operator of the domains listed on DomaHub nor does it
              own, sell, or resell domains through its services. Unless otherwise specified, DomaHub's
              responsibilities are limited to facilitating the availability of the platform and its Services.
            </p>
            <p>
              Again, DomaHub does not control the content contained in any listing. DomaHub is not responsible
              for and disclaims any and all liability related to any and all listings. Accordingly, any
              rentals will be made or accepted at the user's own risk.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Domain Rights</h2>
            <p>
              You own your domain - regardless of its listing status on DomaHub - until the day
              you decide to sell or transfer ownership to some other entity. At no point does
              DomaHub assume or consider any level of ownership of your domain. Likewise, any
              renter of your domain does not ever gain ownership, even temporarily, of your
              domain name.
            </p>
            <p>
              By listing your domain with us, you acknowledge all of the associated risks (be they
              unforeseen or otherwise). If you ever have a problem with the way a renter is using
              your domain name, it is your responsibility to contact us or the appropriate authority.
            </p>
            <p>
              You may list a domain on DomaHub that you have listed elsewhere as long as there are
              no conflicts regarding rental scheduling (i.e. a domain being rented to two people
              for the same exact time period), ownership, rights, or any other issue.
            </p>
            <p>
              You may not sell your domain while it is being rented or while there are future time slots
              already rented out. Doing so is an explicit breach of your rental contract and you will
              be held financially and legally liable of all damages caused to DomaHub and its renters.
              Likewise, should you at any point change the A Record of your domain name with your registrar
              while it is currently being rented, you are violating the rental contract and provoke the same
              aforementioned repercussions. We reserve the right to blacklist that any fraudulent domains
              and DomaHub accounts permanently from our site.
            </p>
            <p>
              You can remove your listing or even delete your account from DomaHub
              if and only if you have no current or future renters across your listings. Removing a listing
              in advance will cancel out the remainder of the listing's availability while leaving
              the current renters unaffected. DomaHub will keep your domain listed but labeled
              as unavailable. You may reactivate your domain at anytime.
            </p>
            <p>
              We may remove your listing at any time for any reason (most likely you violating
              something or doing something wrong). On such an occasion, all current renters will
              be notified and refunded.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Misuse of Domain Rentals</h2>
            <p>
              You may not inappropriately use a domain rental. For example, you may not upload, link,
              or otherwise display any material that infringes a copyright. You may not create a listing
              for a domain name that does not belong to you. In the event that you somehow manage to do
              this, your account will be terminated immediately and legal action will be taken against you.
            </p>
            <p>
              We want you to be able to use a domain name for your own purposes and agenda. However,
              if for one reason or another, you have misused a domain (i.e. someone contacts you or us
              about a problem), we will assess the situation and may force you to either change the content
              on the domain or relinquish your rental entirely.
            </p>
            <p>
              DomaHub does not assume liability for the aforementioned cases of domain misuse. We will however,
              do our best to resolve any problem (i.e. legal issue or not) caused by our users and renters
              if given a sufficient reason to do so.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Our content, brand, and services</h2>
            <p>
              DomaHub reserves all rights on its logo, trademarks, branding, website, and any other aspect that
              makes up a part of DomaHub's identity. Parts of DomaHub are licensed under a third-party
              open source license. The remainder is original work and code created by DomaHub employees.
              You may not use or adapt any part of our code or design without expressed written consent
              from DomaHub.
            </p>
          </div>
          <div class="content">
            <h2 class="is-bold">Payment and Fees</h2>
            <p>
              DomaHub does not charge any upfront fees (e.g. listing fees) for creating a domain rental listing
              through our service. We do maintain a commission fee taken from every successful rental transaction
              ranging from 18 to 15 percent. We maintain the right to change the commission fee at any time with
              due notice.
            </p>
            <p>
              In addition to commission fees, every seller on DomaHub must pay a processing fee with each successful
              rental transaction. This processing fee is paid directly to our payment partner, Stripe. By listing with
              DomaHub, the user agrees to any and all applicable terms and conditions set forth by Stripe - in addition
              to our own Terms, of course - including the
              <a target="_blank" href="https://stripe.com/us/connect/legal" class="is-accent">Stripe Terms & Conditions</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
