<!DOCTYPE html>
<html>

<head>
  <title>Get Started - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_getstarted.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section gs-section is-primary ">
    <div class="container">
      <div class="columns">
        <div class="column is-3">

        </div>
        <div class="column is-half">
          <progress class="progress is-small is-accent" min="0" max="100"></progress>
        </div>
      </div>
      <div class="columns">
        <div class="column is-3">
          <h3 class="gs-error-message"></h3>
        </div>
        <div id="gs1" class="content-section column is-half current-section">
          <div class="content">
            <h1 class="title is-2 is-white">Hello and welcome to DomaHub!</h1>
            <h2 class="is-white">How can we help you?</h2>
          </div>
          <div class="hero-buttons">
            <a id="gs-choice-rent" class="button is-primary is-inverted is-large" tabindex="1">
              I want to rent a domain.</a>
            <a id="gs-choice-list" class="button is-primary is-inverted is-large" tabindex="1">
              I want to list a domain.</a>
          </div>
        </div>
        <div id="gs2" class="content-section column is-half is-hidden">
          <div class="content">
            <h1 class="title is-2 is-white">What type of domain are you looking for?</h1>
            <h2 class="is-white">Domains fall under various categories. Select
              the ones you are interested in!</h2>
          </div>
          <div class="hero-buttons">
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-laptop"></i>
              </span>
              <span>Start-Up</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-building"></i>
              </span>
              <span>Business</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-calendar-o"></i>
              </span>
              <span>Event</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-money"></i>
              </span>
              <span>Promotion</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-gift"></i>
              </span>
              <span>Holiday</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              <span class="icon">
                <i class="fa fa-industry"></i>
              </span>
              <span>Industry</span>
            </a>
            <a class="button gsb is-large no-shadow is-white is-outlined" tabindex="1">
              I'm not sure
            </a>
          </div>
        </div>
        <div id="gs3" class="content-section column is-half is-hidden">
          <div class="content">
            <h1 class="title is-2 is-white">When will you need the domain?</h1>
            <h2 class="is-white">Use the calendar to select date range. Leave
            blank if you are not sure.</h2>
          </div>
          <div class="control is-grouped">
            <p class="control is-expanded">
              <input class="input is-expanded" type="date">
            </p>
            <p class="control is-expanded">
              <input class="input is-expanded" type="date">
            </p>
          </div>
        </div>
        <div id="gs4" class="content-section column is-half is-hidden">
          <div class="content">
            <h1 class="title is-2 is-white">What is your budget?</h1>
            <h2 class="is-white">Input a number in the field below. Leave blank
            if you are not sure.</h2>
          </div>
          <p class="control has-addons has-addons-centered">
            <span class="icon is-medium is-white">
              <i class="fa fa-dollar"></i>
            </span>
            <input class="input is-expanded" type="number" min="1" placeholder="Enter a number">
          </p>
        </div>
        <div id="gs5" class="content-section column is-half is-hidden">
          <div class="content">
            <h1 class="title is-2 is-white">Review and Submit</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section gs-section-small is-primary is-paddingless">
    <div class="container">
      <div class="columns">
        <div class="column is-3">

        </div>
        <div class="column is-half">
          <div class="hero-buttons right-aligned">
            <a class="button next is-white is-blank no-shadow" tabindex="1">
              <span>Next</span>
              <span class="icon">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/main/main_getstarted_logic.js" type="text/javascript"></script>
</body>

</html>
