<!DOCTYPE html>
<html>

<head>
  <title>FAQ - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_faq.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>
  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1>Frequently Asked Questions</h1>
          <div id="about" class="faq-section">
            <h1 class="faq-header">About Us</h1>
            <div class="content">
              <h2 class="faq-question" title="What exactly does DomaHub do?">
                What exactly does DomaHub do?</h2>
              <p>
                DomaHub is a marketplace that allows domain name
                owners to rent out their domains for days, weeks, or months
                at a time.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="How does DomaHub make money?">
                How does DomaHub make money?</h2>
              <p>
                DomaHub takes a percentage based commission from every successful rental.
              </p>
            </div>
          </div>
          <div id="renting" class="faq-section">
            <h1 class="faq-header">Renting with DomaHub</h1>
            <div class="content">
              <h2 class="faq-question" title="Why do I need a domain name?">
                Why do I need a domain name?</h2>
                <p>
                    Traffic is the king of internet marketing.
                </p>
              <p>
                A great domain generates natural traffic due to its memorable domain name. Sometimes this traffic
                goes well into the hundreds of thousands and even millions of views in a given time period. However,
                most of these premium domains are priced at extremely prohibitive prices for economic use by a single party.
              </p>
              <p>
                  By utilizing our platform, you can redirect that natural traffic to content you want people to see at
                  a price that makes economic sense.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Who owns the domain?">
                Who owns the domain?</h2>
              <p>
                The domain never leaves the ownership of its original owner.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Then how do I use the domain?">
                Then how do I use the domain?</h2>
              <p>
                Through DNS and proxying, we can point the domain name to whatever content you wish to display.
                All you have to do is provide a URL and it will be redirected to the domain rental.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="How long can I keep the domain?">
                How long can I keep the domain?</h2>
              <p>
                You may only use the domain for the amount of time you paid for.
                Any content being redirected to that domain will immediately stop once your time is up.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="How much is a domain?">
                How much is a domain?</h2>
              <p>
                Every domain has different rates depending on its value. Please check each listing for the specific rates.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="What if I need it for longer than I originally planned?">
                What if I need it for longer than I originally planned?</h2>
                <p>
                    All rentals are final once paid for. Please make sure to select the correct times before paying!
                </p>
                <p>
                    Once your rental expires, if the domain has already been rented for the subsequent time slots,
                    you may not steal those times away from others just because you currently have the domain rented.
                </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Can the domain owner sell the domain while I am renting it?">
                Can the domain owner sell the domain while I am renting it?</h2>
              <p>
                Domain rentals through DomaHub are legally binded by contract
                and may not - under any circumstances - be sold while a user
                has rented it.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Do I have an option to buy-out the domain?">
                Do I have an option to buy-out the domain?</h2>
              <p>
                Buy-out options are currently not available through DomaHub.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Do I receive email addresses with my rental?">
                Do I receive email addresses with my rental?</h2>
              <p>
                No access to email addresses are given from a DomaHub rental.
              </p>
            </div>
            <!-- <div class="content">
              <h2 class="faq-question" title="Do I have an option to buy-out the domain?">
                How do I get rid of the DomaHub pop-up on my rental?</h2>
              <p>
                Currently, there is no way to get rid of the pop-up. We are exploring the possibility of
                a premium rental system that will be pop-up-less.
              </p>
            </div> -->
          </div>
          <div id="selling" class="faq-section">
            <h1 class="faq-header">Selling on DomaHub</h1>
            <div class="content">
              <h2 class="faq-question" title="What kind of domains are considered 'rentable?'">
                What kind of domains are considered "rentable?"</h2>
                <p>
                    Not all domains fit into the renting business model.
                </p>
              <p>
                Look at a domain name and ask yourself this--"can this domain name potentially be used by multiple people in a given year?"
                If the answer is yes, then it is a potential candidate for our marketplace/platform. If the answer is no, then we don't
                see it performing well in our marketplace.
              </p>
              <p>
                  Here's what <span class='is-bold is-danger'>MAY NOT</span> be a good fit for rentals:
              </p>
              <ul>
                  <p>
                      <span class='icon is-danger'><i class="fa fa-times"></i></span>
                      Brandable domain names that can be a company name (hotu.com, vovu.com, doto.com, etc.)
                  </p>
                  <p>
                      <span class='icon is-danger'><i class="fa fa-times"></i></span>
                      Domains without clear definition / meaning (ethmini.com, sousforce.com, emugg.com, etc.)
                  </p>
              </ul>
              <p>
                  Here's what <span class='is-bold is-success'>CAN BE</span> a good fit for rentals:
              </p>
              <ul>
                  <p>
                      <span class='icon is-success'><i class="fa fa-check"></i></span>
                      Holiday / event related (happybirthday.com, congratulations.com, marryme.com, etc.)
                  </p>
                  <p>
                      <span class='icon is-success'><i class="fa fa-check"></i></span>
                      Slogans / hashtags / marketable phrases (greatestboxer.com, itsfinallyhere.com, thenextbigthing.com, etc.)
                  </p>
                  <p>
                      <span class='icon is-success'><i class="fa fa-check"></i></span>
                      Common phrases / words (imsorryimdumb.com, ineedajob.com, love.com, etc.)
                  </p>
              </ul>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Why should I use DomaHub instead of doing it myself?">
                Why should I use DomaHub instead of doing it myself?</h2>
              <p>
                A lot of domain owners have a lot of domain names and this adds up to a lot of work over time. We're trying to
                create an automated system and marketplace that allows for this to happen seamlessly and effortlessly for all
                 parties involved with the right system of checks in place to make sure that everybody is protected.
              </p>
            </div>
            <%#<div class="content">
              <h2 class="faq-question" title="How do I get paid?">
                Will this damage my domain "brand?"</h2>
              <p>
                It's easy to see how spam can damage your domain brand because the idea of "short term" rentals currently does not exist.
                But what if the idea of "renting domains" became more
                widespread and accepted? Then perhaps what you see on a domain or URL may not necessarily reflect on that domain's brand.
              </p>
              <p>
                  It's a very similar concept to a link shortener or URL redirectors. For example, there are millions of spam <a class='is-accent' href="http://bit.ly">Bit.ly</a>
                   shortened links, but when you see a spam Bit.ly link you don't associate the spam with Bit.ly's service or brand.
              </p>
            </div>%>
            <div class="content">
              <h2 class="faq-question" title="How do I start listing domains?">
                How do I start listing domains?</h2>
              <p>
                Once you have created a DomaHub account you may create a listing by going to the
                <a tabindex="0" class="is-accent" href="/listings/create" title="Create Listing Page">create listing</a> page.
                You must verify every domain name you list with us by pointing your DNS A records to our servers.
              </p>
            </div>
            <div id='verifying' class="content">
              <h2 class="faq-question" title="How do I verify my domain?">
                How do I verify my domain?</h2>
              <p>
                You must create an A record to point the domain root to our servers. For more information on how to do this, please <a class="is-accent" href="https://intercom.help/domahub/how-to-verify-your-domain-on-domahub">click here</a> for a step-by-step guide.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Why do I have to verify my domain?">
                Why do I have to verify my domain?</h2>
              <p>
                By pointing your domain name to our servers, we can verify that you are indeed the owner of the domain
                and that you are agreeing to our terms and services by listing it on DomaHub.
              </p>
            </div>
            <div class="content">
              <h2 id="commission" class="faq-question" title="What are the commission fees?">
                What are the commission fees?</h2>
                <p>
                  DomaHub charges 18% commission from each successful rental. In addition to this fee,
                  the seller must also pay a processing fee for every successful transaction
                  (2.9% + $0.30) which we pay directly to our payments processor.
                </p>
              <%# <p>
                DomaHub takes a percentage based commission from each successful rental.
                Each listing falls under one of three levels with varying commission rates
                for each listing. Commission rates are based on the "Rental Rate" of the
                listing - the number of successful rentals divided by the number of total
                available rentals from the date it was created. In addition to this fee,
                the seller must also pay a processing fee for every successful transaction
                (2.9% + $0.30) which we pay directly to our payments processor.
              </p>
              <p>
                For example, if <span class="is-accent">example.com</span> has been available for
                60 days and has been rented out for 31 days, it has achieved Level 3.
                DomaHub will only take 15% commission from those rentals from that point onwards.
                Logically, all listings start at Level 1.
              </p>
              <table class="table has-shadow margin-top-25">
                <thead>
                  <th>Level</th>
                  <th>Rental Rate</th>
                  <th>Commission*</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>0 - 25%</td>
                    <td>18%</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>25 - 50%</td>
                    <td>16.5%</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>50% +</td>
                    <td>15%</td>
                  </tr>
                </tbody>
              </table>
              <small class="is-block">* All transactions have a processing fee regardless of level.
                The fee is 2.9% + $0.30 paid by the owner.</small>%>
            </div>
            <%# <div class="content">
              <h2 class="faq-question" title="Do the listing levels get reset at any point?">
                Do the listing levels get reset at any point?
                </h2>
              <p>
                Yes, all listings' levels get reset at the end of the calendar year.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="What happens if I find a buyer for my domain?">
                What happens if I find a buyer for my domain?</h2>
              <p>
                You may not sell your domain while it is being rented by a DomaHub
                user. However, if your domain is listed but not currently being rented,
                you may cancel the listing and sell it as you please.
              </p>
            </div>%>
            <div class="content">
              <h2 class="faq-question" title="Can I cancel my listing while it's being rented?">
                Can I cancel my listing while it's being rented?</h2>
              <p>
                No, you cannot immediately cancel any listing that is currently rented by a DomaHub user.
                However, you may cancel your listing for all dates following the current renters'
                schedule; effectively removing all future availability.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="How can I cancel a listing?">
                How can I cancel a listing?</h2>
              <p>
                Simply go to your <a tabindex="0" class="is-accent" href="/profile/mylistings" title="My Listings Page">My Listings</a>
                 page and select your listing. In the dropdown options menu, select "Inactive"
                to cancel your listing.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="How do I get paid?">
                How do I get paid?</h2>
              <p>
                You can withdraw the money you've earned from renting out your domains at any point. The money
                is then deposited into the bank account attached to your DomaHub account. Withdrawals will be frozen
                if there are any issues with your account. (Such as unverified domains, domains that no longer point
                to our servers, etc.)
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="When do I get paid?">
                When do I get paid?</h2>
              <p>
                No domains can be rented out until the renter's payment has posted and cleared.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Do renters gain email access to my domain?">
                Do renters gain email access to my domain?</h2>
              <p>
                No email access is given to any renter at any time.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Do you point my domain nameservers to the renter's hosting?">
                Do you point my domain nameservers to the renter's hosting?</h2>
              <p>
                You can keep your DNS nameservers as they are. All we need is an A record that points to our servers
                to redirect HTTP(S) content on the renter's behalf.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="What if I don't like what the renter is displaying on my domain name?">
                What if I don't like what the renter is displaying on my domain name?</h2>
              <p>
                All domain rentals can be refunded by the domain owner. If you discover a specific rental that you believe
                is malicious, spam, or illegal in any way, you reserve the right to cancel the rental and refund the renter their money.
              </p>
              <p>
                In addition, all domain rentals are screened using the official <a class="is-accent" href="https://developers.google.com/safe-browsing/">Google Safe Browsing API</a>. This way, we ensure that
                all content being displayed on your website has been deemed safe to browse by Google.
              </p>
            </div>
          </div>
          <div id="payments" class="faq-section">
            <h1 class="faq-header">Payments</h1>
            <div class="content">
              <h2 class="faq-question" title="How do I pay for rentals?">
                How do I pay for rentals?</h2>
              <p>
                Simply enter a credit or debit card during checkout and DomaHub will process the
                transaction automatically.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="What about recurring payments?">
                What about recurring payments?</h2>
              <p>
                Currently, there is no system in place to set up recurring rentals.
                The rental period must be selected in full prior to purchase.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Can I get a refund?">
                Can I get a refund?</h2>
              <p>
                If you encounter any technical
                issues where your content is not being displayed, please contact us at
                <a tabindex="0" class='is-accent' href="mailto:support@domahub.com" title="Email us at support@domahub.com">support@domahub.com</a>.
              </p>
              <p>
                  The domain owner reserves the right to cancel your domain rental if they determine your
                  rental to be malicious, spam, or illegal in any way. Upon which you will be refunded in full
                  to the credit card that was originally charged for the rental.
              </p>
            </div>
            <div class="content">
              <h2 class="faq-question" title="Are there any renting fees?">
                Are there any renting fees?</h2>
              <p>
                The renter does not pay any additional fees outside of the domain's listed price. What you see is what you pay.
              </p>
            </div>
          </div>
          <div class="faq-section padding-bottom-50 margin-top-50">
            <p>
              Still have questions? Feel free to <a tabindex="0" href="/contact" class="is-accent" title="Contact Us">Contact Us</a>.
            </p>
          </div>
        </div>
        <div class="column is-4 is-hidden-mobile">
          <aside class="menu is-fixed">
        <%# <ul class="menu-list">
              <p class="control has-icon">
              <input id="search-faq" tabindex="0" class="input" type="text" placeholder="Search FAQ" />
              <i class="fa fa-search"></i>
              </p>
            </ul>%>
            <p class="menu-label">
              Categories
            </p>
            <ul class="menu-list">
              <li><a id="about-menu" class="menu-link is-active" tabindex="0" href="#about">About Us</a></li>
              <li><a id="renting-menu" class="menu-link" href="#renting" tabindex="0">Renting with DomaHub</a></li>
              <li><a id="selling-menu" class="menu-link" href="#selling" tabindex="0">Selling on DomaHub</a></li>
              <li><a id="payments-menu" class="menu-link" href="#payments" tabindex="0">Payments</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  <script type="text/javascript" src="/js/routes/main/main_faq_logic.js"></script>
</body>

</html>
