<!DOCTYPE html>
<html>

<head>
  <title>DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>
  <section id="index-img" class="section is-medium landing-img">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-2 is-bold is-white margin-bottom-50">
              Domains that work for you. <br />On your schedule.<br /> Always.
            </h1>
            <h2 class="is-whitelight is-bold">
              Introducing DomaHub
            </h2>
            <p class="title-p is-white">
              DomaHub is an online marketplace for domain name rentals focused
              on providing high quality domains at low, affordable prices.
            </p>
          </div>
          <div class="hero-buttons left-aligned">
            <a id="get-started" class="button is-primary is-medium" href='/getstarted'>Learn More</a>
            <a class="button is-primary is-inverted is-medium" href='/signup'>Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-large">
    <div class="container">
      <div class="columns">
        <div class="column is-2 is-hidden-mobile">
          <figure class="image left-aligned is-128x128">
            <img src="/images/lib/material/store.svg" />
          </figure>
        </div>
        <div class="column is-half margin-bottom-50">
          <div class="content">
            <h1 class="title is-bold is-3">
              A new, simple, and user-friendly marketplace
              designed with you in mind.
            </h1>
            <p class="is-blacklight">
              We are creating opportunities for both owners and renters.
              For owners, domain rentals become an additional revenue stream,
              allowing them to generate newfound income. For renters, domains
              can be acquired according to their schedules, allowing for cheaper
              and more efficient usage.
            </p>
          </div>
        </div>

      </div>
      <div class="columns">
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/calendar.svg" alt="Completely flexible scheduling.">
          </figure>
          <div class="content">
            <h2 class="is-bold is-blacklight has-text-centered">Flexible Schedules</h2>
            <p>
              Whether you're a renter or a seller, domain rentals are always
              tailored to your schedule and preferences. Rentals can be sold
              by the hour, day, week, month, or even year.
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/lineweight.svg" alt="Two types of listings.">
          </figure>
          <div class="content">
            <h2 class="is-bold is-blacklight has-text-centered">Tiered Listing Plans</h2>
            <p>
              We offer two types of listings: Basic and Premium. A Basic listing
              is free-to-list with commission whereas a Premium listing costs a small
              monthly fee with zero commission. Learn more about the two types
              <a class="primary-link" href="/sellers" target="_blank">here</a>.
            </p>
          </div>
        </div>
        <div class="column hover-scale">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/security.svg" alt="All rentals are secure.">
          </figure>
          <div class="content">
            <h2 class="is-bold is-blacklight has-text-centered">Complete Protection</h2>
            <p>
              All rentals are contract binding. You will never have to
              worry about your rental being sold off or not being paid for.
              Additionally, we provide options for auto-renewal, auto-payment,
              and buy-out negotiations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-large">
    <div class="container">
      <div class="columns">
        <div class="column is-2 is-hidden-mobile">
          <figure class="image is-128x128">
            <img src="/images/lib/material/thumb-up.svg" />
          </figure>
        </div>
        <div class="column is-half margin-bottom-50">
          <div class="content">
            <h1 class="title is-3 is-bold">
              Benefitting both sides of every transaction.
            </h1>
            <p class="is-blacklight">
              Rentals produce for domain owners and create new opportunities for buyers.
              Visit the pages below to learn more about what DomaHub offers as well as
              what you can do with a domain name rental.
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h2 class="is-bold is-blacklight">New Revenue Stream</h2>
            <p>
              DomaHub is an active living space for all of your domains.
              Each listing is tailored to your preferences and settings, fit
              to your schedule.
              We work hard to ensure that transfer
              is simple, quick, and hassle-free.
            </p>
            <a class="button is-primary is-medium" href="/sellers" title="Learn More - Sellers">Learn More</a>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h2 class="is-bold is-blacklight">Limitless Opportunities</h2>
            <p>
              A domain rental allows you to redirect anything on the web
              to a domain name. Send e-cards and e-invitations, create
              beautiful advertisements, or pick out that special domain name
              for your new business.
            </p>
            <a class="button is-primary is-medium" href="/renters">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-4">

        </div>
        <div class="column is-4">
          <div class="content has-text-centered">
            <h2 class="title is-4 is-bold">
              We are currently in Closed Beta.
            </h2>
            <p>
              If you would like to participate, please sign up below.
            </p>
          </div>
          <form id="beta-form" action="/beta" method="post">
            <p class="control has-addons has-addons-centered">
              <input id="beta-form-email" class="input is-expanded" type="email" name="betaemail" placeholder="Enter your email"/>
              <a id="beta-form-submit" class="button is-primary" href="#mailingsubmitted">Sign Up</a>
            </p>
          </form>
          <div id="beta-form-success" class="is-hidden">
            <div class="notification has-text-centered is-primary">
              Success!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
    <script src="/js/routes/main/main_beta_signup_logic.js" type="text/javascript"></script>
  </body>
</html>
