<!DOCTYPE html>
<html>

<head>
  <title>Features - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_features.min.css" />
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="features-hero" class="section is-medium is-primary">
  <div class="container">
    <div class="content">
      <figure id="hero-image" class="image is-128x128">
        <img src="/images/lib/inipagi/tools.svg" alt="Desktop Mockup" />
      </figure>
    </div>
    <div class="content has-text-centered">
      <h1 class="title is-2 is-white is-bold">Professional Tools To Sell More Domains</h1>
      <h2 class="subtitle is-4 is-white">Analyze traffic, attract buyers, seamlessly handle payments - all in one place.</h2>
    </div>
  </div>
</section>

<section class="section" style="border-bottom: 1px solid rgba(0,0,0,0.12);">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="content">
          <h2>Landing Pages</h2>
          <p>
            Cash in on all inbound traffic on your domain with a landing page.
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <h2>Marketplace</h2>
          <p>
            Create a marketplace that showcases your entire domain portfolio.
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <h2>Payments</h2>
          <p>
            Secure payments system ensures you get paid fast and safe.
          </p>
        </div>
      </div>
      <div class="column is-3">
        <div class="content">
          <h2>Communications</h2>
          <p>
            Easily communicate with customers and manage your offers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features-section" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-bold">Everything You Need To Go Pro</h1>
      <h3 id="features-subtitle" class=" is-grey">
        Take your domaining to the next level with our professional tools.
      </h3>
    </div>
    <div class="level is-mobile">
      <div class="feature-tab level-item has-text-centered is-active" data-feature="stats" data-balloon="Domain Analytics" data-balloon-pos="up">
        <figure class="image is-64x64">
          <img src="/images/lib/inipagi/graph.svg" />
        </figure>
        <p class="is-hidden-mobile">Domain Analytics</p>
      </div>
      <div class="feature-tab level-item has-text-centered" data-feature="offers" data-balloon="Automated Sales" data-balloon-pos="up">
        <figure class="image is-64x64">
          <img src="/images/lib/inipagi/payments.svg" />
        </figure>
        <p class="is-hidden-mobile">Automated Sales</p>
      </div>
      <div class="feature-tab level-item has-text-centered" data-feature="design" data-balloon="Brand Identity" data-balloon-pos="up">
        <figure class="image is-64x64">
          <img src="/images/lib/inipagi/store.svg" />
        </figure>
        <p class="is-hidden-mobile">Brand Identity</p>
      </div>
      <div class="feature-tab level-item has-text-centered" data-feature="rentals" data-balloon="Domain Rentals" data-balloon-pos="up">
        <figure class="image is-64x64">
          <img src="/images/lib/inipagi/calendar.svg" />
        </figure>
        <p class="is-hidden-mobile">Domain Rentals</p>
      </div>
      <div class="feature-tab level-item has-text-centered" data-feature="emails" data-balloon="No Advertisements" data-balloon-pos="up">
        <figure class="image is-64x64">
          <img src="/images/lib/inipagi/view.svg" />
        </figure>
        <p class="is-hidden-mobile">No Advertisements</p>
      </div>
    </div>

      <!--stats-->
    <div id="stats" class="columns blurb">
      <div class="column is-5">
        <div class="content feature">
          <h2 class="is-bold">Understand better with analytics and make smarter decisions.</h2>
          <p>
            Use traffic analytics to better understand your visitors and potential customers.
            Learn how many people visit your domains, where they come from, and how they get here.
          </p>
          <p>
            Have access to real-time statistics at your fingertips. Utilize these measurements to improve your marketing strategy and sell more domains!
          </p>
        </div>
      </div>
      <div class="column is-7">
        <figure class="image has-shadow is-hidden-tablet">
          <img src="/images/main/feature-1-stats.png" alt="DomaHub Traffic Statistics"/>
        </figure>
        <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-1-stats.webm"></video>
      </div>
    </div>

    <!--sales-->
    <div id="offers" class="columns blurb is-hidden">
      <div class="column is-5">
        <div class="content feature">
          <h2 class="is-bold">Automate and simplify your sales process.</h2>
          <p>
            Our offer forms are embedded in every landing page you create. We filter and verify all inbound offers
            before you receive them. Buy-It-Now and minimum price options ensure you don't get low-ball offers.
          </p>
          <p>
            Respond and manage your offers directly through our interface.
            Once a domain has been purchased, we'll make sure your payment is delivered securely and quickly.
          </p>
        </div>
      </div>
      <div class="column is-7">
        <figure class="image has-shadow is-hidden-tablet">
          <img src="/images/main/feature-2-offers.png" alt="DomaHub Offer Form"/>
        </figure>
        <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-2-offers.webm"></video>
      </div>
    </div>

    <!--design-->
    <div id="design" class="columns blurb is-hidden">
      <div class="column is-5">
        <div class="content feature">
          <h2 class="is-bold">Create your unique brand identity.</h2>
          <p>
            Legitimize your domain store's brand identity by customizing each
            landing page's design. Change the texts, fonts, colors, logos, and images
            with just a click of a button!
          </p>
          <p>
            Our interface makes it simple to add and remove different modules from your
            landing pages. Utilize bulk editing to make changes to many domains at once!
          </p>
        </div>
      </div>
      <div class="column is-7">
        <figure class="image has-shadow is-hidden-tablet">
          <img src="/images/main/feature-3-design.png" alt="DomaHub Landing Page Design"/>
        </figure>
        <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-3-design.webm"></video>
      </div>
    </div>

    <!--rentals-->
    <div id="rentals" class="columns blurb is-hidden">
      <div class="column is-5">
        <div class="content">
          <h2 class="is-bold">Rent out your domains for more profit.</h2>
          <p>
            Optionally rent out your domains by the day, week, or month.
            Increase your revenue stream by allowing your customers to try it before they buy it!
          </p>
          <p>
            We'll automatically schedule rentals with your customers. Content displayed on your domains is protected by the
            <a class="is-primary is-underlined" href="https://safebrowsing.google.com/">Google Safe Browsing</a> protocol.
          </p>
        </div>
      </div>
      <div class="column is-7">
        <figure class="image has-shadow is-hidden-tablet">
          <img src="/images/main/feature-5-rent.png" alt="DomaHub Rentals"/>
        </figure>
        <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-5-rent.webm"></video>
      </div>
    </div>

    <!--advertisement-->
    <div id="emails" class="columns blurb is-hidden">
      <div class="column is-5">
        <div class="content">
          <h2 class="is-bold">Don't be someone else's advertisement.</h2>
          <p>
            Your domain name listing page should not mention other products or services. Control your domain brand identity and communications with your potential buyers.
          </p>
          <p>
            No DomaHub logos or branding and no third-party ads. Use your own logos, colors, and email address for
            all emails and communications.
          </p>
        </div>
      </div>
      <div class="column is-7">
        <figure class="image has-shadow">
          <img src="/images/main/feature-4-email.png" alt="DomaHub Emails"/>
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section is-pastel">
  <div class="container">
    <div class="control is-spaced is-mobile">
      <div class="control-left">
        <div class="content">
          <h1 class="title is-bold ">Ready to get started?</h1>
          <h2 class="subtitle ">Try the demo or create an account now!</h2>
        </div>
      </div>
      <div class="control-right">
        <a tabindex="0" class="button is-primary is-stylish is-large" href="/signup">
          <div class="icon">
            <i class="fal fa-user-circle"></i>
          </div>
          <span>Create Account</span>
        </a>
        <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/demo">
          <div class="icon">
            <i class="fal fa-desktop"></i>
          </div>
          <span>Try Free Demo</span>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script type="text/javascript" src="/js/routes/main/main_features_logic.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
</body>
</html>
