<!DOCTYPE html>
<html>

<head>
  <title>Contact Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_contact.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <div class="content">
            <h1 class="title is-3 is-bold">Contact Us</h1>
            <p>
              Feel free to use the form below to send us any questions,
              inquiries, suggestions, bug reports, and anything else
              you wish to share!
            </p>
          </div>
          <form id="contact-form">
            <label class="error_message label is-medium">Name</label>
            <p class="control">
              <input id="contact_name" class="input is-medium" name="contact_name" type="text" placeholder="Your Name">
            </p>
            <label class="error_message label is-medium">Email Address</label>
            <p class="control">
              <input id="contact_email" class="input is-medium" name="contact_email" type="email" placeholder="Your Email">
            </p>
            <label class="error_message label is-medium">Message</label>
            <p class="control">
              <textarea id="contact_message" class="textarea is-medium" name="contact_message" placeholder="Type your message here"></textarea>
            </p>
            <input type="submit" class="button is-primary is-medium"></input>
          </form>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  <script src="/js/routes/main/main_contact_logic.js" type="text/javascript"></script>

</body>

</html>
