<!DOCTYPE html>
<html>

<head>
  <title>Features - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_features.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.min.css"/>
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="features-hero" class="section is-medium is-primary">
  <div class="container">
    <figure id="hero-image" class="image">
      <img src="/images/lib/tools.svg" alt="Desktop Mockup" />
    </figure>
    <div class="content has-text-centered">
      <h1 class="title is-2 is-white is-bold">Professional Tools To Sell More Domains</h1>
      <h2 class="subtitle is-4 is-white">Analyze traffic, attract buyers, seamlessly handle payments - all in one place.</h2>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="content">
      <h1 class="title has-text-centered is-bold">How It Works</h1>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>1</span></div>
          <h2 class="is-bold">Create a DomaHub account.</h2>
          <p>
            Choose from our free Basic plan or our Premium subscription.
            Premium is loaded with additional features to accelerate your domain game!
          </p>
        </div>
      </div>
      <div class="column is-2 line is-hidden-mobile">
        <div class="hiw-num"><span>1</span></div>
      </div>
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 left-aligned is-hidden-mobile">
          <img src="images/lib/new-domahub-user.svg" alt="A New DomaHub User!"/>
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 right-aligned is-hidden-mobile">
          <img src="images/lib/desktop.svg" />
        </figure>
      </div>
      <div class="column is-2 line right is-hidden-mobile">
        <div class="hiw-num"><span>2</span></div>
      </div>
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>2</span></div>
          <h2 class="is-bold">Start creating landing pages.</h2>
          <p>
            Use our tools to upload domains in bulk or connect your DomaHub account
            to one of your domain registrars and we will automatically fetch those domains
            for you!
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>3</span></div>
          <h2 class="is-bold">Manage and respond to offers.</h2>
          <p>
            DomaHub screens and verifies all offers before you receive them.
            Keep track of your listings, view revenue flow, and accept or reject
            offers directly from your DomaHub profile.
          </p>
        </div>
      </div>
      <div class="column is-2 line is-hidden-mobile">
        <div class="hiw-num"><span>3</span></div>
      </div>
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 left-aligned is-hidden-mobile">
          <img src="images/lib/handshake.svg" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section id="features-section" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 id="features-title" class="title is-bold">Features</h1>
    </div>
    <div id="carousel">

      <!--stats-->
      <div class="columns">
        <div class="column is-6">
          <div id="stats" class="blurb">
            <div class="content">
              <h2 class="is-bold">Analytics to understand your target market</h2>
              <p class="is-hidden-mobile">
                Knowing is half the battle and understanding your traffic and audience can help you make educated decisions on how to market and sell your domains.
              </p>
            </div>
            <div class="feature">
              <div class="icon"><i class="far fa-chart-bar fa-fw"></i></div>
              <div class="content">
                <p><span class="is-bold">Traffic</span> - How large is your audience?</p>
              </div>
            </div>
            <div class="feature">
              <span class="icon"><i class="far fa-users fa-fw"></i></span>
              <div class="content">
                <p><span class="is-bold">Referers</span> - How do people find your domains?</p>
              </div>
            </div>
            <div class="feature">
              <span class="icon"><i class="far fa-globe fa-fw"></i></span>
              <div class="content">
                <p><span class="is-bold">Demographics</span> - Where is your traffic coming from?</p>
              </div>
            </div>
            <div class="feature">
              <span class="icon"><i class="far fa-fire fa-fw"></i></span>
              <div class="content">
                <p><span class="is-bold">Trending</span> - Which domain in your portfolio is trending?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <figure class="image has-shadow is-hidden-tablet">
            <img src="/images/main/feature-1-stats.png" alt="DomaHub Traffic Statistics"/>
          </figure>
          <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-1-stats.webm"></video>
        </div>
      </div>

      <!--sales-->
      <div class="columns is-hidden">
        <div class="column is-6">
          <div id="offers" class="blurb">
          <div class="content">
            <h2 class="is-bold">Streamlined sales process</h2>
            <p class="is-hidden-mobile">
              Offer forms are included with every listing page, helping you streamline
              your sales channel without any unwanted spam from bots or other malicious parties.
            </p>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-shield-check fa-fw"></i></div>
            <div class="content">
              <p><span class="is-bold">Verified Buyers</span> - No more spam offers from bots.</p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-money-bill fa-fw"></i></div>
            <div class="content">
              <p><span class="is-bold">Min. Price</span> - Never receive low-ball offers.</p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-handshake fa-fw"></i></div>
            <div class="content">
              <p><span class="is-bold">Buy It Now</span> - Remove the hassle of negotiating.</p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-credit-card fa-fw"></i></div>
            <div class="content">
              <p><span class="is-bold">Payments</span> - Don't stress over processing payments.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="column is-6">
          <figure class="image has-shadow is-hidden-tablet">
            <img src="/images/main/feature-2-offers.png" alt="DomaHub Offer Form"/>
          </figure>
          <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-2-offers.webm"></video>
        </div>
      </div>

      <!--design-->
      <div class="columns is-hidden">
        <div class="column is-6">
          <div id="design" class="blurb">
          <div class="content">
            <h2 class="is-bold">Stand out with a customized brand identity</h2>
            <p class="is-hidden-mobile">
              Fully customize the look and feel of your landing page from the texts
              to the images and everything else in between. Make your domain brand stand out!
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-lock fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">HTTPS</span> - SSL certificates for all domain names.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-image fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Custom Design</span> - Create your own unique domain name brand.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-archive fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Bulk Editing</span> - Update your entire portfolio at the same time.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-code fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">No Coding Necessary</span> - Easy to use interface for editing details.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-th-large fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Modular Layout</span> - Add / remove specific sections of the listing page.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="column is-6">
          <figure class="image has-shadow is-hidden-tablet">
            <img src="/images/main/feature-3-design.png" alt="DomaHub Landing Page Design"/>
          </figure>
          <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-3-design.webm"></video>
        </div>
      </div>

      <!--advertisement-->
      <div class="columns is-hidden">
        <div class="column is-6">
          <div id="emails" class="blurb">
          <div class="content">
            <h2 class="is-bold">Don't be someone else's advertisement</h2>
            <p class="is-hidden-mobile">
              Your domain name listing page should not mention other products or services. Control your domain brand identity and communications with your potential buyers.
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-ban fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">No Third Party</span> - It's your professional brand - not their's.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-minus-circle fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">No DomaHub</span> - No mention of the word "DomaHub" anywhere.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-envelope-open fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Professional Email</span> - All emails are sent from your domain name.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-link fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Custom URLs</span> - Use your own domain URL - not their's.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="column is-6">
          <figure class="image has-shadow">
            <img src="/images/main/feature-4-email.png" alt="DomaHub Emails"/>
          </figure>
        </div>
      </div>

      <!--rentals-->
      <div class="columns is-hidden">
        <div class="column is-6">
          <div id="rentals" class="blurb">
          <div class="content">
            <h2 class="is-bold">Try it before you buy it</h2>
            <p class="is-hidden-mobile">
              Optionally rent out your domains by the day, week, or month.
              Increase your revenue stream by allowing your customer to try it before they buy it!
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-calendar-check fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Automatic</span> - Never worry about manually scheduling a rental.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-folder-open fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Flexible</span> - Rent a subdirectory or the whole domain name.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-unlink fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">Security</span> - Ownership of the domain never leaves your hands.</p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-shield-check fa-fw"></i></span>
            <div class="content">
              <p><span class="is-bold">No Malicious Content</span> - Secure your domain content with <a class="is-primary is-underlined" href="https://safebrowsing.google.com/">Google Safe Browsing</a>.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="column is-6">
          <figure class="image has-shadow is-hidden-tablet">
            <img src="/images/main/feature-5-rent.png" alt="DomaHub Rentals"/>
          </figure>
          <video class="feature-video is-hidden-mobile" autoplay loop muted src="/images/main/feature-5-rent.webm"></video>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-primary">
  <div class="container">
    <div class="content has-text-centered">
      <figure class="image is-128x128">
        <img src="/images/lib/investment.svg" alt="Invest in your domains!" />
      </figure>
      <h2 class="title is-bold is-white">Don't just own domains, invest in them.</h2>
      <h3 class="is-white">
        Sell more domains with powerful and streamlined professional tools.
      </h3>
    </div>
    <div class="content has-text-centered">
      <a class="button is-stylish is-primary is-inverted" href="/signup">
        <span class="icon">
          <i class="far fa-user-circle"></i>
        </span>
        <span>Sign Up For Free Now</span>
      </a>
      <small class="is-block is-white">No risk. Cancel at any time.</small>
    </div>
  </div>
</section>

<section id="pricing" class="section is-medium">
  <div class="container">
    <div class="control is-grouped is-grouped-center">
      <a tabindex="0" href="" class="alert is-pastel">
        <div class="tag is-primary is-uppercase">
          New
        </div>
        <p>
          Limited one-time annual price! Get 16% off now!
        </p>
      </a>
    </div>
    <div class="content has-text-centered">
      <h1 class="title is-bold">Pricing</h1>
    </div>
    <div class="control is-grouped is-grouped-center">
      <div class="control">
        <p>
          Billed Monthly
        </p>
      </div>
      <div class="control">
        <input id="price-toggle" type="checkbox" name="price-toggle" class="switch is-rounded" checked="checked">
        <label for="price-toggle"></label>
      </div>
      <div class="control">
        <p>
          Billed Annually
        </p>
      </div>
    </div>
    <div class="price-card-wrapper">
      <div class="price-card card has-shadow-effect">
        <div class="card-content">
          <div class="content">
            <div class="content has-text-centered">
              <div class="icon is-circle is-medium is-accent">
                <i class="far fa-trophy"></i>
              </div>
              <h2 class="is-accent">Basic</h2>
              <p class="title is-2 is-bold">Free</p>
              <p>
                Pay nothing.
              </p>
            </div>
          </div>
          <div class="control is-expanded">
            <a href="/signup" tabindex="0" class="button is-stylish is-fullwidth is-accent">
              <span class="icon">
                <i class="far fa-check-circle"></i>
              </span>
              <span>Choose Basic</span>
            </a>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-table">
            <li>
              <p class="heading">
                Domains
              </p>
              <p>
                Up to 100
              </p>
            </li>
            <li>
              <p class="heading">
                Commission
              </p>
              <p>
                10%
              </p>
            </li>
            <li>
              <p class="heading">
                Landing Pages
              </p>
              <div class="icon is-accent">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Traffic Analysis
              </p>
              <div class="icon is-accent">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Domain Rentals
              </p>
              <div class="icon is-accent">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                SSL Certificate
              </p>
              <div class="icon is-light">
                <i class="far fa-times"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Design
              </p>
              <div class="icon is-light">
                <i class="far fa-times"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom URL
              </p>
              <div class="icon is-light">
                <i class="far fa-times"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Email
              </p>
              <div class="icon is-light">
                <i class="far fa-times"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                No Advertisements
              </p>
              <div class="icon is-light">
                <i class="far fa-times"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="price-card card has-shadow-effect">
        <div class="card-content">
          <div class="content">
            <div class="content has-text-centered">
              <div class="icon is-circle is-medium is-primary">
                <i class="far fa-trophy-alt"></i>
              </div>
              <h2 class="is-primary">Premium</h2>
              <p id="premium-price-month" class="title is-2 is-bold is-active">$5</p>
              <p id="premium-price-annual" class="title is-2 is-inline-block is-bold">$4.17</p>
              <p id="premium-price-text">
                Per month ($50 / year).
              </p>
            </div>
          </div>
          <div class="control">
            <% if (user) { %>
            <a href="/profile/settings#premium" tabindex="0" class="button is-stylish is-fullwidth is-primary">
            <% } else { %>
            <a href="/signup" tabindex="0" class="button is-stylish is-fullwidth is-primary">
            <% } %>
              <span class="icon">
                <i class="far fa-check-circle"></i>
              </span>
              <span>Choose Premium</span>
            </a>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-table">
            <li>
              <p class="heading">
                Domains
              </p>
              <p class="is-bold">
                Unlimited
              </p>
            </li>
            <li>
              <p class="heading">
                Commission
              </p>
              <p class="is-bold">
                None
              </p>
            </li>
            <li>
              <p class="heading">
                Landing Pages
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Traffic Analysis
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Domain Rentals
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                SSL Certificate
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Design
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom URL
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Email
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                No Advertisements
              </p>
              <div class="icon is-primary">
                <i class="far fa-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="features-table">
      <div class="list-table">
        <ul>
          <li>
            Domains
          </li>
          <li>
            Commission
          </li>
          <li>
            Landing Pages
          </li>
          <li>
            Traffic Analysis
          </li>
          <li>
            Domain Rentals
          </li>
          <li>
            SSL Certificate
          </li>
          <li>
            Custom Design
          </li>
          <li>
            Custom URL
          </li>
          <li>
            Custom Email
          </li>
          <li>
            No Advertisements
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="">
      <p class="has-text-centered">
        <a href="/listing/mycooldomain.com?compare=true&theme=DomaHub" tabindex="0" class="is-underlined is-accent">See an example</a>
      </p>
      <p class="has-text-centered">
        <a href="/listing/mycooldomain.com?compare=true&theme=random" tabindex="0" class="is-underlined is-primary">See an example</a>
      </p>
    </div>
    <div class="content has-text-centered">
      <small class="is-block">
        <sup>1</sup> All domain sales/rentals are subject to a 2.9% + $0.30 (per transaction) payments processing fee.
      </small>
      <small class="is-block">
        <sup>2</sup> This number does not include the aforementioned processing fee.
      </small>
    </div> -->
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-bold">Q & A</h1>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="content">
          <h3>How do I get paid?</h3>
          <p>
            You must link a bank account with DomaHub. Once a transaction has been confirmed, we will deposit the money directly into your account
            after a few business days.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>What payment options does DomaHub accept?</h3>
          <p>
            We accept payments from all major credit and debit cards in more than 130 currencies.
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="content">
          <h3>How are offers verified?</h3>
          <p>
            Firstly, users cannot submit any offers that are below your domain's minimum asking price.
            Secondly, all users must confirm their offers by email. Offers that are not confirmed
            will not be sent to you.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>Can I cancel my Premium subscription?</h3>
          <p>
            You can cancel your Premium subscription at any time. Your account will still remain active and your Premium status will last
            until the end of the current billing cycle (1 month).
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        Have other questions? Visit our <a tabindex="0" class="is-underlined is-primary" href="/faq">FAQ</a> or
        <a tabindex="0" class="is-underlined is-primary" href="/contact">contact us</a>.
      </p>
    </div>
  </div>
</section>

<section class="section is-accent">
  <div class="container">
    <div class="content has-text-centered">
      <figure class="image is-128x128">
        <img src="/images/lib/money-hand.svg" alt="Invest in your domains!" />
      </figure>
      <h2 class="title is-white is-bold">Not completely convinced?</h2>
      <h3 class="is-white">Try our demo right now without signing up!</h3>
    </div>
    <div class="content has-text-centered">
      <a class="button is-stylish is-accent is-inverted" href="/demo">
        <span class="icon">
          <i class="far fa-desktop"></i>
        </span>
        <span>Try Free Demo</span>
      </a>
      <small class="is-white is-block">
        Don't be shy!
      </small>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script type="text/javascript" src="/js/routes/main/main_features_logic.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
</body>
</html>
