<!DOCTYPE html>
<html>

<head>
  <title>Domain Name Landing Pages - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Simple, clean domain name landing pages." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section is-large">
  <div class="container">
    <div class="content has-text-centered margin-bottom-25">
      <h1 class="title is-2 is-bold">
        We Help Domainers Profit
      </h1>
      <p class="subtitle is-4">
        Build secure and user-friendly sales pages for your entire portfolio.
      </p>
    </div>
    <form id="tryit-form" action="/compare?domain_name=">
      <div class="button-wrapper">
        <a href="/listing/cooldomains.com?compare=true" tabindex="0" class="button is-stylish is-primary is-large" for="domain-name-input">
          <span class="icon">
            <i class="fa fa-thumbs-up"></i>
          </span>
          <span>Try the Demo</span>
        </a>
        <a href="/signup" tabindex="0" class="button is-stylish is-primary is-outlined is-large" for="domain-name-input">
          <span class="icon">
            <i class="fa fa-user-o"></i>
          </span>
          <span>Create Free Account</span>
        </a>
      </div>
    </form>
    <p class="is-blacklight has-text-centered margin-top-10">
      It only takes minutes to set up!
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="features" class="box">
      <div class="content has-text-centered margin-bottom-40">
        <h2 class="is-bold">Selling Domains the Easy Way</h2>
        <p>
          Learn how DomaHub can simplify your selling process.
        </p>
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-danger is-circle is-medium margin-bottom-25">
              <i class="fa fa-clone"></i>
            </span>
            <h2>Offer Forms</h2>
            <p>
              Verified human offers - no bots! Never receive offers below your minimum asking price.
            </p>
          </div>
        </div>
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-primary is-circle is-medium margin-bottom-25">
              <i class="fa fa-credit-card-alt"></i>
            </span>
            <h2>Managed Payments</h2>
            <p>
              Secure payment processing directly from your sales page. Never worry about getting paid.
            </p>
          </div>
        </div>
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-info is-circle is-medium margin-bottom-25">
              <i class="fa fa-magic"></i>
            </span>
            <h2>Custom Design</h2>
            <p>
              Fully customize your store's design. You don't have to know how to code at all!
            </p>
          </div>
        </div>
      </div>
      <div class="control has-text-centered">
        <a tabindex="0" href="/features" class="is-primary is-bold">
          <span>Learn More</span>
          <span class="icon is-small"><i class="fa fa-arrow-circle-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="attention" class="content">
      <h2 class="is-white">Try it now for free. No risks involved!</h2>
      <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/signup">
        <span class="icon">
          <i class="fa fa-smile-o"></i>
        </span>
        <span>Sign Me Up!</span>
      </a>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<%- include("../templates/js_scripts"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
