<!DOCTYPE html>
<html>

<head>
  <title>Renters - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="./css/min/main_renters.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section id="renters-img" class="section is-large">
    <div class="container">
      <div class="column">
        <h1 class="title is-2 is-white">
          A domain isn't just a name, <br />
          it's your playground.
        </h1>
        <h2 class="subtitle is-4 is-white">
          Explore your possibilities with DomaHub
        </h2>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <h1 class="title has-text-centered is-2 has-style-underline margin-bottom-75">
        How it Works.
      </h1>
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <figure class="image is-64x64">
              <img src="/images/lib/material/search-2.svg" />
            </figure>
            <h2>Search Domains</h2>
            <p>
              Browse verified listings using the search input at the top of this page.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <figure class="image is-64x64">
              <img src="/images/lib/material/shopping-cart.svg" />
            </figure>
            <h2>Rent Your Domain</h2>
            <p>
              Confirm your rental dates and checkout using DomaHub's secure and trusted services.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <figure class="image is-64x64">
              <img src="/images/lib/material/redirect-2.svg" />
            </figure>
            <h2>Redirect Content</h2>
            <p>
              Go to your <a tabindex="1" class="is-accent" href="/profile/mylistings" title="My Rental">rentals</a>
              page, click on the domain, and add a redirection link. The domain name will now
              redirect
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <h1 class="title has-text-centered is-2 has-style-underline margin-bottom-75">
        How to Use a Domain Rental.
      </h1>
      <div class="columns">
        <div class="column">
          <div class="box-flip margin-bottom-25">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/mail-solid.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Send eCards and Invitations</h3>
              <p>
                How about renting a relevant domain name for that special
                party, birthday, or wedding?
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/trendingup.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Create Unique Marketing Opportunities</h3>
              <p>
                Rent a new domain name for your next marketing campaign,
                new product release, or big company announcement.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/business.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Start Your New Business</h3>
              <p>
                A domain rental is the perfect, inexpensive way
                to brand your newly founded business.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/redirect.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Share Images, Jokes, Memes...</h3>
              <p>
                You can redirect almost anything on the web - an image,
                a GIF, and even another webpage - to your domain name rental.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/briefcase.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Stand Out Professionally</h3>
              <p>
                Spice up your resume, portfolio, slides, and even
                business presentations with a unique domain name.
              </p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/drive-traffic.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Drive Traffic to Your Site</h3>
              <p>
                Don't be held down by one name. Use multiple domain names
                to convey your brand identity by redirecting them to your main site.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
