<!DOCTYPE html>
<html>

<head>
  <title>About Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_about.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="min-height">

  <section id="mission-img" class="hero is-primary is-medium landing-img">
    <div class="img-wrapper">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-normal">
            About Us
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered">
          <ul>
            <li class="tab is-active"><a href="/about">About Us</a></li>
            <li class="tab"><a href="/mission">Our Mission</a></li>
            <li class="tab"><a href="/press">Press</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-quote is-primary is-3 is-normal">
              Changing the traditional domain marketplace
            </h1>
            <h2 class="subtitle is-blacklight is-5">
              This is what we are all about.
            </h2>
            <p>
              Founded in 2016, DomaHub is a platform for domain name rentals.
              It's a marketplace designed for quick, fluid transactions powered
              by efficient, powerful features. Our listings are full-page
              advertisements that have no hidden costs and provide incredible
              flexibility as well as usability for both owners and renters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


    </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
