<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="DomaHub provides domain name rentals at low, affordable prices and flexible time slots. Rent one today!" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <div id="welcome" class="notification is-black is-popup">
    <span class="delete"></span>
    <p class="is-white">
      Hello and welcome to DomaHub! We are currently in a closed beta.
    </p>
  </div>

  <%- include("../templates/navbar", {user: user}); %>
  <section id="index-img" class="section is-large is-primary has-border-bottom">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content">
            <h1 class="title is-1 is-white margin-bottom-25">
              Rent Domain Names.
            </h1>
            <p class="subtitle is-5 is-white margin-bottom-25">
              DomaHub is the marketplace for domain rentals offering
              quality domain names at flexible time slots.
            </p>
          </div>
          <form class="beta-form">
            <div class="control is-grouped">
              <p class="control is-expanded">
                <input tabindex="1" class="input is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
              </p>
              <p class="control">
                <a tabindex="1" class="beta-submit button is-primary is-inverted is-medium" title="Sign Up">Sign Up Now</a>
              </p>
            </div>
          </form>
          <div class="beta-form-success notification is-white is-hidden">
            <span class="delete"></span>
            <p class="is-bold is-primary has-text-centered">Success! You have been put on the waiting list.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-75">
          <div class="content">
            <p class="is-grey is-bold heading">
              DOMAIN OWNERS
            </p>
          </div>
          <div class="content">
            <h1 class="title is-2 has-text-centered has-style-underline">Don't let your domains rot away.</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="is-bold">Create a listing and start generating revenue!</h2>
            <p>
              List your domains on DomaHub and allow other users to rent it out.
              This way your unused domains don't just sit there - they help someone
              out while putting money in your pocket!
            </p>
          </div>
          <div class="content margin-top-25">
            <h2 class="is-bold">Tiered commission system</h2>
            <p>
              We offer a commission based system with three tiers applied on a
              listing-to-listing basis. Every listing starts off with 15% commission
              which decreases with each successive level.
            </p>
            <table class="table has-shadow">
              <thead>
                <th>Level</th>
                <th>Rental Rate</th>
                <th>Commission</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>0 - 25%</td>
                  <td>18%</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>25 - 50%</td>
                  <td>16.5%</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>50% +</td>
                  <td>15%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="content">
            <a tabindex="1" href="/sellers" class="is-accent" title="Selling on DomaHub">
              <span>Learn more about selling on DomaHub</span>
              <span class="icon is-small v-align-bottom">
                <i class="fa fa-caret-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="content margin-bottom-15">
            <h2 class="is-bold">DomaHub Benefits</h2>
            <p>
              Click on each slider below to learn more.
            </p>
          </div>
          <div class="slider-box">
            <div class="slider-item" tabindex="1">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-id-card-o"></i>
                </span>
                <span>Ownership never leaves your hand</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item-dropdown">
              <div class="content">
                <p>
                  You don't have to deal with the hassle of transferring ownership to
                  domain renters. We make renting simple by having renters redirect
                  web content to your domain. This way, there is no ownership transfer
                  and the whole process is quick and efficient.
                </p>
              </div>
            </div>
            <div class="slider-item" tabindex="1">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-dollar"></i>
                </span>
                <span>Full control over your prices</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item-dropdown">
              <div class="content">
                <p>
                  You get to decide the pricing for all of your listings - no limits enforced!
                  The minimum price for all time rates is one dollar.
                </p>
              </div>
            </div>
            <div class="slider-item" tabindex="1">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
                <span>Rent according to your schedule</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item-dropdown">
              <div class="content">
                <p>
                  Listings can be rented out by the day, week, or month.
                  Find the best time rate for your listing and feel free to change
                  it whenever you want!
                </p>
              </div>
            </div>
            <div class="slider-item" tabindex="1">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-credit-card"></i>
                </span>
                <span>Never worry about payments</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item-dropdown">
              <div class="content">
                <p>
                  We use a payments processor called Stripe.
                  Stripe allows you to get paid quickly and securely.
                  For more information on payments visit <a href="https://www.stripe.com" class="is-accent">Stripe's website</a>
                  or read our <a href="/faq#payments" class="is-accent">FAQ.</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-75">
          <div class="content">
            <p class="is-grey is-bold heading">
              DOMAIN RENTERS
            </p>
          </div>
          <div class="content">
            <h1 class="title is-2 has-text-centered has-style-underline">Domain rentals work for you.</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="is-bold">Why rent a domain?</h2>
            <p>
              The opportunities and possibilities are limitless with domain rentals.
              Use unique domain names to display online projects and portfolios,
              advertisements and marketing material, or even eCards and event pages.
            </p>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <div class="columns">
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Cost-effective Pricing</span>
              </div>
            </div>
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Flexible Scheduling</span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Low Commitment</span>
              </div>
            </div>
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Quick Turnaround</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content margin-top-25">
            <h2 class="is-bold">Domain rental examples</h2>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/web.svg" alt="Advertisements">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold has-text-centered">Advertisements</h3>
            <p>
              High traffic domains are perfect places to display advertisements
              to reach new audiences.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/chart.svg" alt="Marketing Campaigns">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold has-text-centered">Marketing Campaigns</h3>
            <p>
              Use a domain name to host your next marketing campaign.
              Renting ensures you only use the domain for as long as you need.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/users.svg" alt="Personal or Business">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold has-text-centered">Personal or Business</h3>
            <p>
              Use a custom domain name to display your resume, portfolio, business
              page, or even an eCard or invitation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="content has-text-centered margin-bottom-75">
            <h1 class="title is-2 has-style-underline">
              Get early access.
            </h1>
          </div>
          <div class="content">
            <h3 class="margin-bottom-10 has-text-centered">
              Participate in the closed beta by signing up below.
            </h3>
            <form class="beta-form">
              <div class="control is-grouped">
                <p class="control is-expanded">
                  <input tabindex="1" class="input is-expanded is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
                </p>
                <p class="control">
                  <a tabindex="1" class="beta-submit button is-primary is-medium">Sign Up</a>
                </p>
              </div>
            </form>
            <div class="beta-form-success is-hidden">
              <div class="notification has-text-centered is-primary">
                <h3 class="is-white is-bold">Success! You have been put on the waiting list.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
    <script src="/js/routes/main/beta_signup_logic.js" type="text/javascript"></script>
  </body>
</html>
