<!DOCTYPE html>
<html>

<head>
  <title>About Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_about.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a href="/about">About Us</a></li>
          <li><a href="/press">Press and Media</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section is-medium min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-3 is-bold">
              Changing the traditional domain marketplace.
            </h1>
            <p>
              Founded in 2016, DomaHub is a platform for domain name rentals.
              It's a marketplace designed for quick, fluid transactions powered
              by efficient, powerful features. Our listings are full-page
              advertisements that have no hidden costs and provide incredible
              flexibility as well as usability for both owners and renters.
            </p>
            <p>
              DomaHub is committed to providing consumers with an alternative method
              of acquiring domain names that is both inexpensive and efficient while
              also generating new revenue streams for domain owners.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
