<!DOCTYPE html>
<html>

<head>
  <title>Sell more domains with professional tools - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Sell more domains with powerful and streamlined professional tools." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-white is-1 is-bold">
        Spend less time managing your domains
      </h1>
      <p class="subtitle is-white is-4">
        Make domain management easier with our automated tools and services.
      </p>
    </div>
    <div class="content has-text-centered">
      <a href="/signup" tabindex="0" class="button is-stylish is-primary is-inverted is-large">
        <div class="icon">
          <i class="fal fa-user-circle"></i>
        </div>
        <span>Sign Up Free</span>
      </a>
    </div>
    <div class="content has-text-centered">
      <small class="is-whitelight">
        Try it free - no credit card required.
      </small>
    </div>
  </div>
</section>

<div class="bubble"></div>

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <small class="tip">Landing Pages</small>
          <h1 class="title is-3 is-bold">Automatically capture inbound traffic</h1>
          <p>
            Automatically set up landing pages for all of your domains. Simple and fast - no coding necessary.
            Offer forms automatically capture and verify incoming offers.
          </p>
          <a class="has-arrow is-primary" href="/landing-pages">
            Learn more about the Landing Page
            <div class="icon is-primary is-small">
              <i class="fal fa-long-arrow-right" data-fa-transform="down-3"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <figure class="image has-shadow">
          <img src="/images/main/listing-page/normal_theme.png" alt="DomaHub Landing Page Example" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-reversed">
      <div class="column is-6">
        <figure class="image has-shadow">
          <img src="/images/main/marketplace.png" alt="DomaHub Domain Hub and Marketplace Example" />
        </figure>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="content">
          <small class="tip">Domain Hub</small>
          <h1 class="title is-3 is-bold">No commission marketplace</h1>
          <p>
            Paying absurd commissions on other secondary marketplaces?
            Create a Hub and instantly create your own online domain store - commission free.
          </p>
        </div>
        <a class="has-arrow is-primary" href="/domain-hub">
          Learn more about the Hub
          <div class="icon is-primary is-small">
            <i class="fal fa-long-arrow-right" data-fa-transform="down-3"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="cta" class="section is-pastel">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="content">
          <h1 class="title is-white is-3 is-bold">Hundreds of professional domainers use DomaHub to manage their domains.</h1>
          <p class="subtitle is-white is-5">
            Join them now, for free!
          </p>
        </div>
      </div>
      <div class="column is-4 is-offset-2">
        <a tabindex="0" class="centered-button button is-info is-inverted is-stylish is-large" href="/signup">
          <div class="icon">
            <i class="fal fa-user-circle"></i>
          </div>
          <span>Sign Up Free</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-3 is-bold">Simplify domain management with automated tools</h1>
      <p>
        Manage, track, and analyze your domains and offers all in one simple interface.
      </p>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="content has-text-centered">
          <div class="icon is-info is-inverted is-circle is-medium has-margin">
            <i class="fal fa-folder-open"></i>
          </div>
          <h3 class="is-bold">Portfolio Management</h3>
          <p>
            Never forget the important details. We'll automatically log important metadata for your domains.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-centered">
          <div class="icon is-primary is-inverted is-circle is-medium has-margin">
            <i class="fal fa-chart-bar"></i>
          </div>
          <h3 class="is-bold">Traffic Analysis</h3>
          <p>
            Learn more about your domains and your visitors. Understand which domains are or aren't performing well.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-centered">
          <div class="icon is-accent is-inverted is-circle is-medium has-margin">
            <i class="fal fa-chart-line"></i>
          </div>
          <h3 class="is-bold">Revenue Tracking</h3>
          <p>
            Get paid fast and securely. We'll automatically track your expenses and revenue for you.
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <a class="has-arrow is-primary" href="/domain-management">
        Learn more about domain management
        <div class="icon is-primary is-small">
          <i class="fal fa-long-arrow-right" data-fa-transform="down-3"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="pricing" class="section is-primary is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <h2 class="title is-2 is-bold is-white">One simple pricing plan for everyone.</h2>
          <p class="subtitle is-5 is-whitelight">
            Our Premium subscription is a monthly or annual fee. You will immediately get unlimited access to all of our features.
          </p>
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <div class="price-control control is-grouped">
          <div class="control">
            <input id="price-toggle" type="checkbox" name="price-toggle" class="switch is-accent is-rounded" checked="checked">
            <label for="price-toggle"></label>
          </div>
          <div class="control">
            <p class="is-whitelight">
              Bill me annually
            </p>
          </div>
        </div>
        <div class="control">
          <span class="price-sign">$</span>
          <span id="premium-price-month" class="price-month is-active">5.00</span>
          <span id="premium-price-annual" class="price-annual">4.17</span>
          <span id="premium-price-text" class="price-text">
            Per month ($50 / year).
          </span>
        </div>
        <hr />
        <div class="content">
          <p class="is-whitelight">
            We also currently offer a free Basic plan. You'll get access to some of our features, for free!
          </p>
          <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/signup">
            <div class="icon">
              <i class="fal fa-user-circle"></i>
            </div>
            <span>Sign Up Free</span>
          </a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <div class="columns is-mobile">
          <div class="column is-6">
            <div class="content">
              <ul class="is-vertical">
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Unlimited domains</span>
                </li>
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">No commission on sales</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-6">
            <div class="content">
              <ul class="is-vertical">
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Landing pages</span>
                </li>
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Domain Hub (marketplace)</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6">
        <div class="columns is-mobile">
          <div class="column is-6">
            <div class="content">
              <ul class="is-vertical">
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Traffic analysis</span>
                </li>
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Domain rentals</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-6">
            <div class="content">
              <ul class="is-vertical">
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">HTTPS connection</span>
                </li>
                <li class="has-icon">
                  <div class="icon is-white">
                    <i class="fal fa-check fa-fw"></i>
                  </div>
                  <span class="is-whitelight">Custom URL</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-pastel">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <a class="notification has-arrow is-info has-icon" title="Go to FAQ page" href="/faq">
          <div class="icon-box">
            <div class="icon is-white is-large">
              <i class="fal fa-book"></i>
            </div>
          </div>
          <div class="content">
            <h2 class="is-white">
              Explore our FAQ
              <div class="icon">
                <i class="fal fa-long-arrow-right" data-fa-transform="down-3"></i>
              </div>
            </h2>
            <p class="is-white">
              Learn more about our features, pricing, procedures, and policies.
            </p>
          </div>
        </a>
      </div>
      <div class="column is-6">
        <a class="notification has-arrow is-accent has-icon" title="Go to our blog on Medium" href="https://medium.com/domahub">
          <div class="icon-box">
            <div class="icon is-white is-large">
              <i class="fal fa-rss"></i>
            </div>
          </div>
          <div class="content">
            <h2 class="is-white">
              Read our blog
              <div class="icon">
                <i class="fal fa-long-arrow-right" data-fa-transform="down-3"></i>
              </div>
            </h2>
            <p class="is-white">
              Our blog contains troubleshooting articles, creative stories, feature highlights, and more!
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section is-pastel">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-3 is-bold">Ready to get started?</h1>
      <h2 class="subtitle is-5">Start managing your domains like a pro now!</h2>
      <a tabindex="0" class="button is-primary is-stylish is-large" href="/signup">
        <div class="icon">
          <i class="fal fa-user-circle"></i>
        </div>
        <span>Sign Up Free</span>
      </a>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
