<html>

<head>
	<title>Page Not Found - DomaHub</title>
	<link rel="stylesheet" type="text/css" href="/css/min/main_general.min.css" />
	<%- include("../templates/head_links"); %>
</head>

<body>
	<%- include("../templates/navbar", {user: user}); %>

	<section class="section is-primary is-medium min-height">
		<div class="container">
			<div class="columns">
				<div class="column is-8">
					<div class="content">
						<figure class="image is-128x128 left-aligned">
              <img src="/images/lib/folder.svg" alt="404 Error" />
            </figure>
					</div>
          <div class="content">
            <h1 class="title is-2 is-white">
            	Hmm...can't seem to find that file!
            </h1>
            <p class="subtitle is-4 is-white">Looks like you tried to visit a page that doesn't exist.</p>
          </div>
					<div class="control">
						<a tabindex="0" class="button is-stylish is-primary is-inverted" href="/">
							<div class="icon">
								<i class="far fa-home"></i>
							</div>
							<span>Go to DomaHub</span>
						</a>
					</div>
					<div class="content ">
						<p class="is-lighter">
							<a tabindex="0" class="is-lighter is-underlined" href="/contact">Let us know</a> if you think something went wrong!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("../templates/footer"); %>

</body>

</html>
