<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_general.min.css" />
  <%- include("../templates/head_links"); %>
</head>
<body>
  <%- include("../templates/navbar", {user: user}); %>
  <%- include("../templates/notifications.ejs"); %>

  <section class="section is-medium min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1>Contact Us</h1>
            <p>
              Feel free to use the form below to send us any questions,
              inquiries, suggestions, bug reports, and anything else
              you wish to share!
            </p>
          </div>
          <form id="contact-form" autocomplete="off">
            <label class="error_message label" for="contact_name">Name</label>
            <p class="control has-icon">
              <input id="contact_name" required class="input" name="contact_name" type="text">
              <i class="fa fa-user-o"></i>
            </p>
            <label class="error_message label" for="contact_email">Email Address</label>
            <p class="control has-icon">
              <input id="contact_email" required class="input" name="contact_email" type="email">
              <i class="fa fa-envelope-o"></i>
            </p>
            <label class="error_message label" for="contact_message">Message</label>
            <p class="control">
              <textarea id="contact_message" required class="textarea" name="contact_message"></textarea>
            </p>
            <div class='control'>
              <button id="submit-button" type="submit" class="button has-icon is-primary is-stylish is-fullwidth-mobile">
                <span class="icon is-small">
                  <i class="fa fa-comment"></i>
                </span>
                <span>Send Message</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include("../templates/footer"); %>
  <script src="/js/routes/main/main_contact_logic.js" type="text/javascript"></script>
  <script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
</body>
</html>
