<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - DomaHub</title>
  <%- include("../templates/head_links"); %>
</head>
<body>
  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium min-height">
    <div class="container">
      <div id="message-success" class="notification is-primary is-hidden is-popup">
        <span class="delete"></span>
        Message sent! We will get back to you as soon as possible.
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="content">
            <h1>Contact Us</h1>
            <p>
              Feel free to use the form below to send us any questions,
              inquiries, suggestions, bug reports, and anything else
              you wish to share!
            </p>
          </div>
          <form id="contact-form">
            <label class="error_message label is-medium">Name</label>
            <p class="control has-icon">
              <input id="contact_name" required class="input is-medium" name="contact_name" type="text">
              <i class="fa fa-user-o"></i>
            </p>
            <label class="error_message label is-medium">Email Address</label>
            <p class="control has-icon">
              <input id="contact_email" required class="input is-medium" name="contact_email" type="email">
              <i class="fa fa-envelope-o"></i>
            </p>
            <label class="error_message label is-medium">Message</label>
            <p class="control">
              <textarea id="contact_message" required class="textarea" name="contact_message"></textarea>
            </p>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class='control is-grouped'>
                    <div class='control'>
                      <button id="submit-button" type="submit" class="button has-icon is-primary is-stylish">
                        <span class="icon is-small">
                          <i class="fa fa-comment"></i>
                        </span>
                        <span>Send Message</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <p id="error_message" class="is-hidden is-danger">
                    Please fill in all the fields!
                  </p>
                </div>
              </div>
            </nav>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include("../templates/footer"); %>
  <script src="/js/routes/main/main_contact_logic.js" type="text/javascript"></script>
  <script src="/js/routes/main/random_characters.js" type="text/javascript"></script>
</body>
</html>
