<!DOCTYPE html>
<html>

<head>
  <title>FAQ - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_faq.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a tabindex="1" href="/about" title="About Us">About Us</a></li>
          <li><a tabindex="1" href="/press" title="Press and Media">Press and Media</a></li>
          <li class="is-active"><a tabindex="1" href="/faq" title="Frequently Asked Questions">FAQ</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section clear-nav is-small">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
          <aside class="menu is-fixed">
        <%# <ul class="menu-list">
              <p class="control has-icon">
      				<input id="search-faq" tabindex="1" class="input" type="text" placeholder="Search FAQ" />
      				<i class="fa fa-search"></i>
      			  </p>
            </ul>%>
            <p class="menu-label">
              Categories
            </p>
            <ul class="menu-list">
              <li><a id="about-menu" class="menu-link is-active" tabindex="1" href="#about">About DomaHub</a></li>
              <li><a id="renting-menu" class="menu-link" href="#renting" tabindex="1">Renting with DomaHub</a></li>
              <li><a id="selling-menu" class="menu-link" href="#selling" tabindex="1">Selling on DomaHub</a></li>
              <li><a id="payments-menu" class="menu-link" href="#payments" tabindex="1">Payments</a></li>
              <%# <li><a id="communicating-menu" class="menu-link" href="#communicating" tabindex="1">Communicating with users</a></li>%>
              <%# <li><a id="contracts-menu" class="menu-link" href="#contracts" tabindex="1">Rental contracts</a></li>%>
            </ul>
          </aside>
        </div>
        <div class="column is-two-thirds">
          <h1 class="title is-bold is-3 is-marginless">Frequently Asked Questions</h1>
          <div id="about" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">About DomaHub</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What exactly does DomaHub do?">
                What exactly does DomaHub do?</h3>
              <p class="faq-answer">
                DomaHub is a marketplace that allows domain name
                owners to rent out their domains. Our foremost goal is to
                make all domains - especially those that are unused - more
                accessible to everyone.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How does DomaHub make money?">
                How does DomaHub make money?</h3>
              <p class="faq-answer">
                DomaHub takes a percentage based commission from every successful rental.
              </p>
            </div>
          </div>
          <div id="renting" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">Renting with DomaHub</h2>
            <!-- <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I rent a domain?">
                How can I rent a domain?</h3>
              <p class="faq-answer">
                Go to our <a class="is-accent" href="/listings">listings page</a>
                to browse for available listings.
              </p>
            </div> -->
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How long can I keep the domain?">
                Who owns the domain?</h3>
              <p class="faq-answer">
                The domain never leaves the ownership of its original owner.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I use the domain?">
                Then how do I use the domain?</h3>
              <p class="faq-answer">
                Through DNS and proxying, we can point the domain name to whatever content you wish to display.
                All you have to do is provide a URL and it will be redirected to the domain rental.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How long can I keep the domain?">
                How long can I keep the domain?</h3>
              <p class="faq-answer">
                You may only use the domain for the amount of time you paid for.
                Any content being redirected to that domain will immediately stop once your time is up.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I rent a domain?">
                How much is a domain?</h3>
              <p class="faq-answer">
                Every domain has different rates depending on its value. Please check each listing for the specific rates.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What if I need it for longer than I originally planned?">
                What if I need it for longer than I originally planned?</h3>
                <p class="faq-answer">
                    You may add more time slots to your rental after your initial purchase. However, all rentals are final once paid for.
                    Please make sure to select the correct times before paying!
                </p>
                <p class="faq-answer">
                    Once your rental expires, if the domain has already been rented for the subsequent time slots,
                    you may not steal those times away from others just because you currently have the domain rented.
                </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can the domain owner sell the domain while I am renting it?">
                Can the domain owner sell the domain while I am renting it?</h3>
              <p class="faq-answer">
                Domain rentals through DomaHub are legally binded by contract
                and may not - under any circumstances - be sold while a user
                has rented it.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Do I have an option to buy-out the domain?">
                Do I have an option to buy-out the domain?</h3>
              <p class="faq-answer">
                Buy-out options are currently not available through DomaHub.
              </p>
            </div>
          </div>
          <div id="selling" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">Selling on DomaHub</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I start listing domains?">
                How do I start listing domains?</h3>
              <p class="faq-answer">
                Once you have created a DomaHub account you may create a listing by going to the
                <a tabindex="1" class="is-accent" href="/listings/create" title="Create Listing Page">create listing</a> page.
                You must verify every domain name you list with us by pointing your DNS A records to our servers.
              </p>
              <p class="faq-answer">
                  You will not be allowed to collect payments however until you have connected your <a tabindex="1" class="is-accent" href="/authorizestripe" title="Authorize Stripe Page">
                  Stripe</a> account.
              </p>
            </div>
            <div id='verifying' class="qa-wrapper">
              <h3 class="faq-question" title="How do I verify my domain?">
                How do I verify my domain?</h3>
              <p class="faq-answer">
                You must point your DNS A records to our servers. For more information on how to do this, please check with your domain registrar.
              </p>

              <p>
                  Registrars:
              </p>
              <ul class="padding-left-20 has-disc">
                <li><a class="is-accent" href="https://www.godaddy.com/help/change-an-a-record-19239" title="GoDaddy Website">GoDaddy</a></li>
                <li><a class="is-accent"
                  href="https://www.namecheap.com/support/knowledgebase/article.aspx/319/78/how-can-i-setup-an-a-address-record-for-my-domain"
                  title="NameCheap Website">NameCheap</a></li>
                <li><a class="is-accent" href="https://www.name.com/support/articles/205188538-Pointing-your-domain-to-hosting-with-A-records"
                   title="Name Website">Name.com</a></li>
                <li><a class="is-accent" href="http://www.ipage.com/knowledgebase/beta/article.bml?ArticleID=1919"
                   title="iPage Website">iPage</a></li>
                <li><a class="is-accent" href="http://www.networksolutions.com/support/a-records-ip-addresses-2/"
                   title="Network Solutions Website">Network Solutions</a></li>
                <li><a class="is-accent" href="https://my.bluehost.com/cgi/help/559"
                   title="Bluehost Website">Bluehost</a></li>
                <li><a class="is-accent" href="https://help.hover.com/hc/en-us/articles/217282477-How-to-Change-your-domain-name-servers-DNS-servers-Updated-Aug-2015-"
                   title="Hover Website">Hover</a></li>
                <li><a class="is-accent" href="http://bfy.tw/8YZW" title="Click here if you are not sure">I don't know</a></li>
              </ul>
            </div>

            <div class="qa-wrapper">
              <h3 class="faq-question" title="Why do I have to verify my domain?">
                Why do I have to verify my domain?</h3>
              <p class="faq-answer">
                By pointing your domain name to our servers, we can verify that you are indeed the owner of the domain
                and that you are agreeing to our terms and services by listing it on DomaHub.
              </p>
            </div>

            <div class="qa-wrapper">
              <h3 class="faq-question" title="What are the differences between Basic and Premium listings?">
                What are the commission fees?</h3>
              <p class="faq-answer">
                DomaHub takes a percentage based commission from each successful rental.
                Each listing falls under one of three levels with varying commission rates
                for each listing. Commission rates are based on the "Rental Rate" of the
                listing - the number of successful rentals divided by the number of total
                available rentals from the date it was created. Please refer to the table below.
              </p>
              <p class="faq-answer">
                For example, if <a class="is-accent">example.com</a> has been available for
                60 days and has been rented out for 31 days, it has achieved Level 3.
                DomaHub will only take 12% commission from those rentals from that point onwards.
                Logically, all listings start at Level 1.
              </p>
              <table class="table has-shadow margin-top-25">
                <thead>
                  <th>Level</th>
                  <th>Rental Rate</th>
                  <th>Commission*</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>0 - 25%</td>
                    <td>15%</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>25 - 50%</td>
                    <td>13.5%</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>50% +</td>
                    <td>12%</td>
                  </tr>
                </tbody>
              </table>
              <small class="is-block">* All transactions have a processing fee regardless of level. The fee is 2.9% + $0.30.</small>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Do the listing levels get reset at any point?">
                Do the listing levels get reset at any point?
                </h3>
              <p class="faq-answer">
                Yes, all listings' levels get reset at the end of the calendar year.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Are there any other ways to lower the commission fee?">
                Are there any other ways to lower the commission fee?</h3>
              <p class="faq-answer">
                Currently, no. However, we are interested in rolling out rewards programs in the
                future.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What happens if I find a buyer for my domain?">
                What happens if I find a buyer for my domain?</h3>
              <p class="faq-answer">
                You may not sell your domain while it is being rented by a DomaHub
                user. However, if your domain is listed but not currently being rented,
                you may cancel the listing and sell it as you please.
              </p>
              <p class="faq-answer">

              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I cancel my listing while it's being rented?">
                Can I cancel my listing while it's being rented?</h3>
              <p class="faq-answer">
                No, you cannot immediately cancel any listing that is currently rented by a DomaHub user.
                However, you may cancel your listing for all dates following the current renters'
                schedule; effectively removing all future availability.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I cancel a listing?">
                How can I cancel a listing?</h3>
              <p class="faq-answer">
                Simply go to your <a tabindex="1" class="is-accent" href="/profile/mylistings" title="My Listings Page">My Listings</a>
                 page and select your listing. In the dropdown options menu, select "Inactive"
                to cancel your listing. This will cause the listing to not show up in any user searches.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I get paid?">
                How do I get paid?</h3>
              <p class="faq-answer">
                Once a transaction has occurred, DomaHub will hold the money in escrow until the end of the rental term, upon which you will be paid automatically through your
                Stripe account.
              </p>
            </div>
          </div>
          <div id="payments" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">Payments</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I pay for rentals?">
                How do I pay for rentals?</h3>
              <p class="faq-answer">
                DomaHub strictly conducts online transactions through
                <a tabindex="1" class='is-accent' href='https://stripe.com/us/payments' title="Stripe Website: Payments">Stripe payments</a>. Simply link a credit or debit
                card or a bank account to your Stripe account.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What is Stripe?">
                What is Stripe?</h3>
              <p class="faq-answer">
                Stripe payments is a third-party payments system used by companies
                like Lyft, Twitter, OpenTable, etc. For more information, please
                visit the <a tabindex="1" class='is-accent' href="https://stripe.com/about" title="Stripe Website: About">Stripe website</a>.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What about recurring payments?">
                What about recurring payments?</h3>
              <p class="faq-answer">
                Currently, there is no system in place to set up recurring rentals.
                The rental period must be selected in full prior to purchase.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I get a refund?">
                Can I get a refund?</h3>
              <p class="faq-answer">
                All domain rentals are final and non-refundable. However, if you encounter any technical
                issues where your content is not being displayed, please contact us at
                <a tabindex="1" class='is-accent' href="mailto:support@domahub.com" title="Email us at support@domahub.com">support@domahub.com</a>.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Are there any fees?">
                Are there any fees?</h3>
              <p class="faq-answer">
                The renter does not pay any additional fees outside of the domain's listed price.
              </p>
            </div>
          </div>
          <%# <div id="communicating" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">Communicating with users</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I communicate with users outside of DomaHub?">
                Can I communicate with users outside of DomaHub?</h3>
              <p class="faq-answer">
                Sellers and renters may not communicate regarding DomaHub listings
                using means of communication that exist outside of the DomaHub
                web application.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What about negotiating buy-out pricing?">
                What about negotiating buy-out pricing?</h3>
              <p class="faq-answer">
                Answer pending.
              </p>
            </div>
          </div>
          <div id="contracts" class="faq-section">
            <h2 class="title faq-header is-normal has-border-bottom">Rental contracts</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question">Questions uncertain</h3>
              <p class="faq-answer">
                Answer pending.
              </p>
            </div>
          </div>%>
          <div class="faq-section padding-bottom-50 margin-top-50">
            <p>
              Still have questions? Feel free to <a tabindex="1" href="/contact" class="is-accent" title="Contact Us">Contact Us</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  <script type="text/javascript" src="/js/routes/main/main_faq_logic.js"></script>
</body>

</html>
