<!DOCTYPE html>
<html>

<head>
  <title>Sell more domains with professional tools - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section">
  <div class="container">
    <div class="control is-grouped is-grouped-center">
      <a tabindex="0" class="alert is-pastel has-arrow" href="/features#pricing">
        <div class="tag is-primary is-uppercase">
          New
        </div>
        <p>
          Get 16% off Premium Membership when you sign up this month!
        </p>
      </a>
    </div>
    <div class="content has-text-centered">
      <h1 class="title is-2 is-white is-bold">
        Don't just own domains. Invest in them.
      </h1>
      <p class="subtitle is-4 is-whitelight">
        Sell more domains with powerful and streamlined professional tools.
      </p>
    </div>
    <div class="content">
      <form id="tryit-form" action="/compare?domain_name=">
        <div class="button-wrapper">
          <a href="/demo" tabindex="0" class="button is-stylish is-accent is-large">
            <div class="icon">
              <i class="far fa-desktop fa-xs"></i>
            </div>
            <span>Try the Demo</span>
          </a>
          <a href="/signup" tabindex="0" class="button is-stylish is-primary is-inverted is-large">
            <div class="icon">
              <i class="far fa-user-circle"></i>
            </div>
            <span>Sign Up Free</span>
          </a>
        </div>
      </form>
    </div>
    <div id="foo" class="content has-text-centered">
      <p class="is-whitelight">
        It only takes minutes to set up!
      </p>
      <figure class="image is-24x24">
        <img src="/images/lib/smile_blush.png" />
      </figure>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="content has-text-centered">
          <p class="subtitle is-4">
            We built DomaHub to simplify the domain name sales process: everything from
            the initial contact to the final transaction. Our powerful tools help you make informed decisions and sell more domains.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="content has-text-centered">
          <!-- <div class="icon is-primary is-circle is-medium">
            <i class="far fa-desktop"></i>
          </div> -->
          <figure class="image is-64x64">
            <img src="/images/lib/inipagi/desktop.svg" />
          </figure>
          <h2 class="">Landing Pages</h2>
          <p>
            Automatically create landing pages for all of your domains. Comes with offer form, traffic stats, custom design, and much more!
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-centered">
          <!-- <div class="icon is-primary is-circle is-medium">
            <i class="far fa-chart-bar"></i>
          </div> -->
          <figure class="image is-64x64">
            <img src="/images/lib/inipagi/graph.svg" />
          </figure>
          <h2>Powerful Analytics</h2>
          <p>
            Analyze your traffic with statistics and data. Understand your target audience and make informed marketing decisions.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content has-text-centered">
          <!-- <div class="icon is-primary is-circle is-medium">
            <i class="far fa-credit-card"></i>
          </div> -->
          <figure class="image is-64x64">
            <img src="/images/lib/inipagi/payments.svg" />
          </figure>
          <h2>Payments Processing</h2>
          <p>
            Powered by <a href="https://stripe.com/us/customers" class="is-primary is-underlined" rel="noreferrer" target="_blank">Stripe</a>, we ensure that all payments are conducted securely and seamlessly for your convenience.
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <a tabindex="0" href="/features" class="button is-primary is-stylish">
        <span>Learn More</span>
        <div id="learn-more-arrow" class="icon is-small">
          <i class="far fa-arrow-right"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div id="attention" class="content">
      <h2 class="is-white">Try it now for free!</h2>
      <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/signup">
        <div class="icon">
          <i class="far fa-thumbs-up fa-sm" data-fa-transform="up-2"></i>
        </div>
        <span>Awesome, Sign Me Up!</span>
      </a>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
