<!DOCTYPE html>
<html>

<head>
  <title>Domain Name Landing Pages - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Beautiful and robust domain name landing pages." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section">
  <div class="container">
    <figure class="image">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Illustrations" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      	 y="0px" viewBox="0 0 193 109" style="enable-background:new 0 0 193 109;" xml:space="preserve">
      <style type="text/css">
      	.st0{fill:#FFFFFF;}
      	.st1{fill:#CCEFFF;}
      	.st2{fill:none;stroke:#3cbc8d;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st3{fill:none;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st4{fill:#FFFFFF;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st5{fill:#CCEFFF;stroke:#3cbc8d;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st6{fill:#FFFFFF;stroke:#3cbc8d;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st7{fill:#CCEFFF;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
      	.st8{fill:none;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
      	.st9{fill:#3cbc8d;}
      	.st10{fill:none;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
      	.st11{fill:#FFFFFF;stroke:#3cbc8d;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
      </style>
      <g id="New_Symbol_16_">
      </g>
      <g id="New_Symbol_17_">
      	<g id="New_Symbol">
      	</g>
      </g>
      <g id="New_Symbol_6_12_">
      </g>
      <g id="New_Symbol_6_14_">
      </g>
      <g id="New_Symbol_6_15_">
      </g>
      <g id="New_Symbol_6_17_">
      </g>
      <g id="New_Symbol_6_16_">
      </g>
      <g id="New_Symbol_18_">
      </g>
      <g id="New_Symbol_9">
      </g>
      <g id="New_Symbol_6_20_">
      </g>
      <g id="New_Symbol_6_19_">
      </g>
      <g id="New_Symbol_6_18_">
      </g>
      <g id="Layer_19">
      </g>
      <g>
      	<polygon class="st0" points="100.5,61 120,61 126,61 141,55 141,36 123,29 105,36 104,42 	"/>
      	<polyline class="st0" points="133,14 136,14 136,17 133,18.5 	"/>
      	<polyline class="st0" points="71,70 64,108 78,70 	"/>
      	<polyline class="st0" points="135,70 139,108 121,76 103,108 108,70 	"/>
      	<polygon class="st0" points="158,70 66,70 58,61 166,61 	"/>
      	<polyline class="st0" points="154,70 161,108 147,70 	"/>
      	<polygon class="st0" points="158,61 151,61 149,48 160,48 	"/>
      	<polygon class="st0" points="133,23 123,27 113,23 113,6.5 123,1 133,6.5 	"/>
      	<polygon class="st0" points="37,108 28,108 23,89 42,89 	"/>
      	<polygon class="st1" points="121,76 139,108 135,70 113,70 109.5,96.4 	"/>
      	<polygon class="st1" points="155.1,76 154,70 147,70 149.2,76 	"/>
      	<polygon class="st1" points="69.9,76 71,70 78,70 75.8,76 	"/>
      	<polygon class="st1" points="32.5,89 42,89 37,108 32.5,108 	"/>
      	<polygon class="st1" points="154,61 158,61 160,48 154,48 	"/>
      	<polygon class="st1" points="113,12 113,10.5 123,5 133,10.5 133,12 	"/>
      	<polygon class="st2" points="133,23 123,27 113,23 113,6.5 123,1 133,6.5 	"/>
      	<line class="st3" x1="118" y1="16.5" x2="118" y2="15"/>
      	<line class="st3" x1="126" y1="16.5" x2="126" y2="15"/>
      	<polygon class="st4" points="72.3,61 65,35 98,35 105.3,61 	"/>
      	<polygon class="st5" points="87.5,47.5 84.5,49.5 81.5,47.5 81.5,44.5 84.5,42.5 87.5,44.5 	"/>
      	<g>
      		<polyline class="st3" points="129.3,31.4 123,44 116.7,31.4 		"/>
      	</g>
      	<line class="st3" x1="133" y1="12" x2="104" y2="12"/>
      	<polyline class="st3" points="124.5,21 122,22 119.5,21 	"/>
      	<polyline class="st3" points="133,14 136,14 136,17 133,18.5 	"/>
      	<line class="st3" x1="104.2" y1="57" x2="71.2" y2="57"/>
      	<polygon class="st4" points="105.3,61 121,61 119,57 104.2,57 	"/>
      	<polyline class="st3" points="135,43 135,50 120,61 126,61 141,55 141,36 123,29 105,36 104,42 	"/>
      	<line class="st3" x1="135" y1="43" x2="135" y2="48"/>
      	<polygon class="st3" points="158,70 66,70 58,61 166,61 	"/>
      	<polyline class="st3" points="71,70 64,108 78,70 	"/>
      	<polyline class="st3" points="154,70 161,108 147,70 	"/>
      	<g>
      		<line class="st3" x1="10" y1="108" x2="184" y2="108"/>
      		<line class="st3" x1="189" y1="108" x2="192" y2="108"/>
      		<line class="st3" x1="1" y1="108" x2="4" y2="108"/>
      	</g>
      	<polyline class="st3" points="135,70 139,108 121,76 103,108 108,70 	"/>
      	<g>
      		<polyline class="st3 coffee" points="151,42 153,40 149,36 151,34 		"/>
      		<polyline class="st3 coffee" points="158,42 160,40 156,36 158,34 		"/>
      	</g>
      	<polygon class="st3" points="158,61 151,61 149,48 160,48 	"/>
      	<polygon class="st3" points="37,108 28,108 23,89 42,89 	"/>
      	<polygon class="st4" points="37,72 41,72 45,64 37,68 	"/>
      	<polygon class="st4" points="28,79 24,79 17,69 28,75 	"/>
      	<polygon class="st4" points="38,53 42,53 49,43 38,49 	"/>
      	<polygon class="st4" points="24,63 13,51 29,58 29,63 	"/>
      	<line class="st3" x1="33" y1="89" x2="33" y2="36"/>
      	<polygon class="st4" points="29,41 19,33 24,44 29,46 	"/>
      	<polyline class="st3" points="25.5,98 29.5,94 32.5,97 35.5,94 39.5,98 	"/>
      </g>
      </svg>

    </figure>
    <div class="content has-text-centered margin-bottom-25">
      <h1 class="title is-2">
        Landing pages for your domains.
      </h1>
      <p class="subtitle is-5">
        Create robust landing pages for your domains in seconds.
        You don't even have to know how to code!
      </p>
    </div>
    <form id="tryit-form" action="/compare?domain_name=">
      <div class="control is-grouped is-grouped-center">
        <p class="control">
          <input id="domain-name-input" name="domain_name" class="input is-medium" type="text" placeholder="MyDomain.com"/>
        </p>
        <p class="control">
          <button id="tryit-button" type="submit" tabindex="0" class="button is-stylish is-primary" for="domain-name-input">Try it now</button>
        </p>
      </div>
    </form>
  </div>
  <div id="learn-more-wrapper" class='has-text-centered'>
    <p id="learn-more-text">Learn more...</p>
    <div class="learn-more-arrow">
      <a tabindex="0" href="#features-section" id="learn-more-button" title="Learn More">
        <span class="icon is-medium is-white">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </div>
  </div>
</section>

<section id="features" class="section is-medium has-border-bottom">
  <div class="container">
    <div class="content">
      <h1 class="title has-text-centered">The DomaHub Advantage</h1>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="content is-mobile has-text-centered">
          <span class="icon is-primary is-circle is-medium">
            <i class="fa fa-credit-card-alt"></i>
          </span>
          <h2>Managed Payments</h2>
          <p>
            We accept payments from major credit cards in multiple currencies. Payments are securely deposited into your account.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content is-mobile has-text-centered">
          <span class="icon is-primary is-circle is-medium">
            <i class="fa fa-tags"></i>
          </span>
          <h2>Selling Options</h2>
          <p>
            We offer a buy-it-now option as well as short and long term leasing. Minimum asking price is enforced on offers.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content is-mobile has-text-centered">
          <span class="icon is-primary is-circle is-medium">
            <i class="fa fa-folder-open-o"></i>
          </span>
          <h2>Portfolio Management</h2>
          <p>
            We provide tools to manage all of your domains on DomaHub. Track and respond to all incoming offers easily.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-border-bottom">
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-10-mobile is-offset-1-mobile">
        <div class="content">
          <h1 class="title">Simple, clean landing pages</h1>
          <h3 style="line-height:1.5;">
            A landing page boosts your domain's online presence and drives potential sales.
          </h3>
        </div>
        <figure class="image has-shadow">
          <img src="/images/main/listing-example.png" alt="Preview of our landing page"/>
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
          <div class="content feature is-mobile">
            <span class="icon is-medium is-primary"><i class="fa fa-list-alt"></i></span>
            <div>
              <h2>Purchase Form</h2>
              <p>
                Validate all offers automatically and ensure you receive only the offers you want.
              </p>
            </div>
          </div>
          <div class="content feature is-mobile">
            <span class="icon is-medium is-primary"><i class="fa fa-picture-o"></i></span>
            <div>
              <h2>Custom Design</h2>
              <p>
                Fully customize the theme of your landing page. Add colors, background image, logo, etc.
              </p>
            </div>
          </div>
          <div class="content feature is-mobile">
            <span class="icon is-medium is-primary"><i class="fa fa-vcard-o"></i></span>
            <div>
              <h2>Portfolio Showcase</h2>
              <p>
                Display other domains you own on your landing page so visitors can quickly view your portfolio.
              </p>
            </div>
          </div>
          <div class="content feature is-mobile">
            <span class="icon is-medium is-primary"><i class="fa fa-bar-chart"></i></span>
            <div>
              <h2>Traffic and Domain Statistics</h2>
              <p>
                Present real-time traffic statistics as well as domain history and information.
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-border-bottom">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title">How it works</h1>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="content is-mobile">
          <span class="step-number">1</span>
          <h2>Upload your domains</h2>
          <p>
            You can upload as many domains as you want at once.
            Landing pages are automatically created for all of them.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content is-mobile">
          <span class="step-number">2</span>
          <h2>Customize design</h2>
          <p>
            Uniquely configure each domain's design to fit your desired message.
            Add or hide any of our modules with just one click.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content is-mobile">
          <span class="step-number">3</span>
          <h2>Manage offers</h2>
          <p>
            Set a minimum offer price on your domain and manage all offers
            from within your DomaHub dashboard.
          </p>
        </div>
      </div>
    </div>
  </section>

<section id="pricing" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title">Pricing</h1>
    </div>
    <div class="columns">
      <div class="column is-4-desktop is-5-tablet is-offset-2-desktop is-offset-1-tablet is-10-mobile is-offset-1-mobile">
        <div class="price-card card has-shadow-effect is-fullwidth">
          <div class="card-title">
            <h2 class="margin-bottom-10">Basic</h2>
            <h1 class="is-bold is-inline">$0.00</h1>
            <p class="is-inline">
              / month / domain
            </p>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  8% commission on sales **
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  Default listing page design
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  Embedded DomaHub footer and logo
                </p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/signup" tabindex="0" class="card-footer-item button is-stylish is-accent">Choose Basic</a>
          </footer>
        </div>
        <p class="has-text-centered">
          <a href="/listing/mycooldomain.com?compare=true&theme=DomaHub" tabindex="0" class="is-accent">See an example</a>
        </p>
      </div>
      <div class="column is-4-desktop is-5-tablet is-10-mobile is-offset-1-mobile">
        <div class="price-card card has-shadow-effect is-fullwidth">
          <div class="card-title">
            <h2 class="margin-bottom-10">Premium</h2>
            <h1 class="is-bold is-inline">$1.00</h1>
            <p class="is-inline">
              / month / domain
            </p>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  No commission on sales *
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  Custom image, branding, and logo
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="fa fa-check"></i>
                </span>
                <p>
                  No mention of DomaHub
                </p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/signup" tabindex="0" class="card-footer-item button is-stylish is-primary">Choose Premium</a>
          </footer>
        </div>
        <p class="has-text-centered">
          <a href="/listing/mycooldomain.com?compare=true&theme=random" tabindex="0" class="is-primary">See an example</a>
        </p>
      </div>
    </div>
    <div class="content has-text-centered">
      <small class="is-block">
        * All domain sales are subject to a 3% processing fee.
      </small>
      <small class="is-block">
        ** This number includes the aforementioned 3% processing fee.
      </small>
    </div>
  </div>
</section>

<section class="section is-medium has-pyramid is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content has-text-centered">
          <h1 class="title is-2 is-white">Have any questions?</h1>
          <h3 class="is-white">
            Feel free to send us a message or explore the FAQ!
          </h3>
          <div class="button-wrapper">
            <a tabindex="0" class="button is-primary is-inverted is-stylish" href="/contact"  >
              <span class="icon">
                <i class="fa fa-envelope-o"></i>
              </span>
              <span>Contact Us</span>
            </a>
            <a tabindex="0" class="button is-accent is-stylish" href="/faq"  >
              <span class="icon">
                <i class="fa fa-question-circle-o"></i>
              </span>
              <span>Explore FAQ</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<%- include("../templates/js_scripts"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
