<!DOCTYPE html>
<html>

<head>
  <title>Contact Us - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_contact.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <div class="content">
            <h1 class="is-primary">Contact Us</h1>
            <p>
              Feel free to use the form below to send us any questions,
              inquiries, suggestions, bug reports, and anything else
              you wish to share (however, be nice please)!
            </p>
          </div>
          <form id="contact-form">
            <label class="label is-medium">Name</label>
            <p class="control">
              <input class="input is-medium" type="text" placeholder="Your Name">
            </p>
            <label class="label is-medium">Email Address</label>
            <p class="control">
              <input class="input is-medium" type="email" placeholder="Your Email">
            </p>
            <label class="label is-medium">Message</label>
            <p class="control">
              <textarea class="textarea is-medium" placeholder="Type your message here"></textarea>
            </p>
            <a class="button is-accent is-medium">Submit</a>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium is-primary">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="content">
            <h3 class="heading is-whitelight">Headquarters</h3>
            <p class="is-white">
              420 Blaze Lane <br />
              New York City, NY 10020
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  
</body>

</html>
