<!DOCTYPE html>
<html>

<head>
  <title>Domain Name Landing Pages - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_features.min.css" />
  <meta name="description" content="Simple, clean domain name landing pages." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="features-hero" class="section is-medium is-primary">
  <div class="container">
      <div class="content has-text-centered">
        <h1 class="title is-2 is-white is-bold">One-Stop Shop For Selling Your Domains</h1>
        <h2 class="subtitle is-4 is-white">Attract buyers, seamlessly handle payments, and make money - all without great effort on your end.</h2>
      </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    
  </div>
</section>


<%- include("../templates/footer"); %>
<%- include("../templates/js_scripts"); %>
</body>
</html>
