<!DOCTYPE html>
<html>

<head>
  <title>Mission - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_mission.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section id="mission-img" class="hero is-primary is-medium clear-nav landing-img">
    <div class="img-wrapper">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-normal">
            Our mission is simple
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-centered">
          <ul>
            <li class="tab"><a href="/about">About Us</a></li>
            <li class="tab is-active"><a href="/mission">Our Mission</a></li>
            <li class="tab"><a href="/press">Press</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-quote is-primary is-3 is-normal">
              Doing old things in new ways
            </h1>
            <h2 class="subtitle is-blacklight is-5">
              The simple principle we at DomaHub live by.
            </h2>
            <!-- <h2 class="has-text-centered">Thinking differently at
              <span class="logo-text large-logo primary-logo">DomaHub</span></h2> -->
            <p>
              DomaHub is committed to providing consumers with an alternative method
              of acquiring domain names that is both inexpensive and efficient while
              also generating a new revenue stream for domain owners.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  
</body>

</html>
