<!DOCTYPE html>
<html>

<head>
  <title>Privacy Policy - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_general.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium clear-nav">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content">
            <h1 class="title">DomaHub Privacy Policy</h1>
            <h2 class="subtitle is-5 is-blacklight">
              Last Updated: September 12, 2017
            </h2>
          </div>
          <div class="content">
            <p>
              The following Privacy Policy establishes and describes how we handle and
              use the information we collect when you visit and use our website, services,
              products, and content (AKA our "Services").
            </p>
          </div>
          <div class="content">
            <h2>What we may collect</h2>
            <p>
              We collect information on the DomaHub pages and content that you access,
              as well as information you provide us (e.g. your email address). We do not collect
              or store your payment information. All transactions and their relevant data is
              managed by Stripe, our third-party payments processor.
            </p>
          </div>
          <div class="content">
            <h2>Communication from DomaHub</h2>
            <p>
              Sometimes we may email you important information regarding your account or your
              listings, terms or service changes, new policies, etc. These emails are incredibly
              important to your usage of our Services and you may not opt out of receiving them
              (though we can't force you to read them - you should).
            </p>
            <p>
              We will never email you asking you for personal or account information. If you
              receive an email like this, it is not from us and you should not disclose any
              such information to such an email.
            </p>
            <p>
              We may also send you promotional emails regarding our company and our Services.
              You may opt of these at any time.
            </p>
            </p>
          </div>
          <div class="content">
            <h2>Disclosure of your information</h2>
            <p>
              We don't share your information outside DomaHub and we hope we never have to.
            </p>
            <p>
              We won't sell your information either.
            </p>
            <p>
              In the case that we must release your information (i.e. a subpoena or other legal
              action), we will
              contact you in advance unless we are otherwise forbidden to do so by law or order.
              We will reject all requests for information from DomaHub that we believe are
              inappropriate or improper.
            </p>
          </div>
          <div class="content">
            <h2>Cookies</h2>
            <p>
              We use cookies to remember you when you return to use our Services. This is relevant
              for when you log in, set preferences, change account settings, and other personalized
              features.
            </p>
          </div>
          <div class="content">
            <h2>Security</h2>
            <p>
              We use encryption (HTTPS) to protect data transferred to and from our site. We recommend
              taking all precautions on your end to ensure the highest safety possible (i.e. set strong
              passwords, don't tell others your account information, etc.).
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include("../templates/footer"); %>

</body>

</html>
