<!DOCTYPE html>
<html>

<head>
  <title>Renters - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="./css/min/main_renters.min.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section id="renters-img" class="section is-large">
    <div class="container">
      <div class="column">
        <h1 class="title is-2 is-white">
          A domain isn't just a name, <br />
          it's your playground.
        </h1>
        <h2 class="subtitle is-4 is-white">
          Explore the possibilities with us
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <h2>Click
            on any of the cards below to see an example.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div tabindex="1" class="box-flip margin-bottom-25">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/mail.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Send online cards and invitations</h3>
              <p>
                Give your next e-card or e-invitation a personalized
                domain name.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-black is-blank" href="/listing/random/ecard">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="column">
          <div tabindex="1" class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/trendingup.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Create unique marketing opportunities</h3>
              <p>
                Rent a new domain name for your next marketing campaign,
                new product release, or big company announcement.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-primary" href="/listing/random/promotion">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="column">
          <div tabindex="1" class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/business.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Start your new business</h3>
              <p>
                A domain rental is the perfect, inexpensive way
                to brand your new business. Buy-out prices are
                pre-negotiated so there's no need to worry down
                the road.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-primary" href="/listing/random/startup">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div tabindex="1" class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/redirect.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Redirect web content</h3>
              <p>
                You can redirect almost anything on the web - an image,
                a GIF, and even another webpage - to your domain name rental.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-primary" href="/listing/random/personal">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="column">
          <div tabindex="1" class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/briefcase.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Stand out professionally</h3>
              <p>
                Spice up your resume, portfolio, slides, and even
                business presentations with a unique domain name.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-primary" href="/listing/random/business">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
        <div class="column">
          <div tabindex="1" class="box-flip">
            <figure class="image is-64x64 margin-bottom-25">
              <img src="/images/lib/material/drivetraffic.svg" />
            </figure>
            <div class="content has-text-centered">
              <h3 class="is-bold">Drive traffic to your site</h3>
              <p>
                Don't be held down by one name. Use multiple domain names
                to convey your brand identity by redirecting them to your main site.
              </p>
            </div>
            <!-- <div class="box-footer">
              <a class="button is-primary" href="/listing/random/industry">
                <span class="icon">
                  <i class="fa fa-external-link"></i>
                </span>
                <span>See Example</span>
              </a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
