<!DOCTYPE html>
<html>

<head>
  <title>Sell more domains with professional tools - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_marketplace.min.css" />
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section class="landing section is-large">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-2 is-bold">Sell faster, sell more, sell better</h1>
      <p class="subtitle is-4">
        Create an online store for your portfolio in seconds.
      </p>
    </div>
    <div class="content has-text-centered">
      <a tabindex="0" class="button is-primary is-stylish is-large" href="/signup">
        <div class="icon">
          <i class="far fa-user-circle"></i>
        </div>
        <span>Create Account</span>
      </a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">

  </div>
</section>

</body>
</html>
