<!DOCTYPE html>
<html>

<head>
  <title>Careers - DomaHub</title>
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li class="is-active"><a href="/careers">Job Openings</a></li>
          <%# <li><a >Working at DomaHub</a></li>%>
          <%# <li><a >Benefits</a></li>%>
        </ul>
      </div>
    </div>
  </section>

  <section class="section min-height">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <div class="notification is-primary">
            There are no open positions at this time.
          </div>
          <div class="content">
            <p>
              However, if you would like to contribute to DomaHub in any way,
              shape or form, please contact us at <a class="is-accent" href="mailto:general@domahub.com">
              general@domahub.com</a>.
            </p>
            <p>
              We are especially interested in any graphics and design related
              contributions.
              <span class="icon">
                <i class="fa fa-smile-o"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
