<!DOCTYPE html>
<html>

<head>
  <title>Sell more domains with professional tools - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Sell more domains with powerful and streamlined professional tools." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-2 is-white is-bold">
        Start investing in your domains.
      </h1>
      <p class="subtitle is-4 is-whitelight">
        Sell more domains with powerful and streamlined professional tools.
      </p>
    </div>
    <div class="content has-text-centered">
      <a href="/signup" tabindex="0" class="button is-stylish is-primary is-inverted is-large">
        <div class="icon">
          <i class="fal fa-user-circle"></i>
        </div>
        <span>Sign Up Free</span>
      </a>
    </div>
    <div class="content has-text-centered">
      <small class="is-whitelight">
        Try it free - no credit card required
      </small>
    </div>
    <figure class="image has-shadow">
      <img src="/images/main/marketplace.png" />
    </figure>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="content" style="margin-bottom:50px;">
      <h1 class="title is-3 has-text-centered is-bold">Your All-In-One Domain Management Solution</h1>
      <p class="subtitle has-text-centered is-5">
        Learn more about what we have to offer.
      </p>
    </div>
    <div class="columns">
      <div class="column is-6">
        <a class="box feature is-primary" href="/landing-pages">
          <div class="icon is-light">
            <i class="fal fa-external-link"></i>
          </div>
          <div class="control is-spaced">
            <div class="control-left">
              <div class="icon is-primary is-circle is-medium">
                <i class="fal fa-list-alt"></i>
              </div>
            </div>
            <div class="control-right">
              <div class="content">
                <h2 class="is-bold">Landing Pages</h2>
                <p class="is-grey">
                  Capture all inbound traffic to your domains with sleek, clean landing pages.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6">
        <a class="box feature is-accent" href="/domain-marketplace">
          <div class="icon is-light">
            <i class="fal fa-external-link"></i>
          </div>
          <div class="control is-spaced">
            <div class="control-left">
              <div class="icon is-warning is-circle is-medium">
                <i class="fal fa-building"></i>
              </div>
            </div>
            <div class="control-right">
              <div class="content">
                <h2 class="is-bold">Domain Marketplace</h2>
                <p class="is-grey">
                  Showcase and market your entire domain portfolio within one website.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <a class="box feature is-blue" href="/domain-management">
          <div class="icon is-light">
            <i class="fal fa-external-link"></i>
          </div>
          <div class="control is-spaced">
            <div class="control-left">
              <div class="icon is-info is-circle is-medium">
                <i class="fal fa-chart-bar"></i>
              </div>
            </div>
            <div class="control-right">
              <div class="content">
                <h2 class="is-bold">Management Tools</h2>
                <p class="is-grey">
                  Manage, track, and analyze your domains and offers all in one simple interface.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-6">
        <a class="box feature is-red">
          <div class="icon is-light">
            <i class="fal fa-external-link"></i>
          </div>
          <div class="control is-spaced">
            <div class="control-left">
              <div class="icon is-danger is-circle is-medium">
                <i class="fal fa-credit-card"></i>
              </div>
            </div>
            <div class="control-right">
              <div class="content">
                <h2 class="is-bold">Payments Processing</h2>
                <p class="is-grey">
                  Get paid securely and seamlessly. DomaHub doesn't take commission.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="pricing" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered" style="margin-bottom:50px;">
      <h1 class="title is-3 has-text-centered is-bold">DomaHub Pricing</h1>
      <p class="subtitle is-5">
        One plan and one price for all of our features.
      </p>
    </div>
    <div class="control is-grouped is-grouped-center">
      <div class="control">
        <p>
          Billed Monthly
        </p>
      </div>
      <div class="control">
        <input id="price-toggle" type="checkbox" name="price-toggle" class="switch is-rounded" checked="checked">
        <label for="price-toggle"></label>
      </div>
      <div class="control">
        <p>
          Billed Annually
        </p>
      </div>
    </div>
    <div class="price-card-wrapper">
      <div class="price-card card is-fullwidth">
        <div class="features-table">
          <div class="list-table">
            <ul>
              <li>
                Domains
              </li>
              <li>
                Commission<sup>1</sup>
              </li>
              <li>
                Landing Pages
              </li>
              <li>
                Traffic Analysis
              </li>
              <li>
                Domain Rentals
              </li>
              <li>
                SSL Certificate
              </li>
              <li>
                Custom Design
              </li>
              <li>
                Custom URL
              </li>
              <li>
                Custom Email
              </li>
              <li>
                No Advertisements
              </li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div class="content">
            <div class="content has-text-centered">
              <div>
                <div class="icon is-circle is-medium is-primary">
                  <i class="fal fa-trophy-alt"></i>
                </div>
              </div>
              <p id="premium-price-month" class="title is-2 is-bold is-active">$10</p>
              <p id="premium-price-annual" class="title is-2 is-inline-block is-bold">$8</p>
              <p id="premium-price-text" class="is-grey">
                Per month ($96 / year).
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-table">
            <li>
              <p class="heading">
                Domains
              </p>
              <p class="is-bold">
                Unlimited
              </p>
            </li>
            <li>
              <p class="heading">
                Commission
              </p>
              <p class="is-bold">
                None
              </p>
            </li>
            <li>
              <p class="heading">
                Landing Pages
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Traffic Analysis
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Domain Rentals
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                SSL Certificate
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Design
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom URL
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                Custom Email
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
            <li>
              <p class="heading">
                No Advertisements
              </p>
              <div class="icon is-primary">
                <i class="fal fa-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content has-text-centered" style="margin-top:20px;">
      <small class="is-block is-grey">
        <sup>1</sup> All domain sales / rentals are subject to a 2.9% + $0.30 (per transaction) payments processing fee.
      </small>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="content">
      <h1 class="title has-text-centered is-bold">Frequently Asked Questions</h1>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <h3>What is a landing page?</h3>
          <p>
            A landing page is a simple website that is displayed when someone visits your domain.
            They help capture inbound traffic.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>How are offers verified?</h3>
          <p>
            Firstly, users cannot submit any offers that are below your domain's minimum asking price.
            Secondly, all users must confirm their offers by email. Offers that are not confirmed
            will not be sent to you.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>What kind of analytics are provided?</h3>
          <p>
            We track stats like how many views your domain gets, where your visitors come from, how they get
            to your domains, and much more!
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="content">
          <h3>What payment options does DomaHub accept?</h3>
          <p>
            We accept payments from all major credit and debit cards in more than 130 currencies.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>How do I get paid?</h3>
          <p>
            You must link a bank account with DomaHub. Once a transaction has been confirmed, we will deposit the money directly into your account
            once it has been processed.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>Can I cancel my Premium subscription?</h3>
          <p>
            You can cancel your Premium subscription at any time. Your account will still remain active and your Premium status will last
            until the end of the current billing cycle (1 month).
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        Have other questions? Visit our <a tabindex="0" class="is-underlined is-primary" href="/faq">FAQ</a>!
      </p>
    </div>
  </div>
</section>

<section class="section is-pastel">
  <div class="container">
    <div class="control is-spaced is-mobile">
      <div class="control-left">
        <div class="content">
          <h1 class="title is-bold ">Ready to get started?</h1>
          <h2 class="subtitle ">Create an account or get in touch!</h2>
        </div>
      </div>
      <div class="control-right">
        <a tabindex="0" class="button is-primary is-stylish is-large" href="/signup">
          <div class="icon">
            <i class="fal fa-thumbs-up"></i>
          </div>
          <span>Sign Me Up!</span>
        </a>
        <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/contact">
          <div class="icon">
            <i class="fal fa-comment"></i>
          </div>
          <span>Contact Us</span>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
