<!DOCTYPE html>
<html>

<head>
  <title>FAQ - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_faq.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/press">Press and Media</a></li>
          <li class="is-active"><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section clear-nav is-small">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter is-hidden-mobile">
          <aside class="menu is-fixed">
        <%# <ul class="menu-list">
              <p class="control has-icon">
      				<input id="search-faq" tabindex="7" class="input" type="text" placeholder="Search FAQ" />
      				<i class="fa fa-search"></i>
      			  </p>
            </ul>%>
            <p class="menu-label">
              Categories
            </p>
            <ul class="menu-list">
              <li><a id="about-menu" class="menu-link is-active" tabindex="8" href="#about">About DomaHub</a></li>
              <li><a id="renting-menu" class="menu-link" href="#renting" tabindex="9">Renting with DomaHub</a></li>
              <li><a id="selling-menu" class="menu-link" href="#selling" tabindex="10">Selling on DomaHub</a></li>
              <li><a id="payments-menu" class="menu-link" href="#payments" tabindex="11">Payments</a></li>
              <li><a id="communicating-menu" class="menu-link" href="#communicating" tabindex="12">Communicating with users</a></li>
              <li><a id="contracts-menu" class="menu-link" href="#contracts" tabindex="13">Rental contracts</a></li>
            </ul>
          </aside>
        </div>
        <div class="column is-two-thirds">
          <h1 class="title is-bold is-3 is-marginless">Frequently Asked Questions</h1>
          <div id="about" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">About DomaHub</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What exactly does DomaHub do?">
                What exactly does DomaHub do?</h3>
              <p class="faq-answer">
                DomaHub is a marketplace that allows domain name
                owners to rent out their domains to prospective renters.
                It's a communication and advertising platform for sellers,
                and a browse and shop marketplace for renters. We connect previously
                unused domains with potential users.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How does DomaHub make money?">
                How does DomaHub make money?</h3>
              <p class="faq-answer">
                DomaHub receives money every time a Basic listing is rented out
                as well as when a Premium listing is posted.
              </p>
            </div>
          </div>
          <div id="renting" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">Renting with DomaHub</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I rent a domain?">
                How can I rent a domain?</h3>
              <p class="faq-answer">
                Go to our <a class="orange-link" href="/listings">listings page</a>
                to browse for available listings.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How long can I keep the domain?">
                Who owns the domain?</h3>
              <p class="faq-answer">
                Technically, the domain never leaves the ownership of the owner. However, through DNS
                and proxying, we can point the domain name to whatever content you wish to display.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How long can I keep the domain?">
                How long can I keep the domain?</h3>
            <p class="faq-answer">
              Domains can be rented in increments of one hour. The pricing varies depending on how long you wish to rent it for.

            </p>
        </br>
              <p class="faq-answer">
                You may only use the domain for the amount of time you paid for.
                Any content being redirected from that domain will immediately stop once your time is up.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I rent a domain?">
                How much is a domain?</h3>
              <p class="faq-answer">
                Every domain has different rates depending on its value. Please check each listing for the specific rates.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What if I need it for longer than I originally planned?">
                What if I need it for longer than I originally planned?</h3>
                <p class="faq-answer">
                    You may add more time slots to your rental after your initial purchase. However, all rentals are final once paid for.
                    Please make sure to select the correct times before paying!
                </p>
                </br>
                <p class="faq-answer">
                    Once your rental expires, if the domain has already been rented for the subsequent time slots,
                    you may not steal those times away from others just because you currently have the domain rented.
                </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can the domain owner sell the domain while I am renting it?">
                Can the domain owner sell the domain while I am renting it?</h3>
              <p class="faq-answer">
                Domain rentals through DomaHub are legally binded by contract
                and may not - under any circumstances - be sold while a user
                has rented it.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Do I have an option to buy-out the domain?">
                Do I have an option to buy-out the domain?</h3>
              <p class="faq-answer">
                Buy-out options are currently not available through DomaHub. However, some listings may have
                links where you can inquire about potentially purchasing the domain.
              </p>
            </div>
          </div>
          <div id="selling" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">Selling on DomaHub</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I start listing domains?">
                How do I start listing domains?</h3>
              <p class="faq-answer">
                Once you have created DomaHub a account you may create a listing by going to the
                <a class="orange-link" href="/listings/create">create listing</a> page.
              </p>
                </br>
              <p class="faq-answer">
                  Your listing will not be active until you have connected your <a class="orange-link" href="/authorizestripe">
                  Stripe</a> account. This ensures that we can pay you securely in all future rental transactions.
              </p>
                </br>
              <p class="faq-answer">
                  DomaHub offers two types of listings: Basic and Premium. Once you have created your listing, you must point your DNS A records
                  to our servers to verify that you own the domain.
              </p>
            </div>
            <div id='verifying' class="qa-wrapper">
              <h3 class="faq-question" title="How do I verify my domain?">
                How do I verify my domain?</h3>
              <p class="faq-answer">
                You must point your DNS A records to our server. For more information on how to do this, please check with your domain registrar.
              </p>
          </br>
              <p>
                  Registrars:
              </p>
              <li><a class="orange-link" href="https://www.godaddy.com/help/change-an-a-record-19239">GoDaddy</a></li>
              <li><a class="orange-link" href="https://www.namecheap.com/support/knowledgebase/article.aspx/319/78/how-can-i-setup-an-a-address-record-for-my-domain">NameCheap</a></li>
              <li><a class="orange-link" href="https://www.name.com/support/articles/205188538-Pointing-your-domain-to-hosting-with-A-records">Name.com</a></li>
              <li><a class="orange-link" href="http://www.ipage.com/knowledgebase/beta/article.bml?ArticleID=1919">iPage</a></li>
              <li><a class="orange-link" href="https://my.bluehost.com/cgi/help/559">bluehost</a></li>
              <li><a class="orange-link" href="https://help.hover.com/hc/en-us/articles/217282477-How-to-Change-your-domain-name-servers-DNS-servers-Updated-Aug-2015-">Hover</a></li>
              <li><a class="orange-link" href="http://bfy.tw/8YZW">I don't know</a></li>
            </div>

            <div class="qa-wrapper">
              <h3 class="faq-question" title="Why do I have to verify my domain?">
                Why do I have to verify my domain?</h3>
              <p class="faq-answer">
                By pointing your domain name to our servers, we can verify that you are indeed the owner of the domain
                and that you are agreeing to our terms and services by listing it on DomaHub.
              </p>
            </div>

            <div id="basicvspremium" class="qa-wrapper">
              <h3 class="faq-question" title="What are the differences between Basic and Premium listings?">
                What are the differences between Basic and Premium listings?</h3>
              <p class="faq-answer">
                A Basic listing is free to list, but has an 15% commission on all rentals.
                Basic listings have flat, fixed pricing which means DomaHub will decide
                its price.
              </p>
                </br>
              <p class="faq-answer">
                  A Premium listing costs &#36;5 a month to list, but DomaHub will not take any commission from rentals.
                  Custom pricing as well as hourly pricing are both available to Premium listings. Once a listing is Premium,
                  you will be charged monthly to maintain its Premium status. You may cancel the subscription at any point, however,
                  the initial month charge cannot be refunded.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Why should I use a Premium listing?">
                Why should I use a Premium listing?</h3>
              <p class="faq-answer">
                We believe that not all domain names are created equal. However, it's up to you to decide which ones hold the most value.
                Should you believe that a domain is worth more than the default rental rates offered as a Basic listing, we recommend creating
                a Premium listing instead.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What are the default price rates for a Basic listing?">
                What are the default price rates for a Basic listing?</h3>
              <p class="faq-answer">
                <li>$1 / hour.</li>
                <li>$10 / day.</li>
                <li>$25 / week.</li>
                <li>$50 / month.</li>
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What happens if I find a buyer for my domain?">
                What happens if I find a buyer for my domain?</h3>
              <p class="faq-answer">
                You may not sell your domain while it is being rented by a DomaHub
                user. However, if your domain is listed but not currently being rented,
                you may cancel the listing and sell it as you please.
              </p>
              <p class="faq-answer">

              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I cancel my listing while it's being rented?">
                Can I cancel my listing while it's being rented?</h3>
              <p class="faq-answer">
                No, you cannot immediately cancel any listing that is currently rented by a DomaHub user.
                However, you may cancel your listing for all dates following the current renters'
                schedule; effectively removing all future availability.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How can I cancel a listing?">
                How can I cancel a listing?</h3>
              <p class="faq-answer">
                Simply go to your <a class="orange-link" href="/profile/mylistings">My Listings</a> page and select your listing. In the dropdown options menu, select "Inactive"
                to cancel your listing. This will cause the listing to not show up in any user searches.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I get paid?">
                How do I get paid?</h3>
              <p class="faq-answer">
                Once a transaction has occurred, DomaHub will hold the money in escrow until the end of the rental term, upon which you will be paid automatically through your
                Stripe account.
              </p>
            </div>
          </div>
          <div id="payments" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">Payments</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="How do I pay for rentals?">
                How do I pay for rentals?</h3>
              <p class="faq-answer">
                DomaHub strictly conducts online transactions through
                <a class='orange-link' href='https://stripe.com/us/payments'>Stripe payments</a>. Simply link a credit or debit
                card or a bank account to your Stripe account.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What is Stripe?">
                What is Stripe?</h3>
              <p class="faq-answer">
                Stripe payments is a third-party payments system used by companies
                like Lyft, Twitter, OpenTable, etc. For more information, please
                visit the <a class='orange-link' href="https://stripe.com/about">Stripe website</a>.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What about recurring payments?">
                What about recurring payments?</h3>
              <p class="faq-answer">
                Currently, there is no system in place to set up recurring rentals.
                The rental period must be selected in full prior to purchase.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I get a refund?">
                Can I get a refund?</h3>
              <p class="faq-answer">
                All domain rentals are final and non-refundable. However, if you encounter any technical
                issues where your content is not being displayed, please contact us at <a class='orange-link' href="mailto:support@domahub.com">support@domahub.com</a>.
              </p>
            </div>
          </div>
          <div id="communicating" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">Communicating with users</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="Can I communicate with users outside of DomaHub?">
                Can I communicate with users outside of DomaHub?</h3>
              <p class="faq-answer">
                Sellers and renters may not communicate regarding DomaHub listings
                using means of communication that exist outside of the DomaHub
                web application.
              </p>
            </div>
            <div class="qa-wrapper">
              <h3 class="faq-question" title="What about negotiating buy-out pricing?">
                What about negotiating buy-out pricing?</h3>
              <p class="faq-answer">
                Answer pending.
              </p>
            </div>
          </div>
          <div id="contracts" class="faq-section">
            <h2 class="title faq-header is-normal has-borderBottom">Rental contracts</h2>
            <div class="qa-wrapper">
              <h3 class="faq-question">Questions uncertain</h3>
              <p class="faq-answer">
                Answer pending.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
  <script type="text/javascript" src="/js/routes/main/main_faq_logic.js"></script>
</body>

</html>
