<!DOCTYPE html>
<html>

<head>
  <title>Press - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/main_about.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a href="/about">About Us</a></li>
          <li class="is-active"><a href="/press">Press and Media</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">
              Press and Media Resources
            </h1>
            <p class="is-blacklight">
              Please use the resources on this page when writing about or mentioning DomaHub.
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter hover-scale">
          <figure class="image left-aligned is-64x64 margin-bottom-25">
            <img src="/images/lib/material/news.svg" alt="Check out our news.">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold">News</h3>
            <p>
              We do not currently have any news to display.
              <!-- Head over to our <a class="orange-link" href="/">
              newsroom</a> for a collection of old and recent articles. -->
            </p>
          </div>
        </div>
        <div class="column is-one-quarter hover-scale">
          <figure class="image left-aligned is-64x64 margin-bottom-25">
            <img src="/images/lib/material/forum.svg" alt="Reach out to us.">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold">Media Contact</h3>
            <p>
              If you have any media related inquiries, reach us at
              <a class="orange-link" href="mailto:press@domahub.com?Subject=Hello&#32;my&#32;name&#32;is&#32;" target="_blank">
              press@domahub.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">DomaHub Descriptions</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="content">
            <h3 class="is-bold is-blacklight">Brief, concise, impactful</h3>
            <p class="">
              DomaHub is an online platform for domain name rentals.
            </p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="content">
            <h3 class="is-bold is-blacklight">A little flair added</h3>
            <p class="">
              DomaHub is an online marketplace for domain name rentals focused on
              providing high quality domains at low, affordable prices.
            </p>
          </div>
        </div>
        <div class="column is-two-quarters">
          <div class="content">
            <h3 class="is-bold is-blacklight">Excessively verbose</h3>
            <p class="">
              DomaHub is an online marketplace for domain name rentals focused on
              providing high quality domains at low, affordable prices. By restructuring
              the conventional marketplace,
              DomaHub creates new revenue streams for owners and creative
              opportunities for renters. Our platform allows quick and simple
              transactions over thousands of domain name rentals daily.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">Brand Materials</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Text Logo</h3>
            <p class="">
              <span class="logo-text primary-logo">DomaHub</span><br />
              Our current text logo is simply the word DomaHub (capital D and H),
              in the <a class="is-underlined" href="https://fonts.google.com/specimen/Share+Tech">Share Tech</a> font.
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Flat Logo</h3>
            <p class="">
              We don't have one yet. If you are interested in designing
              one for us, contact us at <a href="mailto:general@domahub.com" class="orange-link">general@domahub.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Colors</h3>
            <p>
              Primary Color&#58; <span class="is-primary">&#35;3CBC8D</span>.
              Use wherever possible.
            </p>
            <p>
              Secondary Color&#58; <span class="is-accent">&#35;FF5722</span>.
              Use if primary color does not suit background or style.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
