<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/main_index.css" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>
  <section id="index-img" class="section is-large landing-img">
    <div class="container">
      <div class="columns">
        <div class="column is-6-desktop is-offset-3-desktop is-8-tablet is-offset-2-tablet">
          <div class="content">
            <h1 class="title is-1 is-white margin-bottom-25">
                An online <span class='is-primary'>Hub</span> for <span class="bam">renting <span class='is-primary'>Doma</span>in names.</span>
            </h1>
            <h2 class="subtitle is-5 is-white margin-bottom-25">
              DomaHub provides domain name rentals at low, affordable prices and flexible time slots.
            </h2>
          </div>
          <div class="content">
            <form id="beta-form" action="/beta" method="post">
              <div class="control is-grouped">
                <p class="control is-expanded">
                  <input tabindex="1" id="beta-form-email" class="input is-expanded is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
                </p>
                <p class="control">
                  <a tabindex="1" id="beta-form-submit" class="button is-primary is-medium" href="#mailingsubmitted">Sign Up for Beta</a>
                </p>
              </div>
            </form>
            <div id="beta-form-success" class="is-hidden">
              <div class="notification has-text-centered is-white">
                <h3 class="is-primary is-bold">Success! We will send you an email shortly.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-75">
          <div class="content">
            <p class="is-grey is-bold heading">
              DOMAIN OWNERS
            </p>
          </div>
          <div class="content">
            <h1 class="title is-2 has-text-centered has-style-underline">Don't let your domains rot away.</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="is-bold">Create a listing and start generating revenue!</h2>
            <p>
              List your domains on DomaHub and allow other users to rent it out.
              This way your unused domains don't just sit there - they help someone
              out while putting money in your pocket!
            </p>
          </div>
          <div class="content">
            <p class="is-bold">Flexible Listing Types</p>
            <p>
              Create a Premium listing for $5/mo and we won't take any commission
              from your sales. At all. You keep everything you earn.
            </p>
            <p>
              Can't afford it? Create a Basic listing for free and we'll only take
              15% commission on rentals.
            </p>
            <a tabindex="1" href="/sellers#basicvpremium" class="orange-link">
              Learn more about Basic and Premium Listings
              <span class="icon is-small">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="content margin-bottom-15 has-text-centered">
            <h2 class="is-bold">DomaHub Benefits</h2>
            <p>
              Click on each slider below to learn more.
            </p>
          </div>
          <div class="slider-box">
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-gears"></i>
                </span>
                <span>Custom pricing options</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-calendar-check-o"></i>
                </span>
                <span>Flexible rental scheduling</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-window-maximize"></i>
                </span>
                <span>Featured listings showcase</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="slider-content">
                <span class="icon is-primary">
                  <i class="fa fa-credit-card"></i>
                </span>
                <span>Quick, secure payments</span>
              </div>
              <div class="slider-icon">
                <span class="icon is-primary">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column margin-bottom-75">
          <div class="content">
            <p class="is-grey is-bold heading">
              DOMAIN RENTERS
            </p>
          </div>
          <div class="content">
            <h1 class="title is-2 has-text-centered has-style-underline">Domain rentals work for you.</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2 class="is-bold">Why rent a domain?</h2>
            <p>
              Domain rentals are cost-effective and always fit your schedule.
              Rent one today and see what you can create!
            </p>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <div class="columns">
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Flexible Scheduling</span>
              </div>
            </div>
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Cost-effective Pricing</span>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Low Commitment</span>
              </div>
            </div>
            <div class="column is-half">
              <div class="checklist-item">
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Endless Opportunities</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <p class="is-bold">Domain rental examples</p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/resume.svg" alt="Limitless creative opportunities">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">Resume or Portfolio</h3>
            <p>
              Need to display your resume, portfolio, or personal website online?
              Rent a catchy, relevant domain name!
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/desktop.svg" alt="Cheaper than buying">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">Marketing Campaign</h3>
            <p>
              Use a catchy domain name to host your next marketing campaign.
              Renting ensures you only use the domain for as long as you need.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="image is-64x64 margin-bottom-25">
            <img src="/images/lib/material/mail-primary.svg" alt="Completely flexible scheduling">
          </figure>
          <div class="content">
            <h3 class="is-bold has-text-centered">eCards and Invitations</h3>
            <p>
              Don't just send a generic link that doesn't mean anything. Use
              a domain rental to convey that special message!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-small is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="content has-text-centered margin-bottom-75">
              <h1 class="title is-2 has-style-underline">
                Get Early Access.
              </h1>
            </div>
            <div class="content">
              <h3 class="margin-bottom-10 has-text-centered">
                Participate in the closed beta by signing up below.
              </h3>
              <form id="beta-form" action="/beta" method="post">
                <div class="control is-grouped">
                  <p class="control is-expanded">
                    <input tabindex="1" id="beta-form-email" class="input is-expanded is-medium" type="email" name="betaemail" placeholder="Enter your email"/>
                  </p>
                  <p class="control">
                    <a tabindex="1" id="beta-form-submit" class="button is-primary is-medium" href="#mailingsubmitted">Sign Up for Beta</a>
                  </p>
                </div>
              </form>
              <div id="beta-form-success" class="is-hidden">
                <div class="notification has-text-centered is-primary">
                  <h3 class="is-white is-bold">Success! We will send you an email shortly.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/routes/main/main_beta_signup_logic.js" type="text/javascript"></script>
  </body>
</html>
