<!DOCTYPE html>
<html>

<head>
  <title>DomaHub - Domain Name Rentals</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="DomaHub provides domain name rentals at low, affordable prices and flexible time slots. Rent one today!" />
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>
<!-- Background image source - https://unsplash.com/@avirichards -->
  <section id="index-img" class="section is-index-img">
    <div>

    </div>
    <div class="container flex-column-center">
      <div class="content has-text-centered">
        <h1 class="title is-1 is-white">
          Rent domain names.
        </h1>
        <h2 class="subtitle is-4 is-white">
          DomaHub is the marketplace for domain rentals offering
          quality domain names at flexible time slots.
        </h2>
      </div>
      <div class="button-wrapper has-text-centered">
        <a tabindex="1" href="#decision-section" id="learn-more-button" class="button is-primary is-stylish is-large" title="Learn More">Learn More</a>
      </div>
    </div>
    <div>

    </div>
    <!-- <div id="learn_more_wrapper" class="has-text-centered">
      <p id="learn_more_text" class="heading is-white is-hidden-mobile is-hidden-mobile">
        LEARN MORE
      </p>
      <span class="icon is-medium is-white margin-bottom-10 is-hidden-mobile">
          <i class="fa fa-angle-down"></i>
      </span>
    </div> -->
  </section>

  <section id="decision-section" class="section is-medium-top">
    <div class="container">
      <div class="tabs-box">
        <ul>
          <li>
            <a id="have-domains-tab" class="is-active" tabindex="1" href="#owners" title="Domain Owners">I have domains</a>
          </li>
          <li>
            <a id="want-domains-tab" tabindex="1" href="#renters" title="Domain Renters">I want domains</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="have-domains-section" class="section is-medium d-owner">
    <div class="container">
      <div class="content">
        <h1 class="title is-2 has-text-centered margin-bottom-50">Don't let your domains rot away.</h1>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2>Create a new revenue stream.</h2>
            <p>
              Why let your domains sit unused while you're looking for buyers?
              List them with us and you'll simply make money every time
              someone rents your domains.
            </p>
          </div>
          <div class="content">
            <h2>Generate meaningful traffic.</h2>
            <p>
              You don't have to park ads or break your back trying to generate
              traffic. Let someone else utilize your domain name and reach greater,
              larger audiences than ever before.
            </p>
            <a tabindex="1" href="/sellers" class="is-accent" title="Selling on DomaHub">
              <span>Learn more about selling on DomaHub</span>
              <span class="icon is-small v-align-bottom">
                <i class="fa fa-caret-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="column is-6 is-offset-1">
          <div class="content">
            <h2>A commission system that rewards you.</h2>
            <p>
              We offer a commission system with three tiers applied on a
              listing-to-listing basis. Every listing starts off with 18% commission
              which decreases with each successive level. The more popular your
              domain is, the lower its commission!
            </p>
            <table class="table has-shadow">
              <thead>
                <th>Level</th>
                <th>Rental Rate</th>
                <th>Commission</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>0 - 25%</td>
                  <td>18%</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>25 - 50%</td>
                  <td>16.5%</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>50%+</td>
                  <td>15%</td>
                </tr>
              </tbody>
            </table>
            <a tabindex="1" href="/faq#selling" class="is-accent" title="Go to FAQ">
              <span>Have questions? Consult our FAQ!</span>
              <span class="icon is-small v-align-bottom">
                <i class="fa fa-caret-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium is-primary d-owner">
    <div class="container">
      <div class="content">
        <h1 class="title is-2 is-white has-text-centered">Why list with DomaHub?</h1>
      </div>
      <div class="content margin-bottom-25">
        <h3 class="is-white has-text-centered">
          Here are some of DomaHub's best features and benefits.
        </h3>
      </div>
      <div class="columns">
        <div class="column is-6">
          <div class="slider-box">
            <div class="slider-content">
              <span class="slider-icon icon is-primary is-medium">
                <i class="fa fa-id-card-o"></i>
              </span>
              <div class="content slider-text">
                <h3>Always maintain ownership</h3>
                <p>
                  Don't worry about transferring ownership.
                </p>
                <a class="slider-learn is-accent">Click to learn more.</a>
              </div>
              <div class="slider-hidden-content margin-right-25 slider-text">
                <p>
                  You don't have to deal with the hassle of transferring ownership.
                  We will redirect the renter's web content to your domain automatically -
                  quick and simple.
                </p>
              </div>
            </div>
            <div class="slider-arrow">
              <span class="icon is-primary">
                <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
          <div class="slider-box">
            <div class="slider-content">
              <span class="slider-icon icon is-primary is-medium">
                <i class="fa fa-dollar"></i>
              </span>
              <div class="content slider-text">
                <h3>Full control over pricing</h3>
                <p>
                  Configure pricing for each domain name.
                </p>
                <a class="slider-learn is-accent">Click to learn more.</a>
              </div>
              <div class="slider-hidden-content margin-right-25 slider-text">
                <p>
                  You get to decide the pricing for all of your domains. The
                  minimum price is one USD and there is no maximum price limit.
                </p>
              </div>
            </div>
            <div class="slider-arrow">
              <span class="icon is-primary">
                <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="slider-box">
            <div class="slider-content">
              <span class="slider-icon icon is-primary is-medium">
                <i class="fa fa-calendar-check-o"></i>
              </span>
              <div class="content slider-text">
                <h3>Flexible scheduling options</h3>
                <p>
                  Decide when your domains are available.
                </p>
                <a class="slider-learn is-accent">Click to learn more.</a>
              </div>
              <div class="slider-hidden-content margin-right-25 slider-text">
                <p>
                  Listings can be rented out by the day, week, or month.
                  Find the best time rate for your listing and feel free to change
                  it whenever you want!
                </p>
              </div>
            </div>
            <div class="slider-arrow">
              <span class="icon is-primary">
                <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
          <div class="slider-box">
            <div class="slider-content">
              <span class="slider-icon icon is-primary is-medium">
                <i class="fa fa-credit-card"></i>
              </span>
              <div class="content slider-text">
                <h3>Quick and easy payments</h3>
                <p>
                  Get paid immediately and securely.
                </p>
                <a class="slider-learn is-accent">Click to learn more.</a>
              </div>
              <div class="slider-hidden-content margin-right-25 slider-text">
                <p>
                  DomaHub handles all of the payments so you never have to
                  deal directly with money. Get paid directly into your bank
                  account within a few business days.
                </p>
              </div>
            </div>
            <div class="slider-arrow">
              <span class="icon is-primary">
                <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="want-domains-section" class="section is-medium d-renter is-hidden">
    <div class="container">
      <div class="content">
        <h1 class="title is-2 has-text-centered margin-bottom-50">Get the domains that you want.</h1>
      </div>
      <div class="columns">
        <div class="column is-5">
          <div class="content">
            <h2>The perfect domain.</h2>
            <p>
              It sucks when you can't use a domain because it's already registered.
              It sucks even more when the current owner isn't doing anything useful
              with it. With DomaHub, you don't have to settle for a less than perfect
              domain.
            </p>
          </div>
          <div class="content">
            <h2>Our mission.</h2>
            <p>
              Our goal is to make every unused registered domain available for
              general use at a reasonable price point. We want you to be
              able to rent the domains you want, at the times you need them -
              all without breaking the bank.
            </p>
          </div>
        </div>
        <div class="column is-5 is-offset-1">
          <div class="content">
            <h2>Advantages of renting with us.</h2>
            <p>
              Renting with DomaHub is easy. Once you've chosen a domain, select your
              desired time slot(s) and provide a link to your content
              or website. Your domain rental will now redirect to the provided link!
            </p>
            <ul class="margin-top-15">
              <li>
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Gain access to domains that are already registered</span>
              </li>
              <li>
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Rent for the exact times that you need</span>
              </li>
              <li>
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Pay a fraction of the cost of buying</span>
              </li>
              <li>
                <span class="icon is-accent">
                  <i class="fa fa-check"></i>
                </span>
                <span>Start displaying your content immediately</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium d-renter is-hidden">
    <div class="container">
      <div class="content">
        <h1 class="title is-2 has-text-centered margin-bottom-50">How it Works.</h1>
      </div>
      <div class="columns">
        <div class="column is-5 is-offset-1">
          <figure class="image has-shadow is-real-ratio">
            <img src="/images/main/listing-capture.jpg" />
          </figure>
        </div>
        <div class="column is-4">
          <div class="content box">
            <h2>1. Browse Listings</h2>
            <p>
              Browse any of our verified domain listings.
              Each listing has its own dedicated page that displays various
              relevant statistics and information.
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 is-offset-2">
          <div class="content box">
            <h2>2. Select Dates</h2>
            <p>
              Once you've found your domain, confirm your rental dates
              directly on the listing's page. Make sure you select the right
              dates! You won't be able to change them after checking out.
            </p>
          </div>
        </div>
        <div class="column is-5">
          <figure class="image has-shadow is-real-ratio">
            <img src="/images/main/calendar-capture.jpg" />
          </figure>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 is-offset-2">
          <div class="content">
            <h2>3. Redirect Content</h2>
            <p>
              Prior to checkout, you will have an optional to provide a link
              to whatever web content you wish to redirect to your new domain
              rental. You may provide it at that time, or enter it later in your
              <a class="is-accent" href="/profile/myrentals">rentals page</a>.
            </p>
          </div>
        </div>
        <div class="column is-6">

        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section is-medium is-primary d-renter is-hidden">
    <div class="container">
      <div class="content">
        <h1 class="title is-2 is-white has-text-centered">How can I use domain rentals?</h1>
      </div>
      <div class="content margin-bottom-25">
        <h3 class="is-white has-text-centered">
          Here are some examples of how you can utilize a domain rental.
        </h3>
      </div>
      <div class="columns">
        <div class="column is-12">
          <div class="card-flex-wrap">
            <div class="card">
              <div class="card-image has-border-bottom padding-20 has-text-centered">
                <span class="icon is-large is-primary">
                  <i class="fa fa-list-alt"></i>
                </span>
              </div>
              <div class="card-content">
                <div class="content has-text-centered">
                  <h3 class="is-bold">Advertising</h3>
                  <p>
                    High traffic domains are perfect places for advertisements.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-image has-border-bottom has-text-centered">
                <span class="icon is-large is-primary">
                  <i class="fa fa-line-chart"></i>
                </span>
              </div>
              <div class="card-content">
                <div class="content has-text-centered">
                  <h3 class="is-bold">Marketing</h3>
                  <p>
                    Rent a relevant domain name for a short-term marketing campaign.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-image has-border-bottom has-text-centered">
                <span class="icon is-large is-primary">
                  <i class="fa fa-picture-o"></i>
                </span>
              </div>
              <div class="card-content">
                <div class="content has-text-centered">
                  <h3 class="is-bold">Web Content</h3>
                  <p>
                    Redirect images, gifs, articles, blogs, and anything else on the internet.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-image has-border-bottom has-text-centered">
                <span class="icon is-large is-primary">
                  <i class="fa fa-briefcase"></i>
                </span>
              </div>
              <div class="card-content">
                <div class="content has-text-centered">
                  <h3 class="is-bold">Professional</h3>
                  <p>
                    Host a resume, portfolio, or business presentation on a unique domain.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-image has-border-bottom has-text-centered">
                <span class="icon is-large is-primary">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <div class="card-content">
                <div class="content has-text-centered">
                  <h3 class="is-bold">eCards</h3>
                  <p>
                    Domain rentals are the perfect way to send someone a meaningful message.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <h1 class="title is-2">Have any questions?</h1>
            <h3>
              Feel free to send us a message or explore the FAQ!
            </h2>
            <div class="button-wrapper">
              <a id="chat-with-us-button" tabindex="1" class="button is-primary is-stylish">
                <span class="icon">
                  <i class="fa fa-commenting"></i>
                </span>
                <span>Chat with Us</span>
              </a>
              <a tabindex="1" class="button is-accent is-stylish" href="/faq" target="_blank">
                <span class="icon">
                  <i class="fa fa-question-circle"></i>
                </span>
                <span>Explore FAQ</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <%- include("../templates/footer"); %>
    <%- include("../templates/js_scripts"); %>
    <script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
  </body>
</html>
