<!DOCTYPE html>
<html>

<head>
  <title>Domain Name Landing Pages - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_index.min.css" />
  <meta name="description" content="Beautiful and robust domain name landing pages." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="landing" class="section is-large is-primary gradient-left-right">
  <div class="container">
    <div class="content has-text-centered margin-bottom-25">
      <h1 class="title is-2 is-white is-bold">
        A user-friendly storefront for selling your domains
      </h1>
      <p class="subtitle is-4 is-whitelight">
        List, sell, and manage your domains in one place.
      </p>
    </div>
    <form id="tryit-form" action="/compare?domain_name=">
      <div class="control is-grouped is-grouped-center">
        <p class="control">
          <a href="/listing/cooldomains.com?compare=true" tabindex="0" class="button is-stylish is-primary is-outlined is-large" for="domain-name-input">Try the Demo</a>
        </p>
      </div>
    </form>
    <p class="is-white has-text-centered margin-top-10">
      Don't be scared - it's free!
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="features" class="box">
      <div class="content has-text-centered">
        <h1 class="title margin-bottom-30">The Best Way to Sell your Domains</h1>
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-primary is-circle is-medium margin-bottom-25">
              <i class="fa fa-clone"></i>
            </span>
            <h2>Offer Forms</h2>
            <p>
              Verified offers only. No offers below your minimum asking price.
            </p>
          </div>
        </div>
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-info is-circle is-medium margin-bottom-25">
              <i class="fa fa-credit-card-alt"></i>
            </span>
            <h2 class="">Secure Payments</h2>
            <p>
              Secure direct bank deposits. Never worry about getting paid.
            </p>
          </div>
        </div>
        <div class="column is-4">
          <div class="content is-mobile has-text-centered">
            <span class="icon is-danger is-circle is-medium margin-bottom-25">
              <i class="fa fa-magic"></i>
            </span>
            <h2>Custom Design</h2>
            <p>
              Fully customize your store. You don't need to know any code.
            </p>
          </div>
        </div>
      </div>
      <div class="control has-text-centered">
        <a class="button is-black is-inverted is-stylish no-shadow">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="attention" class="content">
      <h2 class="is-white">Try it now for free. No risks involved!</h2>
      <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/signup">Sign Me Up!</a>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<%- include("../templates/js_scripts"); %>
<script src="/js/routes/main/main_index_logic.js" type="text/javascript"></script>
</body>
</html>
