<!DOCTYPE html>
<html>

<head>
  <title>Features - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_features.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/lib/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/lib/slick-theme.min.css"/>
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section id="features-hero" class="section is-medium is-primary">
  <div class="container">
    <figure id="hero-image" class="image">
      <img src="/images/lib/professional-storefront.svg" alt="Desktop Mockup" />
    </figure>
    <div class="content has-text-centered">
      <h1 class="title is-2 is-white is-bold">Professional Storefront For Your Domains</h1>
      <h2 class="subtitle is-4 is-white">Attract buyers, seamlessly handle payments, and make money - directly from your domain.</h2>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="content">
      <h1 class="title has-text-centered is-bold">How It Works</h1>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>1</span></div>
          <h2 class="is-bold">Create a DomaHub account.</h2>
          <p>
            Choose from our free Basic plan or our Premium subscription.
            Premium is loaded with additional features to accelerate your domain game!
            <a class="is-underlined is-primary" href="/signup">Click here</a> to get started!
          </p>
        </div>
      </div>
      <div class="column is-2 line is-hidden-mobile">
        <div class="hiw-num"><span>1</span></div>
      </div>
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 left-aligned is-hidden-mobile">
          <img src="images/lib/new-domahub-user.svg" alt="A New DomaHub User!"/>
        </figure>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 right-aligned is-hidden-mobile">
          <img src="images/lib/upload-domains.svg" />
        </figure>
      </div>
      <div class="column is-2 line right is-hidden-mobile">
        <div class="hiw-num"><span>2</span></div>
      </div>
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>2</span></div>
          <h2 class="is-bold">Start creating landing pages.</h2>
          <p>
            Use our tools to upload domains in bulk or connect your DomaHub account
            to one of your domain registrars and we will automatically fetch those domains
            for you!
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <div class="hiw-num is-hidden-tablet"><span>3</span></div>
          <h2 class="is-bold">Manage and respond to offers.</h2>
          <p>
            DomaHub screens and verifies all offers before you receive them.
            Keep track of your listings, view revenue flow, and accept or reject
            offers directly from your DomaHub profile.
          </p>
        </div>
      </div>
      <div class="column is-2 line is-hidden-mobile">
        <div class="hiw-num"><span>3</span></div>
      </div>
      <div class="column is-5 is-hidden-mobile">
        <figure class="image is-128x128 left-aligned is-hidden-mobile">
          <img src="images/lib/handshake.svg" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section id="features-section" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-bold">Features</h1>
    </div>
    <div class="columns">
      <div id="dotted" class="column is-6">
        <div id="offers" class="blurb">
          <div class="content">
            <h2 class="is-bold">Offer Forms</h2>
            <p>
              Unique offer forms are embedded in every sales page, helping you to automate
              your sales channel without any unwanted spam from bots or other malicious parties.
            </p>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-check-circle fa-fw"></i></div>
            <div class="content">
              <p class="is-bold">Verified Email</p>
              <p>
                 We verify all offers by email. No offers will reach your inbox until
                 we have verified the buyer.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-phone fa-fw"></i></div>
            <div class="content">
              <p class="is-bold">Verified Phone</p>
              <p>
                 We also verify all phone numbers through Google's phone API.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-money-bill fa-fw"></i></div>
            <div class="content">
              <p class="is-bold">Minimum Asking Price</p>
              <p>
                Never receive offers below your minimum asking price.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-handshake fa-fw"></i></div>
            <div class="content">
              <p class="is-bold">Buy It Now</p>
              <p>
                Set a buy-it-now price to sell your domains immediately.
              </p>
            </div>
          </div>
          <div class="feature">
            <div class="icon"><i class="far fa-credit-card fa-fw"></i></div>
            <div class="content">
              <p class="is-bold">Managed Payments</p>
              <p>
                Our payments are powered by <a tabindex="0" href="https://www.stripe.com" class="is-underlined is-primary">Stripe</a>,
                a secure processor trusted by companies like Lyft, Pinterest, and Kickstarter.
              </p>
            </div>
          </div>
        </div>
        <div id="design" class="blurb is-hidden">
          <div class="content">
            <h2 class="is-bold">Custom Branding
              <span class="tag is-primary is-small">Premium</span>
            </h2>
            <p>
              Fully customize the look and feel of your sales page from the texts
              to the images and everything in between. Make your domain brand stand out!
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-image fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Logo and Background Image</p>
              <p>
                Add your own logo or background image to brand your domain.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-font fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Fonts and Colors</p>
              <p>
                Choose from many different fonts and any colors you wish.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-minus-circle fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">No DomaHub Branding</p>
              <p>
                Your store's brand is important, that's why we've removed all mention of DomaHub
                on your sales page.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-th-large fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Modular Building</p>
              <p>
                Turn on or off any section in the detailed tabs.
              </p>
            </div>
          </div>
        </div>
        <div id="emails" class="blurb is-hidden">
          <div class="content">
            <h2 class="is-bold">Automated Emails</h2>
            <p>
              Don't worry about communicating with your buyer. We will send out emails
              back and forth throughout the whole sales process.
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-envelope-open fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Professional Communication</p>
              <p>
                Emails are sent at every step of the transaction. From the initial offer verification
                to the final transfer instructions.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-camera-retro fa-fw"></i></span>
            <div class="content">
              <p class="is-bold is-inline">Custom Branding</p>
              <span class="tag is-primary is-small is-inline">Premium</span>
              <p>
                Branded emails according to your domain's design and logo settings.
                Your professional brand - not our's.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-user-circle fa-fw"></i></span>
            <div class="content">
              <p class="is-bold is-inline">Sent From Your Email</p>
              <span class="tag is-primary is-small is-inline">Premium</span>
              <p>
                All communications are sent from your account's email address.
                The buyer will never see a @domahub address!
              </p>
            </div>
          </div>
        </div>
        <div id="rentals" class="blurb is-hidden">
          <div class="content">
            <h2 class="is-bold">Domain Rentals</h2>
            <p>
              You have the option to rent out your domains by the day, week, or month.
              Potentially increase your revenue stream!
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-calendar-check fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Automatic Scheduling</p>
              <p>
                Don't worry about figuring out scheduling - our system does it for you.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-shield-check fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Google Safe Browsing</p>
              <p>
                We utilize the <a tabindex="0" href="https://developers.google.com/safe-browsing/" class="is-underlined is-primary">Google Safe Browsing API</a>
                to detect and prevent any malicious rentals.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-folder-open fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Paths and Subdirectories</p>
              <p>
                Rent out any valid path or subdirectory of your domain as well. (e.g. cooldomain.com/awesome)
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-unlink fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">No Domain Transfer</p>
              <p>
                You don't have to transfer your domain or change your nameservers.
                We will display the rental's content on your domain.
              </p>
            </div>
          </div>
        </div>
        <div id="other" class="blurb is-hidden">
          <div class="content">
            <h2 class="is-bold">Even More Perks!</h2>
            <p>
              Don't worry, we've got even more features to share.
              Take a look at some of the other cool benefits we offer!
            </p>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-lock fa-fw"></i></span>
            <div class="content">
              <p class="is-bold is-inline">SSL Certificate</p>
              <span class="tag is-primary is-small is-inline">Premium</span>
              <p>
                Domain sales pages have their own SSL Certificate. Visitors will connect
                to your domain via HTTPS, letting them know the website is 100% secure.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-chart-bar fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Traffic Statistics</p>
              <p>
                Real-time traffic statistics as well as top referers
                (i.e. what websites your visitors are coming from) to your domain.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-id-card fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Portfolio Showcase</p>
              <p>
                Customers can browse your entire portfolio by viewing links to other domains you have listed on DomaHub.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-share-alt fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Social Media Sharing</p>
              <p>
                Quickly share and post your domain listing on Facebook, Twitter, LinkedIn, or email.
              </p>
            </div>
          </div>
          <div class="feature">
            <span class="icon"><i class="far fa-search fa-fw"></i></span>
            <div class="content">
              <p class="is-bold">Domain Appraisal Links</p>
              <p>
                Handy links to various domain appraisal sites right on your page to help customers understand the value of your domain.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6 is-hidden-mobile">
        <div class="features-carousel">
          <figure class="image has-shadow">
            <img src="/images/main/feature-form.png" />
          </figure>
          <figure class="image has-shadow">
            <img src="/images/main/feature-design.jpg" />
          </figure>
          <figure class="image has-shadow">
            <img src="/images/main/feature-email.png" />
          </figure>
          <figure class="image has-shadow">
            <img src="/images/main/feature-rentals.png" />
          </figure>
          <figure class="image">
            <img src="/images/main/feature-collage.png" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-primary">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title is-bold is-white">Shift Your Parked Domains Into Gear.</h2>
      <h3 class="is-white">
        Create individual sales pages for your entire portfolio, all at once.
      </h3>
    </div>
    <div class="content has-text-centered">
      <a class="button is-stylish is-primary is-inverted" href="/signup">
        <span class="icon">
          <i class="far fa-user-circle"></i>
        </span>
        <span>Sign Up For Free Now</span>
      </a>
      <small class="is-block is-white">No risk. Cancel at any time.</small>
    </div>
  </div>
</section>

<section id="pricing" class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title is-bold">Pricing</h2>
    </div>
    <div class="columns">
      <div class="column is-4-desktop is-5-tablet is-offset-2-desktop is-offset-1-tablet is-10-mobile is-offset-1-mobile">
        <div class="price-card card has-shadow-effect is-fullwidth">
          <div class="card-title">
            <h2>Basic</h2>
            <h1 class="is-bold is-inline">FREE</h1>
            <p class="is-inline">
              / month
            </p>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Up to 100 domains
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  10% commission on sales <sup>2</sup>
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Offer/purchase form
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-accent">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Rentals by the day/week/month
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-light">
                  <i class="far fa-check"></i>
                </span>
                <p class="is-light">
                  Custom images, logos, and texts
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-light">
                  <i class="far fa-check"></i>
                </span>
                <p class="is-light">
                  Custom SSL certificate and domain
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-light">
                  <i class="far fa-check"></i>
                </span>
                <p class="is-light">
                  Customized email branding
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-light">
                  <i class="far fa-check"></i>
                </span>
                <p class="is-light">
                  No DomaHub branding
                </p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/signup" tabindex="0" class="card-footer-item button is-stylish is-accent">
              <span class="icon">
                <i class="far fa-check-circle"></i>
              </span>
              <span>Choose Basic</span>
            </a>
          </footer>
        </div>
        <p class="has-text-centered">
          <a href="/listing/mycooldomain.com?compare=true&theme=DomaHub" tabindex="0" class="is-underlined is-accent">See an example</a>
        </p>
      </div>
      <div class="column is-4-desktop is-5-tablet is-10-mobile is-offset-1-mobile">
        <div class="price-card card has-shadow-effect is-fullwidth">
          <div class="card-title">
            <h2>Premium</h2>
            <h1 class="is-bold is-inline">$5.00</h1>
            <p class="is-inline">
              / month
            </p>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Unlimited domains
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  No commission on sales <sup>1</sup>
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Offer/purchase form
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Rentals by the day/week/month
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Custom images, logos, and texts
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Custom SSL certificate and domain
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  Customized email branding
                </p>
              </div>
              <div class="flex-align-center">
                <span class="icon is-primary">
                  <i class="far fa-check"></i>
                </span>
                <p>
                  No DomaHub branding
                </p>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <% if (user) { %>
            <a href="/profile/settings#premium" tabindex="0" class="card-footer-item button is-stylish is-primary">
            <% } else { %>
            <a href="/signup" tabindex="0" class="card-footer-item button is-stylish is-primary">
            <% } %>
              <span class="icon">
                <i class="far fa-check-circle"></i>
              </span>
              <span>Choose Premium</span>
            </a>
          </footer>
        </div>
        <p class="has-text-centered">
          <a href="/listing/mycooldomain.com?compare=true&theme=random" tabindex="0" class="is-underlined is-primary">See an example</a>
        </p>
      </div>
    </div>
    <div class="content has-text-centered">
      <small class="is-block">
        <sup>1</sup> All domain sales/rentals are subject to a 2.9% + $0.30 (per transaction) payments processing fee.
      </small>
      <small class="is-block">
        <sup>2</sup> This number does not include the aforementioned processing fee.
      </small>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h2 class="title is-bold">Q & A</h2>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="content">
          <h3>How do I get paid?</h3>
          <p>
            You must link a bank account with DomaHub. Once a transaction has been confirmed, we will deposit the money directly into your account
            after a few business days.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>What payment options does DomaHub accept?</h3>
          <p>
            We accept payments from all major credit and debit cards in more than 130 currencies.
            We are working on accepting other forms of payments like Bitcoin and PayPal.
            <a tabindex="0" class="is-underlined is-primary" href="/contact">Let us know</a> if this is something you are interested in.
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2">
        <div class="content">
          <h3>How are offers verified?</h3>
          <p>
            Firstly, users cannot submit any offers that are below your domain's minimum asking price.
            Secondly, all users must confirm their offers by email. Offers that are not confirmed
            will not be sent to you.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="content">
          <h3>Can I cancel my Premium subscription?</h3>
          <p>
            You can cancel your Premium subscription at any time. Your account will still remain active and your Premium status will last
            until the end of the current billing cycle (1 month).
          </p>
        </div>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        Have other questions? Visit our <a tabindex="0" class="is-underlined is-primary" href="/faq">FAQ</a> or
        <a tabindex="0" class="is-underlined is-primary" href="/contact">contact us</a>.
      </p>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
<script type="text/javascript" src="/js/routes/main/main_features_logic.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
</body>
</html>
