<!DOCTYPE html>
<html>

<head>
  <title>Domain Hub and Marketplace - DomaHub</title>
  <link rel="stylesheet" type="text/css" href="/css/min/main_marketplace.min.css" />
  <meta name="description" content="Simple, clean landing pages for your domains." />
  <%- include("../templates/head_links"); %>
</head>

<body>

<%- include("../templates/navbar", {user: user}); %>

<section class="landing section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-2 is-bold is-white">Sell faster, sell more, sell better</h1>
      <p class="subtitle is-4 is-white">
        Create an online store for your portfolio in seconds.
      </p>
    </div>
    <div class="content has-text-centered">
      <a tabindex="0" class="button is-primary is-inverted is-stylish is-large" href="/signup">
        <div class="icon">
          <i class="fal fa-user-circle"></i>
        </div>
        <span>Create Account</span>
      </a>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="content">
          <small class=" is-bold" style="color:#777;margin-bottom:10px;display:block;">
            One centralized place for all your domains.
          </small>
          <h1 class="is-bold">Introducing the Hub</h1>
          <p>
            A single website
            to showcase and sell multiple domain names, the Hub enables you to instantly
            create an online store for your entire portfolio.
          </p>
          <p>
            Streamline your sales process by redirecting your domains to your Hub.
            From there, your visitors can browse, search, and filter through your domains
            with ease.
          </p>
          <p>
            You'll use one of your own domain names to host the Hub and
            create your store's own unique brand identity with custom logos and design.
          </p>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <figure class="image has-shadow">
          <img src="/images/main/domain-marketplace/marketplace.png" alt="Example of a DomaHub marketplace page" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="hiw section is-medium is-pastel">
  <div class="container">
    <div class="header">
      <div class="content has-text-centered">
        <h1 class="title is-bold">How it Works</h1>
        <p class="subtitle is-5">
          Easy as 1, 2, 3!
        </p>
      </div>
    </div>
    <div class="columns hiw-step">
      <div class="column is-5 is-offset-3 box is-relative">
        <span class="hiw-num">
          1
        </span>
        <div class="flex-align">
          <div>
            <div class="icon is-circle is-medium is-primary">
              <i class="fal fa-upload"></i>
            </div>
          </div>
          <div class="content">
            <h3 class="is-bold">Upload your domains</h3>
            <p>
              You can upload an unlimited amount of domains.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-2 is-hidden-mobile">
        <div class="line is-1"></div>
      </div>
    </div>
    <div class="columns hiw-step">
      <div class="column is-2 is-offset-3 is-hidden-mobile">
        <div class="line is-2"></div>
      </div>
      <div class="column is-5 box is-relative">
        <span class="hiw-num">
          2
        </span>
        <div class="flex-align">
          <div>
            <div class="icon is-circle is-medium is-primary">
              <i class="fal fa-building"></i>
            </div>
          </div>
          <div class="content">
            <h3 class="is-bold">Designate a domain as a Hub</h3>
            <p>
              Choose one of your domains to act as your Hub.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns hiw-step">
      <div class="column is-5 is-offset-3 box is-relative">
        <span class="hiw-num">
          3
        </span>
        <div class="flex-align">
          <div>
            <div class="icon is-circle is-medium is-primary">
              <i class="fal fa-list-ul"></i>
            </div>
          </div>
          <div class="content">
            <h3 class="is-bold">Add domains to your new Hub</h3>
            <p>
              Select other domains to be added to your Hub.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-2 is-hidden-mobile">
        <div class="line is-3">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-bold">Get the Whole Package</h1>
      <p class="subtitle is-5">
        Enjoy all of our great features.
      </p>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-list-alt"></i>
          </div>
          <h3 class="is-bold">Unlimited Domains</h3>
          <p class="is-grey">
            10, 100, 1000, or tens of thousands of domains? Don't worry, we've got you covered.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-images"></i>
          </div>
          <h3 class="is-bold">Logos and Images</h3>
          <p class="is-grey">
            Display any logo or image that you'd like to show alongside a domain.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-link"></i>
          </div>
          <h3 class="is-bold">Custom URL</h3>
          <p class="is-grey">
            Use your own domain to host your Hub. We'll redirect any other domains accordingly.
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-tags"></i>
          </div>
          <h3 class="is-bold">Categories</h3>
          <p class="is-grey">
            Simply sort and group your domains by dozens of different categories.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-search"></i>
          </div>
          <h3 class="is-bold">Search and Filter</h3>
          <p class="is-grey">
            Visitors can easily search and filter through your domains by category, TLD, etc.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content feature">
          <div class="icon is-medium is-primary">
            <i class="fal fa-th"></i>
          </div>
          <h3 class="is-bold">Table or Grid View</h3>
          <p class="is-grey">
            Showcase domains in both a table view and a larger grid view.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-pastel is-medium">
  <div class="container">
    <div class="control is-spaced is-mobile">
      <div class="control-left">
        <div class="content">
          <h2 class="title is-3 is-bold is-primary">Create your own Hub today!</h2>
          <h2 class="subtitle is-5">Create an account or contact us.</h2>
        </div>
      </div>
      <div class="control-right">
        <a tabindex="0" class="button is-primary is-stylish is-large" href="/signup">
          <div class="icon">
            <i class="fal fa-user-circle"></i>
          </div>
          <span>Create Account</span>
        </a>
        <a tabindex="0" class="button is-primary is-outlined is-stylish is-large" href="/contact">
          <div class="icon">
            <i class="fal fa-comment"></i>
          </div>
          <span>Contact Us</span>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("../templates/footer"); %>
</body>
</html>
