<!DOCTYPE html>
<html>

<head>
  <title>Press - DomaHub</title>
  <%- include("../templates/head_links"); %>
</head>

<body>

  <%- include("../templates/navbar", {user: user}); %>

  <section class="clear-nav">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li class="margin-right-20"><a href="/about">About Us</a></li>
          <li class="is-active margin-right-20"><a href="/press">Press and Media</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">
              Press and Media Resources
            </h1>
            <p>
              Please use the resources on this page when writing about or mentioning DomaHub.
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image left-aligned is-64x64 margin-bottom-25">
            <img src="/images/lib/material/news.svg" alt="Check out our news.">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold">News</h3>
            <p>
              Our newsroom is currently under construction.
              <!-- Head over to our <a class="is-accent" href="/">
              newsroom</a> for a collection of old and recent articles. -->
            </p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <figure class="image left-aligned is-64x64 margin-bottom-25">
            <img src="/images/lib/material/forum.svg" alt="Reach out to us.">
          </figure>
          <div class="content">
            <h3 class="is-blacklight is-bold">Media Contact</h3>
            <p>
              If you have any media related inquiries, reach us at
              <a tabindex="1" class="is-accent" href="mailto:press@domahub.com?Subject=Hello&#32;my&#32;name&#32;is&#32;"
              title="Email media related inquiries to press@domahub.com" target="_blank">
              press@domahub.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">DomaHub Descriptions</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="content">
            <h3 class="is-bold is-blacklight">Brief, concise, impactful</h3>
            <p class="">
              DomaHub is an online marketplace for domain name rentals.
            </p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="content">
            <h3 class="is-bold is-blacklight">A little flair added</h3>
            <p class="">
              DomaHub is an online marketplace for domain name rentals focused on
              providing high quality domains at low, affordable prices and flexible
              time slots.
            </p>
          </div>
        </div>
        <div class="column is-two-quarters">
          <div class="content">
            <h3 class="is-bold is-blacklight">Excessively verbose</h3>
            <p class="">
              DomaHub is an online marketplace for domain name rentals focused on
              providing high quality domains at low, affordable prices and flexible
              time slots.
              DomaHub creates new revenue streams for owners and creative
              opportunities for renters. Our platform allows quick and simple
              transactions over thousands of domain name rentals daily.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section padding-bottom-100">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content margin-bottom-25">
            <h1 class="title is-3 is-bold">Brand Materials</h1>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Text Logo</h3>
            <p class="">
              <span class="logo-text is-primary">DomaHub</span><br />
              Our current text logo is simply the word DomaHub (capital D and H),
              in the <a tabindex="1" class="is-underlined" href="https://fonts.google.com/specimen/Ubuntu" title="Link to Google Fonts: Ubuntu" target="_blank">Ubuntu</a> font.
              Use our primary color (#3CBC8D).
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Flat Logo</h3>
            <p class="">
              We don't have one yet. If you are interested in designing
              one for us, contact us at <a tabindex="1" href="mailto:general@domahub.com" class="is-accent" title="Email Us at general@domahub.com">general@domahub.com</a>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h3 class="is-bold is-blacklight">Colors</h3>
            <p>
              Primary Color: <span class="is-primary">#3CBC8D</span>.
              Use wherever possible.
            </p>
            <p>
              Secondary Color: <span class="is-accent">#FF5722</span>.
              Use if primary color does not suit background or style.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>

</body>

</html>
