<div class='checkout-card-content'>
    <div class="content">
        <p>
            Click the button below to see available rental dates.
        </p>
    </div>
    <a id="start-card-button" tabindex="1" class="card-button-next button no-shadow is-primary is-fullwidth is-stylish">Rent Now</a>
</div>

<div id="calendar-card-content" class="is-hidden checkout-card-content">
    <div class="content">
        <p id="calendar-error-message"></p>
    </div>
    <div id="calendar" class=""></div>
    <div class="calendar-control">
        <a tabindex="1" class="button is-danger is-disabled no-shadow is-stylish is-small" id="remove_events">Clear</a>
        <a tabindex="1" class="button no-shadow is-disabled is-stylish is-small" id="today-button">Today</a>
        <a tabindex="1" class="button no-shadow is-disabled is-stylish is-small" id="next-available-button">Next Available</a>
    </div>
    <a tabindex="1" class="card-button-next is-disabled button no-shadow is-fullwidth is-primary is-stylish is-small">Next</a>
</div>

<div id="address-card-content" class="is-hidden checkout-card-content">
    <div class="content">
        <p>
            The content in this link will be displayed to everyone viewing this domain during your rental time slot.
        </p>
        <p>
            You may change this URL at any time with your DomaHub account.
        </p>
        <p id="address-error-message"></p>
    </div>
    <p class="control has-icon is-expanded">
        <input tabindex="1" autofocus required class="input is-expanded" id="address_form_input" type="url" placeholder="Enter a link to your content">
        <i class="fa fa-link"></i>
    </p>
    <p class="calendar-control margin-top-10">
        <a tabindex="1" class="card-button-prev button no-shadow is-stylish is-small">Back</a>
        <a tabindex="1" class="card-button-next button is-primary no-shadow is-stylish is-small">Checkout</a>
    </p>
</div>

<% if (!user){ %>
    <div id="nouser-card-content" class="is-hidden checkout-card-content">
        <p class='is-danger is-bold'>
            NOTE: You are currently checking out as a guest. You cannot edit this rental after purchase without a DomaHub account.
        </p>
        <p>
            You may optionally enter your email below to create a DomaHub account afterwards to edit your rental.
        </p>
        <label id="new-user-email-error" class="label">Email Address</label>
        <p class="control is-expanded has-icon has-addons">
            <input tabindex="1" id="new_user_email" class="input is-expanded" placeholder="This is optional" type="email" />
            <i class="fa fa-envelope"></i>
        </p>
        <p class="calendar-control margin-top-10">
            <a tabindex="1" class="card-button-prev button no-shadow">Back</a>
            <a tabindex="1" class="card-button-next button is-primary no-shadow">Checkout</a>
        </p>
    </div>
<% } %>

<div id="checkout-card-content" class="success-hide is-hidden checkout-card-content">
    <div class="content">
        <p id="stripe-error-message">
            Please enter your payment information.
        </p>
    </div>
    <form id="stripe-form" autocomplete="on">
        <label class="label">Credit or Debit Card Number</label>
        <p class="control has-icon">
            <input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
            <i id="cc-icon" class="fa fa-credit-card"></i>
        </p>
        <div class="control is-grouped">
            <p class="control is-expanded">
                <label class="label">Expiration Date</label>
                <input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
            </p>
            <p class="control">
                <label class="label">Security Code</label>
                <input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input" type="tel" placeholder="•••" autocomplete="off"/>
            </p>
        </div>
        <p class="control">
            <label class="label">Zip Code</label>
            <input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input" type="tel" autocomplete="postal-code" placeholder="•••••"/>
        </p>
    </form>
    <!-- <form class="checkbox-form margin-top-10">
        <input class="is-small" value="agree-to-terms" id="agree-to-terms" type="checkbox" />
        <label class="is-small" tabindex="1" for="agree-to-terms">
            I agree to the <a target="_blank" href="/terms" class="is-accent">DomaHub Terms & Conditions</a>.
        </label>
    </form> -->
    <p class="calendar-control margin-top-10">
        <a tabindex="1" class="card-button-prev button no-shadow is-stylish is-small">Back</a>
        <a id="checkout-button" tabindex="1" class="button is-primary no-shadow is-stylish is-small">Confirm & Pay</a>
    </p>
</div>

<div id="success-column" class="is-hidden checkout-card-content">
    <div class="notification is-primary no-shadoww">
        <h3 class="is-white has-text-centered">Rental Successful!</h3>
    </div>
    <div class="content">
        <p>
            Your content will automatically display on
            <a class="is-primary" href="http://<%= listing_info.domain_name %>"><%= listing_info.domain_name %></a>
            at the below rental time(s).
        </p>
        <div class="columns">
            <div class="column is-6">
                <div class="content">
                    <p id="preview-start-dates" class="is-bold">
                        Rental Start
                    </p>
                </div>
            </div>
            <div class="column is-6">
                <div class="content">
                    <p id="preview-end-dates" class="is-bold">
                        Rental End
                    </p>
                </div>
            </div>
        </div>
        <% if (!user) { %>
            <h3 class="is-bold">Create an Account</h3>
            <p>
                You will need to sign up for a new DomaHub account in order to edit any existing rentals.
            </p>
            <p>
                The below link is unique and can be used to associate this rental with a new DomaHub account.
                The link has also been emailed to you if you provided us with an email during checkout.
            </p>
            <div class="control has-addons">
                <input id="rental-link-input" class='input is-expanded' placeholder="Save me for later!"/>
                <a id="rental-link-button" class="button is-primary no-shadow">
                    <i class="fa fa-clipboard"></i>
                </a>
            </div>
        <% } else { %>
            <h3 class="is-bold">My Account</h3>
            <p>
            Should you need to edit your rental content, please click the
            preview button below.
            </p>
            <p class="control margin-top-20">
                <a id="rental-preview-button" href="/<%= listing_info.domain_name %>/" class="button is-primary is-medium" tabindex="1">
                    <span class="icon is-small">
                        <i class="fa fa-external-link"></i>
                    </span>
                    <span>Preview</span>
                </a>
                <a href="/profile/myrentals" class="button is-accent is-medium" tabindex="1">
                    <span class="icon is-small">
                        <i class="fa fa-th-list"></i>
                    </span>
                    <span>My Rentals</span>
                </a>
            </p>
        <% } %>
    </div>
</div>
