<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <% if (!listing_info.premium) { %>
          <a id="custom_logo" tabindex="0" class="circle-logo footer-item" href="/" title="Go to DomaHub"></a>
        <% } else { %>
          <% if (listing_info.logo) { %>
            <img id="custom_logo" class="footer-item" />
          <% } %>
          <span class="footer-item"><%= listing_info.description_footer %></span>
        <% } %>
      </div>
      <div class="bar-right">
        <% if (!listing_info.premium) { %>
        <p id="dh-footer-right-text" class="footer-item has-text-centered">
          Sell your domains faster and easier with DomaHub Landing Pages.
        </p>
        <a id="dh-footer-right-smile" class="footer-item" href="https://www.emojione.com" rel="noopener" target="_blank" title="Icons from Emojione">
          <img class="v-align-middle" height="16" width="16" alt="Icons from Emojione" src="/images/lib/smile.png" />
        </a>
        <% } else { %>
          <p id="dh_footer-right-text" class="footer-item"><%= listing_info.domain_name %></p>
        <% } %>
      </div>
    </div>
  </div>
</footer>
