<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <% if (!listing_info.premium) { %>
          <a id="custom_logo" tabindex="0" class="circle-logo footer-item" href="/" title="Home"></a>
          <a id="doma_logo" tabindex="0" href="/" title="Go to DomaHub" class="footer-item">
            <i class="fa fa-copyright v-align-bottom"></i> DomaHub, Inc.
          </a>
        <% } else { %>
          <% if (listing_info.logo) { %>
            <img id="custom_logo" class="footer-item" />
          <% } %>
          <span class="footer-item"><%= listing_info.description_footer %></span>
        <% } %>
      </div>
      <div class="bar-right">
        <% if (!listing_info.premium) { %>
        <p id="dh-footer-right-text" class="footer-item">
          Simple, clean sales pages for your domains.
        </p>
        <a id="dh-footer-right-smile" class="footer-item" href="https://www.emojione.com" rel="noopener" target="_blank" title="Icons from Emojione">
          <img class="v-align-middle" height="16" width="16" alt="Icons from Emojione" src="/images/lib/smile.png" />
        </a>
        <% } else { %>
          <a id="dh_footer-right-text" tabindex="0" href="http://<%= listing_info.domain_name %>" title="<%= listing_info.domain_name %>" class="footer-item">
            <%= listing_info.domain_name %>
          </a>
        <% } %>
      </div>
    </div>
  </div>
</footer>
