<!DOCTYPE html>

<html>

<head>
	<title>Create Listing - DomaHub</title>
	<link rel="stylesheet" href="/css/min/listing_create.min.css" type="text/css" />
	<%- include("../templates/head_links"); %>
</head>

<body>

	<%- include("../profile/profile_nav.ejs"); %>

  <section class="section is-fullscreen is-clipped">
    <div id="domain-error" class="is-hidden notification is-danger is-popup">
      <button class="delete"></button>
      <div>
        <p class="is-white" id="domain-error-text"></p>
      </div>
    </div>
    <div id="domain-success-message" class="is-hidden notification is-primary is-popup">
      <button class="delete"></button>
      <div class="content">
        <p class="is-white">
          Successfully created <span id="success-total"></span>! Please go to your <a href="/profile/mylistings" class="is-underlined">My Listings page</a> to view your newly created listings!
        </p>
      </div>
    </div>
    <div class="wrapper">

      <%- include("../profile/profile_left_menu.ejs"); %>

      <div class="right-content">
        <div class="content">
          <div class="content">
            <div class="content">
              <a href="/profile/mylistings" class="show-selector-button button is-black is-transparent no-shadow" tabindex="0" title="Back To Domain Selector">
                <span class="icon is-small">
                  <i class="fa fa-long-arrow-left"></i>
                </span>
                <span>Go Back To Listings</span>
              </a>
            </div>
            <div id="textarea-helptext" class='content-wrapper'>
              <h2 class='is-bold'>Create Listings</h2>
              <p class="box">
                Enter up to 500 of your domain name(s) in the box below separated
                by commas. You must include the TLD extension at the end.
              </p>
            </div>
            <div id="table-helptext" class='content-wrapper is-hidden'>
              <h2 class="is-bold">Review and Edit</h2>
            </div>
            <div id="success-helptext" class='content-wrapper is-hidden'>
              <h1 class="is-bold">It was a success!</h1>
              <p>
                See below for more details on your newly created domain(s).
              </p>
            </div>
          </div>
					<div id="domain-input-form" class="content">
            <p class="control">
              <textarea tabindex="0" autofocus id="domain-names" class="textarea" placeholder="e.g. butterflies.com, tigers.net, oysters.org" spellcheck="false"></textarea>
            </p>
            <p class="control">
              <a tabindex="0" id="domain-names-submit" class="button is-primary is-stylish" title="Submit Domains">
                <span class="icon is-small"><i class="fa fa-check-circle"></i></span>
                <span>Submit</span>
              </a>
            </p>
	        </div>
          <div id="table-buttons-wrapper" class="is-hidden button-wrapper control">
            <a tabindex="0" class="add-domain-button button is-primary is-transparent">
              <span class="icon is-small"><i class="fa fa-plus"></i></span>
              <span>Add Row</span>
            </a>
            <a tabindex="0" class="delete-domains-button button is-danger is-transparent">
              <span class='icon is-small is-danger'>
                <i class='fa fa-trash-o'></i>
              </span>
              <span>Remove All</span>
            </a>
            <a id='clear-errored-button' tabindex="0" class="is-hidden delete-errors-button button is-black is-transparent">
              <span class='icon is-small'>
                <i class='fa fa-ban'></i>
              </span>
              <span>Clear Errored Rows</span>
            </a>
            <a id='domains-submit' class="is-hidden button is-primary">
              <span class="icon is-small"><i class="fa fa-check-circle"></i></span>
              <span>Submit</span>
            </a>
          </div>
        </div>
        <div id="table-columns" class="is-hidden ">
          <div id="table-column" class="">
            <table id="domain-input-table" class="table">
              <thead>
                <tr>
                  <th class='td-domain'>Domain Name</th>
                  <th class="td-min-price is-hidden-mobile">
                    <span>Min. Price</span>
                    <span class="icon is-tooltip is-small" data-balloon="The minimum you're willing to sell this domain for. Set to blank or 0 for no minimum purchase price. You can always change this later." data-balloon-length="large" data-balloon-pos="up">
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody id="domain-input-body" data-rows="0">
                <tr id="clone-row" class="table-row no-hover-effect">
                  <td class="td-domain aligned">
                    <div class='control has-addons is-marginless'>
                      <a class="button no-shadow">
                        <span class='icon delete-icon is-small'>
                          <i class='fa fa-trash-o'></i>
                        </span>
                      </a>
                      <input class="domain-name-input input is-expanded" type="text" value=""/>
                    </div>
                  </td>
                  <td class="td-min-price aligned is-hidden-mobile">
                    <input class="min-price-input input" type="number" tabindex="-1" min="0" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/routes/listings/listing_create_logic.js" type="text/javascript"></script>
</body>

</html>
