<!DOCTYPE html>

<html>

<head>
	<title>Create Listing - DomaHub</title>
	<%- include("../templates/head_links"); %>
	<link rel="stylesheet" href="/css/listing_create.css" type="text/css" />
</head>

<body>

	<%- include("../templates/navbar", {user: user}); %>

  <section class="section is-medium min-height">
    <div class="container">
      <div class="columns">
				<div class="column is-half">
					<div class="content">
						<h1>1. Create Listings</h1>
						<p>
							Enter your domain name(s) in the box below. Separate
							multiple domain names by comma. You must include
							the TLD extension at the end.
						</p>
						<h1>2. Review and Edit</h1>
						<p>
							Review the domains you are listing and add pricing information.
							If you wish to create a Premium listing, click the checkbox at
							the end of the row.
						</p>
						<p>
							<a class="orange-link" href="/sellers/#basicvpremium">What is a Premium listing?</a>
						</p>
					</div>
					<progress class="progress is-small is-primary" min="0" max="100"></progress>
					<div class="notification is-danger">
						You entered an invalid domain name! Check below.
						<button class="delete"></button>
					</div>
					<div class="notification is-primary">
						Successfully entered 2 domain names!
						<button class="delete"></button>
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column is-half">
					<form id="domain-input-form">
						<p class="control">
							<textarea class="textarea" placeholder="e.g. butterflies.com, tigers.net, oysters.org"></textarea>
						</p>
						<p class="control">
							<a class="button is-primary is-medium">Submit</a>
						</p>
					</form>
				</div>
			</div>
			<div class="columns">
				<div class="column is-9">
					<table class="table has-shadow no-borders" id="domain-input-table">
						<thead class="has-shadow">
							<tr>
								<th>Domain Name</th>
								<th>Price Type</th>
								<th>Rate ($)</th>
								<th>Listing Type</th>
							</tr>
						</thead>
						<tbody>
							<tr class="no-hover-effect">
								<td>
									<input class="input" type="text" value="fuck.com"/>
								</td>
								<td class="td-price">
									<div class="select">
										<select>
											<option selected value="Hour">Hour</option>
											<option value="Day">Day</option>
											<option value="Week">Week</option>
											<option value="Month">Month</option>
										</select>
									</div>
								</td>
								<td class="td-rate">
									<input class="input" type="number" value="1" min="1" />
								</td>
								<td class="td-premium">
									<form class="checkbox-form">
										<input class="cat-checkbox" value="premium" id="cb1" type="checkbox" />
										<label class="is-small" tabindex="1" for="cb1">Premium</label>
									</form>
								</td>
							</tr>
							<tr class="no-hover-effect">
								<td>
									<input class="input" type="text" value="cluck.com"/>
								</td>
								<td class="td-price">
									<div class="select">
										<select>
											<option selected value="Hour">Hour</option>
											<option value="Day">Day</option>
											<option value="Week">Week</option>
											<option value="Month">Month</option>
										</select>
									</div>
								</td>
								<td class="td-rate">
									<input class="input" type="number" value="1" min="1" />
								</td>
								<td class="td-premium">
									<form class="checkbox-form">
										<input class="cat-checkbox" value="premium" id="cb2" type="checkbox" />
										<label class="is-small" tabindex="1" for="cb2">Premium</label>
									</form>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
					      <th><a class="button no-shadow">+ Add another domain</a></th>
					      <th></th>
					      <th></th>
					      <th></th>
					    </tr>
						</tfoot>
					</table>
					<p class="control">
						<a class="button is-primary is-medium">Confirm</a>
					</p>
				</div>
				<div class="column is-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-header-title is-bold">Listing Summary</h3>
						</div>
						<div class="card-content">
							<div class="content">
	              <nav class="level is-mobile">
	                <div class="level-left">
	                  <p class="level-item">
	                    2 Premium Domains
	                  </p>
	                </div>
	                <div class="level-right">
	                  <p class="level-item">
											$10
	                  </p>
	                </div>
	              </nav>
								<nav class="level is-mobile has-borderBottom">
	                <div class="level-left">
	                  <p class="level-item">
	                    1 Basic Domains
	                  </p>
	                </div>
	                <div class="level-right">
	                  <p class="level-item">
											$0
	                  </p>
	                </div>
	              </nav>
								<nav class="level is-mobile">
	                <div class="level-left">
	                  <h3 class="level-item is-bold">
	                    Total
	                  </h3>
	                </div>
	                <div class="level-right">
	                  <h3 class="level-item is-bold">
											$10
	                  </h3>
	                </div>
	              </nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="columns">
				<div id="payment-column" class="column is-5">
					<div class="content">
						<h1 class="title is-3">Payment Information</h1>
						<p id="stripe-error-message">
							Please enter your payment information below.
						</p>
					</div>
					<form id="stripe-form" autocomplete="on">
						<label class="label">Credit or Debit Card Number *</label>
						<p class="control has-icon">
							<input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
							<i id="cc-icon" class="fa fa-credit-card"></i>
						</p>
						<div class="control is-grouped">
							<p class="control is-expanded">
								<label class="label">Expiration Date *</label>
								<input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
							</p>
							<p class="control">
								<label class="label">Security Code *</label>
								<input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
							</p>
						</div>
						<p class="control">
							<label class="label">Zip Code *</label>
							<input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
						</p>
						<p class="control is-bold">
							* Required fields
						</p>
					</form>
					<form class="checkbox-form margin-top-10">
						<input class="is-small" value="agree-to-terms" id="agree-to-terms" type="checkbox" />
						<label class="is-small" tabindex="1" for="agree-to-terms">
							I agree to the <a class="orange-link">Terms & Conditions</a>. I also agree to pay the total amount
							shown.
						</label>
					</form>
					<p class="control margin-top-20">
						<a id="checkout-button" class="button is-primary is-medium" tabindex="1">
							<span class="icon">
								<i class="fa fa-check-circle-o"></i>
							</span>
							<span>Confirm & Pay</span>
						</a>
					</p>

					<% if (!user) { %>
					<div class="content margin-top-25">
						<h3 class="is-bold">Create an Account</h3>
						</br>
						<small>
							You are currently checking out as a guest. If you wish to create
							an account, enter your email below and we will send you a link to
							get your account set up. Creating an account allows you to edit
							your rental at any time.
						</small>
					</div>
					<label id="new-user-email-error" class="label">Email Address</label>
					<p class="control has-addons">
						<input tabindex="1" id="new_user_email" class="input is-medium" placeholder="Email" type="email" />
					</p>
					<% } %>
				</div>
			</div>
    </div>
  </section>

  <%- include("../templates/footer"); %>
  <%- include("../templates/js_scripts"); %>
</body>

</html>
