<!DOCTYPE html>

<html>

<head>
	<title>Create Listing - DomaHub</title>
	<%- include("../templates/head_links"); %>
	<link rel="stylesheet" href="/css/listing_create.css" type="text/css" />
</head>

<body>

	<%- include("../templates/navbar", {user: user}); %>

	<section class="section is-medium min-height">
		<div class="container">
			<div class="columns">
				<div class="column is-half">
					<div class="content">
						<div id="textarea-helptext" class='content-wrapper'>
							<h1 class="title is-3">Create Listings</h1>
							<p>
								Enter your domain name(s) in the box below separated
								by commas. You must include the TLD extension at the end.
							</p>
						</div>
						<div id="table-helptext" class='content-wrapper is-hidden'>
							<h1 class="title is-3">Review and Edit</h1>
							<p>
								Review your domains and edit rental pricing.
							</p>
						</div>
						<div id="payment-helptext" class='content-wrapper is-hidden'>
							<h1 class="title is-3">Payment Information</h1>
							<p id="stripe-error-message">
								Please enter your payment information below.
							</p>
						</div>
						<div id="success-helptext" class='content-wrapper is-hidden'>
							<h1 class="title is-3">Success!</h1>
							<p>
								You have successfully created <span id="success-total"></span> domains!
								Please click the button below to view/edit them.
							</p>
							<a href="/profile/mylistings" class="button is-primary">
								<span class="icon">
									<i class="fa fa-list-alt"></i>
								</span>
								<span>My Listings</span>
							</a>
						</div>
					</div>
					<div id="domain-error-message" class="is-hidden notification is-danger">
						Some domain names were invalid! See below.
						<button class="delete"></button>
					</div>
				</div>
			</div>
			<div id="domain-input-form" class="columns">
				<div class="column is-half">
					<p class="control">
						<textarea autofocus id="domain-names" class="textarea" placeholder="e.g. butterflies.com, tigers.net, oysters.org"></textarea>
					</p>
					<p class="control">
						<a id="domain-names-submit" class="button is-primary is-medium">Submit</a>
					</p>
				</div>
			</div>
			<div id="table-columns" class="is-hidden columns">
				<div id="table-column" class="column is-9">
					<table class="table has-shadow no-borders">
						<thead id="top-header-row" class='is-hidden'>
							<tr>
								<th colspan='2'><a class="add-domain-button button no-shadow">+ Add another domain</a></th>
								<th colspan='2' class='has-text-right'><a class="orange-link" href="/sellers/#basicvpremium">What is a Premium listing?</a></th>
							</tr>
						</thead>
						<thead class="has-shadow">
							<tr>
								<th>Domain Name</th>
								<th>Price Type</th>
								<th>Rate ($)</th>
								<th>Listing Type</th>
							</tr>
						</thead>
						<tbody id="domain-input-table" data-rows="0">
							<tr id="clone-row" class="table-row no-hover-effect">
								<td class="v-align-top">
									<div class='control has-addons is-marginless'>
										<a class="button no-shadow">
											<span class='icon delete-icon'>
												<i class='fa fa-trash-o'></i>
											</span>
										</a>
										<input class="domain-name-input input is-expanded" type="text" value=""/>
									</div>
								</td>
								<td class="td-price v-align-top">
									<div class="select">
										<select class='price-type-input'>
											<option value="month">Month</option>
											<option value="week">Week</option>
											<option disabled class='day-type' value="day">Day</option>
											<option disabled class='hour-type' value="hour">Hour</option>
										</select>
									</div>
								</td>
								<td class="td-rate v-align-top">
									<input class="is-disabled price-rate-input input" type="number" tabindex="-1" step="1" value="25" min="1" />
								</td>
								<td class="td-premium v-align-top">
									<form class="checkbox-form">
										<input class="cat-checkbox" value="premium" type="checkbox" />
										<label class="cat-checkbox-label">Premium</label>
									</form>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan='2'><a class="add-domain-button button no-shadow">+ Add another domain</a></th>
								<th colspan='2' class='has-text-right'><a class="orange-link" target='_blank' href="/sellers#basicvpremium">What is a Premium listing?</a></th>
							</tr>
						</tfoot>
					</table>
					<p class="control">
						<a id='domains-submit'class="button is-primary is-medium">Confirm</a>
					</p>
				</div>

				<div id="payment-column" class="is-hidden column is-7">
					<form id="stripe-form" autocomplete="on">
						<label class="label">Credit or Debit Card Number</label>
						<p class="control has-icon">
							<input tabindex="1" id="cc-num" data-stripe="number" class="input stripe-input is-medium" type="tel" placeholder="•••• •••• •••• ••••" autocomplete="cc-number"/>
							<i id="cc-icon" class="fa fa-credit-card"></i>
						</p>
						<div class="control is-grouped">
							<p class="control is-expanded">
								<label class="label">Expiration Date</label>
								<input tabindex="1" id="cc-exp" maxlength="7" data-stripe="exp" class="input stripe-input is-medium" type="tel" placeholder="•• / ••" autocomplete="cc-exp"/>
							</p>
							<p class="control">
								<label class="label">Security Code</label>
								<input tabindex="1" id="cc-cvc" data-stripe="cvc" class="input stripe-input is-medium" type="tel" placeholder="•••" autocomplete="off"/>
							</p>
						</div>
						<p class="control">
							<label class="label">Zip Code</label>
							<input tabindex="1" id="cc-zip" maxlength="6" data-stripe="address_zip" class="input stripe-input is-medium" type="tel" autocomplete="postal-code" placeholder="•••••"/>
						</p>
					</form>
					<form class="checkbox-form margin-top-10">
						<input class="cat-checkbox" value="agree-to-terms" id="agree-to-terms" type="checkbox" />
						<label class="label" tabindex="1" for="agree-to-terms">
							I agree to the <a class="orange-link">Terms & Conditions</a>. I also agree to pay the total amount
							shown.
						</label>
					</form>
					<p class="control margin-top-20">
						<a id="checkout-button" class="button is-primary is-medium" tabindex="1">
							<span class="icon">
								<i class="fa fa-check-circle-o"></i>
							</span>
							<span>Confirm & Pay</span>
						</a>
					</p>
				</div>

				<div id="summary-column" class="column is-3">
					<div class="card is-fullwidth">
						<div class="card-header">
							<h3 class="card-header-title is-bold">Listing Summary</h3>
						</div>
						<div class="card-content">
							<div id="review-table-button" class="is-hidden content">
								<a class='button is-primary is-fullwidth'>Edit Listing Details</a>
							</div>
							<div class="content">
								<nav id="premium-summary-row" class="level is-hidden is-mobile">
									<div class="level-left">
										<p class="level-item">
											<span id="premium-count-total"></span> Premium Domain<span id="premium-count-plural"></span>
										</p>
									</div>
									<div class="level-right">
										<p id="premium-price-total" class="level-item">
											$5
										</p>
									</div>
								</nav>
								<nav id="basic-summary-row" class="level is-mobile">
									<div class="level-left">
										<p class="level-item">
											<span id="basic-count-total"></span> Basic Domain<span id="basic-count-plural"></span>
										</p>
									</div>
									<div class="level-right">
										<p id="basic-count-total" class="level-item">
											FREE
										</p>
									</div>
								</nav>
								<nav class="level is-mobile padding-top-25 has-borderTop">
									<div class="level-left">
										<h3 class="level-item is-bold">
											Total
										</h3>
									</div>
									<div class="level-right">
										<h3 id="summary-total-price" class="level-item is-bold">
											FREE
										</h3>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include("../templates/footer"); %>
		<%- include("../templates/js_scripts"); %>
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script src="/js/lib/jquery.payment.min.js" type="text/javascript"></script>
		<script src="/js/lib/wNumb.js" type="text/javascript"></script>
		<script src="/js/routes/listings/listing_create_logic2.js" type="text/javascript"></script>
		<script src="/js/checkout_logic.js" type="text/javascript"></script>

	</body>

</html>
