<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <a id="listing-footer-logo-link">
          <figure class="image">
            <img id="listing-footer-logo" class="logo-item footer-item">
          </figure>
        </a>
      </div>
      <div class="bar-right">
        <a id="listing-footer" style="margin-right:0;" class="is-underlined footer-item">Sell more domains with DomaHub landing pages.</a>
        <a id="legal-info" class="is-hidden is-underlined footer-item">Legal Information</a>
      </div>
    </div>
  </div>
</footer>

<!-- LEGAL INFO MODAL -->
<div id="legal-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content is-small">
      <div class="content">
        <div class="notification no-shadow has-icon is-accent">
          <div class="icon-box legal-icon-box">
            <div class="icon is-white">
              <i class="fal fa-exclamation-triangle"></i>
            </div>
          </div>
          <div class="content">
            <p class="is-white">The following details are provided according to Section 5 of the German Telemedia Act (TMG).</p>
          </div>
        </div>
      </div>
      <div class="content">
        <p id="legal-contact-wrapper"><span class="is-bold">Owner: </span><span id="legal-contact"></span></p>
        <p id="legal-address-wrapper"><span class="is-bold">Address: </span><span id="legal-address"></span></p>
        <p id="legal-represented-wrapper"><span class="is-bold">Represented By: </span><span id="legal-represented"></span></p>
        <p id="legal-email-wrapper"><span class="is-bold">Email: </span><span id="legal-email"></span></p>
        <p id="legal-phone-wrapper"><span class="is-bold">Phone Number: </span><span id="legal-phone"></span></p>
        <small>
          The European Commission provides a platform for online <a href="https://ec.europa.eu/odr" class="no-theme is-primary is-underlined">dispute resolution (OS)</a>.
        </small>
        <small id="legal-details-wrapper" style="display:block;" class="is-hidden">
          <span id="legal-court-wrapper">Court locality: <span id="legal-court"></span></br></span>
          <span id="legal-registration-wrapper">Registration Number: <span id="legal-registration"></span></br></span>
          <span id="legal-vat-wrapper">VAT Number: <span id="legal-vat"></span></span>
        </small>
        <small style="display:block;">
          Please note, however, that the owner of this site is neither obliged nor willing to participate in a dispute settlement procedure in front of a consumer arbitration service.
        </small>
        <small id="legal-privacy-policy-wrapper" style="display:block;">
          For further details, please refer to our <a id="legal-privacy-policy" class="no-theme is-primary is-underlined">privacy policy page.</a>
        </small>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
