<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <a id="listing-footer-logo-link">
          <figure class="image">
            <img id="listing-footer-logo" class="logo-item footer-item">
          </figure>
        </a>
      </div>
      <div class="bar-right">
        <a id="listing-footer" class="is-underlined footer-item">Sell more domains with DomaHub landing pages.</a>
      </div>
    </div>
  </div>
</footer>
