<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <% if (!listing_info.premium) { %>
          <a id="custom_logo" tabindex="0" class="circle-logo footer-item" href="/" title="Go to DomaHub"></a>
        <% } else { %>
          <% if (listing_info.logo) { %>
            <img id="custom_logo" class="footer-item" />
          <% } %>
          <span class="footer-item"><%= listing_info.description_footer %></span>
        <% } %>
      </div>
      <div class="bar-right">
        <% if (listing_info.premium) { %>
          <p id="dh_footer-right-text" class="footer-item"><%= listing_info.description_footer %></p>
        <% } else { %>
          <p id="dh-footer-right-text" class="footer-item has-text-centered">
            Sell your domains faster and easier with DomaHub Landing Pages.
          </p>
        <% } %>
        <% if (listing_info.social_sharing) { %>

          <%# SOCIAL SHARING MODULE %>
          <%- include("modules/info/social_share_module.ejs", {
            listing_info : listing_info
          }); %>

        <% } %>
      </div>
    </div>
  </div>
</footer>
