<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <% if (!listing_info.premium) { %>
          <a id="custom_logo" tabindex="0" class="logo-item circle-logo footer-item" href="/" title="Go to DomaHub"></a>
        <% } else { %>
          <% if (listing_info.logo) { %>
            <figure class="image is-48x48">
              <img class="logo-item footer-item" />
            </figure>
          <% } %>
        <% } %>
      </div>
      <div class="bar-right">
        <% if (listing_info.premium) { %>
          <p id="dh_footer-right-text" class="footer-item"><%= listing_info.description_footer %></p>
        <% } else { %>
          <p id="dh-footer-right-text" class="footer-item has-text-centered">
            Sell your domains faster and easier with DomaHub Landing Pages.
          </p>
        <% } %>
      </div>
    </div>
  </div>
</footer>
