<!-- page for listings that dont exist -->

<!DOCTYPE html>

<html>

	<head>
		<title>DomaHub</title>
		<link rel="stylesheet" href="/css/min/listing_404.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/min/listing.min.css" type="text/css" />
    <%- include("../templates/head_links"); %>
	</head>

	<body>

		<%- include("../templates/navbar", {user: user}); %>

		<div id="top_wrapper" class="page_wrapper">
			<div id="image_wrapper">
				<img id="background_image" class="background_image noselect" width="100%" height="100%" src="https://images.unsplash.com/photo-1467010389552-c18c4d79966f?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1128&q=80&cs=tinysrgb">
			</div>
			<div class="info_wrapper">

				<div id="listing_info_wrapper">
					<div id="domain_result_wrapper">
						<h2 class="green_text">Welcome to DomaHub on DomaHub!</h2>
						<p class='is-white'>Were you expecting an infinite loop?</p>
					</div>
				</div>
			</div>

		</div>

		<%- include("../templates/footer"); %>

		</body>
</html>
