<footer id="dh-footer" class="footer is-hidden">
  <div class="container">
    <div class="footer-bar">
      <div class="bar-left">
        <a>
          <figure class="image">
            <img id="listing-footer-logo" class="logo-item footer-item">
          </figure>
        </a>
      </div>
      <div class="bar-right">
        <p id="listing-footer" class="footer-item">Sell more domains with DomaHub landing pages.</p>
      </div>
    </div>
  </div>
</footer>
