<div id="otherowner-domains" class="is-hidden content listing-info">
    <div class="content margin-bottom-15">
        <h3 class='is-bold' id="otherowner-domains-title"></h3>
    </div>
    <div id="otherowner-domain-table" class="columns">
        <div id="otherowner-domain-clone" class="column is-hidden">
            <a class="otherowner-domain-name is-accent"></a>
            <span class="is-pulled-right otherowner-domain-price"></span>
        </div>
    </div>
</div>
