<section class="section is-large min-height">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="control">
          <figure class="image is-48x48">
            <a href="/" title="Go to DomaHub" tabindex="0">
              <img src="/images/dh-assets/circle-logo/dh-circle-logo-primary-225x225.png" />
            </a>
          </figure>
        </div>
        <div class="content">
          <h1 id="domain-title" class="title is-2 is-inline-block"><%= listing_info.domain_name %></h1>
        </div>
        <div class="notification is-primary has-icon">
          <div class="icon-box">
            <figure class="image is-64x64">
              <img src="/images/lib/inipagi/money-coin.svg" />
            </figure>
          </div>
          <div class="content">
            <h2 class="is-white is-bold">This domain has been sold!</h2>
            <p class="is-white">
              It is currently being transferred to its new owner.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
