<section id="page-contents" class="min-height">
  <div class="listing-page">
    <div class="listing-left">
      <div class="listing-left-content">

        <% if (listing_info.available){ %>
          <span class="tag is-primary is-stylish has-shadow is-medium">
            Available for purchase
        <% } else { %>
          <span class="tag is-danger is-stylish has-shadow is-medium">
            Unavailable
        <% } %>
          </span>

        <div id="domain-display" class="content">
          <h1 id="domain-title" class="title is-primary is-bold is-inline-block"><%= listing_info.domain_name %></h1>
        </div>

        <%# INFO MODULE %>
        <%- include("modules/info_module.ejs", {
          listing_info : listing_info
        }); %>

      </div>
    </div>
    <div class="listing-right">
      <div class="tabs is-medium is-boxed">
        <ul>
          <li class="is-active">
            <a tabindex="0">Traffic</a>
          </li>
        </ul>
      </div>

      <%# TRAFFIC MODULE %>
      <%- include("modules/traffic_module.ejs", {
        listing_info : listing_info
      }); %>

    </div>
  </div>
</section>
