.block
  &:not(:last-child)
    margin-bottom: 20px

.container
  position: relative
  margin: 0 auto
  +tablet
    padding: 0 20px
  +desktop
    max-width: 1200px
  // Modifiers
  &.is-fluid
    margin: 0 20px
    max-width: none

.fa
  font-size: 21px
  text-align: center
  vertical-align: top
