.card-header
  +box-shadow(0px,2px,5px,$black-disabled,0)
  background-color: $border
  display: flex
  min-height: 40px
  align-items: stretch
  justify-content: space-between
  &:hover
    // cursor: pointer
  &:active
    // +box-shadows(0 3px 3px 0 rgba(0,0,0,.14),0 4px 2px -2px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12))
  &.no-shadow
    +box-shadow(0px,0px,0,$black-disabled,0)
    border-bottom: 1px solid $border
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color

// .card + .card
//   &:not(:first-child)
//     +mobile
//       margin-top: 25px
//     +tablet
//       margin-left: 25px

.card-header-title
  align-items: center
  display: flex
  flex-grow: 1
  padding: 10px
  &.has-text-centered
    justify-content: center
  &.jc-flex-end
    justify-content: flex-end

.card-header-subtitle
  align-items: center
  display: flex
  justify-content: center
  padding: 0 10px

.card-header-icon
  +transition(all 0.25s ease)
  align-items: center
  color: $black-disabled
  display: flex
  font-size: 20px
  justify-content: center
  width: 40px
  &:hover,
  &:active,
  &:focus
    color: $black-primary
  &.is-active
    color: $primary

.card-image
  display: block
  position: relative

.card-content
  padding: 20px
  .title + .subtitle
    margin-top: -20px

.card-footer
  align-items: stretch
  border-top: 1px solid $border
  display: flex
  padding: 10px
  &.has-text-centered
    justify-content: center

.card-footer-item
  align-items: center
  box-sizing: border-box
  display: flex
  flex-grow: 1
  justify-content: center
  padding: 10px
  white-space: nowrap
  &:not(:last-child)
    border-right: 1px solid $border
  &:hover,
  &:focus
    background-color: $border
  // modifiers
  &.has-icon
    & > .icon
      margin-right: 5px


.card
  +box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12))
  background-color: $white
  border-radius: $radius
  color: $text
  max-width: 100%
  position: relative
  width: 325px
  &.is-fluid
    width: 100%
    height: 100%
  &:not(:last-child)
    margin-bottom: 25px
  .media:not(:last-child)
    margin-bottom: 10px
  // Responsive
  +mobile
    margin: auto
  // Modifiers
  &.no-shadow
    border: 1px solid $border
    +box-shadow(0,0,0,$black,0)
  &.is-fullwidth
    width: 100%
  &.is-centered
    margin-left: auto
    margin-right: auto
  &.is-rounded
    border-radius: $radius-large
  &.cursor-pointer
    cursor: pointer
  &.has-shadow-effect
    +transition(all 0.25s ease)
    &:hover
      +box-shadows(3px 2px 2px 0 rgba(0,0,0,.14),0 -1px 2px -1px rgba(0,0,0,.2),-3px 5px 5px 0 rgba(0,0,0,.12))
    &:active,
    &:focus,
    &.is-active
      outline: none
      +box-shadows(3px 10px 10px 0 rgba(0,0,0,.14),0 -1px 5px -2px rgba(0,0,0,.2),-3px 10px 10px 0 rgba(0,0,0,.12))
  &.min-height
    min-height: 350px
  &.is-transparent
    background-color: transparent
    box-shadow: none
    border: { bottom: 5px solid}
    color: $white
    h1
      color: $white
      font-weight: bold
      padding-top: 0
