.level-item
  &.company-level-item
    padding: 10px
    &:not(:last-child)
      border-right: 2px solid $border
      +mobile
        border-right: none
        border-bottom: 1px solid $border
  .title,
  .subtitle
    margin-bottom: 0
  // Responsiveness
  +mobile
    &:not(:last-child)
      margin-bottom: 10px

.level-left,
.level-right
  .level-item
    &:not(:last-child)
      margin-right: 10px
    // Modifiers
    &.is-flexible
      flex-grow: 1

.level-left
  // Responsiveness
  +mobile
    & + .level-right
      margin-top: 20px
  +tablet
    align-items: center
    display: flex

.level-right
  // Responsiveness
  +tablet
    align-items: center
    display: flex
    justify-content: flex-end

.level
  @extend .block
  align-items: center
  justify-content: space-between
  &.is-white
    & > .level-left
      background-color: $white
      border-radius: 5px 5px 0 0
      & > .level-item
        padding: 10px 15px 0
  code
    border-radius: $radius
  img
    display: inline-block
    vertical-align: top
  // Modifiers
  &.is-mobile
    display: flex
    justify-content: center
    & > .level-item
      &:not(:last-child)
        margin-bottom: 0
      &:not(.is-narrow)
        flex-grow: 1
  // Responsiveness
  +tablet
    display: flex
    & > .level-item
      &:not(.is-narrow)
        flex-grow: 1
