.menu-nav
  a
    display: block
    padding: 5px 10px

.menu-list
  a
    border-radius: $radius-small
    color: $text
    display: block
    padding: 5px 10px
    &:hover
      background-color: $grey-lighter
    // Modifiers
    &.is-active
      background-color: $primary
      color: $primary-invert
  li
    ul
      border-left: 1px solid $border
      margin: 10px
      padding-left: 10px

.menu-label
  color: $text
  font-weight: 700
  font-size: $size-small
  letter-spacing: 1px
  margin-bottom: 5px
  text-transform: uppercase
  margin-top: 10px

.menu
  &.is-fixed
    position: fixed
