// Components

.nav-toggle
  @extend .hamburger
  // Responsiveness
  +tablet
    display: none

.nav-link
  color: $text
  padding: 5px
  &:hover,
  &:active,
  &:focus,
  &.is-active
    color: $text-light
  +mobile
    &:hover,
    &:focus
      +translate(-8px,0)

.nav-item
  align-items: center
  display: flex
  justify-content: flex-end
  padding: 10px
  position: relative
  white-space: nowrap
  img
    max-height: 30px
  .button + .button
    margin-left: 10px
  .tag
    &:first-child
      margin-right: 5px
    &:last-child
      margin-left: 5px
  // responsiveness
  +mobile
    text-align: right
  // modifiers
  &:last-child
    a
      font-weight: bold
  &.searchbar
    +tablet
      width: 75%
      & > .control
        width: 100%
    +mobile
      width: 100%
      & > .control
        width: 100%

.nav-item a,
a.nav-item
  +mobile
    width: 100%
  &.is-tab
    border-bottom: 1px solid transparent
    border-top: 1px solid transparent
    padding-left: 12px
    padding-right: 12px
    &:hover
      border-bottom: 1px solid $link
      border-top: 1px solid transparent
    &.is-active
      border-bottom: 3px solid $link
      border-top: 3px solid transparent
      color: $link

// Containers
.nav-menu
  // Responsiveness
  +mobile
    +box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12))
    left: 0
    display: none
    right: 0
    top: 100%
    position: absolute
    .nav-item
      border-top: 1px solid $border
      padding: 10px
      width: 100%
    &.is-dark
      background-color: $grey-dark
    &.is-white
      background-color: $white
    &.is-active
      display: flex
      flex-direction: column
      align-items: center
  +tablet-only
    padding-right: 20px

.nav-left
  align-items: stretch
  display: flex
  flex-basis: 1
  flex-grow: 0
  justify-content: flex-start
  overflow: hidden
  overflow-x: auto
  white-space: nowrap
  // +until($desktop)
  //   margin-left: 20px
  +mobile
    margin-left: 0

.nav-center
  align-items: stretch
  display: flex
  flex-basis: 0
  flex-grow: 1
  justify-content: flex-start

.nav-right
  // Responsiveness
  +tablet
    align-items: stretch
    display: flex
    flex-basis: 1
    flex-grow: 0
    justify-content: flex-end

// Main container
.nav
  align-items: stretch
  background-color: transparent
  display: flex
  min-height: $nav-height
  position: fixed
  +transition(all 0.25s)
  width: 100%
  z-index: 999
  &.is-white
    background-color: $white
  &.is-primary
    background-color: $primary
  & > .container
    align-items: stretch
    display: flex
    min-height: $nav-height
    width: 100%
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        +desktop
          padding-left: 0
    & > .nav-right
      & > .nav-item:nth-child(2):not(.is-tab)
        padding-right: 0
        +mobile
          padding-right: 10px
  .container > &
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        padding-left: 0
    & > .nav-right
      & > .nav-item:last-child:not(.is-tab)
        padding-right: 0
  // Modifiers
  &.has-shadow
    +box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12))
  // Responsiveness
  +touch
    & > .container,
    .container > &
      & > .nav-left
        & > .nav-item.is-brand:first-child
          padding-left: 20px

// profile button styling
#profile-button
  width: 110px
  &.is-active
    border-radius: 3px 3px 0px 0px
  +mobile
    display: none

// login button
#login-modal
  width: auto

// modal login box
#login-dropdown
  background-color: $white

// profile dropdown menu
#profile-dropdown
  +box-shadows(0 5px 3px 0 rgba(0,0,0,.14),0 4px 3px -2px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12))
  background-color: $white
  position: absolute
  right: 0
  text-align: left
  top: 46px
  width: 200px

.profile-dropdown-menu
  padding: 5px 15px
  border-radius: 0 0 3px 3px
  li
    box-sizing: border-box
    &:not(:first-child)
      border-top: 1px solid $border
    &:last-child
      a
        font-weight: bold
  a
    width: 100%
    display: inline-block
    padding: 15px 5px
    box-sizing: border-box
    &:hover,
    &:active,
    &:focus
      +translate(8px,0)
