// Components

.nav-toggle
  @extend .hamburger
  // Responsiveness
  +tablet
    display: none

.circle-logo
  background-image: url("/images/dh-assets/circle-logo/dh-circle-logo-sprite.png")
  background-repeat: no-repeat
  width: 30px !important
  height: 30px !important
  &.is-primary
    background-position: 0 0
  &.is-white
    background-position: 0 -30px

.flat-logo
  background-image: url("/images/dh-assets/flat-logo/dh-flat-logo-sprite.png")
  background-repeat: no-repeat
  width: 131px !important
  height: 32px !important
  &.is-primary
    background-position: 0 0
  &.is-white
    background-position: 0 -32px

.nav-link
  color: $text
  padding: 5px
  &:hover,
  &:active,
  &:focus,
  &.is-active
    opacity: 0.5
  +mobile
    &:hover,
    &:focus
      +translate(6px,0)

.nav-item
  align-items: center
  display: flex
  justify-content: flex-end
  padding: 10px
  position: relative
  white-space: nowrap
  img
    max-height: 30px
  .button + .button
    margin-left: 10px
  // modifiers
  &:last-child
    a
      font-weight: bold
  &.searchbar
    +tablet
      width: 75%
      & > .control
        width: 100%
    +mobile
      width: 100%
      & > .control
        width: 100%

.nav-item a,
a.nav-item
  +mobile
    width: 100%

// Containers
.nav-menu
  // Responsiveness
  +mobile
    +box-shadows(0 3px 5px 0 rgba(0,0,0,.14),0 3px 6px -2px rgba(0,0,0,.2),0 3px 7px 0 rgba(0,0,0,.12))
    background-color: $white
    display: none
    position: absolute
    right: 0
    top: 100%
    .nav-item
      padding: 10px
      width: 100%
    &.is-black
      background-color: $black-primary
    &.is-active
      display: flex
      flex-direction: column
      align-items: center
  +tablet-only
    padding-right: 20px

.nav-left
  align-items: stretch
  display: flex
  flex-basis: 1
  flex-grow: 0
  justify-content: flex-start
  overflow: hidden
  overflow-x: auto
  white-space: nowrap
  // +until($desktop)
  //   margin-left: 20px
  +mobile
    margin-left: 0

.nav-center
  align-items: stretch
  display: flex
  flex-basis: 0
  flex-grow: 1
  justify-content: flex-start

.nav-right
  // Responsiveness
  +tablet
    align-items: stretch
    display: flex
    flex-basis: 1
    flex-grow: 0
    justify-content: flex-end

// Main container
.nav
  +transition(all 0.1s)
  align-items: stretch
  background-color: transparent
  display: flex
  min-height: $nav-height
  position: fixed
  width: 100%
  z-index: 99
  &.is-white
    background-color: $white
  &.is-primary
    background-color: $primary
  & > .container
    align-items: stretch
    display: flex
    min-height: $nav-height
    width: 100%
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        +desktop
          padding-left: 0
    & > .nav-right
      & > .nav-item:nth-child(2):not(.is-tab)
        padding-right: 0
        +mobile
          padding-right: 10px
  .container > &
    & > .nav-left
      & > .nav-item:first-child:not(.is-tab)
        padding-left: 0
    & > .nav-right
      & > .nav-item:last-child:not(.is-tab)
        padding-right: 0
  // Modifiers
  &.has-shadow
    +box-shadows(0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12))
  // Responsiveness
  +touch
    & > .container,
    .container > &
      & > .nav-left
        & > .nav-item.is-brand:first-child
          padding-left: 20px

// profile button styling
#profile-button
  width: 110px
  &.is-active
    border-radius: 3px 3px 0px 0px
  +mobile
    display: none

// login button
#login-modal
  width: auto

// modal login box
#login-dropdown
  background-color: $white

// profile dropdown menu
#profile-dropdown
  +box-shadows(0 5px 3px 0 rgba(0,0,0,.14),0 4px 3px -2px rgba(0,0,0,.2),0 3px 5px 0 rgba(0,0,0,.12))
  background-color: $white
  position: absolute
  right: 0
  text-align: left
  top: 46px
  width: 200px

.profile-dropdown-menu
  border-radius: 0 0 3px 3px
  li
    box-sizing: border-box
    &:not(:first-child)
      border-top: 1px solid $border
    &:first-child
      padding-top: 14px
    &:last-child
      padding-bottom: 14px
      a
        font-weight: bold
  a
    width: 100%
    display: inline-block
    padding: 15px
    box-sizing: border-box
    span + span
      margin-left: 5px
    &:hover,
    &:active,
    &:focus
      background-color: $border
