.panel-icon
  +fa(14px, 16px)
  color: $text
  float: left
  margin: 0 4px 0 -2px
  .fa
    font-size: inherit
    line-height: inherit

.panel-heading
  background-color: $white
  border-bottom: 1px solid $border
  border-radius: 4px 4px 0 0
  color: $text-strong
  font-size: $size-medium
  font-weight: 400
  padding: 10px

.panel-list
  a
    +transition(all 0s)
    color: $text
    font-weight: 300
    &:hover

.panel-tabs
  display: flex
  font-size: $size-small
  padding: 5px 10px 0
  justify-content: center
  a
    border-bottom: 1px solid $border
    margin-bottom: -1px
    padding: 5px
    // Modifiers
    &.is-active
      border-bottom-color: $link-active-border
      color: $link-active
  &:not(:last-child)
    border-bottom: 1px solid $border

.panel-block
  color: $text
  display: block
  line-height: 16px
  padding: 10px
  &:not(:last-child)
    border-bottom: 1px solid $border

a.panel-block
  &:hover
    background-color: $grey-lighter

.panel
  border: 1px solid $border
  border-radius: $radius-large
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
  &:not(:last-child)
    margin-bottom: 20px
