.panel-icon
  +fa(14px, 16px)
  color: $black-secondary
  float: left
  margin: 0 4px 0 -2px
  .fa
    font-size: $size-5
    line-height: inherit

.panel-heading
  background-color: $white
  border-bottom: 1px solid $border
  border-radius: 4px 4px 0 0
  color: $text-strong
  font-size: $size-medium
  font-weight: 400
  padding: 10px

.panel-list
  a
    +transition(all 0s)
    color: $text
    font-weight: 300
    &:hover

.panel-tabs
  display: flex
  font-size: $size-normal
  padding: 5px 10px 0
  justify-content: center
  a
    border-bottom: 1px solid $border
    margin-bottom: -1px
    padding: 5px
    // Modifiers
    &.is-active
      border-bottom-color: $primary-dark
      color: $primary-dark
    &:hover,
    &:active
      border-bottom-color: $primary-lighter
      color: $primary-lighter
  &:not(:last-child)
    border-bottom: 1px solid $border

.panel-search
  border-bottom: 1px solid $border
  display: block
  line-height: 16px
  padding: 10px

.panel-msg
  margin-top: 5px
  padding-left: 18px

.panel-block
  display: block
  line-height: 16px
  padding: 10px
  &.is-active
    background-color: $primary
    color: $white-primary
    & > p
      color: $white-secondary
  &:hover,
  &:active
    &:not(.is-active)
      background-color: $border
  &:not(:last-child)
    border-bottom: 1px solid $border

.panel
  border: 1px solid $border
  border-right: none
  border-radius: $radius-large 0 0 $radius-large
  &:not(:last-child)
    margin-bottom: 20px
