<div class="content">
  <p class="is-bold">
    <span>Appraisal Sites</span>
    <span class="icon is-small is-tooltip" data-balloon="DomaHub is not affiliated with the below appraisal sites. They are simply another tool to help evaluate the value of a domain name." data-balloon-length="large" data-balloon-pos="up">
      <i class="fa fa-question-circle"></i>
    </span>
  </p>
  <li>
    <a class="is-info is-underlined" href="http://urlrate.com/www/<%= listing_info.domain_name %>">URL Rate</a>
  </li>
  <li>
    <a class="is-info is-underlined" href="http://domainindex.com/domains/<%= listing_info.domain_name %>">Domain Index</a>
  </li>
  <li>
    <a class="is-info is-underlined" href="http://urlappraisal.net/search.php?textSearch=<%= listing_info.domain_name %>&searchSubmit=Appraise">URL Appraisal</a>
  </li>
</div>
