<% if (!listing_info.premium || (listing_info.premium && listing_info.domain_appraisal)) { %>
  <div id="domain-appraisal-module" class="content">
    <p class="is-bold">
      <span>Appraisal Sites</span>
      <span class="icon is-small is-tooltip" data-balloon="We are not affiliated with the below appraisal sites. They are simply another tool to help evaluate the value of a domain name and may not be an accurate representation of its true value." data-balloon-length="large" data-balloon-pos="up">
        <i class="fa fa-question-circle"></i>
      </span>
    </p>
    <li>
      <a class="is-info is-underlined" target="_blank" rel="noreferrer noopener" title="Check URL Rate" href="https://www.estibot.com/verify.php?data=<%= listing_info.domain_name %>&type=normal">EstiBot</a>
    </li>
    <li>
      <a class="is-info is-underlined" target="_blank" rel="noreferrer noopener" title="Check Domain Index" href="http://domainindex.com/domains/<%= listing_info.domain_name %>">Domain Index</a>
    </li>
    <li>
      <a class="is-info is-underlined" target="_blank" rel="noreferrer noopener" title="Get URL Appraisal" href="http://www.freevaluator.com/?domain=<%= listing_info.domain_name %>">Free Valuator</a>
    </li>
  </div>
<% } %>
