<% if (!listing_info.premium || (listing_info.premium && listing_info.domain_appraisal)) { %>
  <div id="domain-appraisal-module" class="control is-grouped">
    <div class="control">
      <p class="heading is-small" data-balloon="We are not affiliated with the below appraisal sites. These evaluation tools may not be accurate representations of the domain's true value." data-balloon-length="large" data-balloon-pos="up">
        Appraisal Sites:
      </p>
    </div>
    <div class="control">
      <a class="is-underlined is-info" target="_blank" rel="noreferrer noopener" title="Check GoDaddy Domain Appraisal" href="https://www.godaddy.com/domain-value-appraisal/appraisal/?checkAvail=1&tmskey=&domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
      <a class="is-underlined is-info" target="_blank" rel="noreferrer noopener" title="Check Domain Index" href="http://domainindex.com/domains/<%= listing_info.domain_name %>">Domain Index</a>
      <a class="is-underlined is-info" target="_blank" rel="noreferrer noopener" title="Check Free Valuator" href="http://www.freevaluator.com/?domain=<%= listing_info.domain_name %>">Free Valuator</a>
      <a class="is-underlined is-info" target="_blank" rel="noreferrer noopener" title="Check EstiBot" href="https://www.estibot.com/verify.php?data=<%= listing_info.domain_name %>&type=normal">EstiBot</a>
    </div>
  </div>
<% } %>
