<div class="box">
  <div class="content">
    <h3>This domain is available for purchase!</h3>
    <p>
      Purchase this domain at one of the sites listed below and start investing in domain names today!
    </p>
  </div>
  <div class="content">
    <ul class="has-disc">
      <li>
        <a id="google_link" class="is-info" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
      </li>
      <li>
        <a id="namecheap_link" class="is-info" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>&aff=108189">Namecheap</a>
      </li>
      <li>
        <a id="godaddy_link" class="is-info" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
      </li>
    </ul>
  </div>

</div>
