<div class="content">
    <p>
  	  While this domain is unavailable for rent at DomaHub,
  	  it may be available for purchase at any of the sites listed below.
    </p>
    <p>
  	  Purchase it today for your own use or list it with us to
  	  make some money!
    </p>
    <a id="google_link" tabindex="1" class="card-footer-item" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
	<a id="namecheap_link" tabindex="1" class="card-footer-item" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>&aff=108189">Namecheap</a>
	<a id="godaddy_link" tabindex="1" class="card-footer-item" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
</div>
