<div class="columns">
  <div class="column is-6">
    <div class="content">
      <h2>
        Buy This Domain
      </h2>
        <p>
      	  Although this domain is unavailable on DomaHub, it may be available for purchase at one of the sites listed below.
        </p>
    </div>
    <div class="control">
      <a id="google_link" tabindex="0" class="button is-stylish is-small" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
      <a id="namecheap_link" tabindex="0" class="button is-stylish is-small" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>&aff=108189">Namecheap</a>
      <a id="godaddy_link" tabindex="0" class="button is-stylish is-small" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
    </div>
  </div>
</div>
