<div class="content">
  <p>
    However, you may purchase this domain at a Domain Name Registrar like the ones listed below!
  </p>
</div>
<div class="control is-grouped is-grouped-center">
  <div class="control">
    <a id="google_link" class="button is-outlined is-info is-stylish" tabindex="0" href="https://domains.google.com/registrar?s=<%= listing_info.domain_name %>">Google</a>
  </div>
  <div class="control">
    <a id="namecheap_link" class="button is-outlined is-info is-stylish" tabindex="0" href="https://www.namecheap.com/domains/registration/results.aspx?domain=<%= listing_info.domain_name %>&aff=108189">Namecheap</a>
  </div>
  <div class="control">
    <a id="godaddy_link" class="button is-outlined is-info is-stylish" tabindex="0" href="https://www.godaddy.com/domains/searchresults.aspx?domainToCheck=<%= listing_info.domain_name %>">GoDaddy</a>
  </div>
</div>
<div class="content">
  <small class="tip">DomaHub is not affiliated with these services in any way.</small>
</div>
