<% if (listing_info.categories) { %>
  <div class="control is-grouped">
    <div class="control">
      <div class="content">
        <p class="heading is-small">Categories:</p>
      </div>
    </div>
    <div class="content is-flex-wrap">
      <p>
        <% var categories_array = listing_info.categories.split(" ")
        for (var i = 0; i < categories_array.length; i++) { %>
          <% if (i == categories_array.length - 1) { %>
            <span class="category-tag"><%= categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1); %></span>
          <% } else { %>
            <span class="category-tag"><%= categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1) + ','; %></span>
          <% } %>
        <% } %>
      </p>
    </div>
  </div>
<% } %>
