<% if (listing_info.categories) { %>
  <div class="content">
    <small class="heading">Domain Categories</small>
    <div class="is-flex-wrap is-centered-touch">
      <% var categories_array = listing_info.categories.split(" ")
      for (var i = 0; i < categories_array.length; i++) { %>
        <span class="category-tag tag is-accent is-small"><%= categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1); %></span>
      <% } %>
    </div>
  </div>
<% } %>
