<% if (listing_info.categories) { %>
    <div class="column is-4">
        <div class="content">
            <p class="is-bold">Categories</p>
            <div class="is-flex-wrap padding-top-5">
              <% var categories_array = listing_info.categories.split(" ")
              for (var i = 0; i < categories_array.length; i++) { %>
                <span class="tag is-bordered"><%= categories_array[i].charAt(0).toUpperCase() + categories_array[i].substr(1); %></span>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
