<% if (listing_info.date_registered && (!listing_info.premium || (listing_info.premium && listing_info.domain_age))) { %>
  <div id="domain-age-module" class='content'>
    <p>
    This domain was first registered at <span class="is-bold"><%= listing_info.registrar %></span> on <span id="date_registered"></span>.
    </p>
  </div>
<% } %>
