<% if (!listing_info.premium || (listing_info.premium && listing_info.domain_list)) { %>
  <div class="column">
    <div id="otherowner-domains" class="is-hidden content">
      <p id="otherowner-domains-title"></p>
      <ul id="otherowner-domain-table">
        <div id="otherowner-domain-clone" class="level has-border is-mobile is-hidden">
          <div class="level-left">
            <a class="otherowner-domain-name is-underlined is-info"></a>
          </div>
          <div class="level-right">
            <p class="has-text-right otherowner-domain-price"></p>
          </div>
        </div>
      </ul>
    </div>
  </div>
<% } %>
