<% if (!listing_info.premium || (listing_info.premium && listing_info.domain_owner)) { %>
  <div id="domain-owner-module" class="level-item">
    <small class="heading">
      <% if (listing_info.owner_id){ %>
        Listed by
      <% } else { %>
        Owned by
      <% } %>
    </small>
    <p class="regular-font">
      <% if (listing_info.owner_id){ %>
        <%= listing_info.username %>
      <% } else { %>
        <%= listing_info.username %>
      <% } %>
    </p>
  </div>
<% } %>
