<% if (!listing_info.premium || (listing_info.premium && listing_info.domain_owner)) { %>
  <div id="domain-owner-module" class="control is-grouped">
    <div class="control">
      <p class="is-blacklight">
        <% if (listing_info.owner_id){ %>
          Listed By:
        <% } else { %>
          Owned By:
        <% } %>
      </p>
    </div>
    <div class="control">
      <p class="regular-font">
        <% if (listing_info.owner_id){ %>
          <%= listing_info.username %>
        <% } else { %>
          <%= listing_info.username %>
        <% } %>
      </p>
    </div>
  </div>
<% } %>
