<div class="content">
  <div class="columns">
    <div class="column is-2">
      <p class="is-underlined">
        <% if (listing_info.owner_id){ %>
          Created By
        <% } else { %>
          Owned By
        <% } %>
      </p>
    </div>
    <div class="column">
      <p class="is-bold"><%= listing_info.username %></p>
      <p class="is-hidden" id="date_created"></p>
    </div>
  </div>
</div>
