<div class="content">
  <% if (listing_info.owner_id){ %>
      <h3 class="is-bold margin-bottom-15">Created By</h3>
  <% } else { %>
      <h3 class="is-bold margin-bottom-15">Owned By</h3>
  <% } %>
  <article class="media">
    <div class="media-content">
      <div class="content">
        <h3><%= listing_info.username %></h3>
        <p class="is-flex-wrap is-hidden" id="date_created"></p>
      </div>
    </div>
  </article>
</div>
