<div class="column is-4">
    <div class="content">
        <p class="is-bold">
          <% if (listing_info.owner_id){ %>
            Created By
          <% } else { %>
            Owned By
          <% } %>
        </p>
        <p><%= listing_info.username %></p>
        <p class="is-hidden" id="date_created"></p>
    </div>
</div>
