<div class="content">
  <div class="columns">
    <div class="column is-3">
      <% if (listing_info.owner_id){ %>
          <h3>Created By</h3>
      <% } else { %>
          <h3>Owned By</h3>
      <% } %>
    </div>
    <div class="column">
      <h3 class="is-bold"><%= listing_info.username %></h3>
      <p class="is-hidden" id="date_created"></p>
    </div>
  </div>
</div>
