<div class="content">
    <p class="is-bold">
      <% if (listing_info.owner_id){ %>
        Created By
      <% } else { %>
        Owned By
      <% } %>
    </p>
    <p><%= listing_info.username %></p>
</div>

<% if (listing_info.date_registered) { %>
<div class='content'>
  <p class="is-bold">
    Date Registered
  </p>
  <p id="date_registered">
    No registration date found.
  </p>
</div>
<% } %>

<% if (listing_info.owner_id){ %>
    <div class="content">
        <p class="is-bold">Date Created</p>
        <p id="date_created"></p>
    </div>
<% } %>
