<div id="otherowner-domains" class="is-hidden content">
  <div class="columns">
    <div class="column is-2">
      <p id="otherowner-domains-title" class="is-underlined"></p>
    </div>
    <div class="column">
      <li id="otherowner-domain-clone" class="is-hidden">
        <a class="otherowner-domain-name is-accent"></a>
        <span class="otherowner-domain-price"></span>
      </li>
      <ul id="otherowner-domain-table">
      </ul>
    </div>
  </div>
</div>
