<div class="column is-half">
    <div id="otherowner-domains" class="is-hidden content">
        <p id="otherowner-domains-title" class="is-bold"></p>
        <ul id="otherowner-domain-table">
          <div id="otherowner-domain-clone" class="level has-border is-mobile is-hidden">
            <div class="level-left">
              <a class="otherowner-domain-name is-accent"></a>
            </div>
            <div class="level-right">
              <p class="has-text-right otherowner-domain-price"></p>
            </div>
          </div>
        </ul>
    </div>
</div>
