<div id="similar-domains" class="is-hidden content">
  <div id="similar-domain-table" class="columns">
    <div class="column is-2">
      <p id="similar-domains-title" class="is-underlined"></p>
    </div>
    <div id="similar-domain-clone" class="is-hidden column is-3">
      <div class="similar-domain-box">
        <p class="similar-domain-price margin-bottom-5"></p>
        <a class="similar-domain-name is-accent">

        </a>
        <!-- <p class="similar-domain-available">Now available!</p> -->
      </div>
    </div>
  </div>
</div>
