<div id="similar-domains" class="is-hidden content">
  <div id="similar-domain-table">
    <p id="similar-domains-title" class="is-bold"></p>
    <div id="similar-domain-clone" class="is-hidden">
      <div class="similar-domain-box">
        <div class="level has-border">
          <div class="level-left">
            <a class="similar-domain-name is-accent"></a>
          </div>
          <div class="level-right">
            <p class="similar-domain-price"></p>
          </div>
        </div>
        <!-- <p class="similar-domain-available">Now available!</p> -->
      </div>
    </div>
  </div>
</div>
