<div class="columns">
  <div class="column is-6">
    <div class="content">
        <h2>Do you own this domain?</h2>
        <p>
          You can create a custom sales page like this one in seconds!
          <a class="is-primary" href="/features">Click here</a> to learn more about what DomaHub can do for you.
        </p>
        <p>
          Try out a free demo to preview your own custom sales page. Click the button below to get started!
        </p>
    </div>
    <div class="control button-wrapper">
      <a class='button is-primary is-stylish' tabindex="0" href='/listing/<%= listing_info.domain_name %>?compare=true&theme=Random'>
        <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
        <span>Try Demo</span>
      </a>
    </div>
    <p>Prefer to not have this page show up?
        <a class='is-primary' href='/contact'>Contact us</a> and let us know.
    </p>
  </div>
</div>
