<div class="content">
    <p class="is-bold is-capitalized">Do you own this domain?</p>
    <p>
        <a class='is-accent' href='/signup'>
            Sign up
        </a>
        and customize this page today!
    </p>
    <p class="is-bold is-capitalized">Prefer to not have this page show up?</p>
    <p>
        <a class='is-accent' href='/contact'>
            Contact us
        </a>
        and let us know!
    </p>
</div>
