<div class="content">
    <p class="is-bold is-capitalized">Do you own this domain?</p>
    <p>
        Sign up below to list your domain with us!
    </p>
    <form class="beta-form">
        <div class="control is-grouped">
            <p class="control is-expanded has-icon">
              <input tabindex="0" class="input is-expanded" type="email" name="betaemail" placeholder="Enter your email"/>
              <i class="fa fa-envelope"></i>
            </p>
            <p class="control">
                <a tabindex="0" class="beta-submit button no-shadow is-small is-primary is-stylish">Sign Up</a>
            </p>
        </div>
    </form>
    <div class="beta-form-success is-hidden">
        <div class="notification has-text-centered is-white">
            <h3 class="is-primary is-bold">Success! Please check your email.</h3>
        </div>
    </div>
</div>
