<div class="content">
    <h3>Do you own this domain?</h3>
    <p>
      You can create a custom landing page like this one in seconds!
    </p>
    <p>
      <a class='button is-primary is-stylish' tabindex="0" href='/signup'>
          Sign Up Now
      </a>
    </p>
    <small>Prefer to not have this page show up?
        <a class='is-accent' href='/contact'>
            Contact us
        </a>
        and let us know.
    </small>
</div>
