<div class="column is-6">
  <div class="control">
    <h2>Do you own this domain?</h2>
  </div>
  <div class="content">
    <p>
      You can create your own custom landing page with DomaHub for free! Click below to try out a demo or learn more about our features!
    </p>
  </div>
  <div class="control button-wrapper is-aligned-left">
    <a class='button is-primary is-stylish' tabindex="0" href='/listing/<%= listing_info.domain_name %>?compare=true&theme=Random'>
      <span class="icon is-small"><i class="fa fa-thumbs-up"></i></span>
      <span>Try the Free Demo</span>
    </a>
    <a class='button is-primary is-outlined is-stylish' tabindex="0" href='/features'>
      <span class="icon is-small"><i class="fa fa-question-circle-o"></i></span>
      <span>Learn more</span>
    </a>
  </div>
</div>
